<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>andy_copter.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{187,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{187,84}}</string>
                <key>sourceSize</key>
                <string>{187,86}</string>
            </dict>
            <key>andy_copter.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{129,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,116}}</string>
                <key>sourceSize</key>
                <string>{129,116}</string>
            </dict>
            <key>andy_copter.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,88},{129,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,114}}</string>
                <key>sourceSize</key>
                <string>{129,114}</string>
            </dict>
            <key>andy_copter.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{118,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,114}}</string>
                <key>sourceSize</key>
                <string>{118,114}</string>
            </dict>
            <key>andy_copter.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,91}}</string>
                <key>sourceSize</key>
                <string>{238,93}</string>
            </dict>
            <key>andy_copter.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{208,89}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{208,89}}</string>
                <key>sourceSize</key>
                <string>{214,93}</string>
            </dict>
            <key>andy_copter.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,93},{121,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,106}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>andy_copter.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,95},{101,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,86}}</string>
                <key>sourceSize</key>
                <string>{101,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>andy_copter-hd.pvr.ccz</string>
            <key>size</key>
            <string>{770,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e694d0accde4d207a61999722cab136$</string>
            <key>textureFileName</key>
            <string>andy_copter-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
