<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_ui_meiguihua.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{192,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,167}}</string>
                <key>sourceSize</key>
                <string>{192,167}</string>
            </dict>
            <key>anim_ui_meiguihua.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{173,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,170}}</string>
                <key>sourceSize</key>
                <string>{173,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_ui_meiguihua-hd.pvr.ccz</string>
            <key>size</key>
            <string>{368,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87c7280544878ce61b38546fc077ff8a$</string>
            <key>textureFileName</key>
            <string>anim_ui_meiguihua-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
