<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animi_hero_jinjie.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,164}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{142,164}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>animi_hero_jinjie.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>animi_hero_jinjie.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,198},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>animi_hero_jinjie.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,134},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>animi_hero_jinjie.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,262},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>animi_hero_jinjie.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{58,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>animi_hero_jinjie.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,324},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>animi_hero_jinjie.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,284},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>animi_hero_jinjie.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{136,162}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{136,162}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>animi_hero_jinjie.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,332},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>animi_hero_jinjie.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,284},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>animi_hero_jinjie.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animi_hero_jinjie.pvr.ccz</string>
            <key>size</key>
            <string>{234,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22fa3fb3f17aee9a1d6b05dca167c093$</string>
            <key>textureFileName</key>
            <string>animi_hero_jinjie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
