<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_zhuanshi.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>anim_zhuanshi.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,229},{274,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,227}}</string>
                <key>sourceSize</key>
                <string>{274,227}</string>
            </dict>
            <key>anim_zhuanshi.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1},{274,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,227}}</string>
                <key>sourceSize</key>
                <string>{274,227}</string>
            </dict>
            <key>anim_zhuanshi.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,229},{274,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,227}}</string>
                <key>sourceSize</key>
                <string>{274,227}</string>
            </dict>
            <key>anim_zhuanshi.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1},{274,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,227}}</string>
                <key>sourceSize</key>
                <string>{274,227}</string>
            </dict>
            <key>anim_zhuanshi.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,220},{128,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,123}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
            <key>anim_zhuanshi.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1},{194,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,218}}</string>
                <key>sourceSize</key>
                <string>{194,218}</string>
            </dict>
            <key>anim_zhuanshi.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{274,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,227}}</string>
                <key>sourceSize</key>
                <string>{274,227}</string>
            </dict>
            <key>anim_zhuanshi.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,344},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_zhuanshi-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1003,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7fde9e3fbd8c749cf00fd03fc9b8db1$</string>
            <key>textureFileName</key>
            <string>anim_zhuanshi-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
