<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_world_boss_fight.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{181,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,209}}</string>
                <key>sourceSize</key>
                <string>{181,209}</string>
            </dict>
            <key>anim_world_boss_fight.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>anim_world_boss_fight.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,462},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>anim_world_boss_fight.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,462},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>anim_world_boss_fight.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,462},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>anim_world_boss_fight.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{145,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,80}}</string>
                <key>sourceSize</key>
                <string>{145,82}</string>
            </dict>
            <key>anim_world_boss_fight.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{123,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,82}}</string>
                <key>sourceSize</key>
                <string>{123,84}</string>
            </dict>
            <key>anim_world_boss_fight.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,84},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>anim_world_boss_fight.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,391},{91,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{93,88}</string>
            </dict>
            <key>anim_world_boss_fight.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,492},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>anim_world_boss_fight.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,247}}</string>
                <key>sourceSize</key>
                <string>{195,247}</string>
            </dict>
            <key>anim_world_boss_fight.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,391},{59,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,101}}</string>
                <key>sourceSize</key>
                <string>{59,101}</string>
            </dict>
            <key>anim_world_boss_fight.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,169},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>anim_world_boss_fight.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,251},{96,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,138}}</string>
                <key>sourceSize</key>
                <string>{96,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_world_boss_fight.pvr.ccz</string>
            <key>size</key>
            <string>{486,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39d6ddf1c106a21b50f962495432da6f$</string>
            <key>textureFileName</key>
            <string>anim_world_boss_fight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
