<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_gem_effect4.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>anim_gem_effect4.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{65,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,93}}</string>
                <key>sourceSize</key>
                <string>{65,93}</string>
            </dict>
            <key>anim_gem_effect4.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_gem_effect4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{244,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20b560554950cbbc86249d050dbe9201$</string>
            <key>textureFileName</key>
            <string>anim_gem_effect4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
