<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_baoxiang2.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,553},{35,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,65}}</string>
                <key>sourceSize</key>
                <string>{35,65}</string>
            </dict>
            <key>anim_baoxiang2.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,620},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{31,17}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>anim_baoxiang2.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,530},{37,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>anim_baoxiang2.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,507},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>anim_baoxiang2.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{195,151}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{195,151}}</string>
                <key>sourceSize</key>
                <string>{197,151}</string>
            </dict>
            <key>anim_baoxiang2.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{231,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,199}}</string>
                <key>sourceSize</key>
                <string>{231,199}</string>
            </dict>
            <key>anim_baoxiang2.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{146,131}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,131}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>anim_baoxiang2.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{242,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{242,138}}</string>
                <key>sourceSize</key>
                <string>{242,140}</string>
            </dict>
            <key>anim_baoxiang2.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,162}}</string>
                <key>sourceSize</key>
                <string>{242,162}</string>
            </dict>
            <key>anim_baoxiang2.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,662},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>anim_baoxiang2.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,639},{26,21}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{26,21}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_baoxiang2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{246,793}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78d141baa940f5298ec4a62f2ef651e2$</string>
            <key>textureFileName</key>
            <string>anim_baoxiang2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
