<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_zhenfajiacheng_effect1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>anim_zhenfajiacheng_effect1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_zhenfajiacheng_effect1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{132,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ca43b75050404365b1138926fc25be$</string>
            <key>textureFileName</key>
            <string>anim_zhenfajiacheng_effect1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
