<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_gonghui_zhaohuo.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{144,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,70}}</string>
                <key>sourceSize</key>
                <string>{144,70}</string>
            </dict>
            <key>anim_gonghui_zhaohuo.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{144,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,70}}</string>
                <key>sourceSize</key>
                <string>{144,70}</string>
            </dict>
            <key>anim_gonghui_zhaohuo.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{144,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,70}}</string>
                <key>sourceSize</key>
                <string>{144,70}</string>
            </dict>
            <key>anim_gonghui_zhaohuo.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{144,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,70}}</string>
                <key>sourceSize</key>
                <string>{144,70}</string>
            </dict>
            <key>anim_gonghui_zhaohuo.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,70}}</string>
                <key>sourceSize</key>
                <string>{144,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_gonghui_zhaohuo-hd.pvr.ccz</string>
            <key>size</key>
            <string>{720,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a79c4fe9aa4ca2a73246879fd536fc8a$</string>
            <key>textureFileName</key>
            <string>anim_gonghui_zhaohuo-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
