<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_ui_jiangchi.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{220,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,31}}</string>
                <key>sourceSize</key>
                <string>{220,31}</string>
            </dict>
            <key>anim_ui_jiangchi.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,33},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>anim_ui_jiangchi.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,33},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_ui_jiangchi-hd.pvr.ccz</string>
            <key>size</key>
            <string>{222,163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bc0fc440f2c2987187f1a9a03f59160$</string>
            <key>textureFileName</key>
            <string>anim_ui_jiangchi-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
