<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniuguang.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>anniuguang.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{110,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,53}}</string>
                <key>sourceSize</key>
                <string>{110,53}</string>
            </dict>
            <key>anniuguang.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,53}}</string>
                <key>sourceSize</key>
                <string>{110,53}</string>
            </dict>
            <key>anniuguang.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{108,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
            <key>anniuguang.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{108,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
            <key>anniuguang.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{108,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anniuguang-hd.pvr.ccz</string>
            <key>size</key>
            <string>{668,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df94ddf795da4310fade23d035cbefbf$</string>
            <key>textureFileName</key>
            <string>anniuguang-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
