<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aochuang_action_5.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,90},{14,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,48}}</string>
                <key>sourceSize</key>
                <string>{14,48}</string>
            </dict>
            <key>aochuang_action_5.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>aochuang_action_5.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,106},{14,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,42}}</string>
                <key>sourceSize</key>
                <string>{14,42}</string>
            </dict>
            <key>aochuang_action_5.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>aochuang_action_5.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>aochuang_action_5.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,68},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>aochuang_action_5.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>aochuang_action_5.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>aochuang_action_5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{195,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:738b98deb0d92481c4d813ceef2a9f14$</string>
            <key>textureFileName</key>
            <string>aochuang_action_5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
