<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aoding_buff.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{261,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,258}}</string>
                <key>sourceSize</key>
                <string>{261,258}</string>
            </dict>
            <key>aoding_buff.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>aoding_buff.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>aoding_buff-hd.pvr.ccz</string>
            <key>size</key>
            <string>{649,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3c8fb8fd9bc551847ba975a07efb318$</string>
            <key>textureFileName</key>
            <string>aoding_buff-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
