<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_hunmi.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{322,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,332}}</string>
                <key>sourceSize</key>
                <string>{322,332}</string>
            </dict>
            <key>buff_hunmi.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_hunmi.pvr.ccz</string>
            <key>size</key>
            <string>{355,355}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a14419eb42f46d3376d434889dc38568$</string>
            <key>textureFileName</key>
            <string>buff_hunmi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
