<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_miss.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{170,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{170,78}}</string>
                <key>sourceSize</key>
                <string>{178,82}</string>
            </dict>
            <key>buff_miss.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,116}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{236,116}}</string>
                <key>sourceSize</key>
                <string>{236,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_miss-hd.pvr.ccz</string>
            <key>size</key>
            <string>{412,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d446846045df4a320aeac709bba2e50a$</string>
            <key>textureFileName</key>
            <string>buff_miss-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
