<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_will.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,127},{252,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,28}}</string>
                <key>sourceSize</key>
                <string>{252,28}</string>
            </dict>
            <key>buff_will.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{169,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,239}}</string>
                <key>sourceSize</key>
                <string>{169,239}</string>
            </dict>
            <key>buff_will.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{258,123}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{258,123}}</string>
                <key>sourceSize</key>
                <string>{274,123}</string>
            </dict>
            <key>buff_will.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,243},{171,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,233}}</string>
                <key>sourceSize</key>
                <string>{171,233}</string>
            </dict>
            <key>buff_will.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,157},{165,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,231}}</string>
                <key>sourceSize</key>
                <string>{165,231}</string>
            </dict>
            <key>buff_will.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,253}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{180,253}}</string>
                <key>sourceSize</key>
                <string>{180,261}</string>
            </dict>
            <key>buff_will.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,390},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>buff_will.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,157},{36,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,89}}</string>
                <key>sourceSize</key>
                <string>{36,89}</string>
            </dict>
            <key>buff_will.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,390},{138,85}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{138,85}}</string>
                <key>sourceSize</key>
                <string>{166,87}</string>
            </dict>
            <key>buff_will.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{184,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,240}}</string>
                <key>sourceSize</key>
                <string>{184,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_will-hd.pvr.ccz</string>
            <key>size</key>
            <string>{620,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9571a67add86fa004e69ef9fb7b048e$</string>
            <key>textureFileName</key>
            <string>buff_will-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
