<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_tianzhao.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{160,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,133}}</string>
                <key>sourceSize</key>
                <string>{160,133}</string>
            </dict>
            <key>buff_tianzhao.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{157,112}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,112}}</string>
                <key>sourceSize</key>
                <string>{157,124}</string>
            </dict>
            <key>buff_tianzhao.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>buff_tianzhao.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,116},{149,121}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,121}}</string>
                <key>sourceSize</key>
                <string>{149,131}</string>
            </dict>
            <key>buff_tianzhao.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,133},{149,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,122}}</string>
                <key>sourceSize</key>
                <string>{149,124}</string>
            </dict>
            <key>buff_tianzhao.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,362},{130,125}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,125}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>buff_tianzhao.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{78,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>buff_tianzhao.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{162,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,129}}</string>
                <key>sourceSize</key>
                <string>{162,131}</string>
            </dict>
            <key>buff_tianzhao.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,257},{149,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,135}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>buff_tianzhao.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{153,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,138}}</string>
                <key>sourceSize</key>
                <string>{153,140}</string>
            </dict>
            <key>buff_tianzhao.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,239},{148,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,121}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_tianzhao.pvr.ccz</string>
            <key>size</key>
            <string>{493,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7dd2731132845b71bbfeda6d08e157d$</string>
            <key>textureFileName</key>
            <string>buff_tianzhao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
