<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_speed.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,154},{112,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{112,41}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
            <key>buff_speed.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{144,143}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,143}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>buff_speed.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,150}}</string>
                <key>sourceSize</key>
                <string>{283,150}</string>
            </dict>
            <key>buff_speed.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,197},{252,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,28}}</string>
                <key>sourceSize</key>
                <string>{252,28}</string>
            </dict>
            <key>buff_speed.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,147},{36,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,87}}</string>
                <key>sourceSize</key>
                <string>{36,87}</string>
            </dict>
            <key>buff_speed.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,154},{137,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,41}}</string>
                <key>sourceSize</key>
                <string>{137,41}</string>
            </dict>
            <key>buff_speed.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{141,83}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{141,83}}</string>
                <key>sourceSize</key>
                <string>{157,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_speed-hd.pvr.ccz</string>
            <key>size</key>
            <string>{448,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85ad2c58c23527ded92251d29d394c61$</string>
            <key>textureFileName</key>
            <string>buff_speed-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
