<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_fire.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,121},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>buff_fire.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>buff_fire.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{83,67}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,67}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>buff_fire.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,121},{83,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,69}}</string>
                <key>sourceSize</key>
                <string>{83,69}</string>
            </dict>
            <key>buff_fire.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,160},{72,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>buff_fire.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,192},{77,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,61}}</string>
                <key>sourceSize</key>
                <string>{77,61}</string>
            </dict>
            <key>buff_fire.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,84},{89,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,74}}</string>
                <key>sourceSize</key>
                <string>{89,74}</string>
            </dict>
            <key>buff_fire.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{90,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,73}</string>
            </dict>
            <key>buff_fire.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,84},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>buff_fire.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,164},{82,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>buff_fire.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{263,117}}</string>
                <key>sourceSize</key>
                <string>{265,175}</string>
            </dict>
            <key>buff_fire.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{87,63}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,63}}</string>
                <key>sourceSize</key>
                <string>{87,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_fire-hd.pvr.ccz</string>
            <key>size</key>
            <string>{453,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5388f8a9b10df36f10583f952e847e0f$</string>
            <key>textureFileName</key>
            <string>buff_fire-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
