<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_lastday.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>buff_lastday.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,123},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>buff_lastday.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,229},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>buff_lastday.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{71,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>buff_lastday.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,183},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>buff_lastday.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,137},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>buff_lastday.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,197},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>buff_lastday.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,72},{71,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{71,63}</string>
            </dict>
            <key>buff_lastday.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>buff_lastday.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,119}}</string>
                <key>sourceSize</key>
                <string>{235,119}</string>
            </dict>
            <key>buff_lastday.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,123},{72,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_lastday-hd.pvr.ccz</string>
            <key>size</key>
            <string>{312,312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc81cd40d3c61df22a5825f259959530$</string>
            <key>textureFileName</key>
            <string>buff_lastday-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
