<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_yuedu.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>buff_yuedu.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{69,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,55}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>buff_yuedu.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,66},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>buff_yuedu.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>buff_yuedu.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,94},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>buff_yuedu.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,123},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>buff_yuedu.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,63},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_yuedu.pvr.ccz</string>
            <key>size</key>
            <string>{137,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d714d586bdab0108e3f24dd997aa55a$</string>
            <key>textureFileName</key>
            <string>buff_yuedu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
