<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_oil.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>buff_oil.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>buff_oil.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,49},{65,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,41}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>buff_oil.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,64},{72,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,23}}</string>
                <key>sourceSize</key>
                <string>{72,23}</string>
            </dict>
            <key>buff_oil.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,62},{69,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,23}}</string>
                <key>sourceSize</key>
                <string>{69,23}</string>
            </dict>
            <key>buff_oil.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,62},{67,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,20}}</string>
                <key>sourceSize</key>
                <string>{67,20}</string>
            </dict>
            <key>buff_oil.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,62},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>buff_oil.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{54,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,17}}</string>
                <key>sourceSize</key>
                <string>{54,17}</string>
            </dict>
            <key>buff_oil.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,79}}</string>
                <key>sourceSize</key>
                <string>{53,79}</string>
            </dict>
            <key>buff_oil.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,62},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>buff_oil.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{217,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{217,58}}</string>
                <key>sourceSize</key>
                <string>{217,78}</string>
            </dict>
            <key>buff_oil.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{57,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{57,78}}</string>
                <key>sourceSize</key>
                <string>{57,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_oil-hd.pvr.ccz</string>
            <key>size</key>
            <string>{502,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c0771d9a7ba1916b56e8b6a4bf74688$</string>
            <key>textureFileName</key>
            <string>buff_oil-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
