<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_jianshang.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>buff_jianshang.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{117,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,161}}</string>
                <key>sourceSize</key>
                <string>{117,161}</string>
            </dict>
            <key>buff_jianshang.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{110,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,158}}</string>
                <key>sourceSize</key>
                <string>{110,158}</string>
            </dict>
            <key>buff_jianshang.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{109,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,161}}</string>
                <key>sourceSize</key>
                <string>{109,161}</string>
            </dict>
            <key>buff_jianshang.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{113,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,162}}</string>
                <key>sourceSize</key>
                <string>{113,162}</string>
            </dict>
            <key>buff_jianshang.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{109,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,162}}</string>
                <key>sourceSize</key>
                <string>{109,162}</string>
            </dict>
            <key>buff_jianshang.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{114,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,158}}</string>
                <key>sourceSize</key>
                <string>{114,158}</string>
            </dict>
            <key>buff_jianshang.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{282,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,134}}</string>
                <key>sourceSize</key>
                <string>{282,134}</string>
            </dict>
            <key>buff_jianshang.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
            </dict>
            <key>buff_jianshang.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,162}}</string>
                <key>sourceSize</key>
                <string>{132,162}</string>
            </dict>
            <key>buff_jianshang.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{139,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,161}}</string>
                <key>sourceSize</key>
                <string>{139,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_jianshang-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1524,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df882dddef6ecb0932af925bbf784a3b$</string>
            <key>textureFileName</key>
            <string>buff_jianshang-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
