<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_hp.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,229}}</string>
                <key>sourceSize</key>
                <string>{133,229}</string>
            </dict>
            <key>buff_hp.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,131},{7,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,90}}</string>
                <key>sourceSize</key>
                <string>{7,90}</string>
            </dict>
            <key>buff_hp.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,131},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>buff_hp.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,131},{198,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,51}}</string>
                <key>sourceSize</key>
                <string>{198,51}</string>
            </dict>
            <key>buff_hp.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{257,127}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{257,127}}</string>
                <key>sourceSize</key>
                <string>{271,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_hp-hd.pvr.ccz</string>
            <key>size</key>
            <string>{396,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5a5029498b86d777ad2fd088f4305ba$</string>
            <key>textureFileName</key>
            <string>buff_hp-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
