<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_dfslow.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,194},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>buff_dfslow.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,96},{31,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,71}}</string>
                <key>sourceSize</key>
                <string>{31,71}</string>
            </dict>
            <key>buff_dfslow.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{162,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,92}}</string>
                <key>sourceSize</key>
                <string>{162,92}</string>
            </dict>
            <key>buff_dfslow.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,131},{161,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,94}}</string>
                <key>sourceSize</key>
                <string>{161,94}</string>
            </dict>
            <key>buff_dfslow.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,131},{152,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,102}}</string>
                <key>sourceSize</key>
                <string>{152,102}</string>
            </dict>
            <key>buff_dfslow.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,94}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{314,94}}</string>
                <key>sourceSize</key>
                <string>{342,98}</string>
            </dict>
            <key>buff_dfslow.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{164,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,111}}</string>
                <key>sourceSize</key>
                <string>{164,111}</string>
            </dict>
            <key>buff_dfslow.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{184,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,127}}</string>
                <key>sourceSize</key>
                <string>{184,127}</string>
            </dict>
            <key>buff_dfslow.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,98},{78,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,137}}</string>
                <key>sourceSize</key>
                <string>{78,137}</string>
            </dict>
            <key>buff_dfslow.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,98},{67,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,124}}</string>
                <key>sourceSize</key>
                <string>{67,124}</string>
            </dict>
            <key>buff_dfslow.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,194},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>buff_dfslow.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,74},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{42,57}</string>
            </dict>
            <key>buff_dfslow.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,133},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>buff_dfslow.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{35,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,70}}</string>
                <key>sourceSize</key>
                <string>{35,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_dfslow-hd.pvr.ccz</string>
            <key>size</key>
            <string>{713,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a520fb8d7f687a16b54262720eaa3164$</string>
            <key>textureFileName</key>
            <string>buff_dfslow-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
