<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_misslow.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,219},{121,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,25}}</string>
                <key>sourceSize</key>
                <string>{121,25}</string>
            </dict>
            <key>buff_misslow.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{125,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,23}}</string>
                <key>sourceSize</key>
                <string>{125,23}</string>
            </dict>
            <key>buff_misslow.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{240,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,94}}</string>
                <key>sourceSize</key>
                <string>{240,98}</string>
            </dict>
            <key>buff_misslow.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{164,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,111}}</string>
                <key>sourceSize</key>
                <string>{164,111}</string>
            </dict>
            <key>buff_misslow.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,127}}</string>
                <key>sourceSize</key>
                <string>{184,127}</string>
            </dict>
            <key>buff_misslow.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{78,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,137}}</string>
                <key>sourceSize</key>
                <string>{78,137}</string>
            </dict>
            <key>buff_misslow.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,98},{67,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,124}}</string>
                <key>sourceSize</key>
                <string>{67,124}</string>
            </dict>
            <key>buff_misslow.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,141},{162,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,92}}</string>
                <key>sourceSize</key>
                <string>{162,92}</string>
            </dict>
            <key>buff_misslow.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,227},{124,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,23}}</string>
                <key>sourceSize</key>
                <string>{124,23}</string>
            </dict>
            <key>buff_misslow.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{161,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,94}}</string>
                <key>sourceSize</key>
                <string>{161,94}</string>
            </dict>
            <key>buff_misslow.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,115},{152,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,102}}</string>
                <key>sourceSize</key>
                <string>{152,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_misslow-hd.pvr.ccz</string>
            <key>size</key>
            <string>{631,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48f11b071afcc18a665648a675548176$</string>
            <key>textureFileName</key>
            <string>buff_misslow-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
