<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_daddy.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,151},{112,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{112,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>buff_daddy.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,130},{164,66}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{164,66}}</string>
                <key>sourceSize</key>
                <string>{238,144}</string>
            </dict>
            <key>buff_daddy.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{222,126}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{222,126}}</string>
                <key>sourceSize</key>
                <string>{236,144}</string>
            </dict>
            <key>buff_daddy.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>buff_daddy.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{129,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,117}}</string>
                <key>sourceSize</key>
                <string>{129,117}</string>
            </dict>
            <key>buff_daddy.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,141},{190,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{190,61}}</string>
                <key>sourceSize</key>
                <string>{200,63}</string>
            </dict>
            <key>buff_daddy.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,137}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,137}}</string>
                <key>sourceSize</key>
                <string>{293,139}</string>
            </dict>
            <key>buff_daddy.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{86,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,193}}</string>
                <key>sourceSize</key>
                <string>{86,193}</string>
            </dict>
            <key>buff_daddy.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,121},{252,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,28}}</string>
                <key>sourceSize</key>
                <string>{252,28}</string>
            </dict>
            <key>buff_daddy.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{36,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,89}}</string>
                <key>sourceSize</key>
                <string>{36,89}</string>
            </dict>
            <key>buff_daddy.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{275,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,63}}</string>
                <key>sourceSize</key>
                <string>{275,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_daddy-hd.pvr.ccz</string>
            <key>size</key>
            <string>{979,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad8620ebb0cde7fad1b8f7e7d43819d1$</string>
            <key>textureFileName</key>
            <string>buff_daddy-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
