<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_mgc.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,46},{252,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,28}}</string>
                <key>sourceSize</key>
                <string>{252,28}</string>
            </dict>
            <key>buff_mgc.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{283,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{283,148}}</string>
                <key>sourceSize</key>
                <string>{283,150}</string>
            </dict>
            <key>buff_mgc.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,76},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>buff_mgc.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,46},{36,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,87}}</string>
                <key>sourceSize</key>
                <string>{36,87}</string>
            </dict>
            <key>buff_mgc.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{276,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,42}}</string>
                <key>sourceSize</key>
                <string>{276,42}</string>
            </dict>
            <key>buff_mgc.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,150}}</string>
                <key>sourceSize</key>
                <string>{283,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_mgc-hd.pvr.ccz</string>
            <key>size</key>
            <string>{864,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6762d21cb6630a33426396870d07e526$</string>
            <key>textureFileName</key>
            <string>buff_mgc-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
