<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_ice.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,53},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>buff_ice.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
            <key>buff_ice.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,63},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>buff_ice.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>buff_ice.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,127},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>buff_ice.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,167},{63,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,18}}</string>
                <key>sourceSize</key>
                <string>{63,18}</string>
            </dict>
            <key>buff_ice.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,98},{46,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,13}}</string>
                <key>sourceSize</key>
                <string>{46,13}</string>
            </dict>
            <key>buff_ice.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>buff_ice.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,129},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>buff_ice.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,67},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>buff_ice.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{291,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{291,183}}</string>
                <key>sourceSize</key>
                <string>{291,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_ice-hd.pvr.ccz</string>
            <key>size</key>
            <string>{462,187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a588dad70b91c643f4f764f434efc5e$</string>
            <key>textureFileName</key>
            <string>buff_ice-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
