<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_back.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>buff_back.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{113,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,124}}</string>
                <key>sourceSize</key>
                <string>{113,124}</string>
            </dict>
            <key>buff_back.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{234,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{234,113}}</string>
                <key>sourceSize</key>
                <string>{234,143}</string>
            </dict>
            <key>buff_back.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{92,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,109}}</string>
                <key>sourceSize</key>
                <string>{92,109}</string>
            </dict>
            <key>buff_back.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{104,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,117}}</string>
                <key>sourceSize</key>
                <string>{104,117}</string>
            </dict>
            <key>buff_back.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,124}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_back-hd.pvr.ccz</string>
            <key>size</key>
            <string>{741,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3a1b2db9fad4b748c42f8c5595518b2$</string>
            <key>textureFileName</key>
            <string>buff_back-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
