<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_tempHplow.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,79},{42,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,76}}</string>
                <key>sourceSize</key>
                <string>{42,76}</string>
            </dict>
            <key>buff_tempHplow.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,157},{47,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,79}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>buff_tempHplow.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,157},{47,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,79}}</string>
                <key>sourceSize</key>
                <string>{47,79}</string>
            </dict>
            <key>buff_tempHplow.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>buff_tempHplow.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{44,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,75}}</string>
                <key>sourceSize</key>
                <string>{44,75}</string>
            </dict>
            <key>buff_tempHplow.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,94}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{206,94}}</string>
                <key>sourceSize</key>
                <string>{246,98}</string>
            </dict>
            <key>buff_tempHplow.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,157},{46,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,79}}</string>
                <key>sourceSize</key>
                <string>{46,79}</string>
            </dict>
            <key>buff_tempHplow.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,157},{46,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,82}}</string>
                <key>sourceSize</key>
                <string>{46,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_tempHplow-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aaad7b57ced989e53207f43d42ea35e$</string>
            <key>textureFileName</key>
            <string>buff_tempHplow-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
