<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catwomam_gongji2.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,879},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>catwomam_gongji2.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,224}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{275,224}}</string>
                <key>sourceSize</key>
                <string>{309,268}</string>
            </dict>
            <key>catwomam_gongji2.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,199},{148,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,93}}</string>
                <key>sourceSize</key>
                <string>{148,93}</string>
            </dict>
            <key>catwomam_gongji2.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{269,240}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{269,240}}</string>
                <key>sourceSize</key>
                <string>{309,268}</string>
            </dict>
            <key>catwomam_gongji2.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,124},{166,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,73}}</string>
                <key>sourceSize</key>
                <string>{166,73}</string>
            </dict>
            <key>catwomam_gongji2.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,564},{249,202}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,58},{249,202}}</string>
                <key>sourceSize</key>
                <string>{309,268}</string>
            </dict>
            <key>catwomam_gongji2.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,424},{233,138}}</string>
                <key>offset</key>
                <string>{-12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{233,138}}</string>
                <key>sourceSize</key>
                <string>{309,268}</string>
            </dict>
            <key>catwomam_gongji2.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,294},{235,128}}</string>
                <key>offset</key>
                <string>{-25,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{235,128}}</string>
                <key>sourceSize</key>
                <string>{309,268}</string>
            </dict>
            <key>catwomam_gongji2.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{215,120}}</string>
                <key>offset</key>
                <string>{-24,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,38},{215,120}}</string>
                <key>sourceSize</key>
                <string>{309,268}</string>
            </dict>
            <key>catwomam_gongji2.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{243,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,133}}</string>
                <key>sourceSize</key>
                <string>{243,133}</string>
            </dict>
            <key>catwomam_gongji2.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{256,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,138}}</string>
                <key>sourceSize</key>
                <string>{256,138}</string>
            </dict>
            <key>catwomam_gongji2.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{247,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,142}}</string>
                <key>sourceSize</key>
                <string>{247,142}</string>
            </dict>
            <key>catwomam_gongji2.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{248,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,123}}</string>
                <key>sourceSize</key>
                <string>{248,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catwomam_gongji2.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a858606d9a9fd7896df1aa05e227dc6a$</string>
            <key>textureFileName</key>
            <string>catwomam_gongji2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
