<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chopper_gongji23_tempHp.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{69,206}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,91},{69,206}}</string>
                <key>sourceSize</key>
                <string>{183,322}</string>
            </dict>
            <key>chopper_gongji23_tempHp.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{79,230}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,67},{79,230}}</string>
                <key>sourceSize</key>
                <string>{183,322}</string>
            </dict>
            <key>chopper_gongji23_tempHp.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{81,250}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,49},{81,250}}</string>
                <key>sourceSize</key>
                <string>{183,322}</string>
            </dict>
            <key>chopper_gongji23_tempHp.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,440},{26,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>chopper_gongji23_tempHp.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{71,238}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,82},{71,238}}</string>
                <key>sourceSize</key>
                <string>{183,322}</string>
            </dict>
            <key>chopper_gongji23_tempHp.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,272}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,35},{73,272}}</string>
                <key>sourceSize</key>
                <string>{183,322}</string>
            </dict>
            <key>chopper_gongji23_tempHp.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{73,260}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,46},{73,260}}</string>
                <key>sourceSize</key>
                <string>{183,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chopper_gongji23_tempHp.pvr.ccz</string>
            <key>size</key>
            <string>{254,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42567b3b67d264aa1ca1e7ca89b5ddac$</string>
            <key>textureFileName</key>
            <string>chopper_gongji23_tempHp.pvr.ccz</string>
        </dict>
    </dict>
</plist>
