<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuansong.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,112},{93,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,76}}</string>
                <key>sourceSize</key>
                <string>{93,76}</string>
            </dict>
            <key>chuansong.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,227},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>chuansong.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,83},{29,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,87}}</string>
                <key>sourceSize</key>
                <string>{29,87}</string>
            </dict>
            <key>chuansong.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,85},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>chuansong.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,205},{83,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,77}}</string>
                <key>sourceSize</key>
                <string>{83,77}</string>
            </dict>
            <key>chuansong.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{111,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,139}}</string>
                <key>sourceSize</key>
                <string>{111,139}</string>
            </dict>
            <key>chuansong.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,227},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>chuansong.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,77}</string>
            </dict>
            <key>chuansong.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{88,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,156}}</string>
                <key>sourceSize</key>
                <string>{88,156}</string>
            </dict>
            <key>chuansong.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{93,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,83}}</string>
                <key>sourceSize</key>
                <string>{93,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuansong-hd.pvr.ccz</string>
            <key>size</key>
            <string>{301,301}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94851545f0cb438549eaeea0f0a13d51$</string>
            <key>textureFileName</key>
            <string>chuansong-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
