<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crystal_1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{82,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{82,94}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>crystal_1.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{26,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>crystal_1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,125}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{133,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>crystal_1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{99,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{99,98}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>crystal_1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,102},{64,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>crystal_1.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,129},{49,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,46}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crystal_1.pvr.ccz</string>
            <key>size</key>
            <string>{238,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:417f70c3b321a542556637899d4ecf6e$</string>
            <key>textureFileName</key>
            <string>crystal_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
