<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>double_action.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{110,41}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{110,41}}</string>
                <key>sourceSize</key>
                <string>{118,51}</string>
            </dict>
            <key>double_action.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,161},{114,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{114,64}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>double_action.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,227},{117,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{117,50}}</string>
                <key>sourceSize</key>
                <string>{133,62}</string>
            </dict>
            <key>double_action.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,127},{115,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{115,76}}</string>
                <key>sourceSize</key>
                <string>{119,82}</string>
            </dict>
            <key>double_action.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{111,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{111,96}}</string>
                <key>sourceSize</key>
                <string>{121,108}</string>
            </dict>
            <key>double_action.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{88,90}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>double_action.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,94},{60,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,65}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>double_action.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,94},{32,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>double_action.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,123}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{238,123}}</string>
                <key>sourceSize</key>
                <string>{264,173}</string>
            </dict>
            <key>double_action.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{120,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,61}}</string>
                <key>sourceSize</key>
                <string>{126,65}</string>
            </dict>
            <key>double_action.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,279},{120,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,58}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>double_action.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,205},{111,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{111,60}}</string>
                <key>sourceSize</key>
                <string>{117,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>double_action-hd.pvr.ccz</string>
            <key>size</key>
            <string>{348,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ba7fc23036bf7d207ad2a309520ca2b$</string>
            <key>textureFileName</key>
            <string>double_action-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
