<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dracula_action_6.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,72}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{108,72}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dracula_action_6-hd.pvr.ccz</string>
            <key>size</key>
            <string>{112,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caafffd84fd04165a0613f2e75384d77$</string>
            <key>textureFileName</key>
            <string>dracula_action_6-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
