<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_light.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,546},{277,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,270}}</string>
                <key>sourceSize</key>
                <string>{277,270}</string>
            </dict>
            <key>effect_light.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,274},{277,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,270}}</string>
                <key>sourceSize</key>
                <string>{277,270}</string>
            </dict>
            <key>effect_light.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,274},{277,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,270}}</string>
                <key>sourceSize</key>
                <string>{277,270}</string>
            </dict>
            <key>effect_light.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{277,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,270}}</string>
                <key>sourceSize</key>
                <string>{277,270}</string>
            </dict>
            <key>effect_light.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{277,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,270}}</string>
                <key>sourceSize</key>
                <string>{277,270}</string>
            </dict>
            <key>effect_light.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{277,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,270}}</string>
                <key>sourceSize</key>
                <string>{277,270}</string>
            </dict>
            <key>effect_light.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{277,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,270}}</string>
                <key>sourceSize</key>
                <string>{277,270}</string>
            </dict>
            <key>effect_light.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,270}}</string>
                <key>sourceSize</key>
                <string>{277,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_light-hd.pvr.ccz</string>
            <key>size</key>
            <string>{839,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b0b6d946484b63881a2517d79dd6d90$</string>
            <key>textureFileName</key>
            <string>effect_light-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
