<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>famous_texiao.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,260},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>famous_texiao.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>famous_texiao.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{97,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,92}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>famous_texiao.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>famous_texiao-hd.pvr.ccz</string>
            <key>size</key>
            <string>{390,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40d0b7ee37d8cccb50bfdc26f3ce9185$</string>
            <key>textureFileName</key>
            <string>famous_texiao-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
