<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fb_dfs_fhl.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>fb_dfs_fhl.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,246},{47,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,83}}</string>
                <key>sourceSize</key>
                <string>{47,83}</string>
            </dict>
            <key>fb_dfs_fhl.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,73},{53,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,86}}</string>
                <key>sourceSize</key>
                <string>{53,86}</string>
            </dict>
            <key>fb_dfs_fhl.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fb_dfs_fhl.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,161},{48,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,83}}</string>
                <key>sourceSize</key>
                <string>{48,83}</string>
            </dict>
            <key>fb_dfs_fhl.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fb_dfs_fhl-hd.pvr.ccz</string>
            <key>size</key>
            <string>{343,343}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a0c4315e2b00ca193889bdbfef42db1$</string>
            <key>textureFileName</key>
            <string>fb_dfs_fhl-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
