<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fb_dfs_bxz.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fb_dfs_bxz.swf10.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,155},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>fb_dfs_bxz.swf12.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,452},{230,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,223}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>fb_dfs_bxz.swf14.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,104},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>fb_dfs_bxz.swf16.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,227},{230,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,223}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>fb_dfs_bxz.swf18.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,53},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>fb_dfs_bxz.swf20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{230,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,223}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>fb_dfs_bxz.swf22.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,200},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>fb_dfs_bxz.swf24.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{230,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,223}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>fb_dfs_bxz.swf26.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,193},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>fb_dfs_bxz.swf28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,223}}</string>
                <key>sourceSize</key>
                <string>{230,223}</string>
            </dict>
            <key>fb_dfs_bxz.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,206},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>fb_dfs_bxz.swf30.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,101},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>fb_dfs_bxz.swf32.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,94},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>fb_dfs_bxz.swf34.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>fb_dfs_bxz.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,206},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>fb_dfs_bxz.swf8.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fb_dfs_bxz-hd.pvr.ccz</string>
            <key>size</key>
            <string>{677,677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cb60ea2a261086912e50db6d078bd7d$</string>
            <key>textureFileName</key>
            <string>fb_dfs_bxz-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
