<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fb_hurt_ghl.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,301},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fb_hurt_ghl.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,769},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>fb_hurt_ghl.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,854},{47,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,83}}</string>
                <key>sourceSize</key>
                <string>{47,83}</string>
            </dict>
            <key>fb_hurt_ghl.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{302,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,297}}</string>
                <key>sourceSize</key>
                <string>{302,297}</string>
            </dict>
            <key>fb_hurt_ghl.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>fb_hurt_ghl.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,472},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>fb_hurt_ghl.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,384},{53,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,86}}</string>
                <key>sourceSize</key>
                <string>{53,86}</string>
            </dict>
            <key>fb_hurt_ghl.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{302,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,297}}</string>
                <key>sourceSize</key>
                <string>{302,297}</string>
            </dict>
            <key>fb_hurt_ghl.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,854},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>fb_hurt_ghl.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,769},{48,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,83}}</string>
                <key>sourceSize</key>
                <string>{48,83}</string>
            </dict>
            <key>fb_hurt_ghl.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{302,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,297}}</string>
                <key>sourceSize</key>
                <string>{302,297}</string>
            </dict>
            <key>fb_hurt_ghl.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,393},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>fb_hurt_ghl.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,734},{198,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,182}}</string>
                <key>sourceSize</key>
                <string>{198,182}</string>
            </dict>
            <key>fb_hurt_ghl.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,301},{243,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,219}}</string>
                <key>sourceSize</key>
                <string>{243,219}</string>
            </dict>
            <key>fb_hurt_ghl.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{302,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,297}}</string>
                <key>sourceSize</key>
                <string>{302,297}</string>
            </dict>
            <key>fb_hurt_ghl.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,301},{241,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,235}}</string>
                <key>sourceSize</key>
                <string>{241,235}</string>
            </dict>
            <key>fb_hurt_ghl.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,538},{218,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,229}}</string>
                <key>sourceSize</key>
                <string>{218,229}</string>
            </dict>
            <key>fb_hurt_ghl.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,734},{223,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,220}}</string>
                <key>sourceSize</key>
                <string>{223,220}</string>
            </dict>
            <key>fb_hurt_ghl.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,522},{228,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,210}}</string>
                <key>sourceSize</key>
                <string>{228,210}</string>
            </dict>
            <key>fb_hurt_ghl.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,301},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>fb_hurt_ghl.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,472},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>fb_hurt_ghl.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,297}}</string>
                <key>sourceSize</key>
                <string>{302,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fb_hurt_ghl-hd.pvr.ccz</string>
            <key>size</key>
            <string>{956,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25590097ff287fb8a4f206f110a2522c$</string>
            <key>textureFileName</key>
            <string>fb_hurt_ghl-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
