<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>food_1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,102},{82,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{82,94}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>food_1.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,129},{26,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>food_1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,125}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{133,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>food_1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{99,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{99,98}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>food_1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{69,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{69,64}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>food_1.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{56,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,51}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>food_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85ecea8f80034b20d4095d0e2d88c2d3$</string>
            <key>textureFileName</key>
            <string>food_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
