<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gacha_anim_guixiang_2.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{97,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,137}}</string>
                <key>sourceSize</key>
                <string>{97,137}</string>
            </dict>
            <key>gacha_anim_guixiang_2.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{198,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,257}}</string>
                <key>sourceSize</key>
                <string>{198,257}</string>
            </dict>
            <key>gacha_anim_guixiang_2.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,259},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gacha_anim_guixiang_2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{228,397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8242c3aaecf47f53d10ed57cb0e5d05$</string>
            <key>textureFileName</key>
            <string>gacha_anim_guixiang_2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
