<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gacha_anim_kabao.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{117,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,142}}</string>
                <key>sourceSize</key>
                <string>{117,142}</string>
            </dict>
            <key>gacha_anim_kabao.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1},{220,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,219}}</string>
                <key>sourceSize</key>
                <string>{220,219}</string>
            </dict>
            <key>gacha_anim_kabao.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,343},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gacha_anim_kabao.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,221},{101,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{101,117}</string>
            </dict>
            <key>gacha_anim_kabao.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,221},{194,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,224}}</string>
                <key>sourceSize</key>
                <string>{194,224}</string>
            </dict>
            <key>gacha_anim_kabao.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,343},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gacha_anim_kabao.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>gacha_anim_kabao.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{341,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gacha_anim_kabao-hd.pvr.ccz</string>
            <key>size</key>
            <string>{650,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a34cc4279ce45b55d3538d6742f9beea$</string>
            <key>textureFileName</key>
            <string>gacha_anim_kabao-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
