<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gacha_anim_2.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{183,258}}</string>
                <key>sourceSize</key>
                <string>{185,258}</string>
            </dict>
            <key>gacha_anim_2.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{144,164}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{144,164}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>gacha_anim_2.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,262},{142,164}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{142,164}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>gacha_anim_2.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gacha_anim_2.pvr.ccz</string>
            <key>size</key>
            <string>{292,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d753bfdbaef84f27b67a8ac1802c0f6$</string>
            <key>textureFileName</key>
            <string>gacha_anim_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
