<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaojizhandou.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>gaojizhandou.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>gaojizhandou.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,129},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>gaojizhandou.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>gaojizhandou.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,66},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gaojizhandou-hd.pvr.ccz</string>
            <key>size</key>
            <string>{223,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d443bfa46c5acb11b1744388896ed47d$</string>
            <key>textureFileName</key>
            <string>gaojizhandou-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
