<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hadisi.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,267},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>hadisi.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{70,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,202}}</string>
                <key>sourceSize</key>
                <string>{70,202}</string>
            </dict>
            <key>hadisi.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,351},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>hadisi.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,468},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>hadisi.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,711},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>hadisi.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,649},{66,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{66,23}</string>
            </dict>
            <key>hadisi.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,536},{20,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>hadisi.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,351},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>hadisi.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,346},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>hadisi.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,376},{111,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,92}}</string>
                <key>sourceSize</key>
                <string>{111,92}</string>
            </dict>
            <key>hadisi.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,603},{121,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,73}}</string>
                <key>sourceSize</key>
                <string>{121,73}</string>
            </dict>
            <key>hadisi.swf119.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,375},{109,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>hadisi.swf121.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,375},{112,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,81}}</string>
                <key>sourceSize</key>
                <string>{112,81}</string>
            </dict>
            <key>hadisi.swf123.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,585},{119,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,79}}</string>
                <key>sourceSize</key>
                <string>{119,79}</string>
            </dict>
            <key>hadisi.swf125.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,327},{139,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,81}}</string>
                <key>sourceSize</key>
                <string>{139,81}</string>
            </dict>
            <key>hadisi.swf127.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,437},{91,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>hadisi.swf129.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,121},{78,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,146}}</string>
                <key>sourceSize</key>
                <string>{78,146}</string>
            </dict>
            <key>hadisi.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,771},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>hadisi.swf131.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,437},{91,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>hadisi.swf133.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,346},{91,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>hadisi.swf135.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,346},{91,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>hadisi.swf137.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,255},{91,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>hadisi.swf139.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,588},{91,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>hadisi.swf141.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,676},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>hadisi.swf143.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,664},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>hadisi.swf145.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,487},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>hadisi.swf147.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,472},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>hadisi.swf149.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,631},{92,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,95}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>hadisi.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,568},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>hadisi.swf151.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,536},{92,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,95}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>hadisi.swf153.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,305},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>hadisi.swf155.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,601},{96,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>hadisi.swf157.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,536},{58,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,92}}</string>
                <key>sourceSize</key>
                <string>{58,92}</string>
            </dict>
            <key>hadisi.swf159.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,376},{121,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,96}}</string>
                <key>sourceSize</key>
                <string>{121,96}</string>
            </dict>
            <key>hadisi.swf161.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,676},{64,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,107}}</string>
                <key>sourceSize</key>
                <string>{64,107}</string>
            </dict>
            <key>hadisi.swf163.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,487},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>hadisi.swf165.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,679},{68,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,113}}</string>
                <key>sourceSize</key>
                <string>{68,113}</string>
            </dict>
            <key>hadisi.swf167.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,0},{69,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,113}}</string>
                <key>sourceSize</key>
                <string>{69,113}</string>
            </dict>
            <key>hadisi.swf169.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,676},{68,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,115}}</string>
                <key>sourceSize</key>
                <string>{68,115}</string>
            </dict>
            <key>hadisi.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,351},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>hadisi.swf171.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,484},{117,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>hadisi.swf173.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,305},{117,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,70}}</string>
                <key>sourceSize</key>
                <string>{117,70}</string>
            </dict>
            <key>hadisi.swf175.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,437},{74,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,31}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>hadisi.swf177.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,679},{111,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,70}}</string>
                <key>sourceSize</key>
                <string>{111,70}</string>
            </dict>
            <key>hadisi.swf179.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,511},{40,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>hadisi.swf181.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,139},{114,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,71}}</string>
                <key>sourceSize</key>
                <string>{114,71}</string>
            </dict>
            <key>hadisi.swf183.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,679},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>hadisi.swf185.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,0},{164,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,155}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>hadisi.swf187.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,130},{138,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,149}}</string>
                <key>sourceSize</key>
                <string>{138,149}</string>
            </dict>
            <key>hadisi.swf189.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,139},{128,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,145}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>hadisi.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,284},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>hadisi.swf191.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,155},{145,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,100}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>hadisi.swf193.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{206,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,116}}</string>
                <key>sourceSize</key>
                <string>{206,116}</string>
            </dict>
            <key>hadisi.swf195.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,268},{132,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,108}}</string>
                <key>sourceSize</key>
                <string>{132,108}</string>
            </dict>
            <key>hadisi.swf197.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{173,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,139}}</string>
                <key>sourceSize</key>
                <string>{173,139}</string>
            </dict>
            <key>hadisi.swf199.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{202,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,121}}</string>
                <key>sourceSize</key>
                <string>{202,121}</string>
            </dict>
            <key>hadisi.swf201.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{184,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,130}}</string>
                <key>sourceSize</key>
                <string>{184,130}</string>
            </dict>
            <key>hadisi.swf203.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,218},{128,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>hadisi.swf205.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,113},{69,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,105}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
            <key>hadisi.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,155},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>hadisi.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,645},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>hadisi.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,673},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>hadisi.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,613},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>hadisi.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,268},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>hadisi.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,529},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hadisi.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,194},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>hadisi.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,635},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>hadisi.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,327},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>hadisi.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,267},{77,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>hadisi.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,594},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>hadisi.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,672},{37,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,57}}</string>
                <key>sourceSize</key>
                <string>{37,57}</string>
            </dict>
            <key>hadisi.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,437},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>hadisi.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,536},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>hadisi.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,267},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>hadisi.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,466},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>hadisi.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,253},{98,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>hadisi.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,293},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>hadisi.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,677},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>hadisi.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,723},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>hadisi.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,472},{15,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,45}}</string>
                <key>sourceSize</key>
                <string>{15,45}</string>
            </dict>
            <key>hadisi.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,588},{17,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,47}}</string>
                <key>sourceSize</key>
                <string>{17,47}</string>
            </dict>
            <key>hadisi.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,772},{20,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,65}}</string>
                <key>sourceSize</key>
                <string>{20,65}</string>
            </dict>
            <key>hadisi.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,437},{28,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,60}}</string>
                <key>sourceSize</key>
                <string>{28,60}</string>
            </dict>
            <key>hadisi.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,497},{17,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,39}}</string>
                <key>sourceSize</key>
                <string>{17,39}</string>
            </dict>
            <key>hadisi.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,723},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>hadisi.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,729},{55,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>hadisi.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,658},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>hadisi.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,255},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>hadisi.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,497},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>hadisi.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,586},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>hadisi.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,575},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>hadisi.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,536},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>hadisi.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,325},{21,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,51}}</string>
                <key>sourceSize</key>
                <string>{21,51}</string>
            </dict>
            <key>hadisi.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,625},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>hadisi.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,420},{17,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,40}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
            <key>hadisi.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,645},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hadisi.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,587},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>hadisi.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,713},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>hadisi.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,711},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>hadisi.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,737},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>hadisi.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,771},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>hadisi.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,751},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>hadisi.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,677},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hadisi-hd.pvr.ccz</string>
            <key>size</key>
            <string>{792,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35eb7e28be90124e02f8fd2c02215c19$</string>
            <key>textureFileName</key>
            <string>hadisi-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
