<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>homeland_tree_2.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{196,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,384}}</string>
                <key>sourceSize</key>
                <string>{196,384}</string>
            </dict>
            <key>homeland_tree_2.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,388},{179,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,89}}</string>
                <key>sourceSize</key>
                <string>{179,89}</string>
            </dict>
            <key>homeland_tree_2.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,831},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>homeland_tree_2.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,640},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>homeland_tree_2.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{752,699}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,699}}</string>
                <key>sourceSize</key>
                <string>{752,699}</string>
            </dict>
            <key>homeland_tree_2.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,479},{56,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,159}}</string>
                <key>sourceSize</key>
                <string>{56,159}</string>
            </dict>
            <key>homeland_tree_2.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,605},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>homeland_tree_2.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,479},{127,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,124}}</string>
                <key>sourceSize</key>
                <string>{127,124}</string>
            </dict>
            <key>homeland_tree_2.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>homeland_tree_2.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{116,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,97}}</string>
                <key>sourceSize</key>
                <string>{116,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homeland_tree_2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{954,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0454e6cfcaf4d9d894eb1108e66d72fd$</string>
            <key>textureFileName</key>
            <string>homeland_tree_2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
