<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hork_action_1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,104}}</string>
                <key>sourceSize</key>
                <string>{78,104}</string>
            </dict>
            <key>hork_action_1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{90,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,73}</string>
            </dict>
            <key>hork_action_1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{78,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>hork_action_1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,77},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hork_action_1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{174,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:061e9e442cdaf9f6834afd9a047ff64a$</string>
            <key>textureFileName</key>
            <string>hork_action_1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
