<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ite_chunli.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>ite_chunli.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{97,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{97,95}}</string>
                <key>sourceSize</key>
                <string>{127,125}</string>
            </dict>
            <key>ite_chunli.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,95}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ite_chunli-hd.pvr.ccz</string>
            <key>size</key>
            <string>{201,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7876e46e03f40a4b2aae6c80543c0b06$</string>
            <key>textureFileName</key>
            <string>ite_chunli-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
