<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ite_luffy.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,129},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>ite_luffy.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,120},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_luffy.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_luffy.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,120},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_luffy.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_luffy.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,120},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_luffy.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,125}}</string>
                <key>sourceSize</key>
                <string>{127,125}</string>
            </dict>
            <key>ite_luffy.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>ite_luffy.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{113,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,98}}</string>
                <key>sourceSize</key>
                <string>{113,98}</string>
            </dict>
            <key>ite_luffy.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ite_luffy-hd.pvr.ccz</string>
            <key>size</key>
            <string>{558,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3abe292f96a31aaa1f33e9656dcf2df6$</string>
            <key>textureFileName</key>
            <string>ite_luffy-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
