<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ite_professorX.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>ite_professorX.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,238},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_professorX.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,120},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_professorX.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_professorX.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_professorX.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,263},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_professorX.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{127,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,125}}</string>
                <key>sourceSize</key>
                <string>{127,125}</string>
            </dict>
            <key>ite_professorX.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,272},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>ite_professorX.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,141}}</string>
                <key>sourceSize</key>
                <string>{131,141}</string>
            </dict>
            <key>ite_professorX.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,145},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ite_professorX-hd.pvr.ccz</string>
            <key>size</key>
            <string>{381,381}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c86018cea50223449d8dc0c41a0dad1d$</string>
            <key>textureFileName</key>
            <string>ite_professorX-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
