<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ite_baoxiang2.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>ite_baoxiang2.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{97,95}}</string>
                <key>sourceSize</key>
                <string>{127,125}</string>
            </dict>
            <key>ite_baoxiang2.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>ite_baoxiang2.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,84},{90,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{90,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ite_baoxiang2.pvr.ccz</string>
            <key>size</key>
            <string>{250,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32eae7f811bcfcda00cf4c0ea2fa8890$</string>
            <key>textureFileName</key>
            <string>ite_baoxiang2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
