<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ite_vega.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,120},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>ite_vega.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_vega.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,120},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_vega.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_vega.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,129},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_vega.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,137},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ite_vega.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{127,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,125}}</string>
                <key>sourceSize</key>
                <string>{127,125}</string>
            </dict>
            <key>ite_vega.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>ite_vega.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,133}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>ite_vega.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ite_vega-hd.pvr.ccz</string>
            <key>size</key>
            <string>{562,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37dbcc7bffc8125f66332de2436addbe$</string>
            <key>textureFileName</key>
            <string>ite_vega-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
