<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jean_gongji3_2.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{98,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>jean_gongji3_2.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,141},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>jean_gongji3_2.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{128,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,122}}</string>
                <key>sourceSize</key>
                <string>{130,124}</string>
            </dict>
            <key>jean_gongji3_2.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,137}}</string>
                <key>sourceSize</key>
                <string>{150,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jean_gongji3_2.pvr.ccz</string>
            <key>size</key>
            <string>{255,265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:796e2a42795865e112b98825f516da06$</string>
            <key>textureFileName</key>
            <string>jean_gongji3_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
