<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jean_gongji3_1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,515}}</string>
                <key>sourceSize</key>
                <string>{105,515}</string>
            </dict>
            <key>jean_gongji3_1.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{37,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,511}}</string>
                <key>sourceSize</key>
                <string>{37,511}</string>
            </dict>
            <key>jean_gongji3_1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{81,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,515}}</string>
                <key>sourceSize</key>
                <string>{81,515}</string>
            </dict>
            <key>jean_gongji3_1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{84,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,515}}</string>
                <key>sourceSize</key>
                <string>{84,515}</string>
            </dict>
            <key>jean_gongji3_1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{74,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,516}}</string>
                <key>sourceSize</key>
                <string>{74,516}</string>
            </dict>
            <key>jean_gongji3_1.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{48,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,512}}</string>
                <key>sourceSize</key>
                <string>{48,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jean_gongji3_1.pvr.ccz</string>
            <key>size</key>
            <string>{443,520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:174e7d5db10143365f145828b33430c6$</string>
            <key>textureFileName</key>
            <string>jean_gongji3_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
