<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiesuo.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,62},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>jiesuo.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{28,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>jiesuo.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{88,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,104}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>jiesuo.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,104}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>jiesuo.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>jiesuo.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiesuo.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74b3cc10c63ca7c4695e1b9e8bad58e7$</string>
            <key>textureFileName</key>
            <string>jiesuo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
