<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kangsitanding_texiao.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,251},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kangsitanding_texiao.swf100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,243},{178,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,120}}</string>
                <key>sourceSize</key>
                <string>{178,120}</string>
            </dict>
            <key>kangsitanding_texiao.swf102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,122},{178,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,120}}</string>
                <key>sourceSize</key>
                <string>{178,120}</string>
            </dict>
            <key>kangsitanding_texiao.swf104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1},{178,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,120}}</string>
                <key>sourceSize</key>
                <string>{178,120}</string>
            </dict>
            <key>kangsitanding_texiao.swf106.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,380},{178,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,120}}</string>
                <key>sourceSize</key>
                <string>{178,120}</string>
            </dict>
            <key>kangsitanding_texiao.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>kangsitanding_texiao.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,198},{105,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,48}}</string>
                <key>sourceSize</key>
                <string>{105,48}</string>
            </dict>
            <key>kangsitanding_texiao.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,139},{143,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,46}}</string>
                <key>sourceSize</key>
                <string>{143,46}</string>
            </dict>
            <key>kangsitanding_texiao.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,132},{89,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,42}}</string>
                <key>sourceSize</key>
                <string>{89,42}</string>
            </dict>
            <key>kangsitanding_texiao.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,186},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>kangsitanding_texiao.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,251},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>kangsitanding_texiao.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,324},{57,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,25}}</string>
                <key>sourceSize</key>
                <string>{57,25}</string>
            </dict>
            <key>kangsitanding_texiao.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,380},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>kangsitanding_texiao.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,216},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>kangsitanding_texiao.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,198},{36,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,59}}</string>
                <key>sourceSize</key>
                <string>{36,59}</string>
            </dict>
            <key>kangsitanding_texiao.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1},{103,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,130}}</string>
                <key>sourceSize</key>
                <string>{103,130}</string>
            </dict>
            <key>kangsitanding_texiao.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,132},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>kangsitanding_texiao.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,492},{45,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,17}}</string>
                <key>sourceSize</key>
                <string>{45,17}</string>
            </dict>
            <key>kangsitanding_texiao.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,251},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>kangsitanding_texiao.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,461},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>kangsitanding_texiao.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,456},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>kangsitanding_texiao.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,198},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>kangsitanding_texiao.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,350},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>kangsitanding_texiao.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,364},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>kangsitanding_texiao.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,198},{72,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>kangsitanding_texiao.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,216},{22,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>kangsitanding_texiao.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,492},{62,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>kangsitanding_texiao.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,440},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>kangsitanding_texiao.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,315},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>kangsitanding_texiao.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,216},{12,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,34}}</string>
                <key>sourceSize</key>
                <string>{12,34}</string>
            </dict>
            <key>kangsitanding_texiao.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,364},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>kangsitanding_texiao.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,421},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>kangsitanding_texiao.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,492},{41,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>kangsitanding_texiao.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,294},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>kangsitanding_texiao.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{398,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,248}}</string>
                <key>sourceSize</key>
                <string>{398,248}</string>
            </dict>
            <key>kangsitanding_texiao.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{80,128}</string>
            </dict>
            <key>kangsitanding_texiao.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,392},{114,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,99}</string>
            </dict>
            <key>kangsitanding_texiao.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,175},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>kangsitanding_texiao.swf72.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,186},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>kangsitanding_texiao.swf74.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,380},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kangsitanding_texiao.swf76.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,251},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kangsitanding_texiao.swf78.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1},{56,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,128}}</string>
                <key>sourceSize</key>
                <string>{56,128}</string>
            </dict>
            <key>kangsitanding_texiao.swf80.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,364},{87,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,91}</string>
            </dict>
            <key>kangsitanding_texiao.swf82.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,380},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kangsitanding_texiao.swf84.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kangsitanding_texiao.swf86.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1},{182,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,196}}</string>
                <key>sourceSize</key>
                <string>{182,196}</string>
            </dict>
            <key>kangsitanding_texiao.swf88.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,253},{206,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,138}}</string>
                <key>sourceSize</key>
                <string>{206,138}</string>
            </dict>
            <key>kangsitanding_texiao.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kangsitanding_texiao.swf90.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,251},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kangsitanding_texiao.swf92.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kangsitanding_texiao.swf94.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,392},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>kangsitanding_texiao.swf96.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,130},{178,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,120}}</string>
                <key>sourceSize</key>
                <string>{178,120}</string>
            </dict>
            <key>kangsitanding_texiao.swf98.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,130},{178,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,120}}</string>
                <key>sourceSize</key>
                <string>{178,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kangsitanding_texiao-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1274,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d34c026fa6b0a9ae11fee4c14f26e664$</string>
            <key>textureFileName</key>
            <string>kangsitanding_texiao-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
