<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kofbeauty_gongji3.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,65}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{69,65}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kofbeauty_gongji3.pvr.ccz</string>
            <key>size</key>
            <string>{73,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d541d2a437275243eb1ac98881225620$</string>
            <key>textureFileName</key>
            <string>kofbeauty_gongji3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
