<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ls_ice_icespear.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,69},{54,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>ls_ice_icespear.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,147}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,147}}</string>
                <key>sourceSize</key>
                <string>{46,151}</string>
            </dict>
            <key>ls_ice_icespear.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,69},{21,157}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{21,157}}</string>
                <key>sourceSize</key>
                <string>{29,159}</string>
            </dict>
            <key>ls_ice_icespear.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{73,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{73,65}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>ls_ice_icespear.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{79,65}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ls_ice_icespear-hd.pvr.ccz</string>
            <key>size</key>
            <string>{127,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de2fdfd5796174277d8737a637e8a5c7$</string>
            <key>textureFileName</key>
            <string>ls_ice_icespear-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
