<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ls_phsc_heroic.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,246},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>ls_phsc_heroic.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{126,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,135}}</string>
                <key>sourceSize</key>
                <string>{126,135}</string>
            </dict>
            <key>ls_phsc_heroic.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>ls_phsc_heroic.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,139},{127,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,105}}</string>
                <key>sourceSize</key>
                <string>{127,105}</string>
            </dict>
            <key>ls_phsc_heroic.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,181}}</string>
                <key>sourceSize</key>
                <string>{136,181}</string>
            </dict>
            <key>ls_phsc_heroic.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{169,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,134}}</string>
                <key>sourceSize</key>
                <string>{169,134}</string>
            </dict>
            <key>ls_phsc_heroic.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,336},{143,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,136}}</string>
                <key>sourceSize</key>
                <string>{143,136}</string>
            </dict>
            <key>ls_phsc_heroic.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{139,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,141}}</string>
                <key>sourceSize</key>
                <string>{139,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ls_phsc_heroic-hd.pvr.ccz</string>
            <key>size</key>
            <string>{459,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2302434d8f2ceaec8c7c36a7f691442$</string>
            <key>textureFileName</key>
            <string>ls_phsc_heroic-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
