<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>madara_action_3.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{155,172}}</string>
                <key>sourceSize</key>
                <string>{155,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>madara_action_3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{159,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58da4630ada123356ba55c8864389f5e$</string>
            <key>textureFileName</key>
            <string>madara_action_3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
