<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magneto_action_3.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,154}}</string>
                <key>sourceSize</key>
                <string>{200,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magneto_action_3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{204,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fedce6f1fe2a89d102e25de3433a4ead$</string>
            <key>textureFileName</key>
            <string>magneto_action_3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
