<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magneto_action_5.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{69,36}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magneto_action_5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{40,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e461b44e7859388a0dc6ec50d6917f38$</string>
            <key>textureFileName</key>
            <string>magneto_action_5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
