<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkey_action_5.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{146,143}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{146,143}}</string>
                <key>sourceSize</key>
                <string>{200,167}</string>
            </dict>
            <key>monkey_action_5.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,160}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{214,160}}</string>
                <key>sourceSize</key>
                <string>{222,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkey_action_5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{218,309}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c312fdcee7007b603874dd52bf9db6f4$</string>
            <key>textureFileName</key>
            <string>monkey_action_5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
