<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>naruto2_action_3.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,0},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>naruto2_action_3.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>naruto2_action_3.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{79,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,91}}</string>
                <key>sourceSize</key>
                <string>{79,91}</string>
            </dict>
            <key>naruto2_action_3.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,0},{83,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,88}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>naruto2_action_3.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>naruto2_action_3.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{81,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,90}}</string>
                <key>sourceSize</key>
                <string>{81,90}</string>
            </dict>
            <key>naruto2_action_3.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>naruto2_action_3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{574,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2853eeb81456796a21d8432ef4fd4026$</string>
            <key>textureFileName</key>
            <string>naruto2_action_3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
