<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>northfist_action_5.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{81,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,28}}</string>
                <key>sourceSize</key>
                <string>{81,28}</string>
            </dict>
            <key>northfist_action_5.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{133,38}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{133,38}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>northfist_action_5.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{129,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,46}}</string>
                <key>sourceSize</key>
                <string>{129,46}</string>
            </dict>
            <key>northfist_action_5.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{143,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{143,55}}</string>
                <key>sourceSize</key>
                <string>{149,59}</string>
            </dict>
            <key>northfist_action_5.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{163,60}}</string>
                <key>sourceSize</key>
                <string>{173,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>northfist_action_5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{250,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9da088723dc6f212195c9d82f0327b$</string>
            <key>textureFileName</key>
            <string>northfist_action_5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
