<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sasuke2_action_4.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{88,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,53}}</string>
                <key>sourceSize</key>
                <string>{88,53}</string>
            </dict>
            <key>sasuke2_action_4.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{115,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,113}}</string>
                <key>sourceSize</key>
                <string>{115,113}</string>
            </dict>
            <key>sasuke2_action_4.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,113}}</string>
                <key>sourceSize</key>
                <string>{115,113}</string>
            </dict>
            <key>sasuke2_action_4.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,54},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sasuke2_action_4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{320,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff866918ea97f06766f96650234cb43e$</string>
            <key>textureFileName</key>
            <string>sasuke2_action_4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
