<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenyubg.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,448},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,225},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,225},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,448},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,225},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,448},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,225},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
            <key>shenyubg.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,221}}</string>
                <key>sourceSize</key>
                <string>{320,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenyubg-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1612,671}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12e36d995c8b564c2e7c4b18d4f9a0f4$</string>
            <key>textureFileName</key>
            <string>shenyubg-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
