<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tips_reward4.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>tips_reward4.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{84,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,17}}</string>
                <key>sourceSize</key>
                <string>{84,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tips_reward4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{132,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee4e0aa667de91bed397ce72ef50f52a$</string>
            <key>textureFileName</key>
            <string>tips_reward4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
