<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touzi.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{123,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,117}}</string>
                <key>sourceSize</key>
                <string>{123,117}</string>
            </dict>
            <key>touzi.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,168},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>touzi.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>touzi.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>touzi.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{89,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,63}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>touzi.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,121},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>touzi.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,148}}</string>
                <key>sourceSize</key>
                <string>{173,148}</string>
            </dict>
            <key>touzi.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,100},{76,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,123}}</string>
                <key>sourceSize</key>
                <string>{76,123}</string>
            </dict>
            <key>touzi.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,121},{70,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>touzi.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,105},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>touzi.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,152},{76,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{76,65}</string>
            </dict>
            <key>touzi.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,186},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touzi-hd.pvr.ccz</string>
            <key>size</key>
            <string>{506,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:423dd6e2f3e8bef467070e45679fbb46$</string>
            <key>textureFileName</key>
            <string>touzi-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
