<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>twist_gongji_02.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{262,262}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>twist_gongji_02.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{285,39}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{285,39}}</string>
                <key>sourceSize</key>
                <string>{335,53}</string>
            </dict>
            <key>twist_gongji_02.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{285,41}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{285,41}}</string>
                <key>sourceSize</key>
                <string>{335,53}</string>
            </dict>
            <key>twist_gongji_02.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{297,41}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{297,41}}</string>
                <key>sourceSize</key>
                <string>{335,53}</string>
            </dict>
            <key>twist_gongji_02.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,41}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{299,41}}</string>
                <key>sourceSize</key>
                <string>{335,53}</string>
            </dict>
            <key>twist_gongji_02.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{297,41}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{297,41}}</string>
                <key>sourceSize</key>
                <string>{335,53}</string>
            </dict>
            <key>twist_gongji_02.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{297,41}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{297,41}}</string>
                <key>sourceSize</key>
                <string>{335,53}</string>
            </dict>
            <key>twist_gongji_02.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{293,39}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{293,39}}</string>
                <key>sourceSize</key>
                <string>{335,53}</string>
            </dict>
            <key>twist_gongji_02.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{285,39}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,14},{285,39}}</string>
                <key>sourceSize</key>
                <string>{335,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>twist_gongji_02.pvr.ccz</string>
            <key>size</key>
            <string>{303,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea963f91cf8988dd56a9bc8cb300ab49$</string>
            <key>textureFileName</key>
            <string>twist_gongji_02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
