<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vegeta_action_1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{33,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{33,34}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>vegeta_action_1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{40,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{40,37}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>vegeta_action_1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,86},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,28}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>vegeta_action_1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,40}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vegeta_action_1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{67,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae7a275da68ccedacda27223cfcab2d9$</string>
            <key>textureFileName</key>
            <string>vegeta_action_1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
