<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weisike_action_4.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,171}}</string>
                <key>sourceSize</key>
                <string>{132,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weisike_action_4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{134,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:451c745ddc191c89b19973c059c1d32a$</string>
            <key>textureFileName</key>
            <string>weisike_action_4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
