<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,451},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{178,173}</string>
            </dict>
            <key>win.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{447,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,448}}</string>
                <key>sourceSize</key>
                <string>{447,448}</string>
            </dict>
            <key>win.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{447,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,448}}</string>
                <key>sourceSize</key>
                <string>{447,448}</string>
            </dict>
            <key>win.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{223,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{223,224}}</string>
                <key>sourceSize</key>
                <string>{231,230}</string>
            </dict>
            <key>win.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,621},{120,116}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{120,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win.pvr.ccz</string>
            <key>size</key>
            <string>{452,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a96e7a2d3c4ac89bcfeee7ad816042b9$</string>
            <key>textureFileName</key>
            <string>win.pvr.ccz</string>
        </dict>
    </dict>
</plist>
