<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingshi_action_1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,83}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingshi_action_1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{86,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37a6fa5aace9ff89c1386d813cebbc20$</string>
            <key>textureFileName</key>
            <string>xingshi_action_1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
