<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingzhesun_texiao.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,430},{69,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,78}}</string>
                <key>sourceSize</key>
                <string>{69,78}</string>
            </dict>
            <key>xingzhesun_texiao.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,436},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>xingzhesun_texiao.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,366},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xingzhesun_texiao.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,357},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>xingzhesun_texiao.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,258},{235,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,232}}</string>
                <key>sourceSize</key>
                <string>{235,232}</string>
            </dict>
            <key>xingzhesun_texiao.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>xingzhesun_texiao.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,337},{77,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{77,58}</string>
            </dict>
            <key>xingzhesun_texiao.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>xingzhesun_texiao.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,237},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xingzhesun_texiao.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xingzhesun_texiao.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,130},{98,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>xingzhesun_texiao.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,236},{92,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,41}}</string>
                <key>sourceSize</key>
                <string>{92,41}</string>
            </dict>
            <key>xingzhesun_texiao.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,201},{72,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{72,35}</string>
            </dict>
            <key>xingzhesun_texiao.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,357},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>xingzhesun_texiao.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,491},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>xingzhesun_texiao.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,337},{33,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,58}}</string>
                <key>sourceSize</key>
                <string>{33,58}</string>
            </dict>
            <key>xingzhesun_texiao.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,468},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>xingzhesun_texiao.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,122},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>xingzhesun_texiao.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,403},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>xingzhesun_texiao.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1},{36,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,153}}</string>
                <key>sourceSize</key>
                <string>{36,153}</string>
            </dict>
            <key>xingzhesun_texiao.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,473},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>xingzhesun_texiao.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,491},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>xingzhesun_texiao.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,467},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>xingzhesun_texiao.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,429},{13,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,44}}</string>
                <key>sourceSize</key>
                <string>{13,44}</string>
            </dict>
            <key>xingzhesun_texiao.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,155},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>xingzhesun_texiao.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,383},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>xingzhesun_texiao.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,474},{10,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,30}}</string>
                <key>sourceSize</key>
                <string>{10,30}</string>
            </dict>
            <key>xingzhesun_texiao.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,455},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>xingzhesun_texiao.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,396},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>xingzhesun_texiao.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,473},{71,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{71,33}</string>
            </dict>
            <key>xingzhesun_texiao.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,436},{29,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,48}}</string>
                <key>sourceSize</key>
                <string>{29,48}</string>
            </dict>
            <key>xingzhesun_texiao.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,430},{45,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>xingzhesun_texiao.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,396},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>xingzhesun_texiao.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,152},{187,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,88}}</string>
                <key>sourceSize</key>
                <string>{187,88}</string>
            </dict>
            <key>xingzhesun_texiao.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,491},{309,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,17}}</string>
                <key>sourceSize</key>
                <string>{309,17}</string>
            </dict>
            <key>xingzhesun_texiao.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,201},{325,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,34}}</string>
                <key>sourceSize</key>
                <string>{325,34}</string>
            </dict>
            <key>xingzhesun_texiao.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>xingzhesun_texiao.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,403},{29,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{29,63}</string>
            </dict>
            <key>xingzhesun_texiao.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,383},{125,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>xingzhesun_texiao.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>xingzhesun_texiao.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,122},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>xingzhesun_texiao.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,258},{71,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,177}}</string>
                <key>sourceSize</key>
                <string>{71,177}</string>
            </dict>
            <key>xingzhesun_texiao.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,236},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>xingzhesun_texiao.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,123},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>xingzhesun_texiao.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,152},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>xingzhesun_texiao.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,430},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>xingzhesun_texiao.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,258},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>xingzhesun_texiao.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1},{277,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,150}}</string>
                <key>sourceSize</key>
                <string>{277,150}</string>
            </dict>
            <key>xingzhesun_texiao.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,370},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xingzhesun_texiao.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{120,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,237}}</string>
                <key>sourceSize</key>
                <string>{120,237}</string>
            </dict>
            <key>xingzhesun_texiao.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,278},{86,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,58}}</string>
                <key>sourceSize</key>
                <string>{86,58}</string>
            </dict>
            <key>xingzhesun_texiao.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,122},{98,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{98,66}</string>
            </dict>
            <key>xingzhesun_texiao.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,130},{50,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,106}}</string>
                <key>sourceSize</key>
                <string>{50,106}</string>
            </dict>
            <key>xingzhesun_texiao.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>xingzhesun_texiao.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,241},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xingzhesun_texiao.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,241},{171,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,141}}</string>
                <key>sourceSize</key>
                <string>{171,141}</string>
            </dict>
            <key>xingzhesun_texiao.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,236},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xingzhesun_texiao.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,301},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingzhesun_texiao-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1335,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4050727037438c82d15357a9f8de8602$</string>
            <key>textureFileName</key>
            <string>xingzhesun_texiao-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
