<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yadianna_action_1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{87,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,38}}</string>
                <key>sourceSize</key>
                <string>{87,38}</string>
            </dict>
            <key>yadianna_action_1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,0},{92,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,43}}</string>
                <key>sourceSize</key>
                <string>{92,43}</string>
            </dict>
            <key>yadianna_action_1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{91,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,38}}</string>
                <key>sourceSize</key>
                <string>{91,38}</string>
            </dict>
            <key>yadianna_action_1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,0},{89,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,44}}</string>
                <key>sourceSize</key>
                <string>{89,44}</string>
            </dict>
            <key>yadianna_action_1.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,47}}</string>
                <key>sourceSize</key>
                <string>{84,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yadianna_action_1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{447,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c57583283e54e71006eb988163178a7$</string>
            <key>textureFileName</key>
            <string>yadianna_action_1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
