<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yusuke_gongji3_1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,225}}</string>
                <key>sourceSize</key>
                <string>{218,225}</string>
            </dict>
            <key>yusuke_gongji3_1.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{151,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,176}}</string>
                <key>sourceSize</key>
                <string>{151,176}</string>
            </dict>
            <key>yusuke_gongji3_1.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,168},{129,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,165}}</string>
                <key>sourceSize</key>
                <string>{129,165}</string>
            </dict>
            <key>yusuke_gongji3_1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{80,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,111}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>yusuke_gongji3_1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,335},{129,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,145}}</string>
                <key>sourceSize</key>
                <string>{129,145}</string>
            </dict>
            <key>yusuke_gongji3_1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{150,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,164}}</string>
                <key>sourceSize</key>
                <string>{150,164}</string>
            </dict>
            <key>yusuke_gongji3_1.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,229},{153,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,174}}</string>
                <key>sourceSize</key>
                <string>{153,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yusuke_gongji3_1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{462,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be11f512fafe9a282d2863bfbfd48453$</string>
            <key>textureFileName</key>
            <string>yusuke_gongji3_1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
