<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alpaca5.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,348},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>alpaca5.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,449},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>alpaca5.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,62},{76,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,47}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>alpaca5.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,303},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>alpaca5.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,420},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>alpaca5.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,110},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>alpaca5.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,383},{15,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,33}}</string>
                <key>sourceSize</key>
                <string>{15,33}</string>
            </dict>
            <key>alpaca5.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1},{13,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,27}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>alpaca5.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,254},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>alpaca5.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,428},{19,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,43}}</string>
                <key>sourceSize</key>
                <string>{19,43}</string>
            </dict>
            <key>alpaca5.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{136,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,86}}</string>
                <key>sourceSize</key>
                <string>{136,86}</string>
            </dict>
            <key>alpaca5.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,420},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>alpaca5.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>alpaca5.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>alpaca5.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,431},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,417},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>alpaca5.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,337},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,340},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,430},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,417},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,348},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,389},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,337},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>alpaca5.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,348},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,376},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,335},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,345},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,254},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,171},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,171},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,257},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca5.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,257},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>alpaca5.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,345},{127,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,75}}</string>
                <key>sourceSize</key>
                <string>{127,75}</string>
            </dict>
            <key>alpaca5.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,428},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>alpaca5.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,90},{122,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,85}}</string>
                <key>sourceSize</key>
                <string>{122,85}</string>
            </dict>
            <key>alpaca5.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1},{124,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,88}}</string>
                <key>sourceSize</key>
                <string>{124,88}</string>
            </dict>
            <key>alpaca5.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,258},{124,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,76}}</string>
                <key>sourceSize</key>
                <string>{124,76}</string>
            </dict>
            <key>alpaca5.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,176},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>alpaca5.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,355},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alpaca5.pvr.ccz</string>
            <key>size</key>
            <string>{473,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3701e53bc0a5660ecc350420905296ea$</string>
            <key>textureFileName</key>
            <string>alpaca5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
