<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alpaca1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,273},{122,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>alpaca1.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,347},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>alpaca1.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,206},{115,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,70}}</string>
                <key>sourceSize</key>
                <string>{115,70}</string>
            </dict>
            <key>alpaca1.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,202},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>alpaca1.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,70},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>alpaca1.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,66},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>alpaca1.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,358},{25,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,51}}</string>
                <key>sourceSize</key>
                <string>{25,51}</string>
            </dict>
            <key>alpaca1.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,278},{31,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,78}}</string>
                <key>sourceSize</key>
                <string>{31,78}</string>
            </dict>
            <key>alpaca1.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,202},{31,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,65}}</string>
                <key>sourceSize</key>
                <string>{31,65}</string>
            </dict>
            <key>alpaca1.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,278},{118,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{118,64}}</string>
                <key>sourceSize</key>
                <string>{136,86}</string>
            </dict>
            <key>alpaca1.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>alpaca1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,104},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>alpaca1.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,202}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,33},{216,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>alpaca1.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,329},{50,36}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,385},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>alpaca1.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,358},{36,30}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,1},{36,30}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,295},{58,28}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,140},{72,28}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,170},{76,30}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,30}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,203},{66,30}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{66,30}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,40},{24,20}}</string>
                <key>offset</key>
                <string>{-29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{24,20}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,396},{30,22}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{30,22}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,325},{31,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,55}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>alpaca1.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{36,20}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{36,20}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,269},{62,24}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{62,24}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,271},{74,30}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{74,30}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,167},{78,34}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{78,34}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,398},{76,36}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{76,36}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,397},{68,36}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{68,36}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,265},{62,38}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>alpaca1.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,203},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,19},{68,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>alpaca1.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,296},{127,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,75}}</string>
                <key>sourceSize</key>
                <string>{127,75}</string>
            </dict>
            <key>alpaca1.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{122,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,85}}</string>
                <key>sourceSize</key>
                <string>{122,85}</string>
            </dict>
            <key>alpaca1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,381},{29,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>alpaca1.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{124,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,88}}</string>
                <key>sourceSize</key>
                <string>{124,88}</string>
            </dict>
            <key>alpaca1.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,89},{124,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,76}}</string>
                <key>sourceSize</key>
                <string>{124,76}</string>
            </dict>
            <key>alpaca1.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>alpaca1.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,167},{31,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{31,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alpaca1.pvr.ccz</string>
            <key>size</key>
            <string>{436,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06d696a3cd088ce08907cd190e2d6ab2$</string>
            <key>textureFileName</key>
            <string>alpaca1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
