<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_ui_touzi.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>anim_ui_touzi.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,88},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>anim_ui_touzi.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{144,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,142}}</string>
                <key>sourceSize</key>
                <string>{144,142}</string>
            </dict>
            <key>anim_ui_touzi.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{237,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,86}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>anim_ui_touzi.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,124},{241,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,88}}</string>
                <key>sourceSize</key>
                <string>{241,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_ui_touzi-hd.pvr.ccz</string>
            <key>size</key>
            <string>{509,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c8042e0fa4890423394e1f116a9491f$</string>
            <key>textureFileName</key>
            <string>anim_ui_touzi-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
