<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chaomeng.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,91},{233,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,78}}</string>
                <key>sourceSize</key>
                <string>{233,78}</string>
            </dict>
            <key>chaomeng.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,551},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>chaomeng.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,283},{21,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,42}}</string>
                <key>sourceSize</key>
                <string>{21,42}</string>
            </dict>
            <key>chaomeng.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,382},{10,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,32}}</string>
                <key>sourceSize</key>
                <string>{10,32}</string>
            </dict>
            <key>chaomeng.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,551},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>chaomeng.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,465},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>chaomeng.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,207},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>chaomeng.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,327},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>chaomeng.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,465},{79,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,56}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>chaomeng.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,207},{31,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,74}}</string>
                <key>sourceSize</key>
                <string>{31,74}</string>
            </dict>
            <key>chaomeng.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,350},{16,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,67}}</string>
                <key>sourceSize</key>
                <string>{16,67}</string>
            </dict>
            <key>chaomeng.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,207},{48,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,138}}</string>
                <key>sourceSize</key>
                <string>{48,138}</string>
            </dict>
            <key>chaomeng.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,404},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>chaomeng.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,501},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>chaomeng.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,211},{22,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,50}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>chaomeng.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,419},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>chaomeng.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,530},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>chaomeng.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,362},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>chaomeng.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,365},{12,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,40}</string>
            </dict>
            <key>chaomeng.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,171},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>chaomeng.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,523},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>chaomeng.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,220},{56,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,160}}</string>
                <key>sourceSize</key>
                <string>{56,160}</string>
            </dict>
            <key>chaomeng.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,283},{21,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,57}}</string>
                <key>sourceSize</key>
                <string>{21,57}</string>
            </dict>
            <key>chaomeng.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,102},{24,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,67}}</string>
                <key>sourceSize</key>
                <string>{24,67}</string>
            </dict>
            <key>chaomeng.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{271,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,87}}</string>
                <key>sourceSize</key>
                <string>{271,87}</string>
            </dict>
            <key>chaomeng.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,365},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>chaomeng.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,365},{98,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,101}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>chaomeng.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,102},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>chaomeng.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>chaomeng.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,468},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>chaomeng.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,239},{151,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,109}}</string>
                <key>sourceSize</key>
                <string>{151,109}</string>
            </dict>
            <key>chaomeng.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{155,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,119}}</string>
                <key>sourceSize</key>
                <string>{155,119}</string>
            </dict>
            <key>chaomeng.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,350},{123,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,97}}</string>
                <key>sourceSize</key>
                <string>{123,97}</string>
            </dict>
            <key>chaomeng.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,382},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>chaomeng.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{131,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,170}}</string>
                <key>sourceSize</key>
                <string>{131,170}</string>
            </dict>
            <key>chaomeng.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,523},{38,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>chaomeng.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,493},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>chaomeng.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,171},{229,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,66}}</string>
                <key>sourceSize</key>
                <string>{229,66}</string>
            </dict>
            <key>chaomeng.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{215,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,66}}</string>
                <key>sourceSize</key>
                <string>{215,66}</string>
            </dict>
            <key>chaomeng.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,449},{196,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,42}}</string>
                <key>sourceSize</key>
                <string>{196,42}</string>
            </dict>
            <key>chaomeng.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,216}}</string>
                <key>sourceSize</key>
                <string>{214,216}</string>
            </dict>
            <key>chaomeng.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,239},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>chaomeng.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,493},{79,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,56}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>chaomeng.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,550},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chaomeng-hd.pvr.ccz</string>
            <key>size</key>
            <string>{583,583}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e18f562f47a898f8369eff3a072fb02$</string>
            <key>textureFileName</key>
            <string>chaomeng-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
