<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwu3.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,118},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>chongwu3.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,488},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>chongwu3.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,173},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>chongwu3.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>chongwu3.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{125,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,143}}</string>
                <key>sourceSize</key>
                <string>{125,143}</string>
            </dict>
            <key>chongwu3.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,480},{23,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,97}}</string>
                <key>sourceSize</key>
                <string>{23,97}</string>
            </dict>
            <key>chongwu3.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,241},{77,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,74}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>chongwu3.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,382},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>chongwu3.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,488},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,34}}</string>
                <key>sourceSize</key>
                <string>{16,34}</string>
            </dict>
            <key>chongwu3.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,445},{53,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,59}}</string>
                <key>sourceSize</key>
                <string>{53,59}</string>
            </dict>
            <key>chongwu3.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,464},{23,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,42}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>chongwu3.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,433},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>chongwu3.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,71},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>chongwu3.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{18,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,49}}</string>
                <key>sourceSize</key>
                <string>{18,49}</string>
            </dict>
            <key>chongwu3.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,494},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>chongwu3.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,142},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>chongwu3.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{151,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,152}}</string>
                <key>sourceSize</key>
                <string>{151,152}</string>
            </dict>
            <key>chongwu3.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,211},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>chongwu3.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,188},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>chongwu3.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,118},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>chongwu3.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,368},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>chongwu3.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,317},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>chongwu3.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,317},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>chongwu3.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,464},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>chongwu3.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,155},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>chongwu3.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,158},{72,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,106}}</string>
                <key>sourceSize</key>
                <string>{72,106}</string>
            </dict>
            <key>chongwu3.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,147},{98,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,114}}</string>
                <key>sourceSize</key>
                <string>{98,114}</string>
            </dict>
            <key>chongwu3.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{98,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,114}}</string>
                <key>sourceSize</key>
                <string>{98,114}</string>
            </dict>
            <key>chongwu3.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{98,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,114}}</string>
                <key>sourceSize</key>
                <string>{98,114}</string>
            </dict>
            <key>chongwu3.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{121,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,147}}</string>
                <key>sourceSize</key>
                <string>{121,147}</string>
            </dict>
            <key>chongwu3.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,207}}</string>
                <key>sourceSize</key>
                <string>{168,207}</string>
            </dict>
            <key>chongwu3.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,455},{23,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,97}}</string>
                <key>sourceSize</key>
                <string>{23,97}</string>
            </dict>
            <key>chongwu3.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,416},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>chongwu3.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,445},{43,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,61}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>chongwu3.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,365},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chongwu3.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,356},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chongwu3.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,346},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chongwu3.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,266},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chongwu3.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,257},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chongwu3.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,158},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chongwu3.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,247},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chongwu3.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,464},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongwu3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{556,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cfdcbaed748fab463363eef7334c39c$</string>
            <key>textureFileName</key>
            <string>chongwu3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
