<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwu19_1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,549},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>chongwu19_1.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{165,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,131}}</string>
                <key>sourceSize</key>
                <string>{165,131}</string>
            </dict>
            <key>chongwu19_1.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,456},{119,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,91}}</string>
                <key>sourceSize</key>
                <string>{119,91}</string>
            </dict>
            <key>chongwu19_1.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,478},{56,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>chongwu19_1.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{190,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,135}}</string>
                <key>sourceSize</key>
                <string>{190,135}</string>
            </dict>
            <key>chongwu19_1.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{199,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,142}}</string>
                <key>sourceSize</key>
                <string>{199,142}</string>
            </dict>
            <key>chongwu19_1.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,631},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>chongwu19_1.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,565},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>chongwu19_1.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,503},{54,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,22}}</string>
                <key>sourceSize</key>
                <string>{54,22}</string>
            </dict>
            <key>chongwu19_1.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,560},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>chongwu19_1.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,486},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chongwu19_1.swf119.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,608},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>chongwu19_1.swf121.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,538},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>chongwu19_1.swf123.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,384},{74,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,46}}</string>
                <key>sourceSize</key>
                <string>{74,46}</string>
            </dict>
            <key>chongwu19_1.swf125.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,246},{188,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,65}}</string>
                <key>sourceSize</key>
                <string>{188,65}</string>
            </dict>
            <key>chongwu19_1.swf127.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,431},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>chongwu19_1.swf129.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,524},{78,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,48}}</string>
                <key>sourceSize</key>
                <string>{78,48}</string>
            </dict>
            <key>chongwu19_1.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,520},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>chongwu19_1.swf131.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,146},{201,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,98}}</string>
                <key>sourceSize</key>
                <string>{201,98}</string>
            </dict>
            <key>chongwu19_1.swf133.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,432},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>chongwu19_1.swf135.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,132},{195,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,108}}</string>
                <key>sourceSize</key>
                <string>{195,108}</string>
            </dict>
            <key>chongwu19_1.swf137.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{208,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,128}}</string>
                <key>sourceSize</key>
                <string>{208,128}</string>
            </dict>
            <key>chongwu19_1.swf139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{149,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,153}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>chongwu19_1.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,392},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{23,45}</string>
            </dict>
            <key>chongwu19_1.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,631},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>chongwu19_1.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,246},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>chongwu19_1.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,476},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chongwu19_1.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,615},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>chongwu19_1.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,318},{37,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,63}}</string>
                <key>sourceSize</key>
                <string>{37,63}</string>
            </dict>
            <key>chongwu19_1.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,638},{25,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,14}}</string>
                <key>sourceSize</key>
                <string>{25,14}</string>
            </dict>
            <key>chongwu19_1.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,520},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>chongwu19_1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,313},{55,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,94}}</string>
                <key>sourceSize</key>
                <string>{55,94}</string>
            </dict>
            <key>chongwu19_1.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,609},{22,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>chongwu19_1.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,409},{39,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,67}}</string>
                <key>sourceSize</key>
                <string>{39,67}</string>
            </dict>
            <key>chongwu19_1.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,527},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>chongwu19_1.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,439},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>chongwu19_1.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,80},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>chongwu19_1.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,579},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>chongwu19_1.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,313},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>chongwu19_1.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,327},{103,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,127}}</string>
                <key>sourceSize</key>
                <string>{103,127}</string>
            </dict>
            <key>chongwu19_1.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,579},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>chongwu19_1.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,325},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>chongwu19_1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,589},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>chongwu19_1.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,615},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>chongwu19_1.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,209},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>chongwu19_1.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,638},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>chongwu19_1.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,186}}</string>
                <key>sourceSize</key>
                <string>{194,186}</string>
            </dict>
            <key>chongwu19_1.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,383},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>chongwu19_1.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,641},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>chongwu19_1.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,579},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>chongwu19_1.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,145},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>chongwu19_1.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,615},{48,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>chongwu19_1.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,589},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>chongwu19_1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,330},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
            <key>chongwu19_1.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,318},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>chongwu19_1.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,439},{39,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,65}}</string>
                <key>sourceSize</key>
                <string>{39,65}</string>
            </dict>
            <key>chongwu19_1.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,431},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>chongwu19_1.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,242},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>chongwu19_1.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,392},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>chongwu19_1.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,391},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
            <key>chongwu19_1.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,591},{31,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,16}}</string>
                <key>sourceSize</key>
                <string>{31,16}</string>
            </dict>
            <key>chongwu19_1.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{43,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,76}}</string>
                <key>sourceSize</key>
                <string>{43,76}</string>
            </dict>
            <key>chongwu19_1.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,539},{67,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,38}}</string>
                <key>sourceSize</key>
                <string>{67,38}</string>
            </dict>
            <key>chongwu19_1.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,273},{45,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,55}}</string>
                <key>sourceSize</key>
                <string>{45,55}</string>
            </dict>
            <key>chongwu19_1.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,506},{26,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,52}}</string>
                <key>sourceSize</key>
                <string>{26,52}</string>
            </dict>
            <key>chongwu19_1.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,439},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>chongwu19_1.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>chongwu19_1.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,242},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>chongwu19_1.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,579},{64,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>chongwu19_1.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,574},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongwu19_1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{654,654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e0d8144ab11249d339bea9c5177735b$</string>
            <key>textureFileName</key>
            <string>chongwu19_1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
