<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwu2_1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>chongwu2_1.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>chongwu2_1.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,139},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>chongwu2_1.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,157},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>chongwu2_1.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,175},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>chongwu2_1.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,259},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>chongwu2_1.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,111},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>chongwu2_1.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,357},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>chongwu2_1.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,42},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>chongwu2_1.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,46},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>chongwu2_1.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,151},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>chongwu2_1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,148},{98,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,109}}</string>
                <key>sourceSize</key>
                <string>{98,109}</string>
            </dict>
            <key>chongwu2_1.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,83},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>chongwu2_1.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,63},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>chongwu2_1.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,122},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>chongwu2_1.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{114,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,99}</string>
            </dict>
            <key>chongwu2_1.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,284},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>chongwu2_1.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{65,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,93}}</string>
                <key>sourceSize</key>
                <string>{65,93}</string>
            </dict>
            <key>chongwu2_1.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,303},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>chongwu2_1.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,57},{6,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,13}}</string>
                <key>sourceSize</key>
                <string>{6,13}</string>
            </dict>
            <key>chongwu2_1.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,103},{18,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,6}}</string>
                <key>sourceSize</key>
                <string>{18,6}</string>
            </dict>
            <key>chongwu2_1.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{95,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,68}}</string>
                <key>sourceSize</key>
                <string>{95,68}</string>
            </dict>
            <key>chongwu2_1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,203},{73,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>chongwu2_1.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,284},{93,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,78}}</string>
                <key>sourceSize</key>
                <string>{93,78}</string>
            </dict>
            <key>chongwu2_1.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,103},{102,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>chongwu2_1.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>chongwu2_1.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,189},{94,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>chongwu2_1.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,271},{94,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,79}}</string>
                <key>sourceSize</key>
                <string>{94,79}</string>
            </dict>
            <key>chongwu2_1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,42},{113,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,104}}</string>
                <key>sourceSize</key>
                <string>{113,104}</string>
            </dict>
            <key>chongwu2_1.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,118}}</string>
                <key>sourceSize</key>
                <string>{126,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongwu2_1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{403,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc958a4524d373029fd4e8d8e713d532$</string>
            <key>textureFileName</key>
            <string>chongwu2_1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
