<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwu13.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,440},{62,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>chongwu13.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,259},{116,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>chongwu13.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,332},{39,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,71}}</string>
                <key>sourceSize</key>
                <string>{39,71}</string>
            </dict>
            <key>chongwu13.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,338},{95,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,105}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>chongwu13.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,391},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>chongwu13.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,376},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>chongwu13.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,332},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>chongwu13.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,376},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>chongwu13.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,259},{123,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,51}}</string>
                <key>sourceSize</key>
                <string>{123,51}</string>
            </dict>
            <key>chongwu13.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,403},{142,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,59}}</string>
                <key>sourceSize</key>
                <string>{142,59}</string>
            </dict>
            <key>chongwu13.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,258},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chongwu13.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,242},{168,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,65}}</string>
                <key>sourceSize</key>
                <string>{168,65}</string>
            </dict>
            <key>chongwu13.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>chongwu13.swf34.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1},{116,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,261}}</string>
                <key>sourceSize</key>
                <string>{116,261}</string>
            </dict>
            <key>chongwu13.swf36.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>chongwu13.swf38.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,130},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chongwu13.swf40.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chongwu13.swf42.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,130},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chongwu13.swf44.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chongwu13.swf46.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,263},{153,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,44}}</string>
                <key>sourceSize</key>
                <string>{153,44}</string>
            </dict>
            <key>chongwu13.swf48.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,308},{164,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,47}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>chongwu13.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,325},{29,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,50}}</string>
                <key>sourceSize</key>
                <string>{29,50}</string>
            </dict>
            <key>chongwu13.swf50.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,356},{161,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,46}}</string>
                <key>sourceSize</key>
                <string>{161,46}</string>
            </dict>
            <key>chongwu13.swf52.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,403},{153,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,58}}</string>
                <key>sourceSize</key>
                <string>{153,58}</string>
            </dict>
            <key>chongwu13.swf54.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,259},{116,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,65}}</string>
                <key>sourceSize</key>
                <string>{116,65}</string>
            </dict>
            <key>chongwu13.swf56.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,388},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>chongwu13.swf58.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,242},{37,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,11}}</string>
                <key>sourceSize</key>
                <string>{37,11}</string>
            </dict>
            <key>chongwu13.swf60.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,311},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>chongwu13.swf62.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,130},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chongwu13.swf64.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chongwu13.swf66.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,308},{154,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,29}}</string>
                <key>sourceSize</key>
                <string>{154,29}</string>
            </dict>
            <key>chongwu13.swf68.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,325},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>chongwu13.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,325},{51,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,65}}</string>
                <key>sourceSize</key>
                <string>{51,65}</string>
            </dict>
            <key>chongwu13.swf70.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,338},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>chongwu13.swf72.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,259},{23,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,64}}</string>
                <key>sourceSize</key>
                <string>{23,64}</string>
            </dict>
            <key>chongwu13.swf74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chongwu13.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,404},{25,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,48}}</string>
                <key>sourceSize</key>
                <string>{25,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongwu13-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1008,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cca6aa0c6102cb40e67594a335f64c1$</string>
            <key>textureFileName</key>
            <string>chongwu13-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
