<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwu5.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>chongwu5.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,982},{36,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,69}}</string>
                <key>sourceSize</key>
                <string>{36,69}</string>
            </dict>
            <key>chongwu5.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,249},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>chongwu5.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{118,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,89}}</string>
                <key>sourceSize</key>
                <string>{118,89}</string>
            </dict>
            <key>chongwu5.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,398},{59,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,86}}</string>
                <key>sourceSize</key>
                <string>{59,86}</string>
            </dict>
            <key>chongwu5.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,910},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>chongwu5.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,835},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>chongwu5.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,177},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>chongwu5.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,613},{56,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,97}}</string>
                <key>sourceSize</key>
                <string>{56,97}</string>
            </dict>
            <key>chongwu5.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{124,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,51}}</string>
                <key>sourceSize</key>
                <string>{124,51}</string>
            </dict>
            <key>chongwu5.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,671},{96,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,71}}</string>
                <key>sourceSize</key>
                <string>{96,71}</string>
            </dict>
            <key>chongwu5.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>chongwu5.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{126,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>chongwu5.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,87},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>chongwu5.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,744},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>chongwu5.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,459},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>chongwu5.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,304},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>chongwu5.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>chongwu5.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,548},{74,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,63}}</string>
                <key>sourceSize</key>
                <string>{74,63}</string>
            </dict>
            <key>chongwu5.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,910},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>chongwu5.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>chongwu5.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{138,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,142}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>chongwu5.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>chongwu5.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{119,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,113}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongwu5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{234,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9a7b4d9ab63f5c4f744633bc2f13d59$</string>
            <key>textureFileName</key>
            <string>chongwu5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
