<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chopper.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,971},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>chopper.swf100.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,241},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>chopper.swf102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{96,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,230}}</string>
                <key>sourceSize</key>
                <string>{96,230}</string>
            </dict>
            <key>chopper.swf104.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{93,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,243}}</string>
                <key>sourceSize</key>
                <string>{93,243}</string>
            </dict>
            <key>chopper.swf106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{68,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,206}}</string>
                <key>sourceSize</key>
                <string>{68,206}</string>
            </dict>
            <key>chopper.swf108.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{71,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,237}}</string>
                <key>sourceSize</key>
                <string>{71,237}</string>
            </dict>
            <key>chopper.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,241},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>chopper.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,247},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>chopper.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,728},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>chopper.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,130},{80,98}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{80,98}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>chopper.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,728},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>chopper.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,247},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>chopper.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,347},{80,91}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{80,91}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chopper.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,618},{80,93}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{80,93}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>chopper.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,130},{80,93}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{80,93}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chopper.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,440},{80,91}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{80,91}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chopper.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,728},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>chopper.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,347},{80,91}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{80,91}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>chopper.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,241},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>chopper.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1001},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>chopper.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,728},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>chopper.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{88,91}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{88,91}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>chopper.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>chopper.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,128},{79,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,92}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>chopper.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,619},{87,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,99}}</string>
                <key>sourceSize</key>
                <string>{87,99}</string>
            </dict>
            <key>chopper.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,247},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>chopper.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,247},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>chopper.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1001},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>chopper.swf52.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,619},{80,99}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{80,99}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>chopper.swf54.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,850},{85,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{85,128}}</string>
                <key>sourceSize</key>
                <string>{89,132}</string>
            </dict>
            <key>chopper.swf56.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,951},{65,61}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{65,61}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>chopper.swf58.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,442},{90,175}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,175}}</string>
                <key>sourceSize</key>
                <string>{92,179}</string>
            </dict>
            <key>chopper.swf60.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,263},{90,177}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,177}}</string>
                <key>sourceSize</key>
                <string>{92,181}</string>
            </dict>
            <key>chopper.swf62.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,531},{95,189}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,189}}</string>
                <key>sourceSize</key>
                <string>{97,203}</string>
            </dict>
            <key>chopper.swf64.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,531},{99,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,195}}</string>
                <key>sourceSize</key>
                <string>{99,199}</string>
            </dict>
            <key>chopper.swf66.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,763},{102,198}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,198}}</string>
                <key>sourceSize</key>
                <string>{104,204}</string>
            </dict>
            <key>chopper.swf68.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,757},{103,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{103,192}}</string>
                <key>sourceSize</key>
                <string>{107,196}</string>
            </dict>
            <key>chopper.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,247},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>chopper.swf70.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,722},{87,177}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{87,177}}</string>
                <key>sourceSize</key>
                <string>{97,185}</string>
            </dict>
            <key>chopper.swf72.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,494},{120,122}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chopper.swf74.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{120,126}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chopper.swf76.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,240},{122,126}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chopper.swf78.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{120,124}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chopper.swf80.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,720},{126,128}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chopper.swf82.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,368},{116,124}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chopper.swf84.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,850},{124,126}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chopper.swf86.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,225},{118,120}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chopper.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,713},{118,120}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chopper.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,963},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>chopper.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,901},{118,120}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chopper.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{258,262}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{258,262}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>chopper.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,263}}</string>
                <key>sourceSize</key>
                <string>{98,263}</string>
            </dict>
            <key>chopper.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{87,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,236}}</string>
                <key>sourceSize</key>
                <string>{87,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chopper-hd.pvr.ccz</string>
            <key>size</key>
            <string>{693,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bc3b64b2b43e1de9319f316129d3ebc$</string>
            <key>textureFileName</key>
            <string>chopper-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
