<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darryl.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,347},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>darryl.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,654},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,56}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>darryl.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,137},{108,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>darryl.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,598},{50,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>darryl.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,599},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{53,62}}</string>
                <key>sourceSize</key>
                <string>{63,74}</string>
            </dict>
            <key>darryl.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,193}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{376,193}}</string>
                <key>sourceSize</key>
                <string>{388,205}</string>
            </dict>
            <key>darryl.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,536},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>darryl.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,385},{59,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{59,69}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>darryl.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,490},{66,79}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{66,79}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>darryl.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,385},{75,90}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{75,90}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>darryl.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{227,145}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{227,145}}</string>
                <key>sourceSize</key>
                <string>{227,159}</string>
            </dict>
            <key>darryl.swf119.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,395},{82,94}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>darryl.swf121.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,295},{92,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>darryl.swf123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,137},{4,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,62}}</string>
                <key>sourceSize</key>
                <string>{4,62}</string>
            </dict>
            <key>darryl.swf125.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,603},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>darryl.swf127.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,197},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>darryl.swf129.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,393},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>darryl.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,571},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>darryl.swf131.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,395},{21,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,58}}</string>
                <key>sourceSize</key>
                <string>{21,58}</string>
            </dict>
            <key>darryl.swf133.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,536},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>darryl.swf135.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,571},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>darryl.swf137.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,617},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>darryl.swf139.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,450},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>darryl.swf141.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,564},{56,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>darryl.swf143.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,491},{77,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,70}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>darryl.swf145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>darryl.swf147.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{75,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,84}}</string>
                <key>sourceSize</key>
                <string>{75,84}</string>
            </dict>
            <key>darryl.swf149.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,537},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>darryl.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,197},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>darryl.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,617},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>darryl.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,564},{19,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,51}}</string>
                <key>sourceSize</key>
                <string>{21,51}</string>
            </dict>
            <key>darryl.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,491},{77,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,70}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>darryl.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>darryl.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,477},{75,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>darryl.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,537},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>darryl.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,137},{4,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,62}}</string>
                <key>sourceSize</key>
                <string>{4,62}</string>
            </dict>
            <key>darryl.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,603},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>darryl.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{191,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{191,94}}</string>
                <key>sourceSize</key>
                <string>{193,96}</string>
            </dict>
            <key>darryl.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,456},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>darryl.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,328},{136,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,17}}</string>
                <key>sourceSize</key>
                <string>{136,17}</string>
            </dict>
            <key>darryl.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,347},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>darryl.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,393},{75,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>darryl.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,497},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>darryl.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,637},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>darryl.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{195,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,98}}</string>
                <key>sourceSize</key>
                <string>{195,98}</string>
            </dict>
            <key>darryl.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,295},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>darryl.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,501},{28,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>darryl.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,393},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>darryl.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,450},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>darryl.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,550},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>darryl.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,480},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>darryl.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{60,21}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,21}}</string>
                <key>sourceSize</key>
                <string>{62,23}</string>
            </dict>
            <key>darryl.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,396},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>darryl.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,249},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>darryl.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,580},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>darryl.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,296},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>darryl.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,579},{18,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,48}}</string>
                <key>sourceSize</key>
                <string>{18,48}</string>
            </dict>
            <key>darryl.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,455},{20,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,43}}</string>
                <key>sourceSize</key>
                <string>{20,43}</string>
            </dict>
            <key>darryl.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,517},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>darryl.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,215},{122,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>darryl.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{117,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,133}}</string>
                <key>sourceSize</key>
                <string>{123,133}</string>
            </dict>
            <key>darryl.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{75,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>darryl.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,149},{216,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{216,110}}</string>
                <key>sourceSize</key>
                <string>{218,114}</string>
            </dict>
            <key>darryl.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,295},{183,346}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{183,346}}</string>
                <key>sourceSize</key>
                <string>{213,356}</string>
            </dict>
            <key>darryl.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{292,291}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{292,291}}</string>
                <key>sourceSize</key>
                <string>{338,317}</string>
            </dict>
            <key>darryl.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,261},{203,204}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{203,204}}</string>
                <key>sourceSize</key>
                <string>{223,222}</string>
            </dict>
            <key>darryl.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,343},{142,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,21}}</string>
                <key>sourceSize</key>
                <string>{144,21}</string>
            </dict>
            <key>darryl.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,197},{144,129}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,129}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>darryl.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,366},{139,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,127}}</string>
                <key>sourceSize</key>
                <string>{139,127}</string>
            </dict>
            <key>darryl.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,395},{21,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,58}}</string>
                <key>sourceSize</key>
                <string>{21,58}</string>
            </dict>
            <key>darryl.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,637},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>darryl.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,452},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>darryl.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,385},{59,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{59,69}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>darryl.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,345},{42,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>darryl.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,385},{75,90}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{75,90}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>darryl.pvr.ccz</string>
            <key>size</key>
            <string>{1023,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f5c3c5fb6d17b59545fbe66ebb47a60$</string>
            <key>textureFileName</key>
            <string>darryl.pvr.ccz</string>
        </dict>
    </dict>
</plist>
