<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fb_hurt_htj.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,132},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>fb_hurt_htj.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,324}}</string>
                <key>sourceSize</key>
                <string>{252,324}</string>
            </dict>
            <key>fb_hurt_htj.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,260},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fb_hurt_htj.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fb_hurt_htj.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,326},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fb_hurt_htj.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fb_hurt_htj.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fb_hurt_htj-hd.pvr.ccz</string>
            <key>size</key>
            <string>{644,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f78f1e8b73bfaf264647b9d215f31db5$</string>
            <key>textureFileName</key>
            <string>fb_hurt_htj-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
