<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fb_hurt_hbc.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{640,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,209}}</string>
                <key>sourceSize</key>
                <string>{640,209}</string>
            </dict>
            <key>fb_hurt_hbc.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,436},{80,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,221}}</string>
                <key>sourceSize</key>
                <string>{80,221}</string>
            </dict>
            <key>fb_hurt_hbc.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,436},{80,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,221}}</string>
                <key>sourceSize</key>
                <string>{80,221}</string>
            </dict>
            <key>fb_hurt_hbc.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,727},{206,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,207}}</string>
                <key>sourceSize</key>
                <string>{206,207}</string>
            </dict>
            <key>fb_hurt_hbc.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,213},{80,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,221}}</string>
                <key>sourceSize</key>
                <string>{80,221}</string>
            </dict>
            <key>fb_hurt_hbc.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{183,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,174}}</string>
                <key>sourceSize</key>
                <string>{183,174}</string>
            </dict>
            <key>fb_hurt_hbc.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,755},{131,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,127}}</string>
                <key>sourceSize</key>
                <string>{131,127}</string>
            </dict>
            <key>fb_hurt_hbc.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,751}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,751}}</string>
                <key>sourceSize</key>
                <string>{244,751}</string>
            </dict>
            <key>fb_hurt_hbc.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,213},{80,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,221}}</string>
                <key>sourceSize</key>
                <string>{80,221}</string>
            </dict>
            <key>fb_hurt_hbc.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,213},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>fb_hurt_hbc.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,727},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fb_hurt_hbc-hd.pvr.ccz</string>
            <key>size</key>
            <string>{936,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da7697670e46c3ec0a4a3925340b5253$</string>
            <key>textureFileName</key>
            <string>fb_hurt_hbc-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
