<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flash.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,622},{62,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>flash.swf100.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,313},{86,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,105}}</string>
                <key>sourceSize</key>
                <string>{86,105}</string>
            </dict>
            <key>flash.swf102.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,628},{79,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,96}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>flash.swf104.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,562},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>flash.swf106.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,481},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>flash.swf108.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,305},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>flash.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,708},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>flash.swf110.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,232},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>flash.swf112.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,151},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>flash.swf114.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,649},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>flash.swf116.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,512},{64,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,115}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>flash.swf118.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,155},{64,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,115}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>flash.swf120.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,512},{64,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,115}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>flash.swf122.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,151},{64,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,115}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>flash.swf124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{213,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,120}}</string>
                <key>sourceSize</key>
                <string>{213,120}</string>
            </dict>
            <key>flash.swf126.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,396},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>flash.swf128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,55},{253,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,143}}</string>
                <key>sourceSize</key>
                <string>{253,143}</string>
            </dict>
            <key>flash.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,600},{21,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{21,41}</string>
            </dict>
            <key>flash.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,294},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>flash.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,481},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>flash.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,271},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{18,33}</string>
            </dict>
            <key>flash.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,643},{27,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,50}}</string>
                <key>sourceSize</key>
                <string>{27,50}</string>
            </dict>
            <key>flash.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,462},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>flash.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,643},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>flash.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,271},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>flash.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,664},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>flash.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,386},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>flash.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,667},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>flash.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,321},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>flash.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,643},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>flash.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,419},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{74,92}</string>
            </dict>
            <key>flash.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,642},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>flash.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,552},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>flash.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,694},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>flash.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,264},{67,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,40}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
            <key>flash.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,537},{98,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,129}}</string>
                <key>sourceSize</key>
                <string>{98,129}</string>
            </dict>
            <key>flash.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{345,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,53}}</string>
                <key>sourceSize</key>
                <string>{345,53}</string>
            </dict>
            <key>flash.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,306},{57,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,89}}</string>
                <key>sourceSize</key>
                <string>{57,89}</string>
            </dict>
            <key>flash.swf52.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,424},{108,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,87}}</string>
                <key>sourceSize</key>
                <string>{108,87}</string>
            </dict>
            <key>flash.swf54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,320},{216,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,109}}</string>
                <key>sourceSize</key>
                <string>{216,109}</string>
            </dict>
            <key>flash.swf56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,666},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>flash.swf58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,430},{206,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,106}}</string>
                <key>sourceSize</key>
                <string>{206,106}</string>
            </dict>
            <key>flash.swf60.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,628},{75,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,97}}</string>
                <key>sourceSize</key>
                <string>{75,97}</string>
            </dict>
            <key>flash.swf62.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,319},{115,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,113}}</string>
                <key>sourceSize</key>
                <string>{115,113}</string>
            </dict>
            <key>flash.swf64.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,500},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>flash.swf66.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,669},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>flash.swf68.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,702},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>flash.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,667},{88,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,40}</string>
            </dict>
            <key>flash.swf70.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,694},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>flash.swf72.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,205},{115,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,113}}</string>
                <key>sourceSize</key>
                <string>{115,113}</string>
            </dict>
            <key>flash.swf74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,537},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>flash.swf76.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,512},{42,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,136}}</string>
                <key>sourceSize</key>
                <string>{42,136}</string>
            </dict>
            <key>flash.swf78.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1},{90,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,153}}</string>
                <key>sourceSize</key>
                <string>{90,153}</string>
            </dict>
            <key>flash.swf80.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1},{95,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,149}}</string>
                <key>sourceSize</key>
                <string>{95,149}</string>
            </dict>
            <key>flash.swf82.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1},{95,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,149}}</string>
                <key>sourceSize</key>
                <string>{95,149}</string>
            </dict>
            <key>flash.swf84.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,55},{95,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,149}}</string>
                <key>sourceSize</key>
                <string>{95,149}</string>
            </dict>
            <key>flash.swf86.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1},{79,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,147}}</string>
                <key>sourceSize</key>
                <string>{79,147}</string>
            </dict>
            <key>flash.swf88.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,512},{72,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,151}}</string>
                <key>sourceSize</key>
                <string>{72,151}</string>
            </dict>
            <key>flash.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,267},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>flash.swf90.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,149},{26,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,144}}</string>
                <key>sourceSize</key>
                <string>{26,144}</string>
            </dict>
            <key>flash.swf92.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,433},{133,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,78}}</string>
                <key>sourceSize</key>
                <string>{133,78}</string>
            </dict>
            <key>flash.swf94.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,313},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>flash.swf96.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,512},{89,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,109}}</string>
                <key>sourceSize</key>
                <string>{89,109}</string>
            </dict>
            <key>flash.swf98.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,155},{87,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,108}}</string>
                <key>sourceSize</key>
                <string>{87,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flash-hd.pvr.ccz</string>
            <key>size</key>
            <string>{730,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c478eceb7f52928710259860412c83b0$</string>
            <key>textureFileName</key>
            <string>flash-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
