<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{254,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,78}}</string>
                <key>sourceSize</key>
                <string>{254,78}</string>
            </dict>
            <key>guang.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{255,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,90}}</string>
                <key>sourceSize</key>
                <string>{255,90}</string>
            </dict>
            <key>guang.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,185},{256,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,88}}</string>
                <key>sourceSize</key>
                <string>{256,88}</string>
            </dict>
            <key>guang.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,90}}</string>
                <key>sourceSize</key>
                <string>{257,90}</string>
            </dict>
            <key>guang.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{256,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,83}}</string>
                <key>sourceSize</key>
                <string>{256,83}</string>
            </dict>
            <key>guang.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,94},{256,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,89}}</string>
                <key>sourceSize</key>
                <string>{256,89}</string>
            </dict>
            <key>guang.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,363},{255,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,83}}</string>
                <key>sourceSize</key>
                <string>{255,83}</string>
            </dict>
            <key>guang.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{254,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,89}}</string>
                <key>sourceSize</key>
                <string>{254,89}</string>
            </dict>
            <key>guang.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,275},{256,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,86}}</string>
                <key>sourceSize</key>
                <string>{256,86}</string>
            </dict>
            <key>guang.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{256,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,89}}</string>
                <key>sourceSize</key>
                <string>{256,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guang-hd.pvr.ccz</string>
            <key>size</key>
            <string>{518,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60f4cd12e858e8bf565df0e7fa042530$</string>
            <key>textureFileName</key>
            <string>guang-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
