<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heshang.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,320},{66,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,22}}</string>
                <key>sourceSize</key>
                <string>{66,22}</string>
            </dict>
            <key>heshang.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{138,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,81}}</string>
                <key>sourceSize</key>
                <string>{138,81}</string>
            </dict>
            <key>heshang.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{45,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,81}}</string>
                <key>sourceSize</key>
                <string>{45,81}</string>
            </dict>
            <key>heshang.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,409},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>heshang.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,480},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>heshang.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,378},{63,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>heshang.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,303},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>heshang.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,300},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>heshang.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,320},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>heshang.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,364},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>heshang.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,400},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>heshang.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,300},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>heshang.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,378},{18,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,80}}</string>
                <key>sourceSize</key>
                <string>{18,80}</string>
            </dict>
            <key>heshang.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,400},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>heshang.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,464},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,49}}</string>
                <key>sourceSize</key>
                <string>{127,49}</string>
            </dict>
            <key>heshang.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,88}}</string>
                <key>sourceSize</key>
                <string>{264,88}</string>
            </dict>
            <key>heshang.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,350},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>heshang.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,92},{89,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,26}}</string>
                <key>sourceSize</key>
                <string>{89,26}</string>
            </dict>
            <key>heshang.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,85},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>heshang.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>heshang.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,351},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>heshang.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,462},{118,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,58}}</string>
                <key>sourceSize</key>
                <string>{118,58}</string>
            </dict>
            <key>heshang.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,214},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>heshang.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>heshang.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>heshang.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>heshang.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,205},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>heshang.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,120},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>heshang.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,344},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>heshang.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,131},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>heshang.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,320},{50,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,29}</string>
            </dict>
            <key>heshang.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,480},{51,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,37}}</string>
                <key>sourceSize</key>
                <string>{51,37}</string>
            </dict>
            <key>heshang.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,267},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>heshang.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,182},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>heshang.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,202},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>heshang.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,320},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>heshang.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,480},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>heshang.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,202},{77,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,116}}</string>
                <key>sourceSize</key>
                <string>{77,116}</string>
            </dict>
            <key>heshang.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,220},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>heshang.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,205},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>heshang.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,303},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{22,48}</string>
            </dict>
            <key>heshang.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,480},{105,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,37}}</string>
                <key>sourceSize</key>
                <string>{105,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heshang-hd.pvr.ccz</string>
            <key>size</key>
            <string>{522,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:963ebd429fba46a210ec24eb04396f0f$</string>
            <key>textureFileName</key>
            <string>heshang-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
