<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horse5.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>horse5.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,61},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>horse5.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1},{19,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,43}}</string>
                <key>sourceSize</key>
                <string>{19,43}</string>
            </dict>
            <key>horse5.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,45},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>horse5.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,79},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>horse5.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{73,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,59}}</string>
                <key>sourceSize</key>
                <string>{73,59}</string>
            </dict>
            <key>horse5.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,110},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>horse5.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,126},{15,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,33}}</string>
                <key>sourceSize</key>
                <string>{15,33}</string>
            </dict>
            <key>horse5.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,126},{13,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,27}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>horse5.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,104},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>horse5.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,61},{76,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,47}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>horse5.pvr.ccz</string>
            <key>size</key>
            <string>{143,143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f8b9adee43800792398c1d2cf9fa0f$</string>
            <key>textureFileName</key>
            <string>horse5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
