<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangshi.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>jiangshi.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,235},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>jiangshi.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,276},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>jiangshi.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{14,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,35}}</string>
                <key>sourceSize</key>
                <string>{14,35}</string>
            </dict>
            <key>jiangshi.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{22,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,6}}</string>
                <key>sourceSize</key>
                <string>{22,6}</string>
            </dict>
            <key>jiangshi.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,191},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>jiangshi.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,479},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>jiangshi.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,39},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>jiangshi.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,207},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>jiangshi.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,144},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>jiangshi.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,504},{18,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,6}}</string>
                <key>sourceSize</key>
                <string>{18,6}</string>
            </dict>
            <key>jiangshi.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,82},{82,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,123}}</string>
                <key>sourceSize</key>
                <string>{82,123}</string>
            </dict>
            <key>jiangshi.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,144},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>jiangshi.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{53,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,23}}</string>
                <key>sourceSize</key>
                <string>{53,23}</string>
            </dict>
            <key>jiangshi.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,235},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>jiangshi.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,479},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>jiangshi.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,284}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,284}}</string>
                <key>sourceSize</key>
                <string>{58,286}</string>
            </dict>
            <key>jiangshi.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{43,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,286}}</string>
                <key>sourceSize</key>
                <string>{45,286}</string>
            </dict>
            <key>jiangshi.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,360},{70,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{70,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>jiangshi.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,428},{70,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{70,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>jiangshi.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,288},{70,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>jiangshi.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{130,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{130,78}}</string>
                <key>sourceSize</key>
                <string>{138,86}</string>
            </dict>
            <key>jiangshi.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,180},{43,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,18}}</string>
                <key>sourceSize</key>
                <string>{43,18}</string>
            </dict>
            <key>jiangshi.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{132,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,74}}</string>
                <key>sourceSize</key>
                <string>{138,82}</string>
            </dict>
            <key>jiangshi.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,82},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>jiangshi.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{127,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,73}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiangshi-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1a069b7d45c9bc4c1a426f71437b0cc$</string>
            <key>textureFileName</key>
            <string>jiangshi-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
