<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuba.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,576},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>kuba.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,588},{96,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,76}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>kuba.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,309},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>kuba.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,510},{96,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,76}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>kuba.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,373},{101,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,97}}</string>
                <key>sourceSize</key>
                <string>{101,97}</string>
            </dict>
            <key>kuba.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,408},{101,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,88}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>kuba.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,75},{69,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,48}}</string>
                <key>sourceSize</key>
                <string>{69,48}</string>
            </dict>
            <key>kuba.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,289},{102,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{102,82}</string>
            </dict>
            <key>kuba.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,429},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>kuba.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{124,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,109}}</string>
                <key>sourceSize</key>
                <string>{124,109}</string>
            </dict>
            <key>kuba.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{124,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,109}}</string>
                <key>sourceSize</key>
                <string>{124,109}</string>
            </dict>
            <key>kuba.swf119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{124,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,109}}</string>
                <key>sourceSize</key>
                <string>{124,109}</string>
            </dict>
            <key>kuba.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,519},{98,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,54}}</string>
                <key>sourceSize</key>
                <string>{98,54}</string>
            </dict>
            <key>kuba.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,579},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>kuba.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{131,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,163}}</string>
                <key>sourceSize</key>
                <string>{131,163}</string>
            </dict>
            <key>kuba.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,588},{53,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,82}}</string>
                <key>sourceSize</key>
                <string>{53,82}</string>
            </dict>
            <key>kuba.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,248},{62,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{62,81}</string>
            </dict>
            <key>kuba.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,437},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>kuba.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,630},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>kuba.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,575},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>kuba.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,579},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>kuba.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,530},{96,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,47}}</string>
                <key>sourceSize</key>
                <string>{96,47}</string>
            </dict>
            <key>kuba.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,639},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>kuba.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,630},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>kuba.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,437},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>kuba.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,672},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>kuba.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,472},{88,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,56}}</string>
                <key>sourceSize</key>
                <string>{88,56}</string>
            </dict>
            <key>kuba.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,607},{89,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,46}}</string>
                <key>sourceSize</key>
                <string>{89,46}</string>
            </dict>
            <key>kuba.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,607},{89,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{89,57}</string>
            </dict>
            <key>kuba.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,201},{94,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,106}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>kuba.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,422},{69,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,81}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>kuba.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,511},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>kuba.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,579},{68,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,46}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>kuba.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,627},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>kuba.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,505},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>kuba.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>kuba.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,672},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>kuba.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,586},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>kuba.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,655},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>kuba.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,561},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>kuba.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,536},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>kuba.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,511},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>kuba.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,201},{115,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,86}}</string>
                <key>sourceSize</key>
                <string>{115,86}</string>
            </dict>
            <key>kuba.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,238},{114,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,72}}</string>
                <key>sourceSize</key>
                <string>{114,72}</string>
            </dict>
            <key>kuba.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,223},{115,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,86}}</string>
                <key>sourceSize</key>
                <string>{115,86}</string>
            </dict>
            <key>kuba.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,311},{83,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,109}}</string>
                <key>sourceSize</key>
                <string>{83,109}</string>
            </dict>
            <key>kuba.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,476},{98,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,129}}</string>
                <key>sourceSize</key>
                <string>{98,129}</string>
            </dict>
            <key>kuba.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,312},{115,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,86}}</string>
                <key>sourceSize</key>
                <string>{115,86}</string>
            </dict>
            <key>kuba.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,135},{115,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,86}}</string>
                <key>sourceSize</key>
                <string>{115,86}</string>
            </dict>
            <key>kuba.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,312},{115,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,86}}</string>
                <key>sourceSize</key>
                <string>{115,86}</string>
            </dict>
            <key>kuba.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,150},{115,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,86}}</string>
                <key>sourceSize</key>
                <string>{115,86}</string>
            </dict>
            <key>kuba.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,320},{115,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,86}}</string>
                <key>sourceSize</key>
                <string>{115,86}</string>
            </dict>
            <key>kuba.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,113},{115,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,86}}</string>
                <key>sourceSize</key>
                <string>{115,86}</string>
            </dict>
            <key>kuba.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{161,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,152}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>kuba.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,125},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>kuba.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{159,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,146}}</string>
                <key>sourceSize</key>
                <string>{159,146}</string>
            </dict>
            <key>kuba.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{145,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,154}}</string>
                <key>sourceSize</key>
                <string>{145,154}</string>
            </dict>
            <key>kuba.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,162}}</string>
                <key>sourceSize</key>
                <string>{169,162}</string>
            </dict>
            <key>kuba.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,150},{96,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,76}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>kuba.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,429},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuba-hd.pvr.ccz</string>
            <key>size</key>
            <string>{698,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bae0787517ffc53e4316b7181ca3de6f$</string>
            <key>textureFileName</key>
            <string>kuba-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
