<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ling2.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,454},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>ling2.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,586},{95,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,94}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>ling2.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,643},{87,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,94}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>ling2.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{87,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{87,96}}</string>
                <key>sourceSize</key>
                <string>{91,98}</string>
            </dict>
            <key>ling2.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{76,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>ling2.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,555},{96,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,86}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>ling2.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,648},{85,92}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{85,92}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>ling2.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{85,92}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{85,92}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>ling2.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,682},{84,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,92}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>ling2.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,212},{114,159}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{114,159}}</string>
                <key>sourceSize</key>
                <string>{118,167}</string>
            </dict>
            <key>ling2.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,115},{118,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,161}}</string>
                <key>sourceSize</key>
                <string>{118,167}</string>
            </dict>
            <key>ling2.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,492},{92,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,96}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>ling2.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{114,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,161}}</string>
                <key>sourceSize</key>
                <string>{118,167}</string>
            </dict>
            <key>ling2.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,328},{114,159}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{114,159}}</string>
                <key>sourceSize</key>
                <string>{118,167}</string>
            </dict>
            <key>ling2.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{114,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{114,159}}</string>
                <key>sourceSize</key>
                <string>{118,167}</string>
            </dict>
            <key>ling2.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,235},{114,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{114,161}}</string>
                <key>sourceSize</key>
                <string>{118,167}</string>
            </dict>
            <key>ling2.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{116,163}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,163}}</string>
                <key>sourceSize</key>
                <string>{118,167}</string>
            </dict>
            <key>ling2.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,112},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>ling2.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,454},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>ling2.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,493},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ling2.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,585},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>ling2.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,462},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>ling2.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{95,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,96}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>ling2.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,520},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,59}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>ling2.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{111,170}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{111,170}}</string>
                <key>sourceSize</key>
                <string>{127,200}</string>
            </dict>
            <key>ling2.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,351},{101,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,158}}</string>
                <key>sourceSize</key>
                <string>{101,158}</string>
            </dict>
            <key>ling2.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,183}}</string>
                <key>sourceSize</key>
                <string>{108,183}</string>
            </dict>
            <key>ling2.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,109},{101,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,140}}</string>
                <key>sourceSize</key>
                <string>{101,140}</string>
            </dict>
            <key>ling2.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,444},{109,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,153}}</string>
                <key>sourceSize</key>
                <string>{109,153}</string>
            </dict>
            <key>ling2.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{105,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,141}}</string>
                <key>sourceSize</key>
                <string>{105,141}</string>
            </dict>
            <key>ling2.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,732},{90,91}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,91}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>ling2.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,555},{95,91}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,91}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ling2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{511,824}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df1a4b8375d806b57d804ece175cf7ca$</string>
            <key>textureFileName</key>
            <string>ling2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
