<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>long.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,689},{62,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>long.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,163},{79,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,34}}</string>
                <key>sourceSize</key>
                <string>{79,34}</string>
            </dict>
            <key>long.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,509},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>long.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,461},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>long.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,194},{67,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,49}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>long.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,663},{42,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,79}}</string>
                <key>sourceSize</key>
                <string>{42,79}</string>
            </dict>
            <key>long.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,400},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>long.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,327},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>long.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,557},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>long.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,679},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>long.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,130},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>long.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,663},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>long.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,515},{69,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,173}}</string>
                <key>sourceSize</key>
                <string>{69,173}</string>
            </dict>
            <key>long.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1},{155,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,58}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>long.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,515},{183,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,162}}</string>
                <key>sourceSize</key>
                <string>{183,162}</string>
            </dict>
            <key>long.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,679},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>long.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,679},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>long.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,579},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>long.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,387},{71,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,97}}</string>
                <key>sourceSize</key>
                <string>{71,97}</string>
            </dict>
            <key>long.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,515},{147,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,97}}</string>
                <key>sourceSize</key>
                <string>{147,97}</string>
            </dict>
            <key>long.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,509},{49,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,34}}</string>
                <key>sourceSize</key>
                <string>{49,34}</string>
            </dict>
            <key>long.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,544},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>long.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,679},{45,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,21}}</string>
                <key>sourceSize</key>
                <string>{45,21}</string>
            </dict>
            <key>long.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,454},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>long.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,387},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{42,66}</string>
            </dict>
            <key>long.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,515},{163,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,156}}</string>
                <key>sourceSize</key>
                <string>{163,156}</string>
            </dict>
            <key>long.swf58.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,609},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>long.swf60.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,258},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>long.swf62.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,258},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>long.swf64.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,502},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>long.swf66.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>long.swf68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>long.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,663},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>long.swf70.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,130},{114,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,99}</string>
            </dict>
            <key>long.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,262},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>long.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>long.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>long.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,157},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>long-hd.pvr.ccz</string>
            <key>size</key>
            <string>{710,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:161804d2a73d1bc6e1a463b474608bd7$</string>
            <key>textureFileName</key>
            <string>long-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
