<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvjianxia2.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,70},{101,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
            <key>lvjianxia2.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,307},{134,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,82}}</string>
                <key>sourceSize</key>
                <string>{134,82}</string>
            </dict>
            <key>lvjianxia2.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,0},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
            <key>lvjianxia2.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,389},{140,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,86}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>lvjianxia2.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,66},{94,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,129}}</string>
                <key>sourceSize</key>
                <string>{94,129}</string>
            </dict>
            <key>lvjianxia2.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,694},{94,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,129}}</string>
                <key>sourceSize</key>
                <string>{94,129}</string>
            </dict>
            <key>lvjianxia2.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,394},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>lvjianxia2.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,713},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,81}}</string>
                <key>sourceSize</key>
                <string>{160,81}</string>
            </dict>
            <key>lvjianxia2.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,292},{94,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,129}}</string>
                <key>sourceSize</key>
                <string>{94,129}</string>
            </dict>
            <key>lvjianxia2.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,553},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,81}}</string>
                <key>sourceSize</key>
                <string>{160,81}</string>
            </dict>
            <key>lvjianxia2.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,0},{94,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,129}}</string>
                <key>sourceSize</key>
                <string>{94,129}</string>
            </dict>
            <key>lvjianxia2.swf119.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,70},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,81}}</string>
                <key>sourceSize</key>
                <string>{160,81}</string>
            </dict>
            <key>lvjianxia2.swf121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,553},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,81}}</string>
                <key>sourceSize</key>
                <string>{160,81}</string>
            </dict>
            <key>lvjianxia2.swf123.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,399},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>lvjianxia2.swf125.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,297},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>lvjianxia2.swf127.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,336},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>lvjianxia2.swf129.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,234},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>lvjianxia2.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,501},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>lvjianxia2.swf131.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,292},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>lvjianxia2.swf133.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,292},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>lvjianxia2.swf135.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,773},{71,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{71,33}</string>
            </dict>
            <key>lvjianxia2.swf137.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,679},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>lvjianxia2.swf139.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,160},{128,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,51}}</string>
                <key>sourceSize</key>
                <string>{128,51}</string>
            </dict>
            <key>lvjianxia2.swf141.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,569},{66,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,95}}</string>
                <key>sourceSize</key>
                <string>{66,95}</string>
            </dict>
            <key>lvjianxia2.swf143.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,0},{173,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,66}}</string>
                <key>sourceSize</key>
                <string>{173,66}</string>
            </dict>
            <key>lvjianxia2.swf145.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,196},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>lvjianxia2.swf147.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>lvjianxia2.swf149.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,394},{64,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,104}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>lvjianxia2.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,223},{43,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,30}}</string>
                <key>sourceSize</key>
                <string>{43,30}</string>
            </dict>
            <key>lvjianxia2.swf151.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,94},{63,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,102}}</string>
                <key>sourceSize</key>
                <string>{63,102}</string>
            </dict>
            <key>lvjianxia2.swf153.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,619},{61,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,99}}</string>
                <key>sourceSize</key>
                <string>{61,99}</string>
            </dict>
            <key>lvjianxia2.swf155.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,590},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>lvjianxia2.swf157.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,482},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>lvjianxia2.swf159.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,186},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>lvjianxia2.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,171},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>lvjianxia2.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,268},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>lvjianxia2.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{181,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,148}}</string>
                <key>sourceSize</key>
                <string>{181,148}</string>
            </dict>
            <key>lvjianxia2.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,752},{91,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{91,71}</string>
            </dict>
            <key>lvjianxia2.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{144,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,17}}</string>
                <key>sourceSize</key>
                <string>{144,17}</string>
            </dict>
            <key>lvjianxia2.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,501},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>lvjianxia2.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,773},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>lvjianxia2.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,211},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>lvjianxia2.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,662},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>lvjianxia2.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,662},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>lvjianxia2.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,806},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>lvjianxia2.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,811},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>lvjianxia2.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,680},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>lvjianxia2.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,551},{143,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,52}}</string>
                <key>sourceSize</key>
                <string>{143,52}</string>
            </dict>
            <key>lvjianxia2.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,806},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>lvjianxia2.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,769},{93,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,59}}</string>
                <key>sourceSize</key>
                <string>{93,59}</string>
            </dict>
            <key>lvjianxia2.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,386},{105,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,64}}</string>
                <key>sourceSize</key>
                <string>{105,64}</string>
            </dict>
            <key>lvjianxia2.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,551},{111,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,68}}</string>
                <key>sourceSize</key>
                <string>{111,68}</string>
            </dict>
            <key>lvjianxia2.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,151},{164,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,72}}</string>
                <key>sourceSize</key>
                <string>{164,72}</string>
            </dict>
            <key>lvjianxia2.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,165},{113,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,69}}</string>
                <key>sourceSize</key>
                <string>{113,69}</string>
            </dict>
            <key>lvjianxia2.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,553},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>lvjianxia2.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,738},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>lvjianxia2.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,482},{29,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,14}}</string>
                <key>sourceSize</key>
                <string>{29,14}</string>
            </dict>
            <key>lvjianxia2.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,234},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>lvjianxia2.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,680},{93,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,84}}</string>
                <key>sourceSize</key>
                <string>{93,84}</string>
            </dict>
            <key>lvjianxia2.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,526},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>lvjianxia2.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,551},{170,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,69}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>lvjianxia2.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,458},{95,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,99}}</string>
                <key>sourceSize</key>
                <string>{95,99}</string>
            </dict>
            <key>lvjianxia2.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,223},{170,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,69}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>lvjianxia2.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,186},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>lvjianxia2.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,569},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>lvjianxia2.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,553},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>lvjianxia2.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,662},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>lvjianxia2.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,211},{81,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,113}}</string>
                <key>sourceSize</key>
                <string>{81,113}</string>
            </dict>
            <key>lvjianxia2.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,649},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>lvjianxia2.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,721},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>lvjianxia2.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,664},{63,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,98}}</string>
                <key>sourceSize</key>
                <string>{63,98}</string>
            </dict>
            <key>lvjianxia2.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,769},{63,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>lvjianxia2.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,450},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>lvjianxia2.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,438},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>lvjianxia2.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,66},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
            <key>lvjianxia2.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,94},{114,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,71}}</string>
                <key>sourceSize</key>
                <string>{114,71}</string>
            </dict>
            <key>lvjianxia2.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
            <key>lvjianxia2.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,475},{138,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{138,76}</string>
            </dict>
            <key>lvjianxia2.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,394},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>lvjianxia2.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvjianxia2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{832,832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3a4e3dab2d5e69b246a322c49c8981d$</string>
            <key>textureFileName</key>
            <string>lvjianxia2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
