<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magneto.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,714},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>magneto.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,395},{194,173}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{194,173}}</string>
                <key>sourceSize</key>
                <string>{204,177}</string>
            </dict>
            <key>magneto.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,429},{187,148}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{187,148}}</string>
                <key>sourceSize</key>
                <string>{209,154}</string>
            </dict>
            <key>magneto.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,885},{138,131}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{138,131}}</string>
                <key>sourceSize</key>
                <string>{158,141}</string>
            </dict>
            <key>magneto.swf108.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,606},{163,106}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{163,106}}</string>
                <key>sourceSize</key>
                <string>{185,170}</string>
            </dict>
            <key>magneto.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,645},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>magneto.swf110.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,718},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>magneto.swf112.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,844},{68,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>magneto.swf114.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,685},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>magneto.swf116.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,557},{98,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{98,125}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>magneto.swf118.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{201,215}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{201,215}}</string>
                <key>sourceSize</key>
                <string>{215,257}</string>
            </dict>
            <key>magneto.swf120.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,202},{226,225}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{226,225}}</string>
                <key>sourceSize</key>
                <string>{234,259}</string>
            </dict>
            <key>magneto.swf122.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,110},{238,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{238,236}}</string>
                <key>sourceSize</key>
                <string>{248,240}</string>
            </dict>
            <key>magneto.swf124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{189,244}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{189,244}}</string>
                <key>sourceSize</key>
                <string>{199,248}</string>
            </dict>
            <key>magneto.swf126.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,718},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>magneto.swf128.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,570},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>magneto.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,684},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>magneto.swf130.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,660},{59,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,45}}</string>
                <key>sourceSize</key>
                <string>{59,45}</string>
            </dict>
            <key>magneto.swf132.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,966},{68,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,35}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
            <key>magneto.swf134.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,773},{119,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{167,110}</string>
            </dict>
            <key>magneto.swf136.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,718},{63,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{63,159}}</string>
                <key>sourceSize</key>
                <string>{83,161}</string>
            </dict>
            <key>magneto.swf138.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,713},{150,146}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,146}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
            <key>magneto.swf140.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,885},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{167,110}</string>
            </dict>
            <key>magneto.swf142.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,773},{113,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{113,110}}</string>
                <key>sourceSize</key>
                <string>{167,110}</string>
            </dict>
            <key>magneto.swf144.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,861},{144,143}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{144,143}}</string>
                <key>sourceSize</key>
                <string>{152,149}</string>
            </dict>
            <key>magneto.swf146.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,703},{139,139}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{139,139}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>magneto.swf148.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{129,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{129,136}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>magneto.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,395},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>magneto.swf150.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,885},{120,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{120,114}}</string>
                <key>sourceSize</key>
                <string>{128,124}</string>
            </dict>
            <key>magneto.swf152.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,218},{88,86}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{88,86}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>magneto.swf154.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,570},{131,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,34}}</string>
                <key>sourceSize</key>
                <string>{131,34}</string>
            </dict>
            <key>magneto.swf156.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{169,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{169,153}}</string>
                <key>sourceSize</key>
                <string>{173,157}</string>
            </dict>
            <key>magneto.swf159.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,752},{109,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,28}}</string>
                <key>sourceSize</key>
                <string>{109,28}</string>
            </dict>
            <key>magneto.swf161.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,532},{99,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,23}}</string>
                <key>sourceSize</key>
                <string>{99,23}</string>
            </dict>
            <key>magneto.swf163.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,348},{195,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{195,175}}</string>
                <key>sourceSize</key>
                <string>{199,177}</string>
            </dict>
            <key>magneto.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,579},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>magneto.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,464},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>magneto.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,497},{31,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,58}}</string>
                <key>sourceSize</key>
                <string>{31,58}</string>
            </dict>
            <key>magneto.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,660},{57,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,41}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>magneto.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,370},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>magneto.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,324},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>magneto.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,434},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>magneto.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,579},{165,137}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,137}}</string>
                <key>sourceSize</key>
                <string>{167,137}</string>
            </dict>
            <key>magneto.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,718},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>magneto.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,782},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>magneto.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,660},{57,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,41}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>magneto.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,525},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>magneto.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,525},{166,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,133}}</string>
                <key>sourceSize</key>
                <string>{166,133}</string>
            </dict>
            <key>magneto.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{164,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,129}}</string>
                <key>sourceSize</key>
                <string>{164,129}</string>
            </dict>
            <key>magneto.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>magneto.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,394},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>magneto.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,436},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>magneto.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,605},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>magneto.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,348},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>magneto.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,437},{31,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,58}}</string>
                <key>sourceSize</key>
                <string>{31,58}</string>
            </dict>
            <key>magneto.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,481},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>magneto.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,752},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>magneto.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,622},{68,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,89}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>magneto.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,684},{68,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,87}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>magneto.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,263},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>magneto.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,202},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>magneto.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,657},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,40}}</string>
                <key>sourceSize</key>
                <string>{70,42}</string>
            </dict>
            <key>magneto.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,745},{50,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,72}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>magneto.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,522},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>magneto.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,557},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>magneto.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,927},{68,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{68,37}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>magneto.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,549},{69,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{69,36}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>magneto.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,513},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,42}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>magneto.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,655},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{64,40}}</string>
                <key>sourceSize</key>
                <string>{70,42}</string>
            </dict>
            <key>magneto.swf80.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,587},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>magneto.swf82.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{256,106}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{256,106}}</string>
                <key>sourceSize</key>
                <string>{294,114}</string>
            </dict>
            <key>magneto.swf84.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,557},{69,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{69,63}}</string>
                <key>sourceSize</key>
                <string>{83,77}</string>
            </dict>
            <key>magneto.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,459},{76,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,71}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>magneto.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,382},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,75}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>magneto.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,714},{52,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,31}</string>
            </dict>
            <key>magneto.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,306},{85,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,74}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>magneto.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,697},{59,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,36}}</string>
                <key>sourceSize</key>
                <string>{59,36}</string>
            </dict>
            <key>magneto.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{273,198}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,198}}</string>
                <key>sourceSize</key>
                <string>{283,198}</string>
            </dict>
            <key>magneto.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{279,214}}</string>
                <key>sourceSize</key>
                <string>{279,216}</string>
            </dict>
            <key>magneto.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,219},{219,174}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{219,174}}</string>
                <key>sourceSize</key>
                <string>{235,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magneto-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e21b5556a1424fed1ad4711695cc2cc6$</string>
            <key>textureFileName</key>
            <string>magneto-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
