<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nanpingmin5.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>nanpingmin5.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,97},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,46}}</string>
                <key>sourceSize</key>
                <string>{27,48}</string>
            </dict>
            <key>nanpingmin5.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,40},{21,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,39}}</string>
                <key>sourceSize</key>
                <string>{21,39}</string>
            </dict>
            <key>nanpingmin5.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>nanpingmin5.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,75},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>nanpingmin5.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,81},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>nanpingmin5.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>nanpingmin5.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{101,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,33}}</string>
                <key>sourceSize</key>
                <string>{101,33}</string>
            </dict>
            <key>nanpingmin5.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,215},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>nanpingmin5.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,215},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>nanpingmin5.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,147},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>nanpingmin5.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,205},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>nanpingmin5.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,110},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>nanpingmin5.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>nanpingmin5.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,187},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nanpingmin5.pvr.ccz</string>
            <key>size</key>
            <string>{128,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d59eb6261c8319871497d824aea17677$</string>
            <key>textureFileName</key>
            <string>nanpingmin5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
