<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nezha.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,625},{62,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>nezha.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,719},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>nezha.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{95,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,109}}</string>
                <key>sourceSize</key>
                <string>{95,109}</string>
            </dict>
            <key>nezha.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,631},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>nezha.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{184,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,155}}</string>
                <key>sourceSize</key>
                <string>{184,155}</string>
            </dict>
            <key>nezha.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{184,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,155}}</string>
                <key>sourceSize</key>
                <string>{184,155}</string>
            </dict>
            <key>nezha.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{280,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,117}}</string>
                <key>sourceSize</key>
                <string>{280,117}</string>
            </dict>
            <key>nezha.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{184,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,155}}</string>
                <key>sourceSize</key>
                <string>{184,155}</string>
            </dict>
            <key>nezha.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{184,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,155}}</string>
                <key>sourceSize</key>
                <string>{184,155}</string>
            </dict>
            <key>nezha.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{184,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,155}}</string>
                <key>sourceSize</key>
                <string>{184,155}</string>
            </dict>
            <key>nezha.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,806},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>nezha.swf119.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,853},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>nezha.swf121.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,642},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>nezha.swf123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,213}}</string>
                <key>sourceSize</key>
                <string>{212,213}</string>
            </dict>
            <key>nezha.swf125.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,113},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>nezha.swf127.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,724},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>nezha.swf129.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,159},{151,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,169}}</string>
                <key>sourceSize</key>
                <string>{151,169}</string>
            </dict>
            <key>nezha.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,805},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>nezha.swf131.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,217},{194,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,101}}</string>
                <key>sourceSize</key>
                <string>{194,101}</string>
            </dict>
            <key>nezha.swf133.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,271},{179,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,105}}</string>
                <key>sourceSize</key>
                <string>{179,105}</string>
            </dict>
            <key>nezha.swf135.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,159},{182,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,110}}</string>
                <key>sourceSize</key>
                <string>{182,110}</string>
            </dict>
            <key>nezha.swf137.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,159},{179,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,110}}</string>
                <key>sourceSize</key>
                <string>{179,110}</string>
            </dict>
            <key>nezha.swf139.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,391},{157,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,118}}</string>
                <key>sourceSize</key>
                <string>{157,118}</string>
            </dict>
            <key>nezha.swf141.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,378},{159,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,119}}</string>
                <key>sourceSize</key>
                <string>{159,119}</string>
            </dict>
            <key>nezha.swf143.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,271},{166,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,118}}</string>
                <key>sourceSize</key>
                <string>{166,118}</string>
            </dict>
            <key>nezha.swf145.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,316},{143,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,114}}</string>
                <key>sourceSize</key>
                <string>{143,114}</string>
            </dict>
            <key>nezha.swf147.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,614},{103,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,111}}</string>
                <key>sourceSize</key>
                <string>{103,111}</string>
            </dict>
            <key>nezha.swf149.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,720},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>nezha.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,457},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>nezha.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,457},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>nezha.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,457},{62,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>nezha.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,505},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>nezha.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,802},{43,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,25}}</string>
                <key>sourceSize</key>
                <string>{43,25}</string>
            </dict>
            <key>nezha.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,113},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>nezha.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,724},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>nezha.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,271},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>nezha.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,544},{96,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,113}</string>
            </dict>
            <key>nezha.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,699},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>nezha.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,739},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>nezha.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,676},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>nezha.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,416},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>nezha.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,689},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>nezha.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,625},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>nezha.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,653},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>nezha.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,840},{29,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,53}}</string>
                <key>sourceSize</key>
                <string>{29,53}</string>
            </dict>
            <key>nezha.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,511},{107,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,43}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>nezha.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,812},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>nezha.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,631},{103,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,121}}</string>
                <key>sourceSize</key>
                <string>{103,121}</string>
            </dict>
            <key>nezha.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,805},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,77}}</string>
                <key>sourceSize</key>
                <string>{48,77}</string>
            </dict>
            <key>nezha.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,432},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>nezha.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,805},{64,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,23}}</string>
                <key>sourceSize</key>
                <string>{64,23}</string>
            </dict>
            <key>nezha.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,797},{81,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,43}}</string>
                <key>sourceSize</key>
                <string>{81,43}</string>
            </dict>
            <key>nezha.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,714},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>nezha.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,742},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>nezha.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,544},{82,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>nezha.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,812},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>nezha.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,620},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>nezha.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,812},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>nezha.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,432},{110,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,132}}</string>
                <key>sourceSize</key>
                <string>{110,132}</string>
            </dict>
            <key>nezha.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,765},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>nezha.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,413},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>nezha.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,391},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>nezha.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,628},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>nezha.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,842},{27,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,57}}</string>
                <key>sourceSize</key>
                <string>{27,57}</string>
            </dict>
            <key>nezha.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,499},{126,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,155}}</string>
                <key>sourceSize</key>
                <string>{126,155}</string>
            </dict>
            <key>nezha.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,672},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>nezha.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,656},{127,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,154}}</string>
                <key>sourceSize</key>
                <string>{127,154}</string>
            </dict>
            <key>nezha.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,806},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>nezha.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,330},{125,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,151}}</string>
                <key>sourceSize</key>
                <string>{125,151}</string>
            </dict>
            <key>nezha.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,159},{127,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,155}}</string>
                <key>sourceSize</key>
                <string>{127,155}</string>
            </dict>
            <key>nezha.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,499},{112,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,130}}</string>
                <key>sourceSize</key>
                <string>{112,130}</string>
            </dict>
            <key>nezha.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,642},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>nezha.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,499},{108,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,124}}</string>
                <key>sourceSize</key>
                <string>{108,124}</string>
            </dict>
            <key>nezha.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,754},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>nezha.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,511},{101,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,122}}</string>
                <key>sourceSize</key>
                <string>{101,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nezha-hd.pvr.ccz</string>
            <key>size</key>
            <string>{871,871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78051005c66d442fa63ffb3489b7908a$</string>
            <key>textureFileName</key>
            <string>nezha-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
