<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nidehuoge.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,485},{62,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>nidehuoge.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,232},{48,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,95}}</string>
                <key>sourceSize</key>
                <string>{48,95}</string>
            </dict>
            <key>nidehuoge.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1},{140,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,147}}</string>
                <key>sourceSize</key>
                <string>{140,147}</string>
            </dict>
            <key>nidehuoge.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,213}}</string>
                <key>sourceSize</key>
                <string>{250,213}</string>
            </dict>
            <key>nidehuoge.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,132},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>nidehuoge.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,149},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>nidehuoge.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,391},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>nidehuoge.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,368},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>nidehuoge.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,149},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>nidehuoge.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,215},{116,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,152}}</string>
                <key>sourceSize</key>
                <string>{116,152}</string>
            </dict>
            <key>nidehuoge.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,400},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>nidehuoge.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,397},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>nidehuoge.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,328},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>nidehuoge.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,460},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>nidehuoge.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,479},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>nidehuoge.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,449},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>nidehuoge.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,132},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>nidehuoge.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,478},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>nidehuoge.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,464},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>nidehuoge.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,187},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>nidehuoge.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,230},{109,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,107}}</string>
                <key>sourceSize</key>
                <string>{109,107}</string>
            </dict>
            <key>nidehuoge.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,50},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>nidehuoge.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,363},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>nidehuoge.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,464},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>nidehuoge.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1},{18,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,48}}</string>
                <key>sourceSize</key>
                <string>{18,48}</string>
            </dict>
            <key>nidehuoge.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,427},{95,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,77}}</string>
                <key>sourceSize</key>
                <string>{95,77}</string>
            </dict>
            <key>nidehuoge.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,129},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>nidehuoge.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,438},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>nidehuoge.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,335},{80,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,91}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>nidehuoge.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,232},{48,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,90}}</string>
                <key>sourceSize</key>
                <string>{48,90}</string>
            </dict>
            <key>nidehuoge.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,449},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>nidehuoge.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,338},{115,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,61}}</string>
                <key>sourceSize</key>
                <string>{115,61}</string>
            </dict>
            <key>nidehuoge.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,433},{20,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,71}}</string>
                <key>sourceSize</key>
                <string>{20,71}</string>
            </dict>
            <key>nidehuoge.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,449},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>nidehuoge.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,173},{56,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,37}}</string>
                <key>sourceSize</key>
                <string>{56,37}</string>
            </dict>
            <key>nidehuoge.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,433},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>nidehuoge.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,328},{33,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,62}}</string>
                <key>sourceSize</key>
                <string>{33,62}</string>
            </dict>
            <key>nidehuoge.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{115,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,61}}</string>
                <key>sourceSize</key>
                <string>{115,61}</string>
            </dict>
            <key>nidehuoge.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,331},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>nidehuoge.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,346},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>nidehuoge.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,213},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>nidehuoge.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,346},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>nidehuoge.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,433},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>nidehuoge.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,363},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>nidehuoge.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,363},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>nidehuoge.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,213},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>nidehuoge.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,230},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>nidehuoge.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,230},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>nidehuoge.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,202},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>nidehuoge.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,215},{217,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,217}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>nidehuoge.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>nidehuoge.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,128},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>nidehuoge.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1},{123,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,126}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>nidehuoge.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,464},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>nidehuoge.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1},{134,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,142}}</string>
                <key>sourceSize</key>
                <string>{134,142}</string>
            </dict>
            <key>nidehuoge.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{134,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,130}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>nidehuoge.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1},{133,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,127}}</string>
                <key>sourceSize</key>
                <string>{133,127}</string>
            </dict>
            <key>nidehuoge.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,128},{106,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,103}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>nidehuoge.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,232},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nidehuoge-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1149,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:258d41e2780e8e8a9abd262e89e92172$</string>
            <key>textureFileName</key>
            <string>nidehuoge-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
