<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangnanpingmin3.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{120,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{120,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>pangnanpingmin3.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,161},{112,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,131}</string>
            </dict>
            <key>pangnanpingmin3.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{73,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>pangnanpingmin3.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,294},{71,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,35}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>pangnanpingmin3.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,76},{73,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>pangnanpingmin3.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>pangnanpingmin3.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,132}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{145,132}}</string>
                <key>sourceSize</key>
                <string>{149,140}</string>
            </dict>
            <key>pangnanpingmin3.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>pangnanpingmin3.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,59},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>pangnanpingmin3.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,228},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>pangnanpingmin3.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{29,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,55}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>pangnanpingmin3.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,176},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pangnanpingmin3.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef524009ecdb4f410887d041dc4fe9e0$</string>
            <key>textureFileName</key>
            <string>pangnanpingmin3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
