<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangnanpingmin8.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{120,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{120,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>pangnanpingmin8.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,161},{110,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,131}}</string>
                <key>sourceSize</key>
                <string>{112,131}</string>
            </dict>
            <key>pangnanpingmin8.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{73,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>pangnanpingmin8.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{69,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,57}}</string>
                <key>sourceSize</key>
                <string>{69,59}</string>
            </dict>
            <key>pangnanpingmin8.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,76},{73,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>pangnanpingmin8.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>pangnanpingmin8.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,132}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{145,132}}</string>
                <key>sourceSize</key>
                <string>{149,140}</string>
            </dict>
            <key>pangnanpingmin8.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>pangnanpingmin8.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,59},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>pangnanpingmin8.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,226},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>pangnanpingmin8.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{29,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,55}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>pangnanpingmin8.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,176},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pangnanpingmin8.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:588fe71dbd7a865d8371043c1277a7f6$</string>
            <key>textureFileName</key>
            <string>pangnanpingmin8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
