<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>puer.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,166},{33,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,10}}</string>
                <key>sourceSize</key>
                <string>{35,10}</string>
            </dict>
            <key>puer.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,252},{71,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{71,51}}</string>
                <key>sourceSize</key>
                <string>{81,61}</string>
            </dict>
            <key>puer.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,495},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>puer.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,380},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>puer.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,516},{34,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,37}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>puer.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,351},{47,43}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{47,43}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>puer.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,396},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>puer.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{44,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{44,44}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>puer.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,445},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>puer.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,166},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>puer.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,299},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>puer.swf119.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,414},{39,36}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{39,36}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>puer.swf121.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,233},{53,64}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{53,64}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>puer.swf123.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,28},{25,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,59}}</string>
                <key>sourceSize</key>
                <string>{29,59}</string>
            </dict>
            <key>puer.swf125.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,166},{29,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,65}}</string>
                <key>sourceSize</key>
                <string>{29,65}</string>
            </dict>
            <key>puer.swf127.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,451},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>puer.swf129.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,525},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>puer.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,125},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>puer.swf131.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,414},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>puer.swf133.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,166},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>puer.swf135.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,492},{33,62}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{33,62}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>puer.swf137.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,109},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>puer.swf139.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,288},{97,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>puer.swf141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{80,118}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{80,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>puer.swf143.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,93},{107,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,93}}</string>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>puer.swf145.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,380},{63,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{63,84}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>puer.swf147.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,305},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>puer.swf149.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,288},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>puer.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,319},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>puer.swf151.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,188},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{98,98}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>puer.swf153.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>puer.swf155.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,225},{20,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{20,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>puer.swf157.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,237},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>puer.swf159.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>puer.swf161.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,444},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>puer.swf163.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,166},{62,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>puer.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,452},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>puer.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,445},{72,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,45}}</string>
                <key>sourceSize</key>
                <string>{72,45}</string>
            </dict>
            <key>puer.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,169},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>puer.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,508},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>puer.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,341},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>puer.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,452},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>puer.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,492},{41,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,68}}</string>
                <key>sourceSize</key>
                <string>{41,68}</string>
            </dict>
            <key>puer.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,109},{51,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,74}}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
            <key>puer.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,490},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>puer.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,303},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>puer.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>puer.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,289},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>puer.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,303},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>puer.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,537},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>puer.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,380},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>puer.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,305},{58,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,17}}</string>
                <key>sourceSize</key>
                <string>{58,17}</string>
            </dict>
            <key>puer.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,262},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>puer.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,355},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>puer.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{176,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,24}}</string>
                <key>sourceSize</key>
                <string>{176,24}</string>
            </dict>
            <key>puer.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,503},{58,50}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{58,50}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>puer.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,299},{50,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{50,60}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>puer.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,504},{56,52}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{56,52}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>puer.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,504},{56,52}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,52}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>puer.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,504},{56,40}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,40}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>puer.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,446},{56,40}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,40}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>puer.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,446},{56,40}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>puer.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>puer.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,73},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>puer.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,354},{59,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>puer.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,166},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>puer.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,73},{50,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>puer.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{69,116}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{69,116}}</string>
                <key>sourceSize</key>
                <string>{79,126}</string>
            </dict>
            <key>puer.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,65},{128,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>puer.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,443},{83,48}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{83,48}}</string>
                <key>sourceSize</key>
                <string>{91,70}</string>
            </dict>
            <key>puer.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,446},{55,51}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{55,51}}</string>
                <key>sourceSize</key>
                <string>{73,57}</string>
            </dict>
            <key>puer.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,493},{67,60}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{67,60}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>puer.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,28},{149,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,35}}</string>
                <key>sourceSize</key>
                <string>{151,39}</string>
            </dict>
            <key>puer.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,188},{98,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{98,55}}</string>
                <key>sourceSize</key>
                <string>{100,65}</string>
            </dict>
            <key>puer.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,380},{86,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,61}}</string>
                <key>sourceSize</key>
                <string>{86,61}</string>
            </dict>
            <key>puer.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,125},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,75}</string>
            </dict>
            <key>puer.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,65},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>puer.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,415},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>puer.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,493},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,67}}</string>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>puer.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,415},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>puer.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,232},{65,54}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{65,54}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>puer.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,490},{33,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>puer.pvr.ccz</string>
            <key>size</key>
            <string>{562,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c670e367fad9d1d90026aead3b904957$</string>
            <key>textureFileName</key>
            <string>puer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
