<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sangshilang.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>sangshilang.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,40},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,68}}</string>
                <key>sourceSize</key>
                <string>{35,68}</string>
            </dict>
            <key>sangshilang.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,191},{34,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,61}}</string>
                <key>sourceSize</key>
                <string>{34,61}</string>
            </dict>
            <key>sangshilang.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{85,64}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,64}}</string>
                <key>sourceSize</key>
                <string>{91,74}</string>
            </dict>
            <key>sangshilang.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,64},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>sangshilang.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,104},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>sangshilang.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,68},{69,75}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,79}</string>
            </dict>
            <key>sangshilang.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>sangshilang.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,110},{35,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,65}}</string>
                <key>sourceSize</key>
                <string>{35,67}</string>
            </dict>
            <key>sangshilang.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{36,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>sangshilang.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{61,61}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>sangshilang.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,145},{63,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sangshilang.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbc03f5f581ef829095898bcd418a216$</string>
            <key>textureFileName</key>
            <string>sangshilang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
