<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sanjiaoxing1.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,965},{66,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,22}}</string>
                <key>sourceSize</key>
                <string>{66,22}</string>
            </dict>
            <key>sanjiaoxing1.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{323,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,319}}</string>
                <key>sourceSize</key>
                <string>{323,319}</string>
            </dict>
            <key>sanjiaoxing1.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{332,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,328}}</string>
                <key>sourceSize</key>
                <string>{332,328}</string>
            </dict>
            <key>sanjiaoxing1.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{342,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,338}}</string>
                <key>sourceSize</key>
                <string>{342,338}</string>
            </dict>
            <key>sanjiaoxing1.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,348}}</string>
                <key>sourceSize</key>
                <string>{352,348}</string>
            </dict>
            <key>sanjiaoxing1.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,810},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>sanjiaoxing1.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,571},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>sanjiaoxing1.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,332},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>sanjiaoxing1.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,733},{153,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,158}}</string>
                <key>sourceSize</key>
                <string>{153,158}</string>
            </dict>
            <key>sanjiaoxing1.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,579},{161,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,152}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>sanjiaoxing1.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,590},{162,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,147}}</string>
                <key>sourceSize</key>
                <string>{162,147}</string>
            </dict>
            <key>sanjiaoxing1.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,301},{151,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,145}}</string>
                <key>sourceSize</key>
                <string>{151,145}</string>
            </dict>
            <key>sanjiaoxing1.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,737},{159,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,151}}</string>
                <key>sourceSize</key>
                <string>{159,151}</string>
            </dict>
            <key>sanjiaoxing1.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,579},{159,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,156}}</string>
                <key>sourceSize</key>
                <string>{159,156}</string>
            </dict>
            <key>sanjiaoxing1.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1007},{32,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,79}}</string>
                <key>sourceSize</key>
                <string>{32,79}</string>
            </dict>
            <key>sanjiaoxing1.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1007},{57,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,88}}</string>
                <key>sourceSize</key>
                <string>{57,88}</string>
            </dict>
            <key>sanjiaoxing1.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,332},{64,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,91}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>sanjiaoxing1.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,425},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{62,92}</string>
            </dict>
            <key>sanjiaoxing1.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1007},{52,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,92}}</string>
                <key>sourceSize</key>
                <string>{52,92}</string>
            </dict>
            <key>sanjiaoxing1.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,853},{46,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,90}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>sanjiaoxing1.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,590},{30,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,91}}</string>
                <key>sourceSize</key>
                <string>{30,91}</string>
            </dict>
            <key>sanjiaoxing1.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,332},{23,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,90}}</string>
                <key>sourceSize</key>
                <string>{23,90}</string>
            </dict>
            <key>sanjiaoxing1.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,519},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{33,45}</string>
            </dict>
            <key>sanjiaoxing1.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,448},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sanjiaoxing1.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1007},{105,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,114}}</string>
                <key>sourceSize</key>
                <string>{105,114}</string>
            </dict>
            <key>sanjiaoxing1.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1013},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>sanjiaoxing1.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1002},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>sanjiaoxing1.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,123},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>sanjiaoxing1.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>sanjiaoxing1.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,890},{175,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,110}}</string>
                <key>sourceSize</key>
                <string>{175,110}</string>
            </dict>
            <key>sanjiaoxing1.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,739},{174,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,112}}</string>
                <key>sourceSize</key>
                <string>{174,112}</string>
            </dict>
            <key>sanjiaoxing1.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,893},{159,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,112}}</string>
                <key>sourceSize</key>
                <string>{159,112}</string>
            </dict>
            <key>sanjiaoxing1.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,853},{170,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,110}}</string>
                <key>sourceSize</key>
                <string>{170,110}</string>
            </dict>
            <key>sanjiaoxing1.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,301},{279,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,276}}</string>
                <key>sourceSize</key>
                <string>{279,276}</string>
            </dict>
            <key>sanjiaoxing1.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1013},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>sanjiaoxing1.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,241},{82,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,52}}</string>
                <key>sourceSize</key>
                <string>{82,52}</string>
            </dict>
            <key>sanjiaoxing1.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1013},{82,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,59}}</string>
                <key>sourceSize</key>
                <string>{82,59}</string>
            </dict>
            <key>sanjiaoxing1.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{301,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,297}}</string>
                <key>sourceSize</key>
                <string>{301,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sanjiaoxing1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1124,1124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d41812db0f903297a4caf24f9be6ef2$</string>
            <key>textureFileName</key>
            <string>sanjiaoxing1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
