<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>serverGuild_huoxing.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>serverGuild_huoxing.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>serverGuild_huoxing.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,50},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>serverGuild_huoxing-hd.pvr.ccz</string>
            <key>size</key>
            <string>{109,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6d360d676ca2181fbd6093e87fb075c$</string>
            <key>textureFileName</key>
            <string>serverGuild_huoxing-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
