<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenshe_zidanjiemian.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,45}}</string>
                <key>sourceSize</key>
                <string>{384,45}</string>
            </dict>
            <key>shenshe_zidanjiemian.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{61,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,25}}</string>
                <key>sourceSize</key>
                <string>{61,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenshe_zidanjiemian.pvr.ccz</string>
            <key>size</key>
            <string>{388,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd9f32c9f662ecc882755c480af4fb2c$</string>
            <key>textureFileName</key>
            <string>shenshe_zidanjiemian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
