<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenshe_qiang.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,274}}</string>
                <key>sourceSize</key>
                <string>{223,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenshe_qiang.pvr.ccz</string>
            <key>size</key>
            <string>{278,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f3f44d2e09a535dd7c40159f1db649c$</string>
            <key>textureFileName</key>
            <string>shenshe_qiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
