<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenshe_zidan.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>shenshe_zidan.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,36},{11,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,4}}</string>
                <key>sourceSize</key>
                <string>{11,4}</string>
            </dict>
            <key>shenshe_zidan.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>shenshe_zidan.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,43},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>shenshe_zidan.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>shenshe_zidan.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,30},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenshe_zidan.pvr.ccz</string>
            <key>size</key>
            <string>{93,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e4a41756a2463e28573334cb0a6c99d$</string>
            <key>textureFileName</key>
            <string>shenshe_zidan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
