<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shirenhua.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,88},{60,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>shirenhua.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,370},{53,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,56}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>shirenhua.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,148},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>shirenhua.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,203},{31,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>shirenhua.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{93,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,63}}</string>
                <key>sourceSize</key>
                <string>{93,63}</string>
            </dict>
            <key>shirenhua.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,445},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>shirenhua.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{113,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,85}}</string>
                <key>sourceSize</key>
                <string>{113,85}</string>
            </dict>
            <key>shirenhua.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,330},{113,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,68}}</string>
                <key>sourceSize</key>
                <string>{113,68}</string>
            </dict>
            <key>shirenhua.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>shirenhua.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{162,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,84}}</string>
                <key>sourceSize</key>
                <string>{162,84}</string>
            </dict>
            <key>shirenhua.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,96}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>shirenhua.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{161,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,75}}</string>
                <key>sourceSize</key>
                <string>{161,75}</string>
            </dict>
            <key>shirenhua.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,445},{59,61}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>shirenhua.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,100},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,46}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>shirenhua.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,428},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>shirenhua.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,440},{69,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,57}}</string>
                <key>sourceSize</key>
                <string>{69,57}</string>
            </dict>
            <key>shirenhua.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,287},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>shirenhua.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{98,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,130}}</string>
                <key>sourceSize</key>
                <string>{98,132}</string>
            </dict>
            <key>shirenhua.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,185},{100,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,134}}</string>
                <key>sourceSize</key>
                <string>{100,136}</string>
            </dict>
            <key>shirenhua.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,79},{159,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,115}}</string>
                <key>sourceSize</key>
                <string>{159,115}</string>
            </dict>
            <key>shirenhua.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,88},{95,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,136}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>shirenhua.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,196},{73,77}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{73,77}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>shirenhua.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,394},{45,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>shirenhua.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,394},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>shirenhua.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,287},{72,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,105}}</string>
                <key>sourceSize</key>
                <string>{72,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shirenhua-hd.pvr.ccz</string>
            <key>size</key>
            <string>{509,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02665a4c4b1da2c64a5dc4cbcc87fa96$</string>
            <key>textureFileName</key>
            <string>shirenhua-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
