<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shishigui.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>shishigui.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,166},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>shishigui.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,195},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>shishigui.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,156},{29,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,8}}</string>
                <key>sourceSize</key>
                <string>{29,8}</string>
            </dict>
            <key>shishigui.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>shishigui.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,182},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>shishigui.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,124},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>shishigui.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,124},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>shishigui.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{49,62}</string>
            </dict>
            <key>shishigui.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>shishigui.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{79,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,45}}</string>
                <key>sourceSize</key>
                <string>{79,45}</string>
            </dict>
            <key>shishigui.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,195},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>shishigui.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,96},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>shishigui.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,40},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{43,54}</string>
            </dict>
            <key>shishigui.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,162},{30,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,9}}</string>
                <key>sourceSize</key>
                <string>{30,9}</string>
            </dict>
            <key>shishigui.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,234},{37,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,11}}</string>
                <key>sourceSize</key>
                <string>{37,11}</string>
            </dict>
            <key>shishigui.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shishigui-hd.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54762fc21bb0462e65cac775dcd6141a$</string>
            <key>textureFileName</key>
            <string>shishigui-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
