<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoushirenshou.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>shoushirenshou.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{217,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,33}}</string>
                <key>sourceSize</key>
                <string>{217,33}</string>
            </dict>
            <key>shoushirenshou.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,280},{16,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>shoushirenshou.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,167},{37,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{37,34}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>shoushirenshou.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,156},{65,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,84}}</string>
                <key>sourceSize</key>
                <string>{65,84}</string>
            </dict>
            <key>shoushirenshou.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,132},{16,29}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>shoushirenshou.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>shoushirenshou.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,203},{34,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>shoushirenshou.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,61},{32,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{32,43}</string>
            </dict>
            <key>shoushirenshou.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,269},{42,49}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>shoushirenshou.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,242},{61,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,43}}</string>
                <key>sourceSize</key>
                <string>{61,43}</string>
            </dict>
            <key>shoushirenshou.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,106},{30,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{30,59}}</string>
                <key>sourceSize</key>
                <string>{34,59}</string>
            </dict>
            <key>shoushirenshou.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{32,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,57}}</string>
                <key>sourceSize</key>
                <string>{32,57}</string>
            </dict>
            <key>shoushirenshou.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,252},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>shoushirenshou.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,72},{67,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,82}}</string>
                <key>sourceSize</key>
                <string>{67,82}</string>
            </dict>
            <key>shoushirenshou.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,185},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>shoushirenshou.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{148,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{148,32}}</string>
                <key>sourceSize</key>
                <string>{158,38}</string>
            </dict>
            <key>shoushirenshou.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{136,24}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{136,24}}</string>
                <key>sourceSize</key>
                <string>{158,38}</string>
            </dict>
            <key>shoushirenshou.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{126,22}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{126,22}}</string>
                <key>sourceSize</key>
                <string>{158,38}</string>
            </dict>
            <key>shoushirenshou.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,33}}</string>
                <key>sourceSize</key>
                <string>{217,33}</string>
            </dict>
            <key>shoushirenshou.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,163},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>shoushirenshou.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{103,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,84}}</string>
                <key>sourceSize</key>
                <string>{103,84}</string>
            </dict>
            <key>shoushirenshou.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,200},{27,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,50}}</string>
                <key>sourceSize</key>
                <string>{27,50}</string>
            </dict>
            <key>shoushirenshou.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,224},{29,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoushirenshou-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f919cad4f5c2a27d176cf4018461e8f$</string>
            <key>textureFileName</key>
            <string>shoushirenshou-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
