<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>steve2.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1793},{101,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
            <key>steve2.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1260},{164,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,62}}</string>
                <key>sourceSize</key>
                <string>{164,62}</string>
            </dict>
            <key>steve2.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{94,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,99}}</string>
                <key>sourceSize</key>
                <string>{94,99}</string>
            </dict>
            <key>steve2.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1410},{77,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,141}}</string>
                <key>sourceSize</key>
                <string>{77,141}</string>
            </dict>
            <key>steve2.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1624},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>steve2.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{63,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,277}}</string>
                <key>sourceSize</key>
                <string>{63,277}</string>
            </dict>
            <key>steve2.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1868},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>steve2.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1959},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>steve2.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1783},{139,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,48}}</string>
                <key>sourceSize</key>
                <string>{139,48}</string>
            </dict>
            <key>steve2.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{63,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,277}}</string>
                <key>sourceSize</key>
                <string>{63,277}</string>
            </dict>
            <key>steve2.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1439},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>steve2.swf119.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,336},{153,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,49}}</string>
                <key>sourceSize</key>
                <string>{153,49}</string>
            </dict>
            <key>steve2.swf121.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1388},{148,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,50}}</string>
                <key>sourceSize</key>
                <string>{148,50}</string>
            </dict>
            <key>steve2.swf123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,659},{129,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,200}}</string>
                <key>sourceSize</key>
                <string>{129,200}</string>
            </dict>
            <key>steve2.swf125.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1552},{77,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,28}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>steve2.swf127.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1052},{132,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,175}}</string>
                <key>sourceSize</key>
                <string>{132,175}</string>
            </dict>
            <key>steve2.swf129.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1923},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
            <key>steve2.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1793},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>steve2.swf131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,920},{131,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,194}}</string>
                <key>sourceSize</key>
                <string>{131,194}</string>
            </dict>
            <key>steve2.swf133.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1718},{85,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,40}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>steve2.swf135.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,789},{130,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,197}}</string>
                <key>sourceSize</key>
                <string>{130,197}</string>
            </dict>
            <key>steve2.swf137.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,193},{148,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,142}}</string>
                <key>sourceSize</key>
                <string>{148,142}</string>
            </dict>
            <key>steve2.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1961},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>steve2.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1260},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>steve2.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1957},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>steve2.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1052},{36,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,17}}</string>
                <key>sourceSize</key>
                <string>{36,17}</string>
            </dict>
            <key>steve2.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1924},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>steve2.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1880},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>steve2.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1924},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>steve2.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,386},{148,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,121}}</string>
                <key>sourceSize</key>
                <string>{148,121}</string>
            </dict>
            <key>steve2.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1118},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>steve2.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1501},{143,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,122}}</string>
                <key>sourceSize</key>
                <string>{143,122}</string>
            </dict>
            <key>steve2.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1490},{143,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,122}}</string>
                <key>sourceSize</key>
                <string>{143,122}</string>
            </dict>
            <key>steve2.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1613},{143,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,120}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
            <key>steve2.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1673},{142,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,109}}</string>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>steve2.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1386},{148,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,114}}</string>
                <key>sourceSize</key>
                <string>{148,114}</string>
            </dict>
            <key>steve2.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1185},{165,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,138}}</string>
                <key>sourceSize</key>
                <string>{165,138}</string>
            </dict>
            <key>steve2.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1147},{25,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,55}}</string>
                <key>sourceSize</key>
                <string>{25,55}</string>
            </dict>
            <key>steve2.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1832},{35,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,59}}</string>
                <key>sourceSize</key>
                <string>{35,59}</string>
            </dict>
            <key>steve2.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,128},{23,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,62}}</string>
                <key>sourceSize</key>
                <string>{23,62}</string>
            </dict>
            <key>steve2.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,128},{25,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,62}}</string>
                <key>sourceSize</key>
                <string>{25,62}</string>
            </dict>
            <key>steve2.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1920},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>steve2.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1093},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>steve2.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1363},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>steve2.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,489},{213,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,169}}</string>
                <key>sourceSize</key>
                <string>{213,169}</string>
            </dict>
            <key>steve2.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,573},{163,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,159}}</string>
                <key>sourceSize</key>
                <string>{163,159}</string>
            </dict>
            <key>steve2.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{219,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,178}}</string>
                <key>sourceSize</key>
                <string>{219,178}</string>
            </dict>
            <key>steve2.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1093},{172,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,166}}</string>
                <key>sourceSize</key>
                <string>{172,166}</string>
            </dict>
            <key>steve2.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{227,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,181}}</string>
                <key>sourceSize</key>
                <string>{227,181}</string>
            </dict>
            <key>steve2.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,920},{178,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,172}}</string>
                <key>sourceSize</key>
                <string>{178,172}</string>
            </dict>
            <key>steve2.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,737},{182,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,175}}</string>
                <key>sourceSize</key>
                <string>{182,175}</string>
            </dict>
            <key>steve2.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1961},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>steve2.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1203},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>steve2.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1959},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>steve2.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1318},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>steve2.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1581},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>steve2.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1893},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>steve2.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1959},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>steve2.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1649},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>steve2.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1759},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>steve2.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,100},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>steve2.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1849},{73,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,92}}</string>
                <key>sourceSize</key>
                <string>{73,92}</string>
            </dict>
            <key>steve2.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1830},{93,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>steve2.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1832},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>steve2.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1844},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>steve2.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1734},{58,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,142}}</string>
                <key>sourceSize</key>
                <string>{58,142}</string>
            </dict>
            <key>steve2.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1323},{163,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,64}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>steve2.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,508},{160,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,64}}</string>
                <key>sourceSize</key>
                <string>{160,64}</string>
            </dict>
            <key>steve2.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1324},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>steve2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{376,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ec4a09d4dd437b6f99d3133b483d6a2$</string>
            <key>textureFileName</key>
            <string>steve2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
