<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>superman.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1075},{62,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>superman.swf100.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,636},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>superman.swf102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,275},{23,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,64}}</string>
                <key>sourceSize</key>
                <string>{23,64}</string>
            </dict>
            <key>superman.swf104.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,379},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>superman.swf106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,146},{19,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,176}}</string>
                <key>sourceSize</key>
                <string>{19,176}</string>
            </dict>
            <key>superman.swf108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,680},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>superman.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,893},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>superman.swf110.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,857},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>superman.swf112.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,923},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>superman.swf114.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,615},{166,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,159}}</string>
                <key>sourceSize</key>
                <string>{166,159}</string>
            </dict>
            <key>superman.swf116.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,295},{206,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,218}}</string>
                <key>sourceSize</key>
                <string>{206,218}</string>
            </dict>
            <key>superman.swf118.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,424},{177,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,110}}</string>
                <key>sourceSize</key>
                <string>{177,110}</string>
            </dict>
            <key>superman.swf120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{459,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,377}}</string>
                <key>sourceSize</key>
                <string>{459,377}</string>
            </dict>
            <key>superman.swf122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,937},{306,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,138}}</string>
                <key>sourceSize</key>
                <string>{306,138}</string>
            </dict>
            <key>superman.swf124.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,986},{142,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,45}}</string>
                <key>sourceSize</key>
                <string>{142,45}</string>
            </dict>
            <key>superman.swf126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{244,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{244,300}</string>
            </dict>
            <key>superman.swf128.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1},{239,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,293}}</string>
                <key>sourceSize</key>
                <string>{239,293}</string>
            </dict>
            <key>superman.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,722},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>superman.swf130.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,928},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>superman.swf132.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1032},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>superman.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,615},{17,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,6}}</string>
                <key>sourceSize</key>
                <string>{17,6}</string>
            </dict>
            <key>superman.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1060},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>superman.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,414},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>superman.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1060},{23,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,48}}</string>
                <key>sourceSize</key>
                <string>{23,48}</string>
            </dict>
            <key>superman.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,801},{26,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,49}}</string>
                <key>sourceSize</key>
                <string>{26,49}</string>
            </dict>
            <key>superman.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,677},{18,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,41}}</string>
                <key>sourceSize</key>
                <string>{18,41}</string>
            </dict>
            <key>superman.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1076},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>superman.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,893},{47,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>superman.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1},{150,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,144}}</string>
                <key>sourceSize</key>
                <string>{150,144}</string>
            </dict>
            <key>superman.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,801},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>superman.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,636},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>superman.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1076},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>superman.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1076},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>superman.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1075},{48,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>superman.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,986},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>superman.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,928},{155,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,146}}</string>
                <key>sourceSize</key>
                <string>{155,146}</string>
            </dict>
            <key>superman.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,258},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>superman.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,492},{164,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,143}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>superman.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,360},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>superman.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,295},{35,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,64}}</string>
                <key>sourceSize</key>
                <string>{35,64}</string>
            </dict>
            <key>superman.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,275},{164,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,148}}</string>
                <key>sourceSize</key>
                <string>{164,148}</string>
            </dict>
            <key>superman.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,414},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>superman.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,775},{165,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,152}}</string>
                <key>sourceSize</key>
                <string>{165,152}</string>
            </dict>
            <key>superman.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1076},{14,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{14,32}</string>
            </dict>
            <key>superman.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,776},{160,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,146}}</string>
                <key>sourceSize</key>
                <string>{160,146}</string>
            </dict>
            <key>superman.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,414},{13,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,49}}</string>
                <key>sourceSize</key>
                <string>{13,49}</string>
            </dict>
            <key>superman.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,636},{164,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,139}}</string>
                <key>sourceSize</key>
                <string>{164,139}</string>
            </dict>
            <key>superman.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,275},{13,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,58}}</string>
                <key>sourceSize</key>
                <string>{13,58}</string>
            </dict>
            <key>superman.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,722},{161,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,134}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
            <key>superman.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,986},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>superman.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1076},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>superman.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,340},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>superman.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,631},{174,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,90}}</string>
                <key>sourceSize</key>
                <string>{174,90}</string>
            </dict>
            <key>superman.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1076},{154,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,29}}</string>
                <key>sourceSize</key>
                <string>{154,29}</string>
            </dict>
            <key>superman.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,986},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>superman.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,631},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>superman.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,514},{202,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,100}}</string>
                <key>sourceSize</key>
                <string>{202,100}</string>
            </dict>
            <key>superman.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,535},{213,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,95}}</string>
                <key>sourceSize</key>
                <string>{213,95}</string>
            </dict>
            <key>superman.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1032},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>superman.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,258},{173,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,233}}</string>
                <key>sourceSize</key>
                <string>{173,233}</string>
            </dict>
            <key>superman.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,857},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>superman.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1076},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>superman.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,893},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>superman.swf96.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,146},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>superman.swf98.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>superman-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1109,1109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c68c29d02ea643114e71838e3fcb8bb$</string>
            <key>textureFileName</key>
            <string>superman-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
