<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingzhesun.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,130},{62,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,19}}</string>
                <key>sourceSize</key>
                <string>{62,19}</string>
            </dict>
            <key>xingzhesun.swf100.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,173},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>xingzhesun.swf102.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,130},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>xingzhesun.swf104.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xingzhesun.swf106.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,173},{125,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,69}}</string>
                <key>sourceSize</key>
                <string>{125,69}</string>
            </dict>
            <key>xingzhesun.swf108.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,173},{126,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,74}}</string>
                <key>sourceSize</key>
                <string>{126,74}</string>
            </dict>
            <key>xingzhesun.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{71,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,177}}</string>
                <key>sourceSize</key>
                <string>{71,177}</string>
            </dict>
            <key>xingzhesun.swf110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>xingzhesun.swf112.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xingzhesun.swf114.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,130},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>xingzhesun.swf116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,120},{29,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{29,63}</string>
            </dict>
            <key>xingzhesun.swf118.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1},{125,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
            <key>xingzhesun.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,123},{50,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,106}}</string>
                <key>sourceSize</key>
                <string>{50,106}</string>
            </dict>
            <key>xingzhesun.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,155},{77,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,58}}</string>
                <key>sourceSize</key>
                <string>{77,58}</string>
            </dict>
            <key>xingzhesun.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,179},{98,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>xingzhesun.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,173},{92,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,41}}</string>
                <key>sourceSize</key>
                <string>{92,41}</string>
            </dict>
            <key>xingzhesun.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,215},{72,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{72,35}</string>
            </dict>
            <key>xingzhesun.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,169},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>xingzhesun.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,92},{45,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>xingzhesun.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,130},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>xingzhesun.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1},{33,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,58}}</string>
                <key>sourceSize</key>
                <string>{33,58}</string>
            </dict>
            <key>xingzhesun.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,155},{309,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,17}}</string>
                <key>sourceSize</key>
                <string>{309,17}</string>
            </dict>
            <key>xingzhesun.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,207},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>xingzhesun.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,185},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>xingzhesun.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,89},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>xingzhesun.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,55},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>xingzhesun.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,230},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>xingzhesun.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,49},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>xingzhesun.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,1},{13,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,44}}</string>
                <key>sourceSize</key>
                <string>{13,44}</string>
            </dict>
            <key>xingzhesun.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,120},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>xingzhesun.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,169},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>xingzhesun.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,130},{10,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,30}}</string>
                <key>sourceSize</key>
                <string>{10,30}</string>
            </dict>
            <key>xingzhesun.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,90},{69,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,78}}</string>
                <key>sourceSize</key>
                <string>{69,78}</string>
            </dict>
            <key>xingzhesun.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,194},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>xingzhesun.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>xingzhesun.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,214},{71,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{71,33}</string>
            </dict>
            <key>xingzhesun.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,92},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>xingzhesun.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,215},{325,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,34}}</string>
                <key>sourceSize</key>
                <string>{325,34}</string>
            </dict>
            <key>xingzhesun.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1},{187,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,88}}</string>
                <key>sourceSize</key>
                <string>{187,88}</string>
            </dict>
            <key>xingzhesun.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,151},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>xingzhesun.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1},{129,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,53}}</string>
                <key>sourceSize</key>
                <string>{129,53}</string>
            </dict>
            <key>xingzhesun.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,93},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>xingzhesun.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,93},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>xingzhesun.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1},{36,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,153}}</string>
                <key>sourceSize</key>
                <string>{36,153}</string>
            </dict>
            <key>xingzhesun.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,93},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>xingzhesun.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xingzhesun.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1},{171,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,141}}</string>
                <key>sourceSize</key>
                <string>{171,141}</string>
            </dict>
            <key>xingzhesun.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,120},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xingzhesun.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,130},{176,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,110}}</string>
                <key>sourceSize</key>
                <string>{176,110}</string>
            </dict>
            <key>xingzhesun.swf82.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>xingzhesun.swf84.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xingzhesun.swf86.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,173},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>xingzhesun.swf88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1},{87,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,91}</string>
            </dict>
            <key>xingzhesun.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,145},{29,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,48}}</string>
                <key>sourceSize</key>
                <string>{29,48}</string>
            </dict>
            <key>xingzhesun.swf90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,55},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xingzhesun.swf92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,123},{87,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,91}</string>
            </dict>
            <key>xingzhesun.swf94.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,90},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xingzhesun.swf96.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,173},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>xingzhesun.swf98.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,90},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingzhesun-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1663,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d779ecb5c05a0f3de0796565d15c2eb2$</string>
            <key>textureFileName</key>
            <string>xingzhesun-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
