<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xueguai.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{120,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,36}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>xueguai.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,219},{77,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{77,92}}</string>
                <key>sourceSize</key>
                <string>{81,94}</string>
            </dict>
            <key>xueguai.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,292},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>xueguai.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{82,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,85}}</string>
                <key>sourceSize</key>
                <string>{82,89}</string>
            </dict>
            <key>xueguai.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>xueguai.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,74},{149,143}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{149,143}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
            <key>xueguai.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,227},{68,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>xueguai.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,129},{69,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>xueguai.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>xueguai.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,217},{143,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{143,89}}</string>
                <key>sourceSize</key>
                <string>{143,91}</string>
            </dict>
            <key>xueguai.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,77},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>xueguai.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{61,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,82}}</string>
                <key>sourceSize</key>
                <string>{61,82}</string>
            </dict>
            <key>xueguai.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{28,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,27}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>xueguai.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,384},{41,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{41,68}}</string>
                <key>sourceSize</key>
                <string>{45,72}</string>
            </dict>
            <key>xueguai.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,313},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{47,64}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>xueguai.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,31},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>xueguai.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,74},{7,8}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>xueguai.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,218},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>xueguai.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,462},{45,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,26}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>xueguai.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,63},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>xueguai.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,54},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>xueguai.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,244},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>xueguai.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xueguai.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,84},{20,13}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>xueguai.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,89},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>xueguai.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,192},{69,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{71,33}</string>
            </dict>
            <key>xueguai.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{122,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{128,51}</string>
            </dict>
            <key>xueguai.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{173,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,64}}</string>
                <key>sourceSize</key>
                <string>{173,66}</string>
            </dict>
            <key>xueguai.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{194,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{194,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>xueguai.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{196,59}}</string>
                <key>sourceSize</key>
                <string>{200,63}</string>
            </dict>
            <key>xueguai.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,219},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>xueguai.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,289},{77,69}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{81,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xueguai.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b039c764bcf0495b40b8b5ae2b64dfb7$</string>
            <key>textureFileName</key>
            <string>xueguai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
