<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yinshi.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,742},{66,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,22}}</string>
                <key>sourceSize</key>
                <string>{66,22}</string>
            </dict>
            <key>yinshi.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,544},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>yinshi.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,666},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>yinshi.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,517},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>yinshi.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,469},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>yinshi.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,315},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>yinshi.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,356},{61,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,123}}</string>
                <key>sourceSize</key>
                <string>{61,123}</string>
            </dict>
            <key>yinshi.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,563},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,49}}</string>
                <key>sourceSize</key>
                <string>{82,49}</string>
            </dict>
            <key>yinshi.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>yinshi.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,698},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>yinshi.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,632},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>yinshi.swf119.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,598},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>yinshi.swf121.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,623},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>yinshi.swf123.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,696},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>yinshi.swf125.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,680},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>yinshi.swf127.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,598},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>yinshi.swf129.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,762},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>yinshi.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,235},{135,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,100}}</string>
                <key>sourceSize</key>
                <string>{135,100}</string>
            </dict>
            <key>yinshi.swf131.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,696},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>yinshi.swf133.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,137},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>yinshi.swf135.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,554},{85,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,48}}</string>
                <key>sourceSize</key>
                <string>{85,48}</string>
            </dict>
            <key>yinshi.swf137.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{37,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,33}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>yinshi.swf139.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,598},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>yinshi.swf141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yinshi.swf143.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,614},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yinshi.swf145.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,127},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>yinshi.swf147.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yinshi.swf149.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,676},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>yinshi.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{231,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,92}}</string>
                <key>sourceSize</key>
                <string>{231,92}</string>
            </dict>
            <key>yinshi.swf151.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,315},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>yinshi.swf153.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,481},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>yinshi.swf155.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{181,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,49}}</string>
                <key>sourceSize</key>
                <string>{181,49}</string>
            </dict>
            <key>yinshi.swf157.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,744},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>yinshi.swf159.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,741},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>yinshi.swf162.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,723},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>yinshi.swf164.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,239},{37,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,18}}</string>
                <key>sourceSize</key>
                <string>{37,18}</string>
            </dict>
            <key>yinshi.swf166.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,69},{175,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,51}}</string>
                <key>sourceSize</key>
                <string>{175,51}</string>
            </dict>
            <key>yinshi.swf168.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,122},{176,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>yinshi.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{54,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,88}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
            <key>yinshi.swf170.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,166},{178,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,48}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>yinshi.swf172.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,737},{177,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,49}}</string>
                <key>sourceSize</key>
                <string>{177,49}</string>
            </dict>
            <key>yinshi.swf174.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,265},{173,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,48}}</string>
                <key>sourceSize</key>
                <string>{173,48}</string>
            </dict>
            <key>yinshi.swf176.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,676},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yinshi.swf178.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,614},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>yinshi.swf180.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,678},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>yinshi.swf182.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,676},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yinshi.swf184.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,88}}</string>
                <key>sourceSize</key>
                <string>{256,88}</string>
            </dict>
            <key>yinshi.swf186.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,532},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yinshi.swf188.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,469},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>yinshi.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,442},{61,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,88}}</string>
                <key>sourceSize</key>
                <string>{61,88}</string>
            </dict>
            <key>yinshi.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,741},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>yinshi.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,356},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>yinshi.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,353},{75,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,114}}</string>
                <key>sourceSize</key>
                <string>{75,114}</string>
            </dict>
            <key>yinshi.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,736},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>yinshi.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,687},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>yinshi.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,629},{78,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,33}}</string>
                <key>sourceSize</key>
                <string>{78,33}</string>
            </dict>
            <key>yinshi.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,657},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>yinshi.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,602},{40,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,63}}</string>
                <key>sourceSize</key>
                <string>{40,63}</string>
            </dict>
            <key>yinshi.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,220},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>yinshi.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,166},{30,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,52}</string>
            </dict>
            <key>yinshi.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,550},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,64}</string>
            </dict>
            <key>yinshi.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,92},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>yinshi.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,253},{118,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,87}}</string>
                <key>sourceSize</key>
                <string>{118,87}</string>
            </dict>
            <key>yinshi.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,92},{293,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,43}}</string>
                <key>sourceSize</key>
                <string>{293,43}</string>
            </dict>
            <key>yinshi.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{173,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,65}}</string>
                <key>sourceSize</key>
                <string>{173,65}</string>
            </dict>
            <key>yinshi.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,69},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>yinshi.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,766},{49,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,16}}</string>
                <key>sourceSize</key>
                <string>{49,16}</string>
            </dict>
            <key>yinshi.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,265},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,89}}</string>
                <key>sourceSize</key>
                <string>{94,89}</string>
            </dict>
            <key>yinshi.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,667},{45,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,68}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
            <key>yinshi.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,604},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>yinshi.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,518},{34,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,89}}</string>
                <key>sourceSize</key>
                <string>{34,89}</string>
            </dict>
            <key>yinshi.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,342},{109,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,115}}</string>
                <key>sourceSize</key>
                <string>{109,115}</string>
            </dict>
            <key>yinshi.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,216},{175,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,47}}</string>
                <key>sourceSize</key>
                <string>{175,47}</string>
            </dict>
            <key>yinshi.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,37},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>yinshi.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,137},{110,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,114}}</string>
                <key>sourceSize</key>
                <string>{110,114}</string>
            </dict>
            <key>yinshi.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,137},{146,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,96}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>yinshi.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,454},{99,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,61}}</string>
                <key>sourceSize</key>
                <string>{99,61}</string>
            </dict>
            <key>yinshi.swf70.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,612},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yinshi.swf72.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,178},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>yinshi.swf74.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,742},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>yinshi.swf76.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,337},{109,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,115}}</string>
                <key>sourceSize</key>
                <string>{109,115}</string>
            </dict>
            <key>yinshi.swf78.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,609},{69,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>yinshi.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,766},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>yinshi.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,664},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>yinshi.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,742},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>yinshi.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,680},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>yinshi.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,465},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>yinshi.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,353},{83,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,110}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>yinshi.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,616},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>yinshi.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,736},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>yinshi.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,616},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>yinshi.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,459},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>yinshi.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,648},{34,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,29}}</string>
                <key>sourceSize</key>
                <string>{34,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yinshi-hd.pvr.ccz</string>
            <key>size</key>
            <string>{788,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13f00a78bfbff94ee0f60278a649622b$</string>
            <key>textureFileName</key>
            <string>yinshi-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
