<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhujue_daiji.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,658}}</string>
                <key>sourceSize</key>
                <string>{658,658}</string>
            </dict>
            <key>zhujue_daiji.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{281,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,426}}</string>
                <key>sourceSize</key>
                <string>{281,426}</string>
            </dict>
            <key>zhujue_daiji.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{10,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,67}}</string>
                <key>sourceSize</key>
                <string>{10,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhujue_daiji-hd.pvr.ccz</string>
            <key>size</key>
            <string>{945,945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:343e494a3d6579df0137a1b809d2784c$</string>
            <key>textureFileName</key>
            <string>zhujue_daiji-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
