<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhujiao_nan.swf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,984},{238,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,111}}</string>
                <key>sourceSize</key>
                <string>{238,111}</string>
            </dict>
            <key>zhujiao_nan.swf101.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,938},{151,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
            <key>zhujiao_nan.swf103.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,787},{151,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
            <key>zhujiao_nan.swf105.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,636},{151,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
            <key>zhujiao_nan.swf107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,791},{151,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
            <key>zhujiao_nan.swf109.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1200},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zhujiao_nan.swf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1256},{72,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{72,88}</string>
            </dict>
            <key>zhujiao_nan.swf111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1240},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>zhujiao_nan.swf113.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,457},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>zhujiao_nan.swf115.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,907},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>zhujiao_nan.swf117.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,721},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>zhujiao_nan.swf119.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,835},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>zhujiao_nan.swf121.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,450},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>zhujiao_nan.swf123.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,519},{164,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,148}}</string>
                <key>sourceSize</key>
                <string>{164,148}</string>
            </dict>
            <key>zhujiao_nan.swf125.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{316,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,171}}</string>
                <key>sourceSize</key>
                <string>{316,171}</string>
            </dict>
            <key>zhujiao_nan.swf127.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,144},{467,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,195}}</string>
                <key>sourceSize</key>
                <string>{467,195}</string>
            </dict>
            <key>zhujiao_nan.swf129.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{471,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,168}}</string>
                <key>sourceSize</key>
                <string>{471,168}</string>
            </dict>
            <key>zhujiao_nan.swf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1255},{192,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,83}}</string>
                <key>sourceSize</key>
                <string>{192,83}</string>
            </dict>
            <key>zhujiao_nan.swf131.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{475,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,140}}</string>
                <key>sourceSize</key>
                <string>{475,140}</string>
            </dict>
            <key>zhujiao_nan.swf133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,113}}</string>
                <key>sourceSize</key>
                <string>{479,113}</string>
            </dict>
            <key>zhujiao_nan.swf135.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1095},{208,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,92}}</string>
                <key>sourceSize</key>
                <string>{208,92}</string>
            </dict>
            <key>zhujiao_nan.swf137.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,884},{220,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,81}}</string>
                <key>sourceSize</key>
                <string>{220,81}</string>
            </dict>
            <key>zhujiao_nan.swf139.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1166},{216,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,87}}</string>
                <key>sourceSize</key>
                <string>{216,87}</string>
            </dict>
            <key>zhujiao_nan.swf141.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1199},{218,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,88}}</string>
                <key>sourceSize</key>
                <string>{218,88}</string>
            </dict>
            <key>zhujiao_nan.swf143.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1059},{230,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,105}}</string>
                <key>sourceSize</key>
                <string>{230,105}</string>
            </dict>
            <key>zhujiao_nan.swf145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{440,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,161}}</string>
                <key>sourceSize</key>
                <string>{440,161}</string>
            </dict>
            <key>zhujiao_nan.swf147.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,341},{436,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,176}}</string>
                <key>sourceSize</key>
                <string>{436,176}</string>
            </dict>
            <key>zhujiao_nan.swf149.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1166},{216,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,87}}</string>
                <key>sourceSize</key>
                <string>{216,87}</string>
            </dict>
            <key>zhujiao_nan.swf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{71,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,207}}</string>
                <key>sourceSize</key>
                <string>{71,207}</string>
            </dict>
            <key>zhujiao_nan.swf151.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,669},{220,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,107}}</string>
                <key>sourceSize</key>
                <string>{220,107}</string>
            </dict>
            <key>zhujiao_nan.swf153.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{416,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,184}}</string>
                <key>sourceSize</key>
                <string>{416,184}</string>
            </dict>
            <key>zhujiao_nan.swf155.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1097},{222,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,100}}</string>
                <key>sourceSize</key>
                <string>{222,100}</string>
            </dict>
            <key>zhujiao_nan.swf157.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{227,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,84}}</string>
                <key>sourceSize</key>
                <string>{227,84}</string>
            </dict>
            <key>zhujiao_nan.swf159.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,967},{218,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,90}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>zhujiao_nan.swf161.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,778},{220,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,104}}</string>
                <key>sourceSize</key>
                <string>{220,104}</string>
            </dict>
            <key>zhujiao_nan.swf163.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{252,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,187}}</string>
                <key>sourceSize</key>
                <string>{252,187}</string>
            </dict>
            <key>zhujiao_nan.swf165.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,747},{252,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,187}}</string>
                <key>sourceSize</key>
                <string>{252,187}</string>
            </dict>
            <key>zhujiao_nan.swf167.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,558},{252,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,187}}</string>
                <key>sourceSize</key>
                <string>{252,187}</string>
            </dict>
            <key>zhujiao_nan.swf169.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,641},{252,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,187}}</string>
                <key>sourceSize</key>
                <string>{252,187}</string>
            </dict>
            <key>zhujiao_nan.swf17.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,506},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>zhujiao_nan.swf171.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,747},{252,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,187}}</string>
                <key>sourceSize</key>
                <string>{252,187}</string>
            </dict>
            <key>zhujiao_nan.swf173.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,558},{252,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,187}}</string>
                <key>sourceSize</key>
                <string>{252,187}</string>
            </dict>
            <key>zhujiao_nan.swf175.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,641},{252,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,187}}</string>
                <key>sourceSize</key>
                <string>{252,187}</string>
            </dict>
            <key>zhujiao_nan.swf177.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,747},{252,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,187}}</string>
                <key>sourceSize</key>
                <string>{252,187}</string>
            </dict>
            <key>zhujiao_nan.swf179.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{252,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,162}}</string>
                <key>sourceSize</key>
                <string>{252,162}</string>
            </dict>
            <key>zhujiao_nan.swf181.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,830},{252,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,152}}</string>
                <key>sourceSize</key>
                <string>{252,152}</string>
            </dict>
            <key>zhujiao_nan.swf19.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,554},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{33,45}</string>
            </dict>
            <key>zhujiao_nan.swf21.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1166},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>zhujiao_nan.swf23.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,584},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>zhujiao_nan.swf25.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,790},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>zhujiao_nan.swf27.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,972},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>zhujiao_nan.swf29.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1289},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>zhujiao_nan.swf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,936},{238,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,125}}</string>
                <key>sourceSize</key>
                <string>{238,125}</string>
            </dict>
            <key>zhujiao_nan.swf31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,1170},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>zhujiao_nan.swf33.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,516},{45,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,21}}</string>
                <key>sourceSize</key>
                <string>{45,21}</string>
            </dict>
            <key>zhujiao_nan.swf35.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,620},{41,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,76}}</string>
                <key>sourceSize</key>
                <string>{41,76}</string>
            </dict>
            <key>zhujiao_nan.swf37.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1199},{75,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,112}}</string>
                <key>sourceSize</key>
                <string>{75,112}</string>
            </dict>
            <key>zhujiao_nan.swf39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,283},{95,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,52}}</string>
                <key>sourceSize</key>
                <string>{95,52}</string>
            </dict>
            <key>zhujiao_nan.swf41.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,698},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>zhujiao_nan.swf43.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1289},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>zhujiao_nan.swf45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1122},{74,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,46}}</string>
                <key>sourceSize</key>
                <string>{74,46}</string>
            </dict>
            <key>zhujiao_nan.swf47.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,423},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>zhujiao_nan.swf49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1253},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>zhujiao_nan.swf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1063},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>zhujiao_nan.swf51.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1120},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>zhujiao_nan.swf53.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1255},{108,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>zhujiao_nan.swf55.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,309},{22,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,52}}</string>
                <key>sourceSize</key>
                <string>{22,52}</string>
            </dict>
            <key>zhujiao_nan.swf57.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1289},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,57}</string>
            </dict>
            <key>zhujiao_nan.swf59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,211},{96,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>zhujiao_nan.swf61.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,539},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>zhujiao_nan.swf63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,414},{88,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,131}}</string>
                <key>sourceSize</key>
                <string>{88,131}</string>
            </dict>
            <key>zhujiao_nan.swf65.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1030},{49,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,63}}</string>
                <key>sourceSize</key>
                <string>{49,63}</string>
            </dict>
            <key>zhujiao_nan.swf67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,175},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>zhujiao_nan.swf69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1042},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>zhujiao_nan.swf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1310},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>zhujiao_nan.swf71.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1289},{82,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,58}}</string>
                <key>sourceSize</key>
                <string>{82,58}</string>
            </dict>
            <key>zhujiao_nan.swf73.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,287},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>zhujiao_nan.swf75.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,519},{270,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,120}}</string>
                <key>sourceSize</key>
                <string>{270,120}</string>
            </dict>
            <key>zhujiao_nan.swf77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{241,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,123}}</string>
                <key>sourceSize</key>
                <string>{241,123}</string>
            </dict>
            <key>zhujiao_nan.swf79.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1189},{189,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,119}}</string>
                <key>sourceSize</key>
                <string>{189,119}</string>
            </dict>
            <key>zhujiao_nan.swf81.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,175},{304,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,125}}</string>
                <key>sourceSize</key>
                <string>{304,125}</string>
            </dict>
            <key>zhujiao_nan.swf83.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,302},{298,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,125}}</string>
                <key>sourceSize</key>
                <string>{298,125}</string>
            </dict>
            <key>zhujiao_nan.swf85.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,429},{284,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,127}}</string>
                <key>sourceSize</key>
                <string>{284,127}</string>
            </dict>
            <key>zhujiao_nan.swf87.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,337},{94,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,75}}</string>
                <key>sourceSize</key>
                <string>{94,75}</string>
            </dict>
            <key>zhujiao_nan.swf89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1063},{189,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,188}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>zhujiao_nan.swf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,341},{35,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,80}}</string>
                <key>sourceSize</key>
                <string>{35,80}</string>
            </dict>
            <key>zhujiao_nan.swf91.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zhujiao_nan.swf93.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1063},{55,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{55,78}</string>
            </dict>
            <key>zhujiao_nan.swf95.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,547},{119,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,91}}</string>
                <key>sourceSize</key>
                <string>{119,91}</string>
            </dict>
            <key>zhujiao_nan.swf97.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,942},{163,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,98}}</string>
                <key>sourceSize</key>
                <string>{163,98}</string>
            </dict>
            <key>zhujiao_nan.swf99.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,640},{151,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhujiao_nan-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1351,1351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbf860cd0f1296fea0558b74675a5ac7$</string>
            <key>textureFileName</key>
            <string>zhujiao_nan-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
