<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_b_ling_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,74},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{104,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_ling_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{90,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{90,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_ling_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,108},{108,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{108,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_ling_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,46},{92,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{92,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_shen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,166},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{108,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_shen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,104},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{96,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_shen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,170},{110,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{110,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_shen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,226},{96,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{96,26}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_yuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,196},{112,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_yuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,166},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_yuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,136},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_yuan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,136},{108,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{108,28}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>i_b_zhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,74},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>tsnl_NPC.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,102},{32,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>tsnl_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>tsnl_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tsnl_enniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,102},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>tsnl_fangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,126},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tsnl_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tsnl_hp_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{64,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tsnl_hp_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tsnl_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{346,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,98}}</string>
                <key>sourceSize</key>
                <string>{346,98}</string>
            </dict>
            <key>tsnl_mogong.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,102},{68,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tsnl_progress_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,94},{226,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,30}}</string>
                <key>sourceSize</key>
                <string>{226,30}</string>
            </dict>
            <key>tsnl_progress_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,198},{224,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{224,30}}</string>
                <key>sourceSize</key>
                <string>{226,30}</string>
            </dict>
            <key>tsnl_ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,72},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>tsnl_select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,150},{106,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{106,90}</string>
            </dict>
            <key>tsnl_selected_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{106,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{106,90}</string>
            </dict>
            <key>tsnl_shengming.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{64,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tsnl_sudu.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{68,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tsnl_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,126},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tsnl_wenzi_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,74},{122,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,32}}</string>
                <key>sourceSize</key>
                <string>{124,32}</string>
            </dict>
            <key>tsnl_wenzi_difangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,228},{162,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{162,26}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wenzi_fangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,198},{166,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,28}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wenzi_fengfangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,228},{160,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{160,24}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wenzi_hecheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{72,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{72,42}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>tsnl_wenzi_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,196},{140,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{140,28}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wenzi_hp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,166},{148,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{148,28}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wenzi_hp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,226},{136,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{136,28}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wenzi_huofangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,230},{164,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{164,24}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wenzi_jingli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,108},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,26}}</string>
                <key>sourceSize</key>
                <string>{102,26}</string>
            </dict>
            <key>tsnl_wenzi_mofa.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,72},{158,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{158,28}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wenzi_qiangduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,30},{72,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{72,30}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>tsnl_wenzi_shuifangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,230},{164,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{164,24}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wenzi_sudu.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,136},{152,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{152,28}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wenzi_tongshuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,102},{227,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{227,46}}</string>
                <key>sourceSize</key>
                <string>{229,46}</string>
            </dict>
            <key>tsnl_wenzi_wugong.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,198},{162,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{162,28}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>tsnl_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,126},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tsnl_wugong.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{64,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>zscl_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,150},{184,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,46}}</string>
                <key>sourceSize</key>
                <string>{184,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ability_commander_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1386,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ac1d6c8998ded72e8648269b898b13b$</string>
            <key>textureFileName</key>
            <string>ability_commander_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
