<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_look_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{104,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,40}}</string>
                <key>sourceSize</key>
                <string>{104,40}</string>
            </dict>
            <key>activity_month_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,156},{264,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{264,62}}</string>
                <key>sourceSize</key>
                <string>{266,66}</string>
            </dict>
            <key>activity_open_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,172},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>activity_rules.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,119},{92,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{92,30}}</string>
                <key>sourceSize</key>
                <string>{124,30}</string>
            </dict>
            <key>activity_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>activity_top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{374,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,114}}</string>
                <key>sourceSize</key>
                <string>{374,114}</string>
            </dict>
            <key>activity_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{128,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,152}}</string>
                <key>sourceSize</key>
                <string>{128,152}</string>
            </dict>
            <key>button_active_beast.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,119},{135,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{135,111}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_beauty.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{135,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,115}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_daluandou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,117},{115,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{115,113}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,119},{117,109}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{117,109}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,118},{129,101}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{129,101}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{133,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_god.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,117},{97,101}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{97,101}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_hell.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{127,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{127,115}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_immune.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,117},{135,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{135,113}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_jianyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{135,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,115}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_kongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,2},{133,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{133,113}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_live.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,119},{135,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{135,107}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_luojie.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{129,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{129,115}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,118},{107,105}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{107,105}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_month.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,2},{119,99}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{119,99}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_qungong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{135,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{135,113}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_resource.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,119},{135,109}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{135,109}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_rich.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,119},{123,109}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{123,109}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_week.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,118},{109,103}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{109,103}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>button_active_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,2},{111,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{111,113}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1970,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08f47de2a658a5130d8428b4eea31c26$</string>
            <key>textureFileName</key>
            <string>activity-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
