<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_look_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,194},{110,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>split_btn_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,98},{84,57}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{84,57}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>split_btn_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,194},{98,58}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,58}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>split_btn_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,194},{98,58}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,58}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>split_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,246}}</string>
                <key>sourceSize</key>
                <string>{208,246}</string>
            </dict>
            <key>split_shop_next_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,226},{102,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,20}}</string>
                <key>sourceSize</key>
                <string>{102,22}</string>
            </dict>
            <key>split_shop_top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{323,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,94}}</string>
                <key>sourceSize</key>
                <string>{323,94}</string>
            </dict>
            <key>split_shop_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,98},{256,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,94}}</string>
                <key>sourceSize</key>
                <string>{256,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_split_shop-hd.pvr.ccz</string>
            <key>size</key>
            <string>{556,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20bee59e72d09c8a4f8976f8a41bd370$</string>
            <key>textureFileName</key>
            <string>card_split_shop-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
