<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snowman1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,294},{205,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,193}}</string>
                <key>sourceSize</key>
                <string>{205,193}</string>
            </dict>
            <key>snowman1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,489},{171,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,240}}</string>
                <key>sourceSize</key>
                <string>{171,240}</string>
            </dict>
            <key>snowman1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{274,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,331}}</string>
                <key>sourceSize</key>
                <string>{274,331}</string>
            </dict>
            <key>snowman1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,331}}</string>
                <key>sourceSize</key>
                <string>{274,331}</string>
            </dict>
            <key>snowman2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,294},{205,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,193}}</string>
                <key>sourceSize</key>
                <string>{205,193}</string>
            </dict>
            <key>snowman2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,489},{171,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,240}}</string>
                <key>sourceSize</key>
                <string>{171,240}</string>
            </dict>
            <key>snowman2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,270},{252,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,239}}</string>
                <key>sourceSize</key>
                <string>{252,239}</string>
            </dict>
            <key>snowman2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,323},{298,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,294}}</string>
                <key>sourceSize</key>
                <string>{298,294}</string>
            </dict>
            <key>snowman3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,294},{205,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,193}}</string>
                <key>sourceSize</key>
                <string>{205,193}</string>
            </dict>
            <key>snowman3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,489},{171,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,240}}</string>
                <key>sourceSize</key>
                <string>{171,240}</string>
            </dict>
            <key>snowman3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,757},{238,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,240}}</string>
                <key>sourceSize</key>
                <string>{238,240}</string>
            </dict>
            <key>snowman3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{285,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,290}}</string>
                <key>sourceSize</key>
                <string>{285,290}</string>
            </dict>
            <key>snowman4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,294},{205,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,193}}</string>
                <key>sourceSize</key>
                <string>{205,193}</string>
            </dict>
            <key>snowman4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,489},{171,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,240}}</string>
                <key>sourceSize</key>
                <string>{171,240}</string>
            </dict>
            <key>snowman4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,511},{335,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,244}}</string>
                <key>sourceSize</key>
                <string>{335,244}</string>
            </dict>
            <key>snowman4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{335,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,326}}</string>
                <key>sourceSize</key>
                <string>{335,326}</string>
            </dict>
            <key>snowman5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,757},{237,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,210}}</string>
                <key>sourceSize</key>
                <string>{237,210}</string>
            </dict>
            <key>snowman5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,619},{237,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,267}}</string>
                <key>sourceSize</key>
                <string>{237,267}</string>
            </dict>
            <key>snowman5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{274,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,266}}</string>
                <key>sourceSize</key>
                <string>{274,266}</string>
            </dict>
            <key>snowman5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{246,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,319}}</string>
                <key>sourceSize</key>
                <string>{246,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chrismas_snowman-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1089,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31a55b0bff1d0997ff06acf03695192f:1/1$</string>
            <key>textureFileName</key>
            <string>chrismas_snowman-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
