<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huilang_round1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{460,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,434}}</string>
                <key>sourceSize</key>
                <string>{460,434}</string>
            </dict>
            <key>huilang_round2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,434}}</string>
                <key>sourceSize</key>
                <string>{460,434}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clositer_round-hd.pvr.ccz</string>
            <key>size</key>
            <string>{926,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f887e6dfd16e63693981344d91e568a0:1/1$</string>
            <key>textureFileName</key>
            <string>clositer_round-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
