<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cjjsmz_9_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,66},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>cjjsmz_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,78}}</string>
                <key>sourceSize</key>
                <string>{398,78}</string>
            </dict>
            <key>cjjsmz_suiji_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create_role_name_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{500,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b355eca4e0825a1fcd12e0fae653e811:1/1$</string>
            <key>textureFileName</key>
            <string>create_role_name_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
