<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gacha_add_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{818,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{818,480}}</string>
                <key>sourceSize</key>
                <string>{818,480}</string>
            </dict>
            <key>gacha_add_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,726},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>gacha_add_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,702},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>gacha_add_label_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,671},{73,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,29}}</string>
                <key>sourceSize</key>
                <string>{73,29}</string>
            </dict>
            <key>gacha_add_show_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,574},{275,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,95}}</string>
                <key>sourceSize</key>
                <string>{275,95}</string>
            </dict>
            <key>gacha_add_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{223,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,279}}</string>
                <key>sourceSize</key>
                <string>{223,279}</string>
            </dict>
            <key>gacha_add_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{496,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,53}}</string>
                <key>sourceSize</key>
                <string>{496,53}</string>
            </dict>
            <key>gacha_add_title_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,484},{574,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,88}}</string>
                <key>sourceSize</key>
                <string>{574,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gacha_add-hd.pvr.ccz</string>
            <key>size</key>
            <string>{822,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:910fcf8cf623dae12419cc5710e41aa5$</string>
            <key>textureFileName</key>
            <string>gacha_add-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
