<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yxsz_duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,186},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>yxsz_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>yxsz_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>yxsz_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>yxsz_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_setting_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{128,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4c9abcc2285a335d28dd9f7bb01303f:1/1$</string>
            <key>textureFileName</key>
            <string>game_setting_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
