<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_Aquarius.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{200,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,369}}</string>
                <key>sourceSize</key>
                <string>{200,369}</string>
            </dict>
            <key>ship_Aries.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,204},{344,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,263}}</string>
                <key>sourceSize</key>
                <string>{344,263}</string>
            </dict>
            <key>ship_Cancer.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{212,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,200}}</string>
                <key>sourceSize</key>
                <string>{212,200}</string>
            </dict>
            <key>ship_Capricorn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{405,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,267}}</string>
                <key>sourceSize</key>
                <string>{405,267}</string>
            </dict>
            <key>ship_Gemini.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,469},{330,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,212}}</string>
                <key>sourceSize</key>
                <string>{330,212}</string>
            </dict>
            <key>ship_Leo.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,726},{329,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,253}}</string>
                <key>sourceSize</key>
                <string>{329,253}</string>
            </dict>
            <key>ship_Libra.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,510},{308,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,214}}</string>
                <key>sourceSize</key>
                <string>{308,214}</string>
            </dict>
            <key>ship_Pisces.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,724},{326,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,290}}</string>
                <key>sourceSize</key>
                <string>{326,290}</string>
            </dict>
            <key>ship_Sagittarius.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{253,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,211}}</string>
                <key>sourceSize</key>
                <string>{253,211}</string>
            </dict>
            <key>ship_Scorpio.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{344,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,238}}</string>
                <key>sourceSize</key>
                <string>{344,238}</string>
            </dict>
            <key>ship_Taurus.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,216},{292,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,227}}</string>
                <key>sourceSize</key>
                <string>{292,227}</string>
            </dict>
            <key>ship_virgo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{287,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,240}}</string>
                <key>sourceSize</key>
                <string>{287,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>god_star_ship-hd.pvr.ccz</string>
            <key>size</key>
            <string>{990,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a45e4bffc26a476cc91f6e46be9be940:1/1$</string>
            <key>textureFileName</key>
            <string>god_star_ship-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
