<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Aquarius_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,965},{189,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,193}}</string>
                <key>sourceSize</key>
                <string>{189,193}</string>
            </dict>
            <key>Aquarius_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,686},{148,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,151}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>Aquarius_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1163},{147,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{147,43}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>Aries_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,490},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>Aries_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,855},{168,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,150}}</string>
                <key>sourceSize</key>
                <string>{168,150}</string>
            </dict>
            <key>Aries_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1136},{161,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{161,43}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>Cancer_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,307},{231,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,181}}</string>
                <key>sourceSize</key>
                <string>{231,181}</string>
            </dict>
            <key>Cancer_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,686},{189,141}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{189,141}}</string>
                <key>sourceSize</key>
                <string>{189,147}</string>
            </dict>
            <key>Cancer_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,194},{105,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{105,43}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>Capricorn_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,281},{192,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,182}}</string>
                <key>sourceSize</key>
                <string>{192,182}</string>
            </dict>
            <key>Capricorn_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,138},{150,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,141}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>Capricorn_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,239},{101,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{101,37}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>Gemini_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,115},{236,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,174}}</string>
                <key>sourceSize</key>
                <string>{236,174}</string>
            </dict>
            <key>Gemini_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,848},{196,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,131}}</string>
                <key>sourceSize</key>
                <string>{196,131}</string>
            </dict>
            <key>Gemini_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1123},{123,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{123,43}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>Leo_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,451},{206,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,232}}</string>
                <key>sourceSize</key>
                <string>{206,232}</string>
            </dict>
            <key>Leo_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,465},{165,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,191}}</string>
                <key>sourceSize</key>
                <string>{165,191}</string>
            </dict>
            <key>Leo_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1153},{91,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{91,37}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>Libra_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,451},{192,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,210}}</string>
                <key>sourceSize</key>
                <string>{192,210}</string>
            </dict>
            <key>Libra_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,684},{151,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,169}}</string>
                <key>sourceSize</key>
                <string>{151,169}</string>
            </dict>
            <key>Libra_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1160},{155,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{155,37}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>Pisces_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,291},{209,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,195}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>Pisces_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,829},{168,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,155}}</string>
                <key>sourceSize</key>
                <string>{168,155}</string>
            </dict>
            <key>Pisces_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1149},{139,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{139,43}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>Sagittarius_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,920},{219,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,208}}</string>
                <key>sourceSize</key>
                <string>{219,208}</string>
            </dict>
            <key>Sagittarius_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,680},{178,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>Sagittarius_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1168},{127,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{127,37}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>Scorpio_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,685},{196,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,197}}</string>
                <key>sourceSize</key>
                <string>{196,197}</string>
            </dict>
            <key>Scorpio_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,980},{154,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,157}}</string>
                <key>sourceSize</key>
                <string>{154,157}</string>
            </dict>
            <key>Scorpio_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1155},{135,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{135,37}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>Star_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1097},{254,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{254,45}}</string>
                <key>sourceSize</key>
                <string>{274,49}</string>
            </dict>
            <key>Taurus_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,488},{198,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,196}}</string>
                <key>sourceSize</key>
                <string>{198,196}</string>
            </dict>
            <key>Taurus_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,839},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>Taurus_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1078},{139,43}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{139,43}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>btn_chexiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,315},{77,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,92}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>btn_huifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1149},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>chexiao_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1139},{149,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,71}}</string>
                <key>sourceSize</key>
                <string>{149,71}</string>
            </dict>
            <key>cons_Aquarius.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,849},{126,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,167}}</string>
                <key>sourceSize</key>
                <string>{126,167}</string>
            </dict>
            <key>cons_Aries1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,981},{183,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,107}}</string>
                <key>sourceSize</key>
                <string>{183,107}</string>
            </dict>
            <key>cons_Cancer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,1007},{175,140}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{175,140}}</string>
                <key>sourceSize</key>
                <string>{185,168}</string>
            </dict>
            <key>cons_Capricorn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,678},{116,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,169}}</string>
                <key>sourceSize</key>
                <string>{116,169}</string>
            </dict>
            <key>cons_Gemini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,684},{185,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,156}}</string>
                <key>sourceSize</key>
                <string>{185,156}</string>
            </dict>
            <key>cons_Leo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,307},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>cons_Libra.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,490},{151,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,186}}</string>
                <key>sourceSize</key>
                <string>{151,186}</string>
            </dict>
            <key>cons_Pisces.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,986},{135,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,165}}</string>
                <key>sourceSize</key>
                <string>{135,165}</string>
            </dict>
            <key>cons_Sagittarius.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,490},{215,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,188}}</string>
                <key>sourceSize</key>
                <string>{215,188}</string>
            </dict>
            <key>cons_Scorpio.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,842},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
            <key>cons_Taurus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,996},{132,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,167}}</string>
                <key>sourceSize</key>
                <string>{132,167}</string>
            </dict>
            <key>cons_virgo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,291},{126,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,197}}</string>
                <key>sourceSize</key>
                <string>{126,197}</string>
            </dict>
            <key>dimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,311}}</string>
                <key>sourceSize</key>
                <string>{1136,311}</string>
            </dict>
            <key>enemy_pos.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,663},{90,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,20}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>god_name_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{220,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,62}}</string>
                <key>sourceSize</key>
                <string>{220,62}</string>
            </dict>
            <key>god_palace_chousha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,2},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>god_palace_doushen_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,194},{284,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,111}}</string>
                <key>sourceSize</key>
                <string>{284,111}</string>
            </dict>
            <key>god_palace_gongzhu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,315},{354,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,134}}</string>
                <key>sourceSize</key>
                <string>{354,134}</string>
            </dict>
            <key>god_palace_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1130},{235,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{235,31}}</string>
                <key>sourceSize</key>
                <string>{235,33}</string>
            </dict>
            <key>god_palace_shuangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1018},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>god_palace_tiaozhan_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,409},{74,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,35}}</string>
                <key>sourceSize</key>
                <string>{74,35}</string>
            </dict>
            <key>god_palace_zhanshen_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,2},{284,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,111}}</string>
                <key>sourceSize</key>
                <string>{284,111}</string>
            </dict>
            <key>palace_pos_bgsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1090},{214,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,44}}</string>
                <key>sourceSize</key>
                <string>{214,44}</string>
            </dict>
            <key>virgo_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,685},{184,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,233}}</string>
                <key>sourceSize</key>
                <string>{184,233}</string>
            </dict>
            <key>virgo_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,884},{145,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,192}}</string>
                <key>sourceSize</key>
                <string>{145,192}</string>
            </dict>
            <key>virgo_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,246},{91,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{91,37}}</string>
                <key>sourceSize</key>
                <string>{161,49}</string>
            </dict>
            <key>weizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1144},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>wenzi_wodeshiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,663},{63,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{63,20}}</string>
                <key>sourceSize</key>
                <string>{99,24}</string>
            </dict>
            <key>wenzi_zhanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,658},{40,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{40,22}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>wenzi_zhenxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,217},{108,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{108,27}}</string>
                <key>sourceSize</key>
                <string>{108,33}</string>
            </dict>
            <key>xingzuotu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{678,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,648}}</string>
                <key>sourceSize</key>
                <string>{678,648}</string>
            </dict>
            <key>xue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1067},{382,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{382,28}}</string>
                <key>sourceSize</key>
                <string>{404,54}</string>
            </dict>
            <key>xue_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,138},{404,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,54}}</string>
                <key>sourceSize</key>
                <string>{404,54}</string>
            </dict>
            <key>xuetiao_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{491,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,100}}</string>
                <key>sourceSize</key>
                <string>{491,100}</string>
            </dict>
            <key>zhanshen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,115},{108,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>zhanshen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1097},{114,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,109}}</string>
                <key>sourceSize</key>
                <string>{114,109}</string>
            </dict>
            <key>zhanshen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1067},{107,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,93}}</string>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>zhenxingtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{556,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,134}}</string>
                <key>sourceSize</key>
                <string>{556,134}</string>
            </dict>
            <key>ziwuxianzhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1163},{116,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{124,32}</string>
            </dict>
            <key>ziwuxianzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1162},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>god_star_palace-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:878b134326e222fe027b14f41ad23b19:1/1$</string>
            <key>textureFileName</key>
            <string>god_star_palace-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
