<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ytyb_ghrs.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,97},{97,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,16}}</string>
                <key>sourceSize</key>
                <string>{97,16}</string>
            </dict>
            <key>ytyb_gysx.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,94},{123,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,19}}</string>
                <key>sourceSize</key>
                <string>{123,19}</string>
            </dict>
            <key>ytyb_jg.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,48},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>ytyb_jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>ytyb_lk.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,48},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>ytyb_mers.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,94},{158,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,16}}</string>
                <key>sourceSize</key>
                <string>{158,16}</string>
            </dict>
            <key>ytyb_sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>ytyb_szgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,73},{85,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,22}}</string>
                <key>sourceSize</key>
                <string>{85,22}</string>
            </dict>
            <key>ytyb_ty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>ytyb_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{79,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,69}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>ytyb_ysq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>ytyb_zdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{86,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,21}}</string>
                <key>sourceSize</key>
                <string>{86,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>godfieldEmploy-hd.pvr.ccz</string>
            <key>size</key>
            <string>{494,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:190018b7fad5dca33d308125e2565055:1/1$</string>
            <key>textureFileName</key>
            <string>godfieldEmploy-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
