<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>godfen_attackBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,329},{124,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>godfen_attackEnemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,296},{124,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>godfen_benfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,117},{201,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,51}}</string>
                <key>sourceSize</key>
                <string>{201,51}</string>
            </dict>
            <key>godfen_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,494}}</string>
                <key>sourceSize</key>
                <string>{658,494}</string>
            </dict>
            <key>godfen_cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,63},{215,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,52}}</string>
                <key>sourceSize</key>
                <string>{215,52}</string>
            </dict>
            <key>godfen_defend.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,225},{124,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>godfen_duizhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,400},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>godfen_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,170},{176,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,51}}</string>
                <key>sourceSize</key>
                <string>{176,51}</string>
            </dict>
            <key>godfen_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,198},{125,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,25}}</string>
                <key>sourceSize</key>
                <string>{125,25}</string>
            </dict>
            <key>godfen_shenglishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,433},{121,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,24}}</string>
                <key>sourceSize</key>
                <string>{121,24}</string>
            </dict>
            <key>godfen_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,223},{149,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,71}}</string>
                <key>sourceSize</key>
                <string>{149,71}</string>
            </dict>
            <key>godfen_zhen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,400},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>godfen_zhen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,100},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>godfen_zhen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>godfen_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{220,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,59}}</string>
                <key>sourceSize</key>
                <string>{220,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>godfen-hd.pvr.ccz</string>
            <key>size</key>
            <string>{983,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7920af36d44714bfa1db6af9e7a890d9:1/1$</string>
            <key>textureFileName</key>
            <string>godfen-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
