<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>godtemple_adjust.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,273},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>godtemple_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,254},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>godtemple_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{226,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,320}}</string>
                <key>sourceSize</key>
                <string>{226,320}</string>
            </dict>
            <key>godtemple_duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,214},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>godtemple_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,208},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>godtemple_fuchou.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,273},{89,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>godtemple_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,231},{88,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,46}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>godtemple_getTeam_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,105},{116,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,101}}</string>
                <key>sourceSize</key>
                <string>{116,101}</string>
            </dict>
            <key>godtemple_getTeam_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,273},{105,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,27}}</string>
                <key>sourceSize</key>
                <string>{105,27}</string>
            </dict>
            <key>godtemple_getzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,214},{125,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,51}}</string>
                <key>sourceSize</key>
                <string>{125,51}</string>
            </dict>
            <key>godtemple_goTeam_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,273},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>godtemple_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{384,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,269}}</string>
                <key>sourceSize</key>
                <string>{384,269}</string>
            </dict>
            <key>godtemple_highbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,196},{249,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,95}}</string>
                <key>sourceSize</key>
                <string>{249,95}</string>
            </dict>
            <key>godtemple_highzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,267},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,28}}</string>
                <key>sourceSize</key>
                <string>{106,28}</string>
            </dict>
            <key>godtemple_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,257},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>godtemple_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,257},{126,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,51}}</string>
                <key>sourceSize</key>
                <string>{126,51}</string>
            </dict>
            <key>godtemple_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{228,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,227}}</string>
                <key>sourceSize</key>
                <string>{228,227}</string>
            </dict>
            <key>godtemple_lowbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,99},{249,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,95}}</string>
                <key>sourceSize</key>
                <string>{249,95}</string>
            </dict>
            <key>godtemple_lowzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,293},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,28}}</string>
                <key>sourceSize</key>
                <string>{106,28}</string>
            </dict>
            <key>godtemple_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{331,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,210}}</string>
                <key>sourceSize</key>
                <string>{331,210}</string>
            </dict>
            <key>godtemple_middlebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,2},{249,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,95}}</string>
                <key>sourceSize</key>
                <string>{249,95}</string>
            </dict>
            <key>godtemple_midzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,293},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,28}}</string>
                <key>sourceSize</key>
                <string>{106,28}</string>
            </dict>
            <key>godtemple_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,214},{149,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,71}}</string>
                <key>sourceSize</key>
                <string>{149,71}</string>
            </dict>
            <key>godtemple_revenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{116,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,101}}</string>
                <key>sourceSize</key>
                <string>{116,101}</string>
            </dict>
            <key>godtemple_tanchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{433,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,253}}</string>
                <key>sourceSize</key>
                <string>{433,253}</string>
            </dict>
            <key>godtemple_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,293},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>godtemple_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{221,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,57}}</string>
                <key>sourceSize</key>
                <string>{221,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>godtemple-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1983,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b1ed4d86b9718b8a348525fe1e31a7a:1/1$</string>
            <key>textureFileName</key>
            <string>godtemple-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
