<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>detail_contribution.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,40},{83,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,20}}</string>
                <key>sourceSize</key>
                <string>{83,20}</string>
            </dict>
            <key>detail_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{892,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,95}}</string>
                <key>sourceSize</key>
                <string>{892,95}</string>
            </dict>
            <key>detail_guild_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,2},{177,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{177,36}}</string>
                <key>sourceSize</key>
                <string>{177,48}</string>
            </dict>
            <key>detail_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,95},{890,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,21}}</string>
                <key>sourceSize</key>
                <string>{890,21}</string>
            </dict>
            <key>detail_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{24,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{24,16}}</string>
                <key>sourceSize</key>
                <string>{48,20}</string>
            </dict>
            <key>detail_position.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,84},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,18}}</string>
                <key>sourceSize</key>
                <string>{48,20}</string>
            </dict>
            <key>detail_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{881,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{881,91}}</string>
                <key>sourceSize</key>
                <string>{883,95}</string>
            </dict>
            <key>detail_text_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,62},{58,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{58,20}}</string>
                <key>sourceSize</key>
                <string>{82,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gonghui_detail-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1958,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6334ee52d4ab917112d35788c3df913$</string>
            <key>textureFileName</key>
            <string>gonghui_detail-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
