<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gonghui_LV_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>gonghui_chengyuan_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{67,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,18}}</string>
                <key>sourceSize</key>
                <string>{67,22}</string>
            </dict>
            <key>gonghui_di_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,117},{115,23}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{115,23}}</string>
                <key>sourceSize</key>
                <string>{123,23}</string>
            </dict>
            <key>gonghui_diaopai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,113}}</string>
                <key>sourceSize</key>
                <string>{465,113}</string>
            </dict>
            <key>gonghui_heitiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{339,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,32}}</string>
                <key>sourceSize</key>
                <string>{339,32}</string>
            </dict>
            <key>gonghui_paiming_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{65,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,20}}</string>
                <key>sourceSize</key>
                <string>{67,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gonghui_mini-hd.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8c66bba7ba0c654b8e60b2efd5666e2$</string>
            <key>textureFileName</key>
            <string>gonghui_mini-hd.png</string>
        </dict>
    </dict>
</plist>
