<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gringotts_Jiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,97},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Gringotts_Qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,167}}</string>
                <key>sourceSize</key>
                <string>{241,167}</string>
            </dict>
            <key>Gringotts_alreadyGet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,2},{140,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,72}</string>
            </dict>
            <key>Gringotts_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,76},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>Gringotts_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,97},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>Gringotts_hangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,103},{123,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,39}}</string>
                <key>sourceSize</key>
                <string>{123,39}</string>
            </dict>
            <key>Gringotts_iwanto.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,118},{122,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,50}}</string>
                <key>sourceSize</key>
                <string>{122,50}</string>
            </dict>
            <key>Gringotts_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,144},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>Gringotts_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,136},{101,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>Gringotts_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,156},{199,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,15}}</string>
                <key>sourceSize</key>
                <string>{199,15}</string>
            </dict>
            <key>Gringotts_jindutiaoDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,76},{204,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,19}}</string>
                <key>sourceSize</key>
                <string>{204,19}</string>
            </dict>
            <key>Gringotts_mynews.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,128},{123,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,39}}</string>
                <key>sourceSize</key>
                <string>{123,39}</string>
            </dict>
            <key>Gringotts_noselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,2},{113,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,110}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>Gringotts_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,103},{145,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,60}}</string>
                <key>sourceSize</key>
                <string>{145,60}</string>
            </dict>
            <key>Gringotts_rongzinum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,144},{122,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,24}}</string>
                <key>sourceSize</key>
                <string>{122,24}</string>
            </dict>
            <key>Gringotts_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{127,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,124}}</string>
                <key>sourceSize</key>
                <string>{127,124}</string>
            </dict>
            <key>Gringotts_shengyucoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,23},{99,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,19}}</string>
                <key>sourceSize</key>
                <string>{99,19}</string>
            </dict>
            <key>Gringotts_shengyutimes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,44},{76,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,16}}</string>
                <key>sourceSize</key>
                <string>{76,16}</string>
            </dict>
            <key>Gringotts_shenyuzhuanshidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2},{242,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,114}}</string>
                <key>sourceSize</key>
                <string>{242,114}</string>
            </dict>
            <key>Gringotts_timeOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,44},{75,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,16}}</string>
                <key>sourceSize</key>
                <string>{75,16}</string>
            </dict>
            <key>Gringotts_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{500,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,152}}</string>
                <key>sourceSize</key>
                <string>{500,152}</string>
            </dict>
            <key>Gringotts_toumingdi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{233,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,156}}</string>
                <key>sourceSize</key>
                <string>{233,156}</string>
            </dict>
            <key>Gringotts_toumingdi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{233,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,99}}</string>
                <key>sourceSize</key>
                <string>{233,99}</string>
            </dict>
            <key>Gringotts_toumingdi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,114},{191,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,57}}</string>
                <key>sourceSize</key>
                <string>{191,57}</string>
            </dict>
            <key>Gringotts_yuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,2},{99,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,19}}</string>
                <key>sourceSize</key>
                <string>{99,19}</string>
            </dict>
            <key>Gringotts_yuji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,128},{123,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,39}}</string>
                <key>sourceSize</key>
                <string>{123,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gringotts-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2021,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ac3d8560c9922a477adc04bbdd1587:1/1$</string>
            <key>textureFileName</key>
            <string>Gringotts-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
