<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_t2_annniuqizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{170,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,47}}</string>
                <key>sourceSize</key>
                <string>{170,47}</string>
            </dict>
            <key>guild_t2_hongquanjunnenglijiacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,28},{122,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,24}}</string>
                <key>sourceSize</key>
                <string>{122,24}</string>
            </dict>
            <key>guild_t2_lanquanjunnenglijiacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{122,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,24}}</string>
                <key>sourceSize</key>
                <string>{122,24}</string>
            </dict>
            <key>guild_t2_qianqishuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{149,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,40}}</string>
                <key>sourceSize</key>
                <string>{149,40}</string>
            </dict>
            <key>guild_t2_qitagongcekakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,50}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>guild_t2_quanqipaiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{286,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,38}}</string>
                <key>sourceSize</key>
                <string>{286,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_t2_res-hd.png</string>
            <key>size</key>
            <string>{907,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9c112ebea7daff62f7c68a41dd9783f$</string>
            <key>textureFileName</key>
            <string>guild_t2_res-hd.png</string>
        </dict>
    </dict>
</plist>
