<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_warf_biapti.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,192},{183,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,47}}</string>
                <key>sourceSize</key>
                <string>{185,47}</string>
            </dict>
            <key>guild_warf_chakangonghuixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,192},{177,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,37}}</string>
                <key>sourceSize</key>
                <string>{177,37}</string>
            </dict>
            <key>guild_warf_daVS.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{188,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,128}}</string>
                <key>sourceSize</key>
                <string>{190,128}</string>
            </dict>
            <key>guild_warf_daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{88,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,27}}</string>
                <key>sourceSize</key>
                <string>{88,31}</string>
            </dict>
            <key>guild_warf_dunpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{74,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{74,98}</string>
            </dict>
            <key>guild_warf_feizhouzhengba.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,192},{186,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{186,45}}</string>
                <key>sourceSize</key>
                <string>{186,49}</string>
            </dict>
            <key>guild_warf_hongqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{349,75}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{349,75}}</string>
                <key>sourceSize</key>
                <string>{351,77}</string>
            </dict>
            <key>guild_warf_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,154},{90,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,109}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>guild_warf_jinru.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{208,100}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{208,100}}</string>
                <key>sourceSize</key>
                <string>{216,102}</string>
            </dict>
            <key>guild_warf_lanqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{353,73}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{353,73}}</string>
                <key>sourceSize</key>
                <string>{355,75}</string>
            </dict>
            <key>guild_warf_tiaozhanzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,402},{97,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,37}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>guild_warf_wujiaoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,467},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>guild_warf_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,380},{109,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,124}}</string>
                <key>sourceSize</key>
                <string>{111,124}</string>
            </dict>
            <key>guild_warf_zhanlingzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,371},{94,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,37}}</string>
                <key>sourceSize</key>
                <string>{98,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_warf_res-hd.png</string>
            <key>size</key>
            <string>{487,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f0c8803de1c8e8bf61eca8523288fe$</string>
            <key>textureFileName</key>
            <string>guild_warf_res-hd.png</string>
        </dict>
    </dict>
</plist>
