<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_world_EASY.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,375},{63,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>guild_world_HARD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,332},{62,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,23}}</string>
                <key>sourceSize</key>
                <string>{64,23}</string>
            </dict>
            <key>guild_world_VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,288},{393,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,72}}</string>
                <key>sourceSize</key>
                <string>{393,72}</string>
            </dict>
            <key>guild_world_VSzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,349},{69,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,47}}</string>
                <key>sourceSize</key>
                <string>{69,47}</string>
            </dict>
            <key>guild_world_biao.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,285},{301,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,62}}</string>
                <key>sourceSize</key>
                <string>{301,62}</string>
            </dict>
            <key>guild_world_daizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,299},{261,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,93}}</string>
                <key>sourceSize</key>
                <string>{261,93}</string>
            </dict>
            <key>guild_world_feizhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{326,271}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{326,271}}</string>
                <key>sourceSize</key>
                <string>{334,279}</string>
            </dict>
            <key>guild_world_feizhouzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,362},{77,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{77,32}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>guild_world_jijiangkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,302},{81,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{81,28}}</string>
                <key>sourceSize</key>
                <string>{105,32}</string>
            </dict>
            <key>guild_world_meizhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,295}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{322,295}}</string>
                <key>sourceSize</key>
                <string>{332,311}</string>
            </dict>
            <key>guild_world_meizhouzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,349},{73,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{73,32}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>guild_world_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,375},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{96,23}</string>
            </dict>
            <key>guild_world_ouzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{386,281}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,281}}</string>
                <key>sourceSize</key>
                <string>{386,289}</string>
            </dict>
            <key>guild_world_ouzhouzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,362},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>guild_world_paizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,275},{180,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,117}}</string>
                <key>sourceSize</key>
                <string>{180,117}</string>
            </dict>
            <key>guild_world_shijiezhengba.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,362},{187,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{187,32}}</string>
                <key>sourceSize</key>
                <string>{187,46}</string>
            </dict>
            <key>guild_world_tiaozhanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,349},{153,24}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{153,24}}</string>
                <key>sourceSize</key>
                <string>{157,34}</string>
            </dict>
            <key>guild_world_wanjiashuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{95,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>guild_world_yazhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{378,284}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{378,284}}</string>
                <key>sourceSize</key>
                <string>{382,288}</string>
            </dict>
            <key>guild_world_yazhouzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,362},{63,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{63,36}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>guild_world_zhanling.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,383},{67,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{67,18}}</string>
                <key>sourceSize</key>
                <string>{67,32}</string>
            </dict>
            <key>guild_world_zhunbeizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,275},{129,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{129,25}}</string>
                <key>sourceSize</key>
                <string>{129,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_world_res-hd.png</string>
            <key>size</key>
            <string>{1422,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b81db67836832d344ec8165327dd1272$</string>
            <key>textureFileName</key>
            <string>guild_world_res-hd.png</string>
        </dict>
    </dict>
</plist>
