<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{109,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>guild_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{109,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>guild_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{109,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>guild_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{109,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,97}}</string>
                <key>sourceSize</key>
                <string>{109,99}</string>
            </dict>
            <key>guild_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{109,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,97}}</string>
                <key>sourceSize</key>
                <string>{109,99}</string>
            </dict>
            <key>guild_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{109,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,99}}</string>
                <key>sourceSize</key>
                <string>{109,99}</string>
            </dict>
            <key>guild_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{118,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,101}}</string>
                <key>sourceSize</key>
                <string>{120,101}</string>
            </dict>
            <key>guild_r_BOSS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{136,116}</string>
            </dict>
            <key>guild_r_LV.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,76},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>guild_r_annniukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,2},{429,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,62}}</string>
                <key>sourceSize</key>
                <string>{429,62}</string>
            </dict>
            <key>guild_r_jichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{121,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,71}}</string>
                <key>sourceSize</key>
                <string>{121,71}</string>
            </dict>
            <key>guild_r_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,66},{91,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,42}}</string>
                <key>sourceSize</key>
                <string>{99,42}</string>
            </dict>
            <key>guild_r_kaifajilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,76},{177,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{177,34}}</string>
                <key>sourceSize</key>
                <string>{177,44}</string>
            </dict>
            <key>guild_r_qita.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{121,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,72}}</string>
                <key>sourceSize</key>
                <string>{121,72}</string>
            </dict>
            <key>guild_r_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,66},{275,43}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{275,43}}</string>
                <key>sourceSize</key>
                <string>{277,51}</string>
            </dict>
            <key>guild_r_zhengbazhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{111,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{111,72}}</string>
                <key>sourceSize</key>
                <string>{121,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_r_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1712,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77c9e53c92f6559b7aec35203dae6a15$</string>
            <key>textureFileName</key>
            <string>guild_r_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
