<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,32}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>guild_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{130,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,32}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>guild_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{130,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>guild_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{130,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>guild_text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{130,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>guild_text_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,34},{130,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>guild_text_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{130,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>guild_text_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{154,33}}</string>
                <key>sourceSize</key>
                <string>{174,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_text_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{948,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb54529ae5e81f75aa6102b4d61c3bf$</string>
            <key>textureFileName</key>
            <string>guild_text_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
