<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gonghui_chuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,232},{177,35}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{177,35}}</string>
                <key>sourceSize</key>
                <string>{177,47}</string>
            </dict>
            <key>gonghui_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,269},{176,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{176,33}}</string>
                <key>sourceSize</key>
                <string>{176,49}</string>
            </dict>
            <key>gonghui_xiaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{499,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,228}}</string>
                <key>sourceSize</key>
                <string>{499,228}</string>
            </dict>
            <key>gonghui_zhongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,321}}</string>
                <key>sourceSize</key>
                <string>{496,321}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianli_pop-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1001,325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aba5bbe1112a2ccbbadda3fa50baad2f$</string>
            <key>textureFileName</key>
            <string>jianli_pop-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
