<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>limit_lime_lqj.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,263},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>limit_time_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>limit_time_war_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{224,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,27}}</string>
                <key>sourceSize</key>
                <string>{224,27}</string>
            </dict>
            <key>limit_time_war_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{186,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,335}}</string>
                <key>sourceSize</key>
                <string>{186,335}</string>
            </dict>
            <key>limit_time_war_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{932,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,452}}</string>
                <key>sourceSize</key>
                <string>{932,452}</string>
            </dict>
            <key>limit_time_war_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{681,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,333}}</string>
                <key>sourceSize</key>
                <string>{681,333}</string>
            </dict>
            <key>limit_time_war_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,870},{106,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{106,40}</string>
            </dict>
            <key>limit_time_war_bwc.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,143},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>limit_time_war_s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,979},{140,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,22}}</string>
                <key>sourceSize</key>
                <string>{140,26}</string>
            </dict>
            <key>limit_time_war_s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,791},{155,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,22}}</string>
                <key>sourceSize</key>
                <string>{155,26}</string>
            </dict>
            <key>limit_time_war_s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,228},{169,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{169,22}}</string>
                <key>sourceSize</key>
                <string>{171,26}</string>
            </dict>
            <key>limit_war_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,456},{284,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,310}}</string>
                <key>sourceSize</key>
                <string>{284,310}</string>
            </dict>
            <key>limit_war_brw.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,815},{119,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,53}}</string>
                <key>sourceSize</key>
                <string>{119,53}</string>
            </dict>
            <key>limit_war_bsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,871},{119,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,53}}</string>
                <key>sourceSize</key>
                <string>{119,53}</string>
            </dict>
            <key>limit_war_bsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,768},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>limit_war_bwc.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,791},{142,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,78}}</string>
                <key>sourceSize</key>
                <string>{142,78}</string>
            </dict>
            <key>limit_war_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{184,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{184,27}}</string>
                <key>sourceSize</key>
                <string>{184,49}</string>
            </dict>
            <key>limit_war_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,981},{118,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,31}}</string>
                <key>sourceSize</key>
                <string>{120,37}</string>
            </dict>
            <key>limit_war_jf.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,768},{127,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{127,29}}</string>
                <key>sourceSize</key>
                <string>{129,35}</string>
            </dict>
            <key>limit_war_jf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,399},{37,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,18}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>limit_war_phb.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,815},{65,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{65,33}}</string>
                <key>sourceSize</key>
                <string>{93,37}</string>
            </dict>
            <key>limit_war_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,926},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>limit_war_xm.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1003},{71,16}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{71,16}}</string>
                <key>sourceSize</key>
                <string>{71,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>limit_time_war-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be28c244011741105f6cf7bbb707399:1/1$</string>
            <key>textureFileName</key>
            <string>limit_time_war-hd.png</string>
        </dict>
    </dict>
</plist>
