<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monopoly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,99},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>monopoly_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,274},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>monopoly_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,198},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>monopoly_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,53},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>monopoly_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,198},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>monopoly_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,293},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>monopoly_cardDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{188,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,238}}</string>
                <key>sourceSize</key>
                <string>{188,238}</string>
            </dict>
            <key>monopoly_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,292},{127,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,48}}</string>
                <key>sourceSize</key>
                <string>{127,48}</string>
            </dict>
            <key>monopoly_combat.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,244},{98,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,29}}</string>
                <key>sourceSize</key>
                <string>{98,29}</string>
            </dict>
            <key>monopoly_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{119,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,49}}</string>
                <key>sourceSize</key>
                <string>{119,49}</string>
            </dict>
            <key>monopoly_doubleDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{108,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,96}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>monopoly_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,53},{70,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,47}}</string>
                <key>sourceSize</key>
                <string>{70,47}</string>
            </dict>
            <key>monopoly_formation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{98,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,29}}</string>
                <key>sourceSize</key>
                <string>{98,29}</string>
            </dict>
            <key>monopoly_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,71},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>monopoly_giftBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,200},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>monopoly_guild.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,169},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>monopoly_iconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,100},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>monopoly_jindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{20,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,350}}</string>
                <key>sourceSize</key>
                <string>{20,350}</string>
            </dict>
            <key>monopoly_jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{24,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,354}}</string>
                <key>sourceSize</key>
                <string>{24,354}</string>
            </dict>
            <key>monopoly_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,306},{93,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,29}}</string>
                <key>sourceSize</key>
                <string>{93,29}</string>
            </dict>
            <key>monopoly_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{141,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,49}}</string>
                <key>sourceSize</key>
                <string>{141,49}</string>
            </dict>
            <key>monopoly_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,266},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>monopoly_medalDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,198},{108,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,93}}</string>
                <key>sourceSize</key>
                <string>{108,93}</string>
            </dict>
            <key>monopoly_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,275},{93,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,29}}</string>
                <key>sourceSize</key>
                <string>{93,29}</string>
            </dict>
            <key>monopoly_normalDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,71},{108,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,96}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>monopoly_numDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,150},{73,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{73,46}</string>
            </dict>
            <key>monopoly_numDi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,102},{73,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{73,46}</string>
            </dict>
            <key>monopoly_selcet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{142,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,128}}</string>
                <key>sourceSize</key>
                <string>{142,128}</string>
            </dict>
            <key>monopoly_server.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,169},{67,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,28}}</string>
                <key>sourceSize</key>
                <string>{67,28}</string>
            </dict>
            <key>monopoly_shopZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{239,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,63}}</string>
                <key>sourceSize</key>
                <string>{239,63}</string>
            </dict>
            <key>monopoly_shopZi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,242},{128,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,48}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>monopoly_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,242},{71,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,48}}</string>
                <key>sourceSize</key>
                <string>{71,48}</string>
            </dict>
            <key>monopoly_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,67}}</string>
                <key>sourceSize</key>
                <string>{318,67}</string>
            </dict>
            <key>monopoly_titlex2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,292},{78,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,64}}</string>
                <key>sourceSize</key>
                <string>{78,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monopoly-hd.pvr.ccz</string>
            <key>size</key>
            <string>{800,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aef07bcef58458f45adc627855052ebb:1/1$</string>
            <key>textureFileName</key>
            <string>monopoly-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
