<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sjdt__yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,600}}</string>
                <key>sourceSize</key>
                <string>{560,600}</string>
            </dict>
            <key>sjdt_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{278,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,592}}</string>
                <key>sourceSize</key>
                <string>{278,592}</string>
            </dict>
            <key>sjdt_chengjiu_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,668},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>sjdt_chengjiu_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,668},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>sjdt_chengjiu_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,668},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>sjdt_chengjiu_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>sjdt_chengjiu_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>sjdt_chengjiu_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,596},{30,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,68}}</string>
                <key>sourceSize</key>
                <string>{30,68}</string>
            </dict>
            <key>sjdt_sf_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,668},{112,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>sjdt_sf_guanbi_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,668},{112,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>sjdt_shangtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,604},{626,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,62}}</string>
                <key>sourceSize</key>
                <string>{626,62}</string>
            </dict>
            <key>sjdt_sjsf_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,740},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_mapworld_add_res2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{844,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8ebb0391204a8e9920f8b8ec39d8567:1/1$</string>
            <key>textureFileName</key>
            <string>new_mapworld_add_res2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
