<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>open_charge_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,440}}</string>
                <key>sourceSize</key>
                <string>{278,440}</string>
            </dict>
            <key>open_charge_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,340},{176,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,22}}</string>
                <key>sourceSize</key>
                <string>{176,22}</string>
            </dict>
            <key>open_charge_bar_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,316},{176,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,22}}</string>
                <key>sourceSize</key>
                <string>{176,22}</string>
            </dict>
            <key>open_charge_bar_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,196},{231,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,66}}</string>
                <key>sourceSize</key>
                <string>{231,66}</string>
            </dict>
            <key>open_charge_bar_cell_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,128},{231,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,66}}</string>
                <key>sourceSize</key>
                <string>{231,66}</string>
            </dict>
            <key>open_charge_dimond.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,264},{156,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,28}}</string>
                <key>sourceSize</key>
                <string>{156,28}</string>
            </dict>
            <key>open_charge_getted.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,164},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>open_charge_getted_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,194},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>open_charge_getting.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,128},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>open_charge_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,264},{120,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,20}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>open_charge_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,286},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>open_charge_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{330,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,124}}</string>
                <key>sourceSize</key>
                <string>{330,124}</string>
            </dict>
            <key>open_charge_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,194},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>open_charge-hd.pvr.ccz</string>
            <key>size</key>
            <string>{614,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0167fa0efb7d770f91cfd6789e55dcb0$</string>
            <key>textureFileName</key>
            <string>open_charge-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
