<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kmhd_9_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>kmhd_content_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,241}}</string>
                <key>sourceSize</key>
                <string>{480,241}</string>
            </dict>
            <key>kmhd_dangqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,198},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>kmhd_dangqian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,104},{102,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,46}}</string>
                <key>sourceSize</key>
                <string>{102,46}</string>
            </dict>
            <key>kmhd_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>kmhd_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,104},{142,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,54}}</string>
                <key>sourceSize</key>
                <string>{142,54}</string>
            </dict>
            <key>kmhd_jindu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,152},{148,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,44}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
            <key>kmhd_jindu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,104},{126,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,23}}</string>
                <key>sourceSize</key>
                <string>{126,23}</string>
            </dict>
            <key>kmhd_juanzeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{235,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,100}}</string>
                <key>sourceSize</key>
                <string>{235,100}</string>
            </dict>
            <key>kmhd_name_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,182},{168,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,56}}</string>
                <key>sourceSize</key>
                <string>{168,56}</string>
            </dict>
            <key>kmhd_name_ban_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,160},{197,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,79}}</string>
                <key>sourceSize</key>
                <string>{197,79}</string>
            </dict>
            <key>kmhd_nengyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{160,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>kmhd_xiangqin.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,198},{116,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>open_door_activity_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1105,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b97103cc56bc0a4a35eff1a5bc7623e:1/1$</string>
            <key>textureFileName</key>
            <string>open_door_activity_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
