<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huilang_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,756},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>huilang_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,714},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>huilang_3th.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,288},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>huilang_adjustment.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,926},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>huilang_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,762},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>huilang_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,976},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>huilang_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,288},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>huilang_back_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,598}}</string>
                <key>sourceSize</key>
                <string>{382,598}</string>
            </dict>
            <key>huilang_benci.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,396},{645,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,100}}</string>
                <key>sourceSize</key>
                <string>{645,100}</string>
            </dict>
            <key>huilang_corner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,762},{104,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,38}}</string>
                <key>sourceSize</key>
                <string>{104,38}</string>
            </dict>
            <key>huilang_corner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,370},{178,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,32}}</string>
                <key>sourceSize</key>
                <string>{178,32}</string>
            </dict>
            <key>huilang_corner3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,840},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>huilang_detail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,878},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>huilang_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,902},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>huilang_end1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,984},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>huilang_end2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,926},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>huilang_end3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,700},{74,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{74,12}</string>
            </dict>
            <key>huilang_end4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1004},{74,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{74,12}</string>
            </dict>
            <key>huilang_end_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,848},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huilang_end_back_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,954},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>huilang_first_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,826},{370,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,28}}</string>
                <key>sourceSize</key>
                <string>{370,28}</string>
            </dict>
            <key>huilang_get_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,486},{174,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,24}}</string>
                <key>sourceSize</key>
                <string>{174,24}</string>
            </dict>
            <key>huilang_icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,910},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>huilang_icon_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,562},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>huilang_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{542,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,392}}</string>
                <key>sourceSize</key>
                <string>{542,392}</string>
            </dict>
            <key>huilang_level_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,856},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>huilang_liehen.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,574},{622,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,74}}</string>
                <key>sourceSize</key>
                <string>{622,74}</string>
            </dict>
            <key>huilang_liehen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,498},{622,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,74}}</string>
                <key>sourceSize</key>
                <string>{622,74}</string>
            </dict>
            <key>huilang_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,288},{22,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,80}}</string>
                <key>sourceSize</key>
                <string>{22,80}</string>
            </dict>
            <key>huilang_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{298,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,212}}</string>
                <key>sourceSize</key>
                <string>{298,212}</string>
            </dict>
            <key>huilang_pity.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,752},{196,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,34}}</string>
                <key>sourceSize</key>
                <string>{196,34}</string>
            </dict>
            <key>huilang_rank_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,762},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>huilang_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>huilang_sprite_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,840},{150,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,122}}</string>
                <key>sourceSize</key>
                <string>{150,122}</string>
            </dict>
            <key>huilang_tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,964},{174,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,56}}</string>
                <key>sourceSize</key>
                <string>{174,56}</string>
            </dict>
            <key>huilang_tips_no_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,690},{266,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,18}}</string>
                <key>sourceSize</key>
                <string>{266,18}</string>
            </dict>
            <key>huilang_title_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,796},{122,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,34}}</string>
                <key>sourceSize</key>
                <string>{122,34}</string>
            </dict>
            <key>huilang_title_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,908},{150,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,34}}</string>
                <key>sourceSize</key>
                <string>{150,34}</string>
            </dict>
            <key>huilang_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{314,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,236}}</string>
                <key>sourceSize</key>
                <string>{314,236}</string>
            </dict>
            <key>xjhl_baowu.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,998},{68,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,20}}</string>
                <key>sourceSize</key>
                <string>{68,20}</string>
            </dict>
            <key>xjhl_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,902},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>xjhl_bzcj.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,833},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>xjhl_chongxinkais.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,512},{148,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,80}}</string>
                <key>sourceSize</key>
                <string>{148,80}</string>
            </dict>
            <key>xjhl_csm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,976},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>xjhl_daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,512},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>xjhl_daoju2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,992},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>xjhl_dasanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,404},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>xjhl_diren.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,602},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>xjhl_dyc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,594},{148,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,50}}</string>
                <key>sourceSize</key>
                <string>{148,50}</string>
            </dict>
            <key>xjhl_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,848},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>xjhl_guizeshuom.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,743},{139,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,17}}</string>
                <key>sourceSize</key>
                <string>{139,17}</string>
            </dict>
            <key>xjhl_hds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,672},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>xjhl_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,950},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>xjhl_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,940},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>xjhl_jixutiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,404},{148,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,80}}</string>
                <key>sourceSize</key>
                <string>{148,80}</string>
            </dict>
            <key>xjhl_jjzx.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,878},{158,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,28}}</string>
                <key>sourceSize</key>
                <string>{158,28}</string>
            </dict>
            <key>xjhl_kaishitiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,288},{148,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,80}}</string>
                <key>sourceSize</key>
                <string>{148,80}</string>
            </dict>
            <key>xjhl_mrjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,856},{190,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,44}}</string>
                <key>sourceSize</key>
                <string>{190,44}</string>
            </dict>
            <key>xjhl_pmjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,788},{184,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,43}}</string>
                <key>sourceSize</key>
                <string>{184,43}</string>
            </dict>
            <key>xjhl_shengming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,216},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xjhl_shengming1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,802},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>xjhl_shengming2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,878},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>xjhl_shengming3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,802},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>xjhl_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,762},{346,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,62}}</string>
                <key>sourceSize</key>
                <string>{346,62}</string>
            </dict>
            <key>xjhl_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,832},{128,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,14}}</string>
                <key>sourceSize</key>
                <string>{128,14}</string>
            </dict>
            <key>xjhl_tiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,944},{136,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,46}}</string>
                <key>sourceSize</key>
                <string>{136,46}</string>
            </dict>
            <key>xjhl_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,714},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>xjhl_xianzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,717},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>xjhl_xingjihuilang.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,650},{317,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,38}}</string>
                <key>sourceSize</key>
                <string>{317,38}</string>
            </dict>
            <key>xjhl_xuetiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,706},{404,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,54}}</string>
                <key>sourceSize</key>
                <string>{404,54}</string>
            </dict>
            <key>xjhl_xuetiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,650},{404,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,54}}</string>
                <key>sourceSize</key>
                <string>{404,54}</string>
            </dict>
            <key>xjhl_xunlianzhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,992},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,28}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>xjhl_xuyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,710},{234,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,40}}</string>
                <key>sourceSize</key>
                <string>{234,40}</string>
            </dict>
            <key>xjhl_yiliaosuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,644},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>xjhl_yiyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{214,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,30}}</string>
                <key>sourceSize</key>
                <string>{214,30}</string>
            </dict>
            <key>xjhl_yuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,216},{240,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,70}}</string>
                <key>sourceSize</key>
                <string>{240,70}</string>
            </dict>
            <key>xjhl_zgjf.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,717},{140,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,24}}</string>
                <key>sourceSize</key>
                <string>{140,24}</string>
            </dict>
            <key>xjhl_zgjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,691},{140,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,24}}</string>
                <key>sourceSize</key>
                <string>{140,24}</string>
            </dict>
            <key>xjhl_zhufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,646},{109,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,43}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>xjhl_zzzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,992},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,28}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>open_door_cloister_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1244,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46293bfe8b67dc1beb810d8eda8aa4d1:1/1$</string>
            <key>textureFileName</key>
            <string>open_door_cloister_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
