<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>server_luckyturn_board1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>server_luckyturn_board2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>server_luckyturn_dimond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,28},{106,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,24}}</string>
                <key>sourceSize</key>
                <string>{106,24}</string>
            </dict>
            <key>server_luckyturn_lefttime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,34},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>server_luckyturn_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{224,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,36}}</string>
                <key>sourceSize</key>
                <string>{224,36}</string>
            </dict>
            <key>server_luckyturn_progress_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{224,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,36}}</string>
                <key>sourceSize</key>
                <string>{224,36}</string>
            </dict>
            <key>server_luckyturn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,28},{108,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,24}}</string>
                <key>sourceSize</key>
                <string>{108,24}</string>
            </dict>
            <key>server_luckyturn_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{130,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,24}}</string>
                <key>sourceSize</key>
                <string>{130,24}</string>
            </dict>
            <key>server_luckyturn_reward_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{154,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,40}}</string>
                <key>sourceSize</key>
                <string>{154,40}</string>
            </dict>
            <key>server_luckyturn_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{104,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,26}}</string>
                <key>sourceSize</key>
                <string>{104,26}</string>
            </dict>
            <key>server_luckyturn_score_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,34},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>server_luckyturn_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>server_luckyturn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,50}}</string>
                <key>sourceSize</key>
                <string>{290,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>server_luckyturn-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1414,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ef193bebe9ffedec6708fd95664a874:1/1$</string>
            <key>textureFileName</key>
            <string>server_luckyturn-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
