<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>server_shop_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{868,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{868,246}}</string>
                <key>sourceSize</key>
                <string>{868,246}</string>
            </dict>
            <key>server_shop_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,124},{184,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,82}}</string>
                <key>sourceSize</key>
                <string>{184,82}</string>
            </dict>
            <key>server_shop_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,208},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{96,26}</string>
            </dict>
            <key>server_shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{348,120}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{348,120}}</string>
                <key>sourceSize</key>
                <string>{360,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>server_shop-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1222,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9b5e90102b50e56d918088f568ee06b:1/1$</string>
            <key>textureFileName</key>
            <string>server_shop-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
