<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exchange_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,263},{97,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,29}}</string>
                <key>sourceSize</key>
                <string>{97,29}</string>
            </dict>
            <key>exchange_glod.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,870},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>exchange_sieve.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,258},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>lattice.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,131},{139,141}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{139,141}}</string>
                <key>sourceSize</key>
                <string>{159,153}</string>
            </dict>
            <key>lattice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>lattice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,435},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>lattice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,435},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>lattice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>lattice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,594},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>lattice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,919},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>ranking_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{431,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{431,100}}</string>
                <key>sourceSize</key>
                <string>{435,104}</string>
            </dict>
            <key>ranking_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,541},{97,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,36}}</string>
                <key>sourceSize</key>
                <string>{97,36}</string>
            </dict>
            <key>ranking_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{223,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,42}}</string>
                <key>sourceSize</key>
                <string>{223,42}</string>
            </dict>
            <key>sieve_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,594},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>sieve_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>sieve_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,899},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>sieve_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,907},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>sieve_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,806},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>sieve_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>super_luck_betting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{170,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,127}}</string>
                <key>sourceSize</key>
                <string>{172,127}</string>
            </dict>
            <key>super_luck_betting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,272},{171,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,80}}</string>
                <key>sourceSize</key>
                <string>{171,80}</string>
            </dict>
            <key>super_luck_betting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,710},{132,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,38}}</string>
                <key>sourceSize</key>
                <string>{132,38}</string>
            </dict>
            <key>super_luck_betting4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{53,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,22}}</string>
                <key>sourceSize</key>
                <string>{53,22}</string>
            </dict>
            <key>super_luck_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{155,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{155,41}}</string>
                <key>sourceSize</key>
                <string>{159,45}</string>
            </dict>
            <key>super_luck_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,445},{313,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,43}}</string>
                <key>sourceSize</key>
                <string>{313,43}</string>
            </dict>
            <key>super_luck_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,362},{313,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,36}}</string>
                <key>sourceSize</key>
                <string>{313,36}</string>
            </dict>
            <key>super_luck_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,263},{97,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,29}}</string>
                <key>sourceSize</key>
                <string>{97,29}</string>
            </dict>
            <key>super_luck_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,445},{296,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{296,35}}</string>
                <key>sourceSize</key>
                <string>{300,39}</string>
            </dict>
            <key>super_luck_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{116,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,49}}</string>
                <key>sourceSize</key>
                <string>{116,49}</string>
            </dict>
            <key>super_luck_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,541},{93,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,39}}</string>
                <key>sourceSize</key>
                <string>{93,39}</string>
            </dict>
            <key>super_luck_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,196},{106,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,60}}</string>
                <key>sourceSize</key>
                <string>{110,64}</string>
            </dict>
            <key>super_luck_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,870},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>super_luck_help_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,829},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>super_luck_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{247,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,45}}</string>
                <key>sourceSize</key>
                <string>{247,45}</string>
            </dict>
            <key>super_luck_reward_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,700},{83,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{83,53}</string>
            </dict>
            <key>super_luck_ring1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,365},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>super_luck_ring2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>super_luck_ring3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>super_luck_ring4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,258},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>super_luck_sele1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,907},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,30}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>super_luck_sele2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,760},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>super_luck_shop_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,594},{79,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,54}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>super_luck_sieve.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,258},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>super_luck_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,743},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>super_luck_yunqi_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,806},{87,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,57}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
            <key>time_shop_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,229}}</string>
                <key>sourceSize</key>
                <string>{192,229}</string>
            </dict>
            <key>time_shop_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{81,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,23}}</string>
                <key>sourceSize</key>
                <string>{81,23}</string>
            </dict>
            <key>time_shop_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,760},{192,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{192,44}}</string>
                <key>sourceSize</key>
                <string>{198,50}</string>
            </dict>
            <key>time_shop_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,272},{320,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,54}}</string>
                <key>sourceSize</key>
                <string>{320,54}</string>
            </dict>
            <key>time_shop_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,677},{228,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,37}}</string>
                <key>sourceSize</key>
                <string>{228,37}</string>
            </dict>
            <key>time_shop_lime.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,876},{81,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,21}}</string>
                <key>sourceSize</key>
                <string>{81,21}</string>
            </dict>
            <key>xianfrew.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,131},{130,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,22}}</string>
                <key>sourceSize</key>
                <string>{130,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>super_luck-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:767daf9076356720929e99867c0b69d7:1/1$</string>
            <key>textureFileName</key>
            <string>super_luck-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
