<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_add_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,173},{68,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,46}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>arena_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,74},{161,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,31}}</string>
                <key>sourceSize</key>
                <string>{161,31}</string>
            </dict>
            <key>arena_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,155},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>arena_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{168,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,130}}</string>
                <key>sourceSize</key>
                <string>{168,130}</string>
            </dict>
            <key>arena_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,155},{914,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,82}}</string>
                <key>sourceSize</key>
                <string>{914,82}</string>
            </dict>
            <key>arena_btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>arena_btn_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{163,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,107}}</string>
                <key>sourceSize</key>
                <string>{163,107}</string>
            </dict>
            <key>arena_btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>arena_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{606,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,151}}</string>
                <key>sourceSize</key>
                <string>{606,151}</string>
            </dict>
            <key>arena_copper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,155},{84,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,58}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>arena_cut.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,111},{6,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,38}}</string>
                <key>sourceSize</key>
                <string>{6,38}</string>
            </dict>
            <key>arena_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>arena_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,175},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>arena_fight_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,111},{116,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,34}}</string>
                <key>sourceSize</key>
                <string>{116,34}</string>
            </dict>
            <key>arena_fight_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,62},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>arena_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,2},{84,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,58}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>arena_guild_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,32},{117,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,28}}</string>
                <key>sourceSize</key>
                <string>{117,28}</string>
            </dict>
            <key>arena_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,107},{145,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,46}}</string>
                <key>sourceSize</key>
                <string>{145,46}</string>
            </dict>
            <key>arena_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,175},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>arena_max_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,62},{117,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,30}}</string>
                <key>sourceSize</key>
                <string>{117,30}</string>
            </dict>
            <key>arena_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,148},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>arena_pk_times.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,146},{122,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,25}}</string>
                <key>sourceSize</key>
                <string>{122,25}</string>
            </dict>
            <key>arena_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,62},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>arena_renwudengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,215},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>arena_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,119},{122,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,25}}</string>
                <key>sourceSize</key>
                <string>{122,25}</string>
            </dict>
            <key>arena_reward_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,92},{122,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,25}}</string>
                <key>sourceSize</key>
                <string>{122,25}</string>
            </dict>
            <key>arena_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,2},{84,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,58}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>arena_user_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,2},{117,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,28}}</string>
                <key>sourceSize</key>
                <string>{117,28}</string>
            </dict>
            <key>arena_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,94},{76,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
            <key>recruit_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,111},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_arena-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1384,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ba0b42577f523b08690c88c39521568$</string>
            <key>textureFileName</key>
            <string>ui_arena-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
