<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_add_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,326},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_arnea.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,418},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,418},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_elite.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,326},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_honor.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,218},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_look_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,126},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,234},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_relive_atonce.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,310},{90,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_relive_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,476},{70,22}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,62},{70,22}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_use_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,234},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_use_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,142},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_use_yaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,392},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_vip_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,142},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>btn_wanted.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,34},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>error_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{186,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{186,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>error_text_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,34}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,34}}</string>
                <key>sourceSize</key>
                <string>{240,38}</string>
            </dict>
            <key>error_text_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{186,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{186,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>error_text_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{172,34}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{172,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>error_text_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,34},{164,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{164,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>error_text_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{172,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{172,34}}</string>
                <key>sourceSize</key>
                <string>{172,38}</string>
            </dict>
            <key>error_text_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{186,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{186,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>error_text_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,70},{156,34}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{156,34}}</string>
                <key>sourceSize</key>
                <string>{172,38}</string>
            </dict>
            <key>error_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{182,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{182,36}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>error_text_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{228,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{228,34}}</string>
                <key>sourceSize</key>
                <string>{228,38}</string>
            </dict>
            <key>error_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{204,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{204,34}}</string>
                <key>sourceSize</key>
                <string>{206,38}</string>
            </dict>
            <key>error_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{166,34}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{166,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>error_text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{186,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{186,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>error_text_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{168,34}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{168,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>error_text_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{170,34}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{170,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>error_text_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{228,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{228,30}}</string>
                <key>sourceSize</key>
                <string>{240,38}</string>
            </dict>
            <key>text_reliving.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,106},{150,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,34}}</string>
                <key>sourceSize</key>
                <string>{150,38}</string>
            </dict>
            <key>text_special_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{186,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{186,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_all_tips-hd.pvr.ccz</string>
            <key>size</key>
            <string>{492,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18ea647a1408fb42827a97865656f9cc$</string>
            <key>textureFileName</key>
            <string>ui_all_tips-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
