<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>consume_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{156,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,86}}</string>
                <key>sourceSize</key>
                <string>{156,86}</string>
            </dict>
            <key>exchange_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,178},{156,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,86}}</string>
                <key>sourceSize</key>
                <string>{156,86}</string>
            </dict>
            <key>exchange_banner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{156,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,86}}</string>
                <key>sourceSize</key>
                <string>{156,86}</string>
            </dict>
            <key>exchange_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,366},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>exchange_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>recharge_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,28},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>recharge_already.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,354},{116,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,86}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>recharge_banner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,90},{156,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,86}}</string>
                <key>sourceSize</key>
                <string>{156,86}</string>
            </dict>
            <key>recharge_banner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{156,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,86}}</string>
                <key>sourceSize</key>
                <string>{156,86}</string>
            </dict>
            <key>recharge_biaoti_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,316},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>recharge_biaoti_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,266},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>recharge_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{116,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,86}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>recharge_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,178},{116,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,86}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>recharge_loss.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,90},{116,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,86}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>recharge_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,86}}</string>
                <key>sourceSize</key>
                <string>{330,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_active_recharte-hd.pvr.ccz</string>
            <key>size</key>
            <string>{442,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7effa40e0b20593a7b7e1bbe62be443a:1/1$</string>
            <key>textureFileName</key>
            <string>ui_active_recharte-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
