<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auction_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,547},{146,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,46}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>auction_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,283},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{75,31}}</string>
                <key>sourceSize</key>
                <string>{79,35}</string>
            </dict>
            <key>auction_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,478},{301,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,63}}</string>
                <key>sourceSize</key>
                <string>{301,63}</string>
            </dict>
            <key>auction_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{266,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,310}}</string>
                <key>sourceSize</key>
                <string>{266,310}</string>
            </dict>
            <key>auction_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,781},{153,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,31}}</string>
                <key>sourceSize</key>
                <string>{153,31}</string>
            </dict>
            <key>auction_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,452},{65,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,24}}</string>
                <key>sourceSize</key>
                <string>{69,28}</string>
            </dict>
            <key>auction_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,527},{127,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{127,26}}</string>
                <key>sourceSize</key>
                <string>{131,30}</string>
            </dict>
            <key>auction_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,878},{676,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,186}}</string>
                <key>sourceSize</key>
                <string>{676,186}</string>
            </dict>
            <key>auction_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{374,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,114}}</string>
                <key>sourceSize</key>
                <string>{374,114}</string>
            </dict>
            <key>auction_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1373},{646,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,112}}</string>
                <key>sourceSize</key>
                <string>{646,112}</string>
            </dict>
            <key>auction_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1758},{213,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{213,229}}</string>
                <key>sourceSize</key>
                <string>{221,237}</string>
            </dict>
            <key>auction_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1373},{143,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{143,56}}</string>
                <key>sourceSize</key>
                <string>{145,58}</string>
            </dict>
            <key>auction_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{247,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,79}}</string>
                <key>sourceSize</key>
                <string>{247,79}</string>
            </dict>
            <key>auction_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,364},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,30}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>auction_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,251},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,30}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
            <key>auction_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1125},{246,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,276}}</string>
                <key>sourceSize</key>
                <string>{246,276}</string>
            </dict>
            <key>auction_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,248},{229,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{229,42}}</string>
                <key>sourceSize</key>
                <string>{251,50}</string>
            </dict>
            <key>auction_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1556},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>auction_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{304,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{304,340}}</string>
                <key>sourceSize</key>
                <string>{308,344}</string>
            </dict>
            <key>auction_addpice.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,316},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>auction_bt_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,387},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>auction_button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,814},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>auction_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,427},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>auction_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,516},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,29}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>auction_label_jri.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1431},{274,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{274,53}}</string>
                <key>sourceSize</key>
                <string>{276,55}</string>
            </dict>
            <key>auction_pop2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,244}}</string>
                <key>sourceSize</key>
                <string>{421,244}</string>
            </dict>
            <key>auction_pop2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1431},{129,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,53}}</string>
                <key>sourceSize</key>
                <string>{129,53}</string>
            </dict>
            <key>auction_pop2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,468},{57,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,29}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>auction_pop3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{342,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,185}}</string>
                <key>sourceSize</key>
                <string>{342,185}</string>
            </dict>
            <key>auction_pop3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1431},{129,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,53}}</string>
                <key>sourceSize</key>
                <string>{129,53}</string>
            </dict>
            <key>auction_pop3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,468},{57,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,29}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>auction_teip.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,479},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>auction-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8571c307d898f0f6a9d5d9b542bc5ae:1/1$</string>
            <key>textureFileName</key>
            <string>auction-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
