<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active_show_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,594},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
            <key>active_show_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,298},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
            <key>active_show_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,298},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
            <key>active_show_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,2},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
            <key>active_show_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
            <key>active_show_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,594},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
            <key>active_show_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,298},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
            <key>active_show_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
            <key>active_show_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
            <key>active_show_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
            <key>active_show_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,294}}</string>
                <key>sourceSize</key>
                <string>{479,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_activity_btn_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1926,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2c90e4053324eeeab1e3d413af47c39$</string>
            <key>textureFileName</key>
            <string>ui_activity_btn_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
