<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bounty_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,448},{82,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,28}}</string>
                <key>sourceSize</key>
                <string>{82,28}</string>
            </dict>
            <key>bounty_back_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,444},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>bounty_back_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2},{230,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,126}}</string>
                <key>sourceSize</key>
                <string>{230,126}</string>
            </dict>
            <key>bounty_baoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,230},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bounty_bit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,398},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>bounty_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,380},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>bounty_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,316},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>bounty_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,398},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>bounty_btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,84},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bounty_btn_get_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bounty_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,378},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>bounty_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,314},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>bounty_button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,450},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>bounty_caodian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{518,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,78}}</string>
                <key>sourceSize</key>
                <string>{518,78}</string>
            </dict>
            <key>bounty_completed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,288},{176,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,158}}</string>
                <key>sourceSize</key>
                <string>{176,158}</string>
            </dict>
            <key>bounty_completed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,222},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bounty_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,398},{114,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,22}}</string>
                <key>sourceSize</key>
                <string>{114,22}</string>
            </dict>
            <key>bounty_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,442},{154,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,38}}</string>
                <key>sourceSize</key>
                <string>{154,38}</string>
            </dict>
            <key>bounty_detail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,450},{154,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,38}}</string>
                <key>sourceSize</key>
                <string>{154,38}</string>
            </dict>
            <key>bounty_duang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,162},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>bounty_humen.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{302,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,496}}</string>
                <key>sourceSize</key>
                <string>{302,496}</string>
            </dict>
            <key>bounty_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,130},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>bounty_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,240},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>bounty_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,82},{202,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,156}}</string>
                <key>sourceSize</key>
                <string>{202,156}</string>
            </dict>
            <key>bounty_icon_already.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,450},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>bounty_item_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,82},{232,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,312}}</string>
                <key>sourceSize</key>
                <string>{232,312}</string>
            </dict>
            <key>bounty_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,508},{101,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,26}}</string>
                <key>sourceSize</key>
                <string>{101,26}</string>
            </dict>
            <key>bounty_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,160},{298,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,374}}</string>
                <key>sourceSize</key>
                <string>{298,374}</string>
            </dict>
            <key>bounty_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,160},{298,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,374}}</string>
                <key>sourceSize</key>
                <string>{298,374}</string>
            </dict>
            <key>bounty_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{298,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,374}}</string>
                <key>sourceSize</key>
                <string>{298,374}</string>
            </dict>
            <key>bounty_nail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,230},{46,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,80}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
            <key>bounty_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,478},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bounty_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,508},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bounty_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,162},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bounty_num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,118},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>bounty_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,422},{378,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,26}}</string>
                <key>sourceSize</key>
                <string>{378,26}</string>
            </dict>
            <key>bounty_progress_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,500},{384,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,32}}</string>
                <key>sourceSize</key>
                <string>{384,32}</string>
            </dict>
            <key>bounty_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,478},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>bounty_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,286},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
            <key>bounty_sss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,82},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>bounty_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,80},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>bounty_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,396},{216,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,24}}</string>
                <key>sourceSize</key>
                <string>{216,24}</string>
            </dict>
            <key>bounty_tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,508},{114,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,26}}</string>
                <key>sourceSize</key>
                <string>{114,26}</string>
            </dict>
            <key>bounty_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{702,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,156}}</string>
                <key>sourceSize</key>
                <string>{702,156}</string>
            </dict>
            <key>bounty_titles.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,486},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>bounty_titless.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,448},{144,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,36}}</string>
                <key>sourceSize</key>
                <string>{144,36}</string>
            </dict>
            <key>bounty_titlesss.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,118},{152,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,36}}</string>
                <key>sourceSize</key>
                <string>{152,36}</string>
            </dict>
            <key>rount_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tiaojianbuzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,130},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_bounty-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2047,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bfaa3ffe8b7d9a0ddd7838bc75435df$</string>
            <key>textureFileName</key>
            <string>ui_bounty-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
