<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CL_BG.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>CL_BG2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>CL_Godspalace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,262},{156,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,50}}</string>
                <key>sourceSize</key>
                <string>{156,50}</string>
            </dict>
            <key>CL_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,604},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>CL_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{236,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,42}}</string>
                <key>sourceSize</key>
                <string>{236,42}</string>
            </dict>
            <key>CL_btn_Refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,655},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>CL_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,554},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>CL_cardsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,321},{97,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,137}}</string>
                <key>sourceSize</key>
                <string>{97,137}</string>
            </dict>
            <key>CL_cards_bgOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{185,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,258}}</string>
                <key>sourceSize</key>
                <string>{185,258}</string>
            </dict>
            <key>CL_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,655},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>CL_cjyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,644},{93,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,40}}</string>
                <key>sourceSize</key>
                <string>{93,40}</string>
            </dict>
            <key>CL_currentCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,586},{140,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,31}}</string>
                <key>sourceSize</key>
                <string>{140,31}</string>
            </dict>
            <key>CL_dabao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,574},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>CL_diBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,2},{126,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,187}}</string>
                <key>sourceSize</key>
                <string>{126,187}</string>
            </dict>
            <key>CL_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,710},{63,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,20}}</string>
                <key>sourceSize</key>
                <string>{63,20}</string>
            </dict>
            <key>CL_heikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,562},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>CL_hongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,644},{246,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,64}}</string>
                <key>sourceSize</key>
                <string>{246,64}</string>
            </dict>
            <key>CL_huangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,644},{241,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,73}}</string>
                <key>sourceSize</key>
                <string>{241,73}</string>
            </dict>
            <key>CL_iconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,460},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CL_jinduqiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,450},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>CL_jinduqiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,314},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>CL_luckyBox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,191},{118,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{118,128}</string>
            </dict>
            <key>CL_luckyCardsBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,618},{150,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,42}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>CL_luckyCardsBox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,710},{93,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,24}}</string>
                <key>sourceSize</key>
                <string>{93,24}</string>
            </dict>
            <key>CL_openCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,678},{55,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,32}}</string>
                <key>sourceSize</key>
                <string>{55,32}</string>
            </dict>
            <key>CL_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,674},{156,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,34}}</string>
                <key>sourceSize</key>
                <string>{156,34}</string>
            </dict>
            <key>CL_pintuBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,324},{168,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,228}}</string>
                <key>sourceSize</key>
                <string>{168,228}</string>
            </dict>
            <key>CL_pintukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,324},{188,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,248}}</string>
                <key>sourceSize</key>
                <string>{188,248}</string>
            </dict>
            <key>CL_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,644},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>CL_secretReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{282,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,44}}</string>
                <key>sourceSize</key>
                <string>{282,44}</string>
            </dict>
            <key>CL_startXiPai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,619},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>CL_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,622},{82,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,107}}</string>
                <key>sourceSize</key>
                <string>{82,107}</string>
            </dict>
            <key>CL_wenzidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,590},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>CL_xipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,644},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>CL_zhedang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,324},{230,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,278}}</string>
                <key>sourceSize</key>
                <string>{230,278}</string>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,662},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,644},{73,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,506},{37,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,63}}</string>
                <key>sourceSize</key>
                <string>{37,63}</string>
            </dict>
            <key>p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,321},{51,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,107}}</string>
                <key>sourceSize</key>
                <string>{51,107}</string>
            </dict>
            <key>p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,662},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,622},{37,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,107}}</string>
                <key>sourceSize</key>
                <string>{37,107}</string>
            </dict>
            <key>p7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,430},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>p8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,662},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>p9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,604},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{36,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_cloneLane_main_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2026,737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a8f3f8e60cb2049d832b55be3727366:1/1$</string>
            <key>textureFileName</key>
            <string>ui_cloneLane_main_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
