<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hbjj_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,102},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>hbjj_chakan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,88},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>hbjj_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,545},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hbjj_genghuanwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,436},{134,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,46}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>hbjj_huobanjinjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,329},{180,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,46}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
            <key>hbjj_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,142},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>hbjj_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,495},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>hbjj_jindutiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,521},{92,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,22}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>hbjj_jindutiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,42},{6,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,21}}</string>
                <key>sourceSize</key>
                <string>{6,21}</string>
            </dict>
            <key>hbjj_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,68},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>hbjj_kuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,42},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>hbjj_miaoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{292,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,18}}</string>
                <key>sourceSize</key>
                <string>{292,18}</string>
            </dict>
            <key>hbjj_miaoshu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,68},{280,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,18}}</string>
                <key>sourceSize</key>
                <string>{280,18}</string>
            </dict>
            <key>hbjj_miaoshu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{350,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,18}}</string>
                <key>sourceSize</key>
                <string>{350,18}</string>
            </dict>
            <key>hbjj_miaoshu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{366,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,18}}</string>
                <key>sourceSize</key>
                <string>{366,18}</string>
            </dict>
            <key>hbjj_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,396},{107,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,37}}</string>
                <key>sourceSize</key>
                <string>{107,37}</string>
            </dict>
            <key>hbjj_putong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,435},{107,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,37}}</string>
                <key>sourceSize</key>
                <string>{107,37}</string>
            </dict>
            <key>hbjj_shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,566},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hbjj_tanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,128},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>hbjj_tianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{138,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,96}}</string>
                <key>sourceSize</key>
                <string>{138,96}</string>
            </dict>
            <key>hbjj_wanmei.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,396},{107,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,37}}</string>
                <key>sourceSize</key>
                <string>{107,37}</string>
            </dict>
            <key>hbjj_wanmei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,436},{107,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,37}}</string>
                <key>sourceSize</key>
                <string>{107,37}</string>
            </dict>
            <key>hbjj_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{172,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,42}}</string>
                <key>sourceSize</key>
                <string>{172,42}</string>
            </dict>
            <key>jnjj_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,212},{122,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,88}}</string>
                <key>sourceSize</key>
                <string>{122,88}</string>
            </dict>
            <key>jnjj_jinengjinjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,300},{180,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,46}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
            <key>jnjj_miaoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{194,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,18}}</string>
                <key>sourceSize</key>
                <string>{194,18}</string>
            </dict>
            <key>jnjj_miaoshu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{244,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,18}}</string>
                <key>sourceSize</key>
                <string>{244,18}</string>
            </dict>
            <key>jnjj_miaoshu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{194,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,18}}</string>
                <key>sourceSize</key>
                <string>{194,18}</string>
            </dict>
            <key>jnsj_jinengshengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,281},{180,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,46}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
            <key>jnsj_jingyantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,302},{112,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,20}}</string>
                <key>sourceSize</key>
                <string>{112,20}</string>
            </dict>
            <key>jnsj_jingyantiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,190},{112,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,20}}</string>
                <key>sourceSize</key>
                <string>{112,20}</string>
            </dict>
            <key>jnsj_jingyantiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,161},{112,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,20}}</string>
                <key>sourceSize</key>
                <string>{112,20}</string>
            </dict>
            <key>jnsj_miaoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{336,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,18}}</string>
                <key>sourceSize</key>
                <string>{336,18}</string>
            </dict>
            <key>jnsj_miaoshu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{350,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,18}}</string>
                <key>sourceSize</key>
                <string>{350,18}</string>
            </dict>
            <key>jnsj_miaoshu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,140},{228,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,18}}</string>
                <key>sourceSize</key>
                <string>{228,18}</string>
            </dict>
            <key>jnsj_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,348},{134,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,46}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>jnsj_wenzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,637},{68,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{68,32}</string>
            </dict>
            <key>jnsj_wenzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,156},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>jxtp_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,206},{181,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,44}}</string>
                <key>sourceSize</key>
                <string>{181,44}</string>
            </dict>
            <key>njgz_fangyu_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,377},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>njgz_mogong_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,474},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>njgz_njgz_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>njgz_qianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>njgz_shengming_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,567},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>njgz_sudu_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,475},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>njgz_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,18}}</string>
                <key>sourceSize</key>
                <string>{372,18}</string>
            </dict>
            <key>njgz_wenzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,22},{298,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,18}}</string>
                <key>sourceSize</key>
                <string>{298,18}</string>
            </dict>
            <key>njgz_wugong_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,567},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>njgz_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,324},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>njzc_fangyu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,475},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>njzc_mogong_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,576},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>njzc_shengming_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,484},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>njzc_sudu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,581},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>njzc_wenzi_huode.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,122},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>njzc_wugong_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,489},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>njzc_zhaochu.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,252},{180,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,46}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
            <key>tips_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,42},{290,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,24}}</string>
                <key>sourceSize</key>
                <string>{290,24}</string>
            </dict>
            <key>tips_wenzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,114},{247,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,24}}</string>
                <key>sourceSize</key>
                <string>{247,24}</string>
            </dict>
            <key>tips_wenzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,88},{247,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,24}}</string>
                <key>sourceSize</key>
                <string>{247,24}</string>
            </dict>
            <key>ui_chongsheng_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,160},{182,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,44}}</string>
                <key>sourceSize</key>
                <string>{182,44}</string>
            </dict>
            <key>zb_com_streng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>zb_miaoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{246,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,18}}</string>
                <key>sourceSize</key>
                <string>{246,18}</string>
            </dict>
            <key>zb_miaoshu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{333,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,18}}</string>
                <key>sourceSize</key>
                <string>{333,18}</string>
            </dict>
            <key>zb_tianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,183},{138,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,96}}</string>
                <key>sourceSize</key>
                <string>{138,96}</string>
            </dict>
            <key>zb_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,469},{98,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>zb_wenzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{110,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,24}}</string>
                <key>sourceSize</key>
                <string>{110,24}</string>
            </dict>
            <key>zb_zhuangbeijinjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{180,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,46}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
            <key>zb_zhuangbeiqianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{180,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,46}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_card_func_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{673,673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e866040a1c9269c0b58116001794cbd9:1/1$</string>
            <key>textureFileName</key>
            <string>ui_card_func_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
