<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_cornucopia_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,817},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>ui_cornucopia_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,537},{509,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,316}}</string>
                <key>sourceSize</key>
                <string>{509,316}</string>
            </dict>
            <key>ui_cornucopia_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{878,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{878,533}}</string>
                <key>sourceSize</key>
                <string>{878,533}</string>
            </dict>
            <key>ui_cornucopia_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,681},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_cornucopia_btn10.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,742},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_cornucopia_btnAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,626},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_cornucopia_btnAgain10.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,684},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_cornucopia_btnBest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{98,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>ui_cornucopia_btnCharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,626},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_cornucopia_btnDes.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,626},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_cornucopia_btnLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,699},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>ui_cornucopia_btnLuxury.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,746},{98,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>ui_cornucopia_btnNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,746},{98,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>ui_cornucopia_btnRecord1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,688},{44,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,160}}</string>
                <key>sourceSize</key>
                <string>{44,160}</string>
            </dict>
            <key>ui_cornucopia_btnRecord2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,537},{44,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,160}}</string>
                <key>sourceSize</key>
                <string>{44,160}</string>
            </dict>
            <key>ui_cornucopia_btnSure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,688},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_cornucopia_jindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,626},{205,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,53}}</string>
                <key>sourceSize</key>
                <string>{205,53}</string>
            </dict>
            <key>ui_cornucopia_jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,637},{201,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,49}}</string>
                <key>sourceSize</key>
                <string>{201,49}</string>
            </dict>
            <key>ui_cornucopia_jindutiaoGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{233,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,88}}</string>
                <key>sourceSize</key>
                <string>{233,88}</string>
            </dict>
            <key>ui_cornucopia_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{688,622}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,622}}</string>
                <key>sourceSize</key>
                <string>{688,622}</string>
            </dict>
            <key>ui_cornucopia_rewardZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,537},{320,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,35}}</string>
                <key>sourceSize</key>
                <string>{320,35}</string>
            </dict>
            <key>ui_cornucopia_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,574},{318,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,61}}</string>
                <key>sourceSize</key>
                <string>{318,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_cornucopia-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1572,855}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebaa416e141122dbce776e9a693651ed:1/1$</string>
            <key>textureFileName</key>
            <string>ui_cornucopia-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
