<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zj_America_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,764},{150,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>zj_America_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,837},{150,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,109}}</string>
                <key>sourceSize</key>
                <string>{150,109}</string>
            </dict>
            <key>zj_America_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{169,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,174}}</string>
                <key>sourceSize</key>
                <string>{169,174}</string>
            </dict>
            <key>zj_America_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,2},{154,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,136}}</string>
                <key>sourceSize</key>
                <string>{154,136}</string>
            </dict>
            <key>zj_Austria_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,201},{198,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,174}}</string>
                <key>sourceSize</key>
                <string>{198,174}</string>
            </dict>
            <key>zj_Austria_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,128},{176,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,118}}</string>
                <key>sourceSize</key>
                <string>{176,118}</string>
            </dict>
            <key>zj_Austria_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{151,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,106}}</string>
                <key>sourceSize</key>
                <string>{151,106}</string>
            </dict>
            <key>zj_Austria_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,643},{158,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,157}}</string>
                <key>sourceSize</key>
                <string>{158,157}</string>
            </dict>
            <key>zj_Brazil_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{194,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,139}}</string>
                <key>sourceSize</key>
                <string>{194,139}</string>
            </dict>
            <key>zj_Brazil_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,679},{165,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,123}}</string>
                <key>sourceSize</key>
                <string>{165,123}</string>
            </dict>
            <key>zj_Brazil_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,110},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>zj_Brazil_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,436},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>zj_India_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,352},{150,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,82}}</string>
                <key>sourceSize</key>
                <string>{150,82}</string>
            </dict>
            <key>zj_India_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,143},{196,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,136}}</string>
                <key>sourceSize</key>
                <string>{196,136}</string>
            </dict>
            <key>zj_India_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,546},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>zj_India_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,546},{150,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,95}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>zj_Japan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,318},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>zj_Japan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,155},{169,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,140}}</string>
                <key>sourceSize</key>
                <string>{169,140}</string>
            </dict>
            <key>zj_Japan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,573},{138,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,134}}</string>
                <key>sourceSize</key>
                <string>{138,134}</string>
            </dict>
            <key>zj_Japan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,269},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>zj_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,551},{143,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,126}}</string>
                <key>sourceSize</key>
                <string>{143,126}</string>
            </dict>
            <key>zj_bieshu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,477},{164,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,145}}</string>
                <key>sourceSize</key>
                <string>{164,145}</string>
            </dict>
            <key>zj_bieshu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{164,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,151}}</string>
                <key>sourceSize</key>
                <string>{164,151}</string>
            </dict>
            <key>zj_bieshu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{262,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,195}}</string>
                <key>sourceSize</key>
                <string>{262,195}</string>
            </dict>
            <key>zj_bigben6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,643},{148,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,181}}</string>
                <key>sourceSize</key>
                <string>{148,181}</string>
            </dict>
            <key>zj_bigben7.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{144,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,169}}</string>
                <key>sourceSize</key>
                <string>{144,169}</string>
            </dict>
            <key>zj_bigoil.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,334},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>zj_dibai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{194,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,216}}</string>
                <key>sourceSize</key>
                <string>{194,216}</string>
            </dict>
            <key>zj_dibai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,780},{198,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,138}}</string>
                <key>sourceSize</key>
                <string>{198,138}</string>
            </dict>
            <key>zj_dibai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,436},{150,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,97}}</string>
                <key>sourceSize</key>
                <string>{150,97}</string>
            </dict>
            <key>zj_dibai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,2},{122,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,127}}</string>
                <key>sourceSize</key>
                <string>{122,127}</string>
            </dict>
            <key>zj_doujichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,537},{160,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,119}}</string>
                <key>sourceSize</key>
                <string>{160,119}</string>
            </dict>
            <key>zj_elec.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,315},{104,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,141}}</string>
                <key>sourceSize</key>
                <string>{104,141}</string>
            </dict>
            <key>zj_factory1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,528},{129,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,107}}</string>
                <key>sourceSize</key>
                <string>{129,107}</string>
            </dict>
            <key>zj_factory11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,528},{129,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,107}}</string>
                <key>sourceSize</key>
                <string>{129,107}</string>
            </dict>
            <key>zj_factorylv.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,493},{173,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,148}}</string>
                <key>sourceSize</key>
                <string>{173,148}</string>
            </dict>
            <key>zj_feijichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,377},{225,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,167}}</string>
                <key>sourceSize</key>
                <string>{225,167}</string>
            </dict>
            <key>zj_forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,709},{169,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,126}}</string>
                <key>sourceSize</key>
                <string>{169,126}</string>
            </dict>
            <key>zj_gelunbiya_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,130},{198,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,124}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>zj_gelunbiya_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,281},{157,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,127}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>zj_gelunbiya_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,804},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
            <key>zj_gelunbiya_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,140},{155,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,127}}</string>
                <key>sourceSize</key>
                <string>{155,127}</string>
            </dict>
            <key>zj_gongchang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,410},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>zj_gongchang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,624},{182,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,138}}</string>
                <key>sourceSize</key>
                <string>{182,138}</string>
            </dict>
            <key>zj_helan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,232},{162,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,84}}</string>
                <key>sourceSize</key>
                <string>{162,84}</string>
            </dict>
            <key>zj_helan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,418},{195,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,131}}</string>
                <key>sourceSize</key>
                <string>{195,131}</string>
            </dict>
            <key>zj_helan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{190,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,124}}</string>
                <key>sourceSize</key>
                <string>{190,124}</string>
            </dict>
            <key>zj_helan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,733},{147,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,107}}</string>
                <key>sourceSize</key>
                <string>{147,107}</string>
            </dict>
            <key>zj_huojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,297},{139,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,137}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>zj_jiaotang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{159,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,196}}</string>
                <key>sourceSize</key>
                <string>{159,196}</string>
            </dict>
            <key>zj_jiaotang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{129,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,158}}</string>
                <key>sourceSize</key>
                <string>{129,158}</string>
            </dict>
            <key>zj_jinzita2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,173},{264,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,159}}</string>
                <key>sourceSize</key>
                <string>{264,159}</string>
            </dict>
            <key>zj_jitan.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,802},{178,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,146}}</string>
                <key>sourceSize</key>
                <string>{178,146}</string>
            </dict>
            <key>zj_kaixuanmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,281},{151,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,135}}</string>
                <key>sourceSize</key>
                <string>{151,135}</string>
            </dict>
            <key>zj_keng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,842},{194,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,101}}</string>
                <key>sourceSize</key>
                <string>{194,101}</string>
            </dict>
            <key>zj_lion.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{192,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,157}}</string>
                <key>sourceSize</key>
                <string>{192,157}</string>
            </dict>
            <key>zj_londonbuilding.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,320},{196,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,155}}</string>
                <key>sourceSize</key>
                <string>{196,155}</string>
            </dict>
            <key>zj_matou.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,643},{239,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,164}}</string>
                <key>sourceSize</key>
                <string>{239,164}</string>
            </dict>
            <key>zj_mudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,545},{150,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,105}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>zj_nanji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,652},{150,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,85}}</string>
                <key>sourceSize</key>
                <string>{150,85}</string>
            </dict>
            <key>zj_nanji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,837},{150,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,111}}</string>
                <key>sourceSize</key>
                <string>{150,111}</string>
            </dict>
            <key>zj_nanji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,645},{150,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,86}}</string>
                <key>sourceSize</key>
                <string>{150,86}</string>
            </dict>
            <key>zj_nanji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{96,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,197}}</string>
                <key>sourceSize</key>
                <string>{96,197}</string>
            </dict>
            <key>zj_polou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,739},{138,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,101}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>zj_redfield.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,826},{163,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,122}}</string>
                <key>sourceSize</key>
                <string>{163,122}</string>
            </dict>
            <key>zj_shenghuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,809},{195,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,139}}</string>
                <key>sourceSize</key>
                <string>{195,139}</string>
            </dict>
            <key>zj_shengmu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,436},{156,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,135}}</string>
                <key>sourceSize</key>
                <string>{156,135}</string>
            </dict>
            <key>zj_shenmiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,2},{205,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,126}}</string>
                <key>sourceSize</key>
                <string>{205,126}</string>
            </dict>
            <key>zj_shuzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{153,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,100}}</string>
                <key>sourceSize</key>
                <string>{153,100}</string>
            </dict>
            <key>zj_taiguo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,436},{150,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,107}}</string>
                <key>sourceSize</key>
                <string>{150,107}</string>
            </dict>
            <key>zj_taiguo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,477},{112,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,150}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
            <key>zj_taiguo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,535},{126,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,108}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>zj_taiguo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,161},{194,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,152}}</string>
                <key>sourceSize</key>
                <string>{194,152}</string>
            </dict>
            <key>zj_tieta.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,453},{138,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,188}}</string>
                <key>sourceSize</key>
                <string>{138,188}</string>
            </dict>
            <key>zj_tv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,231}}</string>
                <key>sourceSize</key>
                <string>{107,231}</string>
            </dict>
            <key>zj_tv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,231}}</string>
                <key>sourceSize</key>
                <string>{107,231}</string>
            </dict>
            <key>zj_xieta.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,161},{117,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,157}}</string>
                <key>sourceSize</key>
                <string>{117,157}</string>
            </dict>
            <key>zj_xuexiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,658},{141,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,109}}</string>
                <key>sourceSize</key>
                <string>{141,109}</string>
            </dict>
            <key>zj_yingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,848},{174,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,98}}</string>
                <key>sourceSize</key>
                <string>{174,98}</string>
            </dict>
            <key>zj_youshikeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,842},{189,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,103}}</string>
                <key>sourceSize</key>
                <string>{189,103}</string>
            </dict>
            <key>zj_yuweishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,629},{173,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,149}}</string>
                <key>sourceSize</key>
                <string>{173,149}</string>
            </dict>
            <key>zj_yuweishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,629},{173,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,149}}</string>
                <key>sourceSize</key>
                <string>{173,149}</string>
            </dict>
            <key>zj_zhuiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,248},{171,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,102}}</string>
                <key>sourceSize</key>
                <string>{171,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_chapterbuilding-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2047,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90181b5b29c71ca9873d6de87c90e3c1$</string>
            <key>textureFileName</key>
            <string>ui_chapterbuilding-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
