<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actAiqinhaizhimi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actAodaliya.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1382},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actBaxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actBingtianxuedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actDibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1152},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actFengyezhiguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actGelunbiya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actHelan.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,922},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actHuangjinshijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actLangmanzhibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actLianbangyizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,692},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actMaoyizhidu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actMeiguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actNanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,462},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actRiben.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actRibuluodiguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actTaiguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,232},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actWanlijiangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actXuezidiguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
            <key>actYindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,122}}</string>
                <key>sourceSize</key>
                <string>{228,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_city_banner_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{356,1615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb233b370e3bcc49ecb8113d0a1c0b77:1/1$</string>
            <key>textureFileName</key>
            <string>ui_city_banner_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
