<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kpxq_break_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,826},{88,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>kpxq_break_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,746},{88,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>kpxq_break_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,664},{88,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>kpxq_break_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,572},{88,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>kpxq_break_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,848},{88,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>kpxq_break_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,756},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>kpxq_break_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,664},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>kpxq_break_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,600},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>kpxq_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{924,568}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{924,568}}</string>
                <key>sourceSize</key>
                <string>{924,570}</string>
            </dict>
            <key>kpxq_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,572},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>kpxq_taizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{344,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,374}}</string>
                <key>sourceSize</key>
                <string>{344,374}</string>
            </dict>
            <key>kpxq_wenzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,572},{116,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>kpxq_wenzi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,572},{110,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,26}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>kpxq_wenzi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,628},{97,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,26}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>kpxq_wenzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,606},{116,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>kpxq_wenzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,906},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>kpxq_wenzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,652},{114,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>kpxq_wenzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,572},{110,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{110,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>kpxq_wenzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,628},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{66,24}</string>
            </dict>
            <key>kpxq_wenzi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,572},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{66,24}</string>
            </dict>
            <key>kpxq_wenzi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,604},{100,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>kpxq_wenzi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,600},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_card_detail_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{928,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24506fcca4925c0d0cb4ee840917a0ef:1/1$</string>
            <key>textureFileName</key>
            <string>ui_card_detail_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
