<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_dalishenbei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,429},{156,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,397}}</string>
                <key>sourceSize</key>
                <string>{156,397}</string>
            </dict>
            <key>ui_dalishenbei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,429},{156,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,397}}</string>
                <key>sourceSize</key>
                <string>{156,397}</string>
            </dict>
            <key>ui_daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,989},{124,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,26}}</string>
                <key>sourceSize</key>
                <string>{124,26}</string>
            </dict>
            <key>ui_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,823},{78,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
            <key>ui_flag_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,401},{134,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,328}}</string>
                <key>sourceSize</key>
                <string>{134,328}</string>
            </dict>
            <key>ui_flag_yulan.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,936},{112,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,51}}</string>
                <key>sourceSize</key>
                <string>{112,51}</string>
            </dict>
            <key>ui_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,882},{126,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,52}}</string>
                <key>sourceSize</key>
                <string>{126,52}</string>
            </dict>
            <key>ui_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1010},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>ui_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1010},{80,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,123}}</string>
                <key>sourceSize</key>
                <string>{80,123}</string>
            </dict>
            <key>ui_ouguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{156,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,397}}</string>
                <key>sourceSize</key>
                <string>{156,397}</string>
            </dict>
            <key>ui_ouguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{156,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,397}}</string>
                <key>sourceSize</key>
                <string>{156,397}</string>
            </dict>
            <key>ui_puzzles_flagSend.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,731},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_rule_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{597,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,383}}</string>
                <key>sourceSize</key>
                <string>{597,383}</string>
            </dict>
            <key>ui_rules.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,882},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>ui_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1084},{108,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,50}}</string>
                <key>sourceSize</key>
                <string>{108,50}</string>
            </dict>
            <key>ui_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1017},{108,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,50}}</string>
                <key>sourceSize</key>
                <string>{108,50}</string>
            </dict>
            <key>ui_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,828},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui_yulan_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,828},{207,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,52}}</string>
                <key>sourceSize</key>
                <string>{207,52}</string>
            </dict>
            <key>ui_yulanbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{807,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{807,425}}</string>
                <key>sourceSize</key>
                <string>{807,425}</string>
            </dict>
            <key>ui_zongbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{533,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,161}}</string>
                <key>sourceSize</key>
                <string>{533,161}</string>
            </dict>
            <key>ui_zongbiaoti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{533,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,161}}</string>
                <key>sourceSize</key>
                <string>{533,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_collect_flag-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1140,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cc2e00b865eca9117dd2d012470914d:1/1$</string>
            <key>textureFileName</key>
            <string>ui_collect_flag-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
