<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_comeback_JINDUITIAO1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,210},{260,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,30}}</string>
                <key>sourceSize</key>
                <string>{260,30}</string>
            </dict>
            <key>ui_comeback_JINDUTIAO2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,178},{260,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,30}}</string>
                <key>sourceSize</key>
                <string>{260,30}</string>
            </dict>
            <key>ui_comeback_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,302},{184,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,52}}</string>
                <key>sourceSize</key>
                <string>{184,52}</string>
            </dict>
            <key>ui_comeback_chongzhifanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>ui_comeback_cxsr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,374},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>ui_comeback_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{854,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,448}}</string>
                <key>sourceSize</key>
                <string>{854,448}</string>
            </dict>
            <key>ui_comeback_djck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,308},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>ui_comeback_getreward1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,356},{130,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,94}}</string>
                <key>sourceSize</key>
                <string>{130,94}</string>
            </dict>
            <key>ui_comeback_getreward2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,356},{130,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,94}}</string>
                <key>sourceSize</key>
                <string>{130,94}</string>
            </dict>
            <key>ui_comeback_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,308},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ui_comeback_hongsetiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{334,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,42}}</string>
                <key>sourceSize</key>
                <string>{334,42}</string>
            </dict>
            <key>ui_comeback_jinxingzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,158},{118,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,36}}</string>
                <key>sourceSize</key>
                <string>{118,36}</string>
            </dict>
            <key>ui_comeback_kehuojiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,242},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>ui_comeback_kehuojiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,196},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>ui_comeback_lingqujiangli1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,246},{166,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,60}}</string>
                <key>sourceSize</key>
                <string>{166,60}</string>
            </dict>
            <key>ui_comeback_queren.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,176},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>ui_comeback_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,242},{218,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,58}}</string>
                <key>sourceSize</key>
                <string>{218,58}</string>
            </dict>
            <key>ui_comeback_wanchengtiaojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,120},{142,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,54}}</string>
                <key>sourceSize</key>
                <string>{142,54}</string>
            </dict>
            <key>ui_comeback_wodejiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,302},{126,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,52}}</string>
                <key>sourceSize</key>
                <string>{126,52}</string>
            </dict>
            <key>ui_comeback_woshib.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,112},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>ui_comeback_woshibeiyaoqingzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,46},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>ui_comeback_zezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,54},{110,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,102}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>ui_comeback_zjlj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,54},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_comeback_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1404,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e5570b8b08cb6c070ba12d9235b17b5:1/1$</string>
            <key>textureFileName</key>
            <string>ui_comeback_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
