<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_yifu_aerbaniya.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,792},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_agenting.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,230},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_aiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,230},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_aodaliya.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,230},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_aodili.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,680},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_banama.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,230},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_baxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,230},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_bilishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,800},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_bingdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,344},{128,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{128,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_bolan.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,686},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_danmai.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,572},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_deguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,458},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_eluosi.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,344},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_faguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,230},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_gelujiya.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,568},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_gelunbiya.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,116},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_gesidalijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,116},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_hanguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,116},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_helan.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,456},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_jieke.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,344},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_keluodiya.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,116},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_luomaniya.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,344},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_milu.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,116},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_moluoge.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,116},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_moxige.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_niriliya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_putaoya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_riben.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_ruidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_ruishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_saierweiya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_saineijiaer.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_shate.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_shugelan.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,344},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_siluofake.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,906},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_siluowenniya.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,794},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_tuerqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,682},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_tunisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_wukelan.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,570},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_wulagui.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_xibanya.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_xiongyali.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,344},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_yidali.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,458},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_yilang.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>ui_yifu_yinggelan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{130,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_cloth_football-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:023d915003375494d025c2bd21ced2a9:1/1$</string>
            <key>textureFileName</key>
            <string>ui_cloth_football-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
