<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_consumption1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1390},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>btn_consumption2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1370},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>btn_dailrecharge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1314},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>btn_dailrecharge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1314},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>btn_dailyTask1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1277},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>btn_dailyTask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1277},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>btn_login1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1238},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>btn_login2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1162},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>btn_lxRecharge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1086},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>btn_lxRecharge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1010},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>btn_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1250},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>btn_received.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1130},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>btn_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1010},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>btn_rewardView.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1188},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>chogn_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,535},{484,155}}</string>
                <key>offset</key>
                <string>{-60,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,155}}</string>
                <key>sourceSize</key>
                <string>{604,161}</string>
            </dict>
            <key>expired.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1349},{103,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,70}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,34},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1314},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>loogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{539,148}}</string>
                <key>offset</key>
                <string>{-68,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,148}}</string>
                <key>sourceSize</key>
                <string>{675,148}</string>
            </dict>
            <key>people1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{395,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,516}}</string>
                <key>sourceSize</key>
                <string>{395,516}</string>
            </dict>
            <key>people2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,573}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,573}}</string>
                <key>sourceSize</key>
                <string>{381,573}</string>
            </dict>
            <key>people3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{343,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,472}}</string>
                <key>sourceSize</key>
                <string>{343,472}</string>
            </dict>
            <key>people4.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{410,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,531}}</string>
                <key>sourceSize</key>
                <string>{410,531}</string>
            </dict>
            <key>people5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,692},{316,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,483}}</string>
                <key>sourceSize</key>
                <string>{316,483}</string>
            </dict>
            <key>received.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1277},{103,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,70}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>reusa_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1010},{304,176}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,176}}</string>
                <key>sourceSize</key>
                <string>{306,178}</string>
            </dict>
            <key>xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1188},{254,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,124}}</string>
                <key>sourceSize</key>
                <string>{256,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_carnival-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f4ec0e7db21b3439ca385179a5072bb:1/1$</string>
            <key>textureFileName</key>
            <string>ui_carnival-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
