<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zj_jingyingguanka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1283},{264,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,300}}</string>
                <key>sourceSize</key>
                <string>{264,300}</string>
            </dict>
            <key>zj_jingyingguanka_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,292}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,292}}</string>
                <key>sourceSize</key>
                <string>{380,292}</string>
            </dict>
            <key>zj_jingyingguanka_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1585},{296,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,266}}</string>
                <key>sourceSize</key>
                <string>{296,266}</string>
            </dict>
            <key>zj_jingyingguanka_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{326,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,316}}</string>
                <key>sourceSize</key>
                <string>{326,316}</string>
            </dict>
            <key>zj_jingyingguanka_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{272,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,358}}</string>
                <key>sourceSize</key>
                <string>{272,358}</string>
            </dict>
            <key>zj_jingyingguanka_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{326,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,252}}</string>
                <key>sourceSize</key>
                <string>{326,252}</string>
            </dict>
            <key>zj_jingyingguanka_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{330,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,274}}</string>
                <key>sourceSize</key>
                <string>{330,274}</string>
            </dict>
            <key>zj_jingyingguanka_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{348,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,266}}</string>
                <key>sourceSize</key>
                <string>{348,266}</string>
            </dict>
            <key>zj_jingyingguanka_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1457},{270,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,204}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>zj_jingyingguanka_aodaliya.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1729},{264,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,191}}</string>
                <key>sourceSize</key>
                <string>{264,191}</string>
            </dict>
            <key>zj_jingyingguanka_baxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,276},{305,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,241}}</string>
                <key>sourceSize</key>
                <string>{305,241}</string>
            </dict>
            <key>zj_jingyingguanka_canada.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{291,354}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{291,354}}</string>
                <key>sourceSize</key>
                <string>{299,356}</string>
            </dict>
            <key>zj_jingyingguanka_dibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,980},{270,301}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{270,301}}</string>
                <key>sourceSize</key>
                <string>{272,311}</string>
            </dict>
            <key>zj_jingyingguanka_gelunbiya.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,905},{284,232}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{284,232}}</string>
                <key>sourceSize</key>
                <string>{296,266}</string>
            </dict>
            <key>zj_jingyingguanka_helan.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1853},{296,166}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{296,166}}</string>
                <key>sourceSize</key>
                <string>{296,266}</string>
            </dict>
            <key>zj_jingyingguanka_meiguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,609},{294,222}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,37},{294,222}}</string>
                <key>sourceSize</key>
                <string>{296,266}</string>
            </dict>
            <key>zj_jingyingguanka_nanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1457},{270,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,204}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>zj_jingyingguanka_riben.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1191},{264,226}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,226}}</string>
                <key>sourceSize</key>
                <string>{264,230}</string>
            </dict>
            <key>zj_jingyingguanka_taiguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,296},{240,311}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{240,311}}</string>
                <key>sourceSize</key>
                <string>{272,311}</string>
            </dict>
            <key>zj_jingyingguanka_yingdu.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,609},{366,201}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{366,201}}</string>
                <key>sourceSize</key>
                <string>{380,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_chapterbuilding2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{783,2021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e75519c20f13c663c354c8d630c02ffe$</string>
            <key>textureFileName</key>
            <string>ui_chapterbuilding2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
