<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_world_aerbaniya.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_agenting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_aiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_aodaliya.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,965},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_aodili.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_banama.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,965},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_baxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_bilishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,965},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_bingdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_bolan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_danmai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_deguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_eluosi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_faguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_gelujiya.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_gelunbiya.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,965},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_gesidalijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_hanguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_helan.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,965},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_jieke.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_keluodiya.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_luomaniya.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_milu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_moluoge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_moxige.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_niriliya.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_putaoya.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_riben.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_ruidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_ruishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,965},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_saierweiya.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_saineijiaer.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_shatealabo.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_shugelan.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,965},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_siluofake.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_siluowenniya.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_tuerqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_tunisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,965},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_wukelan.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_wulagui.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_xibanya.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_xiongyali.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_yidali.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_yilang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
            <key>ui_world_yinggelan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,319}}</string>
                <key>sourceSize</key>
                <string>{124,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_collect_worldcup-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1514,1514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7ba8250ec5a8920d67a93df728cef02:1/1$</string>
            <key>textureFileName</key>
            <string>ui_collect_worldcup-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
