<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_cardCollection_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,395},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ui_cardCollection_add_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,437},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>ui_cardCollection_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{186,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,335}}</string>
                <key>sourceSize</key>
                <string>{186,335}</string>
            </dict>
            <key>ui_cardCollection_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{141,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,75}}</string>
                <key>sourceSize</key>
                <string>{141,75}</string>
            </dict>
            <key>ui_cardCollection_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>ui_cardCollection_nohave.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{143,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,78}}</string>
                <key>sourceSize</key>
                <string>{143,78}</string>
            </dict>
            <key>ui_cardCollection_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,54}}</string>
                <key>sourceSize</key>
                <string>{199,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_cardCollection-hd.pvr.ccz</string>
            <key>size</key>
            <string>{203,607}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a375c0a8aef136c2130d63d301f4c012:1/1$</string>
            <key>textureFileName</key>
            <string>ui_cardCollection-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
