<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zj_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,454},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>zj_bianlidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{150,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,131}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>zj_bieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,158},{150,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,137}}</string>
                <key>sourceSize</key>
                <string>{150,137}</string>
            </dict>
            <key>zj_bieshu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{150,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,154}}</string>
                <key>sourceSize</key>
                <string>{150,154}</string>
            </dict>
            <key>zj_bieshu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,310},{134,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,137}}</string>
                <key>sourceSize</key>
                <string>{134,137}</string>
            </dict>
            <key>zj_bieshu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,306},{148,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,135}}</string>
                <key>sourceSize</key>
                <string>{148,135}</string>
            </dict>
            <key>zj_bigben.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,456},{138,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,175}}</string>
                <key>sourceSize</key>
                <string>{138,175}</string>
            </dict>
            <key>zj_bigoil.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,154},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>zj_elec.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,747},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>zj_factory1.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{149,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,130}}</string>
                <key>sourceSize</key>
                <string>{149,130}</string>
            </dict>
            <key>zj_factorylv.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,758},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>zj_gongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,154},{150,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,121}}</string>
                <key>sourceSize</key>
                <string>{150,123}</string>
            </dict>
            <key>zj_guangchang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,606},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,134}</string>
            </dict>
            <key>zj_huagongchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{150,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,115}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>zj_jiaotang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{150,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,187}}</string>
                <key>sourceSize</key>
                <string>{150,187}</string>
            </dict>
            <key>zj_jiaotang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,802},{150,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,157}}</string>
                <key>sourceSize</key>
                <string>{150,157}</string>
            </dict>
            <key>zj_jinzita.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,409},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>zj_jitan.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,134},{148,121}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{148,121}}</string>
                <key>sourceSize</key>
                <string>{150,127}</string>
            </dict>
            <key>zj_kaixuanmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{150,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,170}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>zj_kelimulingong.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,606},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>zj_keng.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,713},{150,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,80}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>zj_kongdi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>zj_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,595},{150,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,103}}</string>
                <key>sourceSize</key>
                <string>{150,103}</string>
            </dict>
            <key>zj_lanqiuchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,443},{150,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,106}}</string>
                <key>sourceSize</key>
                <string>{150,106}</string>
            </dict>
            <key>zj_lion.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,449},{150,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,123}}</string>
                <key>sourceSize</key>
                <string>{150,123}</string>
            </dict>
            <key>zj_londonbuilding.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,758},{150,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,126}</string>
            </dict>
            <key>zj_mine3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,905},{150,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,102}}</string>
                <key>sourceSize</key>
                <string>{150,102}</string>
            </dict>
            <key>zj_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,633},{150,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,167}}</string>
                <key>sourceSize</key>
                <string>{150,167}</string>
            </dict>
            <key>zj_mudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,910},{150,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,105}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>zj_park.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,158},{150,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,143}}</string>
                <key>sourceSize</key>
                <string>{150,143}</string>
            </dict>
            <key>zj_prision.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,561},{150,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,89}}</string>
                <key>sourceSize</key>
                <string>{150,89}</string>
            </dict>
            <key>zj_redfield.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,910},{150,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,112}</string>
            </dict>
            <key>zj_repair.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,910},{150,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,109}}</string>
                <key>sourceSize</key>
                <string>{150,109}</string>
            </dict>
            <key>zj_rubbishcamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,154},{150,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
            <key>zj_rubbishcars.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,595},{150,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,96}}</string>
                <key>sourceSize</key>
                <string>{150,96}</string>
            </dict>
            <key>zj_shengmu.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{150,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>zj_shiyanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,753},{150,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,104}}</string>
                <key>sourceSize</key>
                <string>{150,104}</string>
            </dict>
            <key>zj_swimming.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,257},{150,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,94}}</string>
                <key>sourceSize</key>
                <string>{150,94}</string>
            </dict>
            <key>zj_tieta.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{150,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,203}}</string>
                <key>sourceSize</key>
                <string>{150,203}</string>
            </dict>
            <key>zj_tiyuchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,310},{142,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{142,116}}</string>
                <key>sourceSize</key>
                <string>{150,116}</string>
            </dict>
            <key>zj_tushuguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,758},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>zj_tv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,452}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{208,452}}</string>
                <key>sourceSize</key>
                <string>{208,468}</string>
            </dict>
            <key>zj_xuexiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,454},{150,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,135}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>zj_youlechang.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,601},{150,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,122}}</string>
                <key>sourceSize</key>
                <string>{150,122}</string>
            </dict>
            <key>zj_yuweishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,310},{150,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,142}}</string>
                <key>sourceSize</key>
                <string>{150,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_chapterbuildingres-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce7e2d3d82ab11ab661653ad043a2edc$</string>
            <key>textureFileName</key>
            <string>ui_chapterbuildingres-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
