<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_split_yjfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>card_split_yjqx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_card_split_new-hd.pvr.ccz</string>
            <key>size</key>
            <string>{158,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fad542d57182c62747bed394fd788f5a:1/1$</string>
            <key>textureFileName</key>
            <string>ui_card_split_new-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
