<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dispatch_autoGet.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,59},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>dispatch_btnChangku.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{209,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,55}}</string>
                <key>sourceSize</key>
                <string>{209,55}</string>
            </dict>
            <key>dispatch_btnNan.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,119},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>dispatch_btnbig.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,127},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>dispatch_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,125},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>dispatch_endFight.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,91},{122,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,87}}</string>
                <key>sourceSize</key>
                <string>{122,87}</string>
            </dict>
            <key>dispatch_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,125},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>dispatch_lightKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{257,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,123}}</string>
                <key>sourceSize</key>
                <string>{257,123}</string>
            </dict>
            <key>dispatch_quickBattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,127},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>dispatch_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>dispatch_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{188,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,52}}</string>
                <key>sourceSize</key>
                <string>{188,52}</string>
            </dict>
            <key>dispatch_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{122,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,87}}</string>
                <key>sourceSize</key>
                <string>{122,87}</string>
            </dict>
            <key>dispatch_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,193},{273,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,2}}</string>
                <key>sourceSize</key>
                <string>{273,2}</string>
            </dict>
            <key>dispatch_vsHei.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{123,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,115}}</string>
                <key>sourceSize</key>
                <string>{123,115}</string>
            </dict>
            <key>dispatch_vsLiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,140}}</string>
                <key>sourceSize</key>
                <string>{149,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_dispatch-hd.pvr.ccz</string>
            <key>size</key>
            <string>{982,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03c978f144de8d9be628e3a2b82821eb:1/1$</string>
            <key>textureFileName</key>
            <string>ui_dispatch-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
