<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_moto_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>dart_moto_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>dart_moto_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>dart_moto_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>dart_moto_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>dart_moto_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dart_moto_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dart_moto_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dart_moto_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dart_moto_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dart_moto_spoiler1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>dart_moto_spoiler2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>dart_moto_spoiler3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>dart_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,50},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>dart_npc_biao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,2},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>dart_ship_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,22},{135,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,18}}</string>
                <key>sourceSize</key>
                <string>{135,18}</string>
            </dict>
            <key>dart_ship_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{135,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,18}}</string>
                <key>sourceSize</key>
                <string>{135,18}</string>
            </dict>
            <key>dart_ship_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,64},{135,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,18}}</string>
                <key>sourceSize</key>
                <string>{135,18}</string>
            </dict>
            <key>dart_ship_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,64},{135,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,18}}</string>
                <key>sourceSize</key>
                <string>{135,18}</string>
            </dict>
            <key>dart_ship_title5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,64},{135,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,18}}</string>
                <key>sourceSize</key>
                <string>{135,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_dart3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1717,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50f6588464e5e2defd83001d2e69e548:1/1$</string>
            <key>textureFileName</key>
            <string>ui_dart3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
