<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fnds_ui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,419},{179,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,68}}</string>
                <key>sourceSize</key>
                <string>{179,68}</string>
            </dict>
            <key>fnds_ui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,349},{179,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,68}}</string>
                <key>sourceSize</key>
                <string>{179,68}</string>
            </dict>
            <key>fnds_ui_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,380},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>fnds_ui_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,431},{137,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,36}}</string>
                <key>sourceSize</key>
                <string>{137,36}</string>
            </dict>
            <key>fnds_ui_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,191},{228,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,187}}</string>
                <key>sourceSize</key>
                <string>{228,187}</string>
            </dict>
            <key>fnds_ui_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,2},{228,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,187}}</string>
                <key>sourceSize</key>
                <string>{228,187}</string>
            </dict>
            <key>fnds_ui_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{527,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,345}}</string>
                <key>sourceSize</key>
                <string>{527,345}</string>
            </dict>
            <key>fnds_ui_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,349},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>fnds_ui_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,402}}</string>
                <key>sourceSize</key>
                <string>{536,402}</string>
            </dict>
            <key>fnds_ui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,349},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>fnds_ui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,431},{145,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,45}}</string>
                <key>sourceSize</key>
                <string>{145,45}</string>
            </dict>
            <key>fnds_ui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,380},{119,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,68}}</string>
                <key>sourceSize</key>
                <string>{119,68}</string>
            </dict>
            <key>fnds_ui_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,395},{119,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,68}}</string>
                <key>sourceSize</key>
                <string>{119,68}</string>
            </dict>
            <key>fnds_ui_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,349},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>fnds_ui_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,406},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>fnds_ui_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>fnds_ui_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,415},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_empowerContest_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1299,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c33ceb7de5c136f2fd29026ad5670287:1/1$</string>
            <key>textureFileName</key>
            <string>ui_empowerContest_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
