<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardbg_enchanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{178,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,254}}</string>
                <key>sourceSize</key>
                <string>{178,254}</string>
            </dict>
            <key>icon_magicdebris.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,206},{39,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>img_dangqianshuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,390},{108,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,24}}</string>
                <key>sourceSize</key>
                <string>{108,28}</string>
            </dict>
            <key>img_fumoxiaoguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{110,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,26}}</string>
                <key>sourceSize</key>
                <string>{110,26}</string>
            </dict>
            <key>img_instruction.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{164,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,54}}</string>
                <key>sourceSize</key>
                <string>{166,54}</string>
            </dict>
            <key>img_suiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,28}}</string>
                <key>sourceSize</key>
                <string>{228,28}</string>
            </dict>
            <key>img_zhuangbeifumo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{178,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{178,44}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>word_fire_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,184},{62,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,20}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
            <key>word_fire_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,142},{64,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,18}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
            <key>word_soil_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,162},{62,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,20}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
            <key>word_soil_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,120},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
            <key>word_water_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,98},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
            <key>word_water_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,76},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>word_wind_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,54},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
            <key>word_wind_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,32},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_equipment_enchanting-hd.pvr.ccz</string>
            <key>size</key>
            <string>{248,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19ec21238523f96ea12599efcb689c42:1/1$</string>
            <key>textureFileName</key>
            <string>ui_equipment_enchanting-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
