<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_firecup_0alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,172},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>ui_firecup_benqidajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,324},{145,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,34}}</string>
                <key>sourceSize</key>
                <string>{145,34}</string>
            </dict>
            <key>ui_firecup_chengzhangqiyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,360},{125,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,30}}</string>
                <key>sourceSize</key>
                <string>{125,30}</string>
            </dict>
            <key>ui_firecup_chengzhangqiyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{165,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,40}}</string>
                <key>sourceSize</key>
                <string>{165,40}</string>
            </dict>
            <key>ui_firecup_cunchuzhuangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,204},{100,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,32}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>ui_firecup_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,172},{159,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,30}}</string>
                <key>sourceSize</key>
                <string>{159,30}</string>
            </dict>
            <key>ui_firecup_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,72},{164,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,214}}</string>
                <key>sourceSize</key>
                <string>{164,214}</string>
            </dict>
            <key>ui_firecup_firestate.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,406},{118,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,34}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
            <key>ui_firecup_firstfree.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,346},{102,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,24}}</string>
                <key>sourceSize</key>
                <string>{102,24}</string>
            </dict>
            <key>ui_firecup_gongxihuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{349,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,42}}</string>
                <key>sourceSize</key>
                <string>{349,42}</string>
            </dict>
            <key>ui_firecup_guangbiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,86},{162,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,84}}</string>
                <key>sourceSize</key>
                <string>{162,84}</string>
            </dict>
            <key>ui_firecup_h1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,238},{254,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,200}}</string>
                <key>sourceSize</key>
                <string>{254,200}</string>
            </dict>
            <key>ui_firecup_huodongxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,430},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>ui_firecup_huoyanbeikong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{254,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,200}}</string>
                <key>sourceSize</key>
                <string>{254,200}</string>
            </dict>
            <key>ui_firecup_jindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,440},{318,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,16}}</string>
                <key>sourceSize</key>
                <string>{318,16}</string>
            </dict>
            <key>ui_firecup_jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,82}}</string>
                <key>sourceSize</key>
                <string>{600,82}</string>
            </dict>
            <key>ui_firecup_kaijiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,288},{155,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,34}}</string>
                <key>sourceSize</key>
                <string>{155,34}</string>
            </dict>
            <key>ui_firecup_lastzuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,458},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>ui_firecup_oneday.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,122},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>ui_firecup_qianding.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,258},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>ui_firecup_qianding1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,160},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ui_firecup_qianding2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,160},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ui_firecup_qiyuehaoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,356},{86,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>ui_firecup_qiyuejiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,320},{91,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,24}}</string>
                <key>sourceSize</key>
                <string>{91,24}</string>
            </dict>
            <key>ui_firecup_qiyuiejifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,458},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>ui_firecup_secondday.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,84},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>ui_firecup_suiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,204},{35,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,110}}</string>
                <key>sourceSize</key>
                <string>{35,110}</string>
            </dict>
            <key>ui_firecup_threeday.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,46},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>ui_firecup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{440,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,150}}</string>
                <key>sourceSize</key>
                <string>{440,150}</string>
            </dict>
            <key>ui_firecup_wode.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,300},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>ui_firecup_wodeqiyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,392},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>ui_firecup_xingyunqiyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,368},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>ui_firecup_xinyunwanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,294},{86,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>ui_firecup_yingxiongqiyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,440},{134,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,40}}</string>
                <key>sourceSize</key>
                <string>{134,40}</string>
            </dict>
            <key>ui_firecup_yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,336},{129,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,30}}</string>
                <key>sourceSize</key>
                <string>{129,30}</string>
            </dict>
            <key>ui_firecup_yxqy.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,436},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>ui_firecup_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,442},{117,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,30}}</string>
                <key>sourceSize</key>
                <string>{117,30}</string>
            </dict>
            <key>ui_firecup_zbqy.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,404},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>ui_firecup_zhongjianghaoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,382},{93,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,24}}</string>
                <key>sourceSize</key>
                <string>{93,24}</string>
            </dict>
            <key>ui_firecup_zhongjidajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,408},{98,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>ui_firecup_zhuangbeiqiyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,258},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>ui_firecup_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,372},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>ui_firecup_zuanshidajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,72},{138,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,86}}</string>
                <key>sourceSize</key>
                <string>{138,86}</string>
            </dict>
            <key>ui_firecup_zuanshidj.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,46},{313,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,24}}</string>
                <key>sourceSize</key>
                <string>{313,24}</string>
            </dict>
            <key>ui_firecup_zuizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,238},{42,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,116}}</string>
                <key>sourceSize</key>
                <string>{42,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_firecup_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1011,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac3b408825dc65a2a0655166ec198ce8:1/1$</string>
            <key>textureFileName</key>
            <string>ui_firecup_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
