<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>formation_bonus_autoBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>formation_bonus_btnZhenfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>formation_bonus_curValue.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,74},{142,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,32}}</string>
                <key>sourceSize</key>
                <string>{142,32}</string>
            </dict>
            <key>formation_bonus_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>formation_bonus_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,66},{162,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,17}}</string>
                <key>sourceSize</key>
                <string>{162,17}</string>
            </dict>
            <key>formation_bonus_mainTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{299,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,52}}</string>
                <key>sourceSize</key>
                <string>{299,52}</string>
            </dict>
            <key>formation_bonus_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>formation_bonus_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,56},{236,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,52}}</string>
                <key>sourceSize</key>
                <string>{236,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_formation_bonus-hd.pvr.ccz</string>
            <key>size</key>
            <string>{760,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2328f3312b67e8d0b200c826043fdc4a:1/1$</string>
            <key>textureFileName</key>
            <string>ui_formation_bonus-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
