<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_btn_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>fight_btn_shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,59},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>fight_icon_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,59},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>fight_icon_tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>fighter_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,74}}</string>
                <key>sourceSize</key>
                <string>{151,74}</string>
            </dict>
            <key>fighter_btn_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,59},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>fighter_btn_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,59},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>fighter_canUse_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,99},{122,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,24}}</string>
                <key>sourceSize</key>
                <string>{122,24}</string>
            </dict>
            <key>fighter_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>fighter_evo_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,92},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>fighter_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,62},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>fighter_input_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,78},{148,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,39}}</string>
                <key>sourceSize</key>
                <string>{148,39}</string>
            </dict>
            <key>fighter_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>fighter_magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,32},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>fighter_rare_rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>fighter_super_rw.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,98},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>fighter_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,72},{220,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,53}}</string>
                <key>sourceSize</key>
                <string>{220,53}</string>
            </dict>
            <key>fighter_title_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{357,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,55}}</string>
                <key>sourceSize</key>
                <string>{357,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_fighter_boss-hd.pvr.ccz</string>
            <key>size</key>
            <string>{881,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2586e7da0111fe1d30abbec13125e2f9:1/1$</string>
            <key>textureFileName</key>
            <string>ui_fighter_boss-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
