<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_fuli_VipReward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,374},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_anniu_goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{118,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,84}}</string>
                <key>sourceSize</key>
                <string>{118,84}</string>
            </dict>
            <key>ui_fuli_anniu_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{124,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>ui_fuli_anniu_tichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,84},{100,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,44}}</string>
                <key>sourceSize</key>
                <string>{100,44}</string>
            </dict>
            <key>ui_fuli_chengzhangjiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
            <key>ui_fuli_fulitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,78},{300,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,66}}</string>
                <key>sourceSize</key>
                <string>{300,66}</string>
            </dict>
            <key>ui_fuli_haohuaqiandao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,452},{216,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,54}}</string>
                <key>sourceSize</key>
                <string>{216,54}</string>
            </dict>
            <key>ui_fuli_haohuaqiandao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,452},{216,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,54}}</string>
                <key>sourceSize</key>
                <string>{216,54}</string>
            </dict>
            <key>ui_fuli_huadongtiao_chengzhangjihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,298},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_comeback.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,222},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_dengjijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,146},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,284},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_guanqiajiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,208},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_jingjijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_libaoduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_lives.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,132},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_qiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,376},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_shengcunwuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,300},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_yaoqingma.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,376},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_huadongtiao_zaixianjiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,224},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_jiantou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,224},{32,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{32,80}</string>
            </dict>
            <key>ui_fuli_jiantou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{32,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{32,80}</string>
            </dict>
            <key>ui_fuli_meiriqiandao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,132},{220,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,90}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>ui_fuli_meiriqiandao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,400},{220,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,90}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>ui_fuli_monthvip.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,300},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_peak_arena.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,386},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_quartervip.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,224},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>ui_fuli_shengcunwuzi_tupian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,396}}</string>
                <key>sourceSize</key>
                <string>{320,396}</string>
            </dict>
            <key>ui_fuli_shitukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>ui_fuli_shitutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,88},{142,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,42}}</string>
                <key>sourceSize</key>
                <string>{142,42}</string>
            </dict>
            <key>ui_fuli_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,462},{149,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,44}}</string>
                <key>sourceSize</key>
                <string>{149,44}</string>
            </dict>
            <key>ui_fuli_ygm.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,306},{140,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,78}}</string>
                <key>sourceSize</key>
                <string>{140,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_fuli_activity_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1011,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe8dd74bbec79582a1d428d6e287dc62:1/1$</string>
            <key>textureFileName</key>
            <string>ui_fuli_activity_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
