<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_d_A2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,204},{125,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,50}}</string>
                <key>sourceSize</key>
                <string>{125,50}</string>
            </dict>
            <key>guild_d_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,204},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>guild_d_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>guild_d_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,151},{98,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>guild_d_anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,49},{98,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>guild_d_anniuxuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,49},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>guild_d_gonghuijuanxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,167},{255,35}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{255,35}}</string>
                <key>sourceSize</key>
                <string>{261,51}</string>
            </dict>
            <key>guild_d_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{646,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{646,71}}</string>
                <key>sourceSize</key>
                <string>{646,75}</string>
            </dict>
            <key>guild_d_jinshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,135},{95,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,73}}</string>
                <key>sourceSize</key>
                <string>{95,73}</string>
            </dict>
            <key>guild_d_nengyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,108},{63,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,87}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>guild_d_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,204},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>guild_d_rou.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,49},{90,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>guild_d_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{340,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,45}}</string>
                <key>sourceSize</key>
                <string>{340,45}</string>
            </dict>
            <key>guild_d_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{359,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{359,48}}</string>
                <key>sourceSize</key>
                <string>{361,52}</string>
            </dict>
            <key>guild_d_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,130},{298,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,35}}</string>
                <key>sourceSize</key>
                <string>{298,37}</string>
            </dict>
            <key>guild_d_zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,210},{101,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>guild_d_zi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{341,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,61}}</string>
                <key>sourceSize</key>
                <string>{341,61}</string>
            </dict>
            <key>guild_d_zizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,26}}</string>
                <key>sourceSize</key>
                <string>{708,26}</string>
            </dict>
            <key>guild_d_ziziziziziziz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{637,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,25}}</string>
                <key>sourceSize</key>
                <string>{637,25}</string>
            </dict>
            <key>guild_zhanqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,183},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guild_donate_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1154,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3145e061ef1ef1505e97fe6e5b2d0cf:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guild_donate_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
