<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1179},{511,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,109}}</string>
                <key>sourceSize</key>
                <string>{511,109}</string>
            </dict>
            <key>banner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1068},{511,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,109}}</string>
                <key>sourceSize</key>
                <string>{511,109}</string>
            </dict>
            <key>banner3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1715},{511,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,109}}</string>
                <key>sourceSize</key>
                <string>{511,109}</string>
            </dict>
            <key>begin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1535},{93,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,80}}</string>
                <key>sourceSize</key>
                <string>{93,80}</string>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1715},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>buy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,1257},{74,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,35}}</string>
                <key>sourceSize</key>
                <string>{74,35}</string>
            </dict>
            <key>dart_bg_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1454},{360,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,111}}</string>
                <key>sourceSize</key>
                <string>{360,111}</string>
            </dict>
            <key>dart_bg_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,1068},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>dart_bg_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1639},{109,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,107}}</string>
                <key>sourceSize</key>
                <string>{109,107}</string>
            </dict>
            <key>dart_feichuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{880,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{880,534}}</string>
                <key>sourceSize</key>
                <string>{880,534}</string>
            </dict>
            <key>dart_routes_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1747},{205,46}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{205,46}}</string>
                <key>sourceSize</key>
                <string>{217,50}</string>
            </dict>
            <key>dart_ship_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1443},{184,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{184,134}}</string>
                <key>sourceSize</key>
                <string>{206,186}</string>
            </dict>
            <key>dart_ship_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1695},{206,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{206,138}}</string>
                <key>sourceSize</key>
                <string>{206,186}</string>
            </dict>
            <key>dart_ship_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1579},{198,166}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{198,166}}</string>
                <key>sourceSize</key>
                <string>{206,186}</string>
            </dict>
            <key>dart_ship_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1562},{182,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{182,158}}</string>
                <key>sourceSize</key>
                <string>{206,186}</string>
            </dict>
            <key>dart_ship_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,541},{200,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{200,186}}</string>
                <key>sourceSize</key>
                <string>{206,186}</string>
            </dict>
            <key>dart_ship_wenzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1617},{97,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{97,20}}</string>
                <key>sourceSize</key>
                <string>{111,24}</string>
            </dict>
            <key>dart_ship_wenzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1826},{132,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{132,20}}</string>
                <key>sourceSize</key>
                <string>{134,24}</string>
            </dict>
            <key>dart_ship_wenzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1826},{132,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{132,20}}</string>
                <key>sourceSize</key>
                <string>{156,24}</string>
            </dict>
            <key>dart_ship_wenzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1826},{179,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{179,20}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>dart_ship_wenzi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1338},{196,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{196,24}}</string>
                <key>sourceSize</key>
                <string>{198,24}</string>
            </dict>
            <key>dart_shopitem_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,845},{177,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,221}}</string>
                <key>sourceSize</key>
                <string>{177,221}</string>
            </dict>
            <key>dart_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,1322},{70,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{70,40}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>dart_wenzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1781},{165,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,22}}</string>
                <key>sourceSize</key>
                <string>{165,24}</string>
            </dict>
            <key>dart_wenzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1748},{151,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{151,22}}</string>
                <key>sourceSize</key>
                <string>{155,32}</string>
            </dict>
            <key>dart_wenzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1805},{155,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,22}}</string>
                <key>sourceSize</key>
                <string>{155,24}</string>
            </dict>
            <key>dart_wenzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1772},{113,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,22}}</string>
                <key>sourceSize</key>
                <string>{113,24}</string>
            </dict>
            <key>dart_wenzi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1748},{151,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{151,22}}</string>
                <key>sourceSize</key>
                <string>{155,26}</string>
            </dict>
            <key>dart_wenzi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1793},{75,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{75,20}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>dart_wenzi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1757},{166,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,22}}</string>
                <key>sourceSize</key>
                <string>{168,24}</string>
            </dict>
            <key>dart_wenzi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,1233},{80,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>dart_wenzi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,621},{149,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,20}}</string>
                <key>sourceSize</key>
                <string>{149,24}</string>
            </dict>
            <key>dart_wenzi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,586},{65,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{65,25}}</string>
                <key>sourceSize</key>
                <string>{65,33}</string>
            </dict>
            <key>doubtful.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,1639},{55,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{55,82}</string>
            </dict>
            <key>formation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1639},{55,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{55,82}</string>
            </dict>
            <key>formation_canzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1768},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>formation_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{595,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,151}}</string>
                <key>sourceSize</key>
                <string>{595,151}</string>
            </dict>
            <key>formation_duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1710},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>formation_tankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{906,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{906,537}}</string>
                <key>sourceSize</key>
                <string>{906,537}</string>
            </dict>
            <key>occupation_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,586},{242,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,33}}</string>
                <key>sourceSize</key>
                <string>{242,33}</string>
            </dict>
            <key>occupation_feichuandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1579},{159,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,176}}</string>
                <key>sourceSize</key>
                <string>{159,176}</string>
            </dict>
            <key>occupation_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,541},{304,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,43}}</string>
                <key>sourceSize</key>
                <string>{304,43}</string>
            </dict>
            <key>occupation_tankuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,644},{567,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,537}}</string>
                <key>sourceSize</key>
                <string>{567,537}</string>
            </dict>
            <key>occupation_waikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,1151},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>occupation_wenzi_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1829},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,3},{25,18}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>occupation_wenzi_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1814},{114,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,20}}</string>
                <key>sourceSize</key>
                <string>{116,24}</string>
            </dict>
            <key>occupation_wenzi_qufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,1829},{57,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,17}}</string>
                <key>sourceSize</key>
                <string>{57,23}</string>
            </dict>
            <key>occupation_wenzi_suoshulianmeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1829},{87,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{87,18}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>occupation_wenzi_zhandouli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,1748},{85,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{85,22}}</string>
                <key>sourceSize</key>
                <string>{91,24}</string>
            </dict>
            <key>occupation_wenzi_zhanlingzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1721},{126,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,25}}</string>
                <key>sourceSize</key>
                <string>{126,27}</string>
            </dict>
            <key>occupation_wenzi_zhenrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1815},{74,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{74,20}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>routes_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,1639},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,70}}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>routes_list_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1332},{307,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,120}}</string>
                <key>sourceSize</key>
                <string>{307,120}</string>
            </dict>
            <key>routes_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1695},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>routes_tankuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1183},{329,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,525}}</string>
                <key>sourceSize</key>
                <string>{329,525}</string>
            </dict>
            <key>routes_wenzi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1824},{113,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{113,22}}</string>
                <key>sourceSize</key>
                <string>{131,32}</string>
            </dict>
            <key>routes_wenzi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1535},{63,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{63,17}}</string>
                <key>sourceSize</key>
                <string>{99,23}</string>
            </dict>
            <key>routes_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1290},{316,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,30}}</string>
                <key>sourceSize</key>
                <string>{316,30}</string>
            </dict>
            <key>select_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1364},{175,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,169}}</string>
                <key>sourceSize</key>
                <string>{175,169}</string>
            </dict>
            <key>select_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1364},{175,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,169}}</string>
                <key>sourceSize</key>
                <string>{175,169}</string>
            </dict>
            <key>ship_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1290},{208,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{208,46}}</string>
                <key>sourceSize</key>
                <string>{218,50}</string>
            </dict>
            <key>shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1294},{86,45}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{86,45}}</string>
                <key>sourceSize</key>
                <string>{134,49}</string>
            </dict>
            <key>ui_dart__main_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,541},{391,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,525}}</string>
                <key>sourceSize</key>
                <string>{391,525}</string>
            </dict>
            <key>ui_dart_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>universe_01_yuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1183},{292,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,147}}</string>
                <key>sourceSize</key>
                <string>{292,147}</string>
            </dict>
            <key>universe_02_yuanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1535},{162,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,102}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>universe_03_yuansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1322},{207,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,119}}</string>
                <key>sourceSize</key>
                <string>{207,119}</string>
            </dict>
            <key>universe_04_lingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1567},{250,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,126}}</string>
                <key>sourceSize</key>
                <string>{250,126}</string>
            </dict>
            <key>universe_05_liliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,729},{200,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,114}}</string>
                <key>sourceSize</key>
                <string>{200,114}</string>
            </dict>
            <key>universe_06_lixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1710},{232,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,137}}</string>
                <key>sourceSize</key>
                <string>{232,137}</string>
            </dict>
            <key>universe_routes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{792,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,380}}</string>
                <key>sourceSize</key>
                <string>{792,380}</string>
            </dict>
            <key>universe_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1795},{201,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{201,46}}</string>
                <key>sourceSize</key>
                <string>{217,50}</string>
            </dict>
            <key>universe_wenzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1341},{83,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{83,20}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>universe_wenzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,621},{89,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{89,19}}</string>
                <key>sourceSize</key>
                <string>{89,23}</string>
            </dict>
            <key>universe_wenzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1772},{85,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{85,20}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>universe_wenzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1796},{77,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{77,16}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>universe_wenzi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1772},{77,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{77,20}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>universe_wenzi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1554},{61,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{61,20}}</string>
                <key>sourceSize</key>
                <string>{89,24}</string>
            </dict>
            <key>use_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1722},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_godfield_dart-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87bfb16fe6c4b677345e4e36e880558d:1/1$</string>
            <key>textureFileName</key>
            <string>ui_godfield_dart-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
