<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsjx_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{94,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,49}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>bsjx_hechengbiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{184,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,46}}</string>
                <key>sourceSize</key>
                <string>{184,46}</string>
            </dict>
            <key>bsjx_shengjibiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{184,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,46}}</string>
                <key>sourceSize</key>
                <string>{184,46}</string>
            </dict>
            <key>bsjx_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,104}}</string>
                <key>sourceSize</key>
                <string>{142,104}</string>
            </dict>
            <key>bsjx_yijianhecheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,80},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>gem_b_baoshibeibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gem_b_xunbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gem_b_yijianshouqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gem_b_zidongxunbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gem_btnFateGem.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gem_btnGem.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gem_dfs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,82},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_dfs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,50},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_dfs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,82},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_mgc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,82},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_mgc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,83},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_mgc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,84},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_phsc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,84},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_phsc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,94},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_phsc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,94},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_speed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,94},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_speed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,94},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_speed_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,94},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>gem_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,53},{120,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,28}}</string>
                <key>sourceSize</key>
                <string>{120,28}</string>
            </dict>
            <key>gem_wenzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,92},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>gem_wenzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,92},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>gem_wenzi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,88},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>gem_wenzi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,60},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>gem_wenzi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,32},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>gem_wenzi_difangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,62},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>gem_wenzi_digongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,32},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>gem_wenzi_fengfangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,2},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>gem_wenzi_fenggongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>gem_wenzi_huofangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,50},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>gem_wenzi_huogongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,50},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>gem_wenzi_shuifangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,52},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>gem_wenzi_shuigongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,52},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>mbutton_c_baoshifenjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mbutton_f_caifen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mbutton_gem_split_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{184,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,48}}</string>
                <key>sourceSize</key>
                <string>{184,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_gem_system_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1756,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3860b3c20aeaa985ebc51b9e1c20c612:1/1$</string>
            <key>textureFileName</key>
            <string>ui_gem_system_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
