<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_employ_add_battle_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>guild_employ_battle_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>guild_employ_battlelog.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,70},{188,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,51}}</string>
                <key>sourceSize</key>
                <string>{188,51}</string>
            </dict>
            <key>guild_employ_buzhen_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,68},{109,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,50}}</string>
                <key>sourceSize</key>
                <string>{109,50}</string>
            </dict>
            <key>guild_employ_buzhen_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,98},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>guild_employ_chehui_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{87,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
            <key>guild_employ_fuben_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{205,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,48}}</string>
                <key>sourceSize</key>
                <string>{205,48}</string>
            </dict>
            <key>guild_employ_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>guild_employ_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,123}}</string>
                <key>sourceSize</key>
                <string>{93,123}</string>
            </dict>
            <key>guild_employ_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guild_employ_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>guild_employ_kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,52},{274,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,40}}</string>
                <key>sourceSize</key>
                <string>{274,40}</string>
            </dict>
            <key>guild_employ_others_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,94},{136,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,29}}</string>
                <key>sourceSize</key>
                <string>{136,29}</string>
            </dict>
            <key>guild_employ_own_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,94},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>guild_employ_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,68},{185,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,49}}</string>
                <key>sourceSize</key>
                <string>{185,49}</string>
            </dict>
            <key>guild_employ_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{230,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,40}}</string>
                <key>sourceSize</key>
                <string>{230,40}</string>
            </dict>
            <key>guild_employ_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,104},{64,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,8}}</string>
                <key>sourceSize</key>
                <string>{64,8}</string>
            </dict>
            <key>guild_employ_yipaiqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,52},{160,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,44}}</string>
                <key>sourceSize</key>
                <string>{160,44}</string>
            </dict>
            <key>guild_employ_zhenxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,98},{64,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,25}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guild_employ-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1185,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:730c5bc78cc722e8224c35abc2674dbc:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guild_employ-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
