<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_golden_eggs_benqidajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,519},{199,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{199,52}}</string>
                <key>sourceSize</key>
                <string>{201,56}</string>
            </dict>
            <key>ui_golden_eggs_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{878,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{878,515}}</string>
                <key>sourceSize</key>
                <string>{878,515}</string>
            </dict>
            <key>ui_golden_eggs_btn_caidan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,79},{132,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,75}}</string>
                <key>sourceSize</key>
                <string>{132,75}</string>
            </dict>
            <key>ui_golden_eggs_btn_candan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,233},{130,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{132,75}</string>
            </dict>
            <key>ui_golden_eggs_btn_jindan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{132,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,75}}</string>
                <key>sourceSize</key>
                <string>{132,75}</string>
            </dict>
            <key>ui_golden_eggs_btn_jindan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,156},{130,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{132,75}</string>
            </dict>
            <key>ui_golden_eggs_btn_yulan.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,653},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,45}</string>
            </dict>
            <key>ui_golden_eggs_caidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>ui_golden_eggs_chuizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,882},{104,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,70}}</string>
                <key>sourceSize</key>
                <string>{104,70}</string>
            </dict>
            <key>ui_golden_eggs_chuizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{104,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,70}}</string>
                <key>sourceSize</key>
                <string>{104,70}</string>
            </dict>
            <key>ui_golden_eggs_huodongxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,567},{179,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{179,48}}</string>
                <key>sourceSize</key>
                <string>{179,56}</string>
            </dict>
            <key>ui_golden_eggs_jindan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{159,153}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{159,153}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>ui_golden_eggs_progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,545},{253,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,20}}</string>
                <key>sourceSize</key>
                <string>{253,20}</string>
            </dict>
            <key>ui_golden_eggs_progress2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,519},{257,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,24}}</string>
                <key>sourceSize</key>
                <string>{257,24}</string>
            </dict>
            <key>ui_golden_eggs_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ui_golden_eggs_title_zajindan.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,954},{318,55}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{318,55}}</string>
                <key>sourceSize</key>
                <string>{318,67}</string>
            </dict>
            <key>ui_golden_eggs_wodezuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,609},{106,42}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{106,42}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>ui_golden_eggs_yulan.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,566},{141,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{141,48}}</string>
                <key>sourceSize</key>
                <string>{143,56}</string>
            </dict>
            <key>ui_wodecaichui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{158,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,44}}</string>
                <key>sourceSize</key>
                <string>{162,46}</string>
            </dict>
            <key>ui_wodeleicaichui.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,564},{185,43}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{185,43}}</string>
                <key>sourceSize</key>
                <string>{193,47}</string>
            </dict>
            <key>ui_wodeleijinchui.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,519},{185,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{185,43}}</string>
                <key>sourceSize</key>
                <string>{185,47}</string>
            </dict>
            <key>ui_xiaohao_caichui.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,502},{122,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{122,62}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>ui_xiaohao_leicaichui.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,438},{122,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{122,62}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>ui_xiaohao_leijinchui.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,374},{122,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{122,62}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
            <key>ui_xiaohao_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,310},{122,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{122,62}}</string>
                <key>sourceSize</key>
                <string>{124,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_golden_eggs-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fa3fa6cea70df484ff3ee1e6864261a:1/1$</string>
            <key>textureFileName</key>
            <string>ui_golden_eggs-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
