<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_godfield_bgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,2},{433,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,189}}</string>
                <key>sourceSize</key>
                <string>{433,189}</string>
            </dict>
            <key>ui_godfield_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{7,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,375}}</string>
                <key>sourceSize</key>
                <string>{7,375}</string>
            </dict>
            <key>ui_godfield_doing.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,223},{112,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,27}}</string>
                <key>sourceSize</key>
                <string>{112,27}</string>
            </dict>
            <key>ui_godfield_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,252},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
            <key>ui_godfield_hei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,379},{40,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,84}}</string>
                <key>sourceSize</key>
                <string>{40,84}</string>
            </dict>
            <key>ui_godfield_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,303},{157,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,63}}</string>
                <key>sourceSize</key>
                <string>{157,63}</string>
            </dict>
            <key>ui_godfield_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,379},{157,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,63}}</string>
                <key>sourceSize</key>
                <string>{157,63}</string>
            </dict>
            <key>ui_godfield_lan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,379},{40,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,84}}</string>
                <key>sourceSize</key>
                <string>{40,84}</string>
            </dict>
            <key>ui_godfield_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,379},{157,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,63}}</string>
                <key>sourceSize</key>
                <string>{157,63}</string>
            </dict>
            <key>ui_godfield_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,379},{40,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,84}}</string>
                <key>sourceSize</key>
                <string>{40,84}</string>
            </dict>
            <key>ui_godfield_saicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,193},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>ui_godfield_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,193},{123,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,28}}</string>
                <key>sourceSize</key>
                <string>{123,28}</string>
            </dict>
            <key>ui_godfield_touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,193},{191,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,49}}</string>
                <key>sourceSize</key>
                <string>{191,49}</string>
            </dict>
            <key>ui_godfield_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{4,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,461}}</string>
                <key>sourceSize</key>
                <string>{4,461}</string>
            </dict>
            <key>ui_godfield_xiangxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,244},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,24}}</string>
                <key>sourceSize</key>
                <string>{68,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_godfield_calendar-hd.pvr.ccz</string>
            <key>size</key>
            <string>{452,465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d607d5c8a4298912543a2d1581d154e8:1/1$</string>
            <key>textureFileName</key>
            <string>ui_godfield_calendar-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
