<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_detail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,740},{196,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,30}}</string>
                <key>sourceSize</key>
                <string>{196,30}</string>
            </dict>
            <key>box_detail_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,708},{196,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,30}}</string>
                <key>sourceSize</key>
                <string>{196,30}</string>
            </dict>
            <key>box_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,838},{128,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>box_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,796},{128,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>box_top_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{186,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,48}}</string>
                <key>sourceSize</key>
                <string>{186,48}</string>
            </dict>
            <key>details_icon_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,845},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>details_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,779},{114,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{114,32}</string>
            </dict>
            <key>ui_btn_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,708},{128,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,86}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
            <key>ui_btn_details.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,768},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>ui_btn_explore_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,772},{112,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{112,87}</string>
            </dict>
            <key>ui_btn_explore_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,662},{112,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{112,87}</string>
            </dict>
            <key>ui_cur_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,861},{108,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,20}}</string>
                <key>sourceSize</key>
                <string>{108,20}</string>
            </dict>
            <key>ui_cur_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,861},{108,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,20}}</string>
                <key>sourceSize</key>
                <string>{108,20}</string>
            </dict>
            <key>ui_icon_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,760},{120,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,106}</string>
            </dict>
            <key>ui_icon_baoxiang_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{120,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,106}</string>
            </dict>
            <key>ui_progressBar_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,772},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ui_progressBar_topIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,544},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>ui_progress_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,626},{380,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,80}}</string>
                <key>sourceSize</key>
                <string>{380,80}</string>
            </dict>
            <key>ui_progress_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,544},{380,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,80}}</string>
                <key>sourceSize</key>
                <string>{380,80}</string>
            </dict>
            <key>ui_seapoacher_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,813},{109,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,30}}</string>
                <key>sourceSize</key>
                <string>{109,30}</string>
            </dict>
            <key>ui_seapoacher_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{840,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{840,540}}</string>
                <key>sourceSize</key>
                <string>{840,540}</string>
            </dict>
            <key>ui_seapoacher_curscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,751},{131,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,26}}</string>
                <key>sourceSize</key>
                <string>{131,26}</string>
            </dict>
            <key>ui_seapoacher_miyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,845},{105,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,24}}</string>
                <key>sourceSize</key>
                <string>{105,24}</string>
            </dict>
            <key>ui_seapoacher_miyao_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,676},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_tip_gongxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{252,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,32}}</string>
                <key>sourceSize</key>
                <string>{252,32}</string>
            </dict>
            <key>ui_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{344,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,130}}</string>
                <key>sourceSize</key>
                <string>{344,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_game_seapoacher-hd.pvr.ccz</string>
            <key>size</key>
            <string>{844,883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c883e029aabc838f64e17a4905a7026b:1/1$</string>
            <key>textureFileName</key>
            <string>ui_game_seapoacher-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
