<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>ui_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,286},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>ui_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,237},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>ui_btn_cheer_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,456},{89,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{89,44}}</string>
                <key>sourceSize</key>
                <string>{103,44}</string>
            </dict>
            <key>ui_btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{97,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{97,44}}</string>
                <key>sourceSize</key>
                <string>{103,44}</string>
            </dict>
            <key>ui_btn_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,304},{93,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{103,44}</string>
            </dict>
            <key>ui_btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,164},{53,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{53,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_btn_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,283},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_cloth_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,119},{141,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,116}}</string>
                <key>sourceSize</key>
                <string>{141,116}</string>
            </dict>
            <key>ui_icon_jiayouguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,289},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_shengyushijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{264,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{264,22}}</string>
                <key>sourceSize</key>
                <string>{266,26}</string>
            </dict>
            <key>ui_sp_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,350},{92,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,92}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>ui_sp_vs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>ui_sp_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,227},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>ui_sp_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,344},{60,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,27}}</string>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>ui_title_cheer_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{225,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{225,50}}</string>
                <key>sourceSize</key>
                <string>{227,52}</string>
            </dict>
            <key>ui_title_chengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{169,45}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{169,45}}</string>
                <key>sourceSize</key>
                <string>{173,51}</string>
            </dict>
            <key>ui_title_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,119},{59,43}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{59,43}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>ui_title_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,237},{122,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{122,50}}</string>
                <key>sourceSize</key>
                <string>{124,52}</string>
            </dict>
            <key>ui_title_jiayoudan.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,74},{142,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{142,43}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>ui_title_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,111}}</string>
                <key>sourceSize</key>
                <string>{326,111}</string>
            </dict>
            <key>ui_title_main1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{304,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{304,111}}</string>
                <key>sourceSize</key>
                <string>{326,111}</string>
            </dict>
            <key>ui_title_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,304},{73,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{73,38}}</string>
                <key>sourceSize</key>
                <string>{143,56}</string>
            </dict>
            <key>ui_wodejiayouguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,49},{148,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,23}}</string>
                <key>sourceSize</key>
                <string>{148,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_guessing_football-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3e5017f6e2af93945aa1c202ed0fa35:1/1$</string>
            <key>textureFileName</key>
            <string>ui_guessing_football-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
