<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gvg_allot_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,547},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>gvg_allot_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,393},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>gvg_alpha_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,213},{142,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,30}}</string>
                <key>sourceSize</key>
                <string>{142,30}</string>
            </dict>
            <key>gvg_alpha_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,412},{30,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,96}}</string>
                <key>sourceSize</key>
                <string>{30,96}</string>
            </dict>
            <key>gvg_alpha_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,679},{30,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,96}}</string>
                <key>sourceSize</key>
                <string>{30,96}</string>
            </dict>
            <key>gvg_anger_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,587},{97,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,23}}</string>
                <key>sourceSize</key>
                <string>{97,23}</string>
            </dict>
            <key>gvg_anger_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,297},{14,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,212}}</string>
                <key>sourceSize</key>
                <string>{14,212}</string>
            </dict>
            <key>gvg_anger_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,865},{87,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,13}}</string>
                <key>sourceSize</key>
                <string>{87,13}</string>
            </dict>
            <key>gvg_anger_up_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,98},{87,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,13}}</string>
                <key>sourceSize</key>
                <string>{87,13}</string>
            </dict>
            <key>gvg_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,687},{42,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,116}}</string>
                <key>sourceSize</key>
                <string>{42,116}</string>
            </dict>
            <key>gvg_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,593},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>gvg_att_back_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,731},{140,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,96}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>gvg_att_camp.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,641},{136,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,40}}</string>
                <key>sourceSize</key>
                <string>{136,40}</string>
            </dict>
            <key>gvg_att_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,135},{396,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,20}}</string>
                <key>sourceSize</key>
                <string>{396,20}</string>
            </dict>
            <key>gvg_att_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{374,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,109}}</string>
                <key>sourceSize</key>
                <string>{374,109}</string>
            </dict>
            <key>gvg_att_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{266,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,80}}</string>
                <key>sourceSize</key>
                <string>{266,80}</string>
            </dict>
            <key>gvg_att_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,565},{146,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,32}}</string>
                <key>sourceSize</key>
                <string>{146,32}</string>
            </dict>
            <key>gvg_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,677},{180,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,52}}</string>
                <key>sourceSize</key>
                <string>{180,52}</string>
            </dict>
            <key>gvg_battle_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,205},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gvg_befor_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,319},{193,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,26}}</string>
                <key>sourceSize</key>
                <string>{193,26}</string>
            </dict>
            <key>gvg_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{144,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,150}}</string>
                <key>sourceSize</key>
                <string>{144,150}</string>
            </dict>
            <key>gvg_btn_att_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,739},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gvg_btn_def_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,739},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gvg_btn_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,439},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gvg_btn_fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,667},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>gvg_btn_inspire.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,439},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gvg_btn_inspire_er.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,113},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gvg_btn_member.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,579},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gvg_btn_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,439},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gvg_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,351},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>gvg_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,853},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,24}}</string>
                <key>sourceSize</key>
                <string>{99,24}</string>
            </dict>
            <key>gvg_def_back_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,579},{140,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,96}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>gvg_def_camp.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,599},{136,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,40}}</string>
                <key>sourceSize</key>
                <string>{136,40}</string>
            </dict>
            <key>gvg_def_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,113},{396,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,20}}</string>
                <key>sourceSize</key>
                <string>{396,20}</string>
            </dict>
            <key>gvg_def_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{374,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,109}}</string>
                <key>sourceSize</key>
                <string>{374,109}</string>
            </dict>
            <key>gvg_def_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{266,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,80}}</string>
                <key>sourceSize</key>
                <string>{266,80}</string>
            </dict>
            <key>gvg_def_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{318,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,86}}</string>
                <key>sourceSize</key>
                <string>{318,86}</string>
            </dict>
            <key>gvg_def_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,531},{146,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,32}}</string>
                <key>sourceSize</key>
                <string>{146,32}</string>
            </dict>
            <key>gvg_defenser.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,559},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>gvg_icon_addittion.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,331},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>gvg_icon_allot.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,829},{132,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,49}}</string>
                <key>sourceSize</key>
                <string>{132,49}</string>
            </dict>
            <key>gvg_icon_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,427},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>gvg_icon_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,427},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,74}</string>
            </dict>
            <key>gvg_icon_harm.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,321},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>gvg_icon_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,559},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gvg_icon_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,297},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>gvg_join_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,439},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{110,106}</string>
            </dict>
            <key>gvg_join_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,283},{172,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,36}}</string>
                <key>sourceSize</key>
                <string>{172,36}</string>
            </dict>
            <key>gvg_king_of_world.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,831},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>gvg_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{304,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,50}}</string>
                <key>sourceSize</key>
                <string>{304,50}</string>
            </dict>
            <key>gvg_label_beforewar.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,711},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>gvg_label_camp.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,245},{172,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,36}}</string>
                <key>sourceSize</key>
                <string>{172,36}</string>
            </dict>
            <key>gvg_label_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,351},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>gvg_label_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,683},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>gvg_label_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,531},{122,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,26}}</string>
                <key>sourceSize</key>
                <string>{122,26}</string>
            </dict>
            <key>gvg_label_ing.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,741},{106,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,34}}</string>
                <key>sourceSize</key>
                <string>{106,34}</string>
            </dict>
            <key>gvg_label_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,627},{106,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,58}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>gvg_label_mvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,640},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{96,26}</string>
            </dict>
            <key>gvg_label_prepare.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,379},{175,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,26}}</string>
                <key>sourceSize</key>
                <string>{175,26}</string>
            </dict>
            <key>gvg_label_raise.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,213},{306,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,26}}</string>
                <key>sourceSize</key>
                <string>{306,26}</string>
            </dict>
            <key>gvg_label_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,559},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{96,26}</string>
            </dict>
            <key>gvg_label_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,531},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{96,26}</string>
            </dict>
            <key>gvg_label_war_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,503},{122,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,26}}</string>
                <key>sourceSize</key>
                <string>{122,26}</string>
            </dict>
            <key>gvg_label_war_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,399},{122,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,26}}</string>
                <key>sourceSize</key>
                <string>{122,26}</string>
            </dict>
            <key>gvg_label_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,531},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>gvg_last_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,687},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>gvg_left_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,721},{54,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,108}}</string>
                <key>sourceSize</key>
                <string>{54,108}</string>
            </dict>
            <key>gvg_left_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,805},{121,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,22}}</string>
                <key>sourceSize</key>
                <string>{121,22}</string>
            </dict>
            <key>gvg_left_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,829},{119,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,22}}</string>
                <key>sourceSize</key>
                <string>{119,22}</string>
            </dict>
            <key>gvg_mine_morale.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,853},{90,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,22}}</string>
                <key>sourceSize</key>
                <string>{90,22}</string>
            </dict>
            <key>gvg_my_camp.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,777},{120,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,26}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
            <key>gvg_my_guild.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,365},{124,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,32}}</string>
                <key>sourceSize</key>
                <string>{124,32}</string>
            </dict>
            <key>gvg_now_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,593},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>gvg_perpare_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,321},{175,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,26}}</string>
                <key>sourceSize</key>
                <string>{175,26}</string>
            </dict>
            <key>gvg_pre_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,347},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>gvg_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{500,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,46}}</string>
                <key>sourceSize</key>
                <string>{500,46}</string>
            </dict>
            <key>gvg_progress_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,46}}</string>
                <key>sourceSize</key>
                <string>{500,46}</string>
            </dict>
            <key>gvg_reward_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,287},{238,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,30}}</string>
                <key>sourceSize</key>
                <string>{238,30}</string>
            </dict>
            <key>gvg_right_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,721},{54,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,108}}</string>
                <key>sourceSize</key>
                <string>{54,108}</string>
            </dict>
            <key>gvg_seconf_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,831},{143,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,26}}</string>
                <key>sourceSize</key>
                <string>{143,26}</string>
            </dict>
            <key>gvg_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,668},{81,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>gvg_select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,621},{81,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>gvg_sprite_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,627},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>gvg_sprite_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,110}</string>
            </dict>
            <key>gvg_stread_times.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,612},{114,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,26}}</string>
                <key>sourceSize</key>
                <string>{114,26}</string>
            </dict>
            <key>gvg_tip_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,157},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>gvg_tip_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,245},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>gvg_tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,185},{364,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,26}}</string>
                <key>sourceSize</key>
                <string>{364,26}</string>
            </dict>
            <key>gvg_tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,157},{364,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,26}}</string>
                <key>sourceSize</key>
                <string>{364,26}</string>
            </dict>
            <key>gvg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,241},{228,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,44}}</string>
                <key>sourceSize</key>
                <string>{228,44}</string>
            </dict>
            <key>gvg_title_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{300,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,64}}</string>
                <key>sourceSize</key>
                <string>{300,64}</string>
            </dict>
            <key>gvg_union_morale.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,714},{90,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,22}}</string>
                <key>sourceSize</key>
                <string>{90,22}</string>
            </dict>
            <key>gvg_war_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,407},{156,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,30}}</string>
                <key>sourceSize</key>
                <string>{156,30}</string>
            </dict>
            <key>gvg_war_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,349},{174,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,28}}</string>
                <key>sourceSize</key>
                <string>{174,28}</string>
            </dict>
            <key>gvg_war_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{156,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,32}}</string>
                <key>sourceSize</key>
                <string>{156,32}</string>
            </dict>
            <key>pvp_label_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,378},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_gvg_new-hd.pvr.ccz</string>
            <key>size</key>
            <string>{880,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7157f7bae774441649ac22fecec86ca2:1/1$</string>
            <key>textureFileName</key>
            <string>ui_gvg_new-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
