<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gacha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,122},{196,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{196,278}}</string>
                <key>sourceSize</key>
                <string>{220,278}</string>
            </dict>
            <key>gacha_1_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,387},{193,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{193,36}}</string>
                <key>sourceSize</key>
                <string>{193,44}</string>
            </dict>
            <key>gacha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{221,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,277}}</string>
                <key>sourceSize</key>
                <string>{221,277}</string>
            </dict>
            <key>gacha_2_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,461},{159,35}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{159,35}}</string>
                <key>sourceSize</key>
                <string>{181,45}</string>
            </dict>
            <key>gacha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,29},{198,276}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{198,276}}</string>
                <key>sourceSize</key>
                <string>{220,278}</string>
            </dict>
            <key>gacha_3_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,239},{199,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{199,36}}</string>
                <key>sourceSize</key>
                <string>{199,44}</string>
            </dict>
            <key>gacha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,122},{220,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,278}}</string>
                <key>sourceSize</key>
                <string>{220,278}</string>
            </dict>
            <key>gacha_4_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,338},{170,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{170,36}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>gacha_hengfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,307},{224,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,78}}</string>
                <key>sourceSize</key>
                <string>{224,78}</string>
            </dict>
            <key>gacha_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,402},{308,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{308,36}}</string>
                <key>sourceSize</key>
                <string>{328,36}</string>
            </dict>
            <key>gacha_lightCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,29},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>gacha_loding.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{600,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,24}}</string>
                <key>sourceSize</key>
                <string>{600,24}</string>
            </dict>
            <key>gacha_loding_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,44}}</string>
                <key>sourceSize</key>
                <string>{622,44}</string>
            </dict>
            <key>gacha_more_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{396,25}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{396,25}}</string>
                <key>sourceSize</key>
                <string>{402,27}</string>
            </dict>
            <key>gacha_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,474},{118,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,26}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>gacha_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,448},{117,35}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{117,35}}</string>
                <key>sourceSize</key>
                <string>{117,51}</string>
            </dict>
            <key>gacha_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{538,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,46}}</string>
                <key>sourceSize</key>
                <string>{538,46}</string>
            </dict>
            <key>gacha_word_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{178,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,70}}</string>
                <key>sourceSize</key>
                <string>{178,76}</string>
            </dict>
            <key>gacha_word_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,277},{174,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{174,59}}</string>
                <key>sourceSize</key>
                <string>{174,75}</string>
            </dict>
            <key>gacha_word_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,376},{134,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{134,70}}</string>
                <key>sourceSize</key>
                <string>{164,76}</string>
            </dict>
            <key>gacha_word_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,402},{149,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,72}}</string>
                <key>sourceSize</key>
                <string>{149,76}</string>
            </dict>
            <key>gacha_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,425},{166,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,34}}</string>
                <key>sourceSize</key>
                <string>{166,34}</string>
            </dict>
            <key>ui_gacha_30cutoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,440},{200,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,32}}</string>
                <key>sourceSize</key>
                <string>{200,38}</string>
            </dict>
            <key>ui_gacha_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{150,30}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{150,30}}</string>
                <key>sourceSize</key>
                <string>{200,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_gacha_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1055,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b790dee6b77af3319a3d989d1ee18b51:1/1$</string>
            <key>textureFileName</key>
            <string>ui_gacha_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
