<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gacha_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,894},{328,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,36}}</string>
                <key>sourceSize</key>
                <string>{328,36}</string>
            </dict>
            <key>gacha_lightCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,724},{181,178}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{181,178}}</string>
                <key>sourceSize</key>
                <string>{197,192}</string>
            </dict>
            <key>gacha_tu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,636},{229,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{229,256}}</string>
                <key>sourceSize</key>
                <string>{235,256}</string>
            </dict>
            <key>gacha_tu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{203,329}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{203,329}}</string>
                <key>sourceSize</key>
                <string>{205,339}</string>
            </dict>
            <key>gacha_tu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{246,258}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{246,258}}</string>
                <key>sourceSize</key>
                <string>{248,270}</string>
            </dict>
            <key>gacha_tu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,349},{189,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,285}}</string>
                <key>sourceSize</key>
                <string>{189,285}</string>
            </dict>
            <key>gacha_tu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,333},{206,284}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{206,284}}</string>
                <key>sourceSize</key>
                <string>{214,286}</string>
            </dict>
            <key>gacha_tu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,262},{179,240}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{179,240}}</string>
                <key>sourceSize</key>
                <string>{189,242}</string>
            </dict>
            <key>gacha_tu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,271},{138,247}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{138,247}}</string>
                <key>sourceSize</key>
                <string>{154,251}</string>
            </dict>
            <key>gacha_tu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{158,267}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{158,267}}</string>
                <key>sourceSize</key>
                <string>{166,269}</string>
            </dict>
            <key>gacha_tu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,520},{135,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,194}}</string>
                <key>sourceSize</key>
                <string>{141,196}</string>
            </dict>
            <key>gacha_tu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,504},{141,218}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,218}}</string>
                <key>sourceSize</key>
                <string>{145,220}</string>
            </dict>
            <key>gacha_tu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{281,242}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{281,242}}</string>
                <key>sourceSize</key>
                <string>{285,248}</string>
            </dict>
            <key>gacha_tu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,619},{184,255}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{184,255}}</string>
                <key>sourceSize</key>
                <string>{190,257}</string>
            </dict>
            <key>gacha_tu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{302,382}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,382}}</string>
                <key>sourceSize</key>
                <string>{302,388}</string>
            </dict>
            <key>gacha_tu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,345}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{430,345}}</string>
                <key>sourceSize</key>
                <string>{440,349}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_gacha_anim_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1047,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceb2352e4c61dc0f1938dd610835ab2d$</string>
            <key>textureFileName</key>
            <string>ui_gacha_anim_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
