<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_homeLand_highDoor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,578},{229,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,286}}</string>
                <key>sourceSize</key>
                <string>{229,286}</string>
            </dict>
            <key>ui_homeLand_highDoor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,290},{229,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,286}}</string>
                <key>sourceSize</key>
                <string>{229,286}</string>
            </dict>
            <key>ui_homeLand_highDoor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{229,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,286}}</string>
                <key>sourceSize</key>
                <string>{229,286}</string>
            </dict>
            <key>ui_homeLand_highHouse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,457},{467,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,453}}</string>
                <key>sourceSize</key>
                <string>{467,453}</string>
            </dict>
            <key>ui_homeLand_highHouse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,467}}</string>
                <key>sourceSize</key>
                <string>{479,467}</string>
            </dict>
            <key>ui_homeLand_highHouse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{467,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,453}}</string>
                <key>sourceSize</key>
                <string>{467,453}</string>
            </dict>
            <key>ui_homeLand_highLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,801},{115,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,163}}</string>
                <key>sourceSize</key>
                <string>{115,163}</string>
            </dict>
            <key>ui_homeLand_highLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,636},{115,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,163}}</string>
                <key>sourceSize</key>
                <string>{115,163}</string>
            </dict>
            <key>ui_homeLand_highLight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,471},{115,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,163}}</string>
                <key>sourceSize</key>
                <string>{115,163}</string>
            </dict>
            <key>ui_homeLand_highRoad11.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1837},{169,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,85}}</string>
                <key>sourceSize</key>
                <string>{169,85}</string>
            </dict>
            <key>ui_homeLand_highRoad12.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1570},{153,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,105}}</string>
                <key>sourceSize</key>
                <string>{153,105}</string>
            </dict>
            <key>ui_homeLand_highRoad21.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1946},{169,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,85}}</string>
                <key>sourceSize</key>
                <string>{169,85}</string>
            </dict>
            <key>ui_homeLand_highRoad22.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1463},{153,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,105}}</string>
                <key>sourceSize</key>
                <string>{153,105}</string>
            </dict>
            <key>ui_homeLand_highRoad31.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1764},{169,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,85}}</string>
                <key>sourceSize</key>
                <string>{169,85}</string>
            </dict>
            <key>ui_homeLand_highRoad32.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1356},{153,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,105}}</string>
                <key>sourceSize</key>
                <string>{153,105}</string>
            </dict>
            <key>ui_homeLand_highWall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1109},{139,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,118}}</string>
                <key>sourceSize</key>
                <string>{139,118}</string>
            </dict>
            <key>ui_homeLand_highWall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,989},{139,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,118}}</string>
                <key>sourceSize</key>
                <string>{139,118}</string>
            </dict>
            <key>ui_homeLand_hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,912},{147,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,75}}</string>
                <key>sourceSize</key>
                <string>{147,75}</string>
            </dict>
            <key>ui_homeLand_lowDoor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1796},{186,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,184}}</string>
                <key>sourceSize</key>
                <string>{186,184}</string>
            </dict>
            <key>ui_homeLand_lowDoor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1819},{186,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,184}}</string>
                <key>sourceSize</key>
                <string>{186,184}</string>
            </dict>
            <key>ui_homeLand_lowDoor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1819},{186,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,184}}</string>
                <key>sourceSize</key>
                <string>{186,184}</string>
            </dict>
            <key>ui_homeLand_lowHouse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1545},{286,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,272}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>ui_homeLand_lowHouse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1267},{289,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,276}}</string>
                <key>sourceSize</key>
                <string>{289,276}</string>
            </dict>
            <key>ui_homeLand_lowHouse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1310},{286,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,272}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>ui_homeLand_lowLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1855},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>ui_homeLand_lowLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1774},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>ui_homeLand_lowLight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1592},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>ui_homeLand_lowRoad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1851},{183,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,93}}</string>
                <key>sourceSize</key>
                <string>{183,93}</string>
            </dict>
            <key>ui_homeLand_lowRoad2.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1946},{183,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,93}}</string>
                <key>sourceSize</key>
                <string>{183,93}</string>
            </dict>
            <key>ui_homeLand_lowRoad3.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1851},{183,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,93}}</string>
                <key>sourceSize</key>
                <string>{183,93}</string>
            </dict>
            <key>ui_homeLand_lowWall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1471},{108,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,119}}</string>
                <key>sourceSize</key>
                <string>{108,119}</string>
            </dict>
            <key>ui_homeLand_lowWall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1350},{108,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,119}}</string>
                <key>sourceSize</key>
                <string>{108,119}</string>
            </dict>
            <key>ui_homeLand_lowWall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1229},{108,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,119}}</string>
                <key>sourceSize</key>
                <string>{108,119}</string>
            </dict>
            <key>ui_homeLand_lubiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1946},{67,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,87}}</string>
                <key>sourceSize</key>
                <string>{67,87}</string>
            </dict>
            <key>ui_homeLand_lubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1946},{67,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,87}}</string>
                <key>sourceSize</key>
                <string>{67,87}</string>
            </dict>
            <key>ui_homeLand_lubiao21.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1402},{52,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,90}}</string>
                <key>sourceSize</key>
                <string>{52,90}</string>
            </dict>
            <key>ui_homeLand_lubiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1310},{52,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,90}}</string>
                <key>sourceSize</key>
                <string>{52,90}</string>
            </dict>
            <key>ui_homeLand_luobo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1982},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>ui_homeLand_luobo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1982},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>ui_homeLand_luobo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1982},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>ui_homeLand_midDoor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1544},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>ui_homeLand_midDoor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1314},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>ui_homeLand_midDoor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1084},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>ui_homeLand_midHouse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,912},{340,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,396}}</string>
                <key>sourceSize</key>
                <string>{340,396}</string>
            </dict>
            <key>ui_homeLand_midHouse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{340,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,396}}</string>
                <key>sourceSize</key>
                <string>{340,396}</string>
            </dict>
            <key>ui_homeLand_midHouse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{340,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,396}}</string>
                <key>sourceSize</key>
                <string>{340,396}</string>
            </dict>
            <key>ui_homeLand_midLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1677},{75,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,117}}</string>
                <key>sourceSize</key>
                <string>{75,117}</string>
            </dict>
            <key>ui_homeLand_midLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1677},{75,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,117}}</string>
                <key>sourceSize</key>
                <string>{75,117}</string>
            </dict>
            <key>ui_homeLand_midLight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1677},{75,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,117}}</string>
                <key>sourceSize</key>
                <string>{75,117}</string>
            </dict>
            <key>ui_homeLand_midRoad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1674},{174,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,88}}</string>
                <key>sourceSize</key>
                <string>{174,88}</string>
            </dict>
            <key>ui_homeLand_midRoad2.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1584},{174,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,88}}</string>
                <key>sourceSize</key>
                <string>{174,88}</string>
            </dict>
            <key>ui_homeLand_midRoad3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1584},{174,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,88}}</string>
                <key>sourceSize</key>
                <string>{174,88}</string>
            </dict>
            <key>ui_homeLand_midWall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1226},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{110,128}</string>
            </dict>
            <key>ui_homeLand_midWall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1096},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{110,128}</string>
            </dict>
            <key>ui_homeLand_midWall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,966},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{110,128}</string>
            </dict>
            <key>ui_homeLand_shuiwa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1674},{209,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,107}}</string>
                <key>sourceSize</key>
                <string>{209,107}</string>
            </dict>
            <key>ui_homeLand_shuiwa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,975},{209,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,107}}</string>
                <key>sourceSize</key>
                <string>{209,107}</string>
            </dict>
            <key>ui_homeLand_shuiwa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,866},{209,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,107}}</string>
                <key>sourceSize</key>
                <string>{209,107}</string>
            </dict>
            <key>ui_homeLand_tong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1774},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>ui_homeLand_tong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1783},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>ui_homeLand_tong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1783},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_homeLand-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1183,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:948a229a0ed72c4e48dc8f45f5436673:1/1$</string>
            <key>textureFileName</key>
            <string>ui_homeLand-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
