<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_homeLand_luckyturn_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{427,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,446}}</string>
                <key>sourceSize</key>
                <string>{427,446}</string>
            </dict>
            <key>ui_homeLand_luckyturn_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{398,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,350}}</string>
                <key>sourceSize</key>
                <string>{398,350}</string>
            </dict>
            <key>ui_homeLand_luckyturn_btnLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,140},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ui_homeLand_luckyturn_btnMylog.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,393},{137,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,47}}</string>
                <key>sourceSize</key>
                <string>{137,47}</string>
            </dict>
            <key>ui_homeLand_luckyturn_btnOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,340},{133,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,51}}</string>
                <key>sourceSize</key>
                <string>{133,51}</string>
            </dict>
            <key>ui_homeLand_luckyturn_btnRefresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,340},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>ui_homeLand_luckyturn_btnTen.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,287},{133,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,51}}</string>
                <key>sourceSize</key>
                <string>{133,51}</string>
            </dict>
            <key>ui_homeLand_luckyturn_gongxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,354},{421,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,66}}</string>
                <key>sourceSize</key>
                <string>{421,66}</string>
            </dict>
            <key>ui_homeLand_luckyturn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,140},{109,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,145}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>ui_homeLand_luckyturn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{510,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,136}}</string>
                <key>sourceSize</key>
                <string>{510,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_homeLand_luckyturn-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1343,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f65fe3b05408e54d3b62e409961df410:1/1$</string>
            <key>textureFileName</key>
            <string>ui_homeLand_luckyturn-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
