<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ztyxz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,106},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ztyxz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,94},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_Gringotts_toumingdi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,156}}</string>
                <key>sourceSize</key>
                <string>{233,156}</string>
            </dict>
            <key>ztyxz_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{284,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,50}}</string>
                <key>sourceSize</key>
                <string>{284,50}</string>
            </dict>
            <key>ztyxz_cailiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,129},{89,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,28}}</string>
                <key>sourceSize</key>
                <string>{89,28}</string>
            </dict>
            <key>ztyxz_choujiangjiege.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,75},{92,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,21}}</string>
                <key>sourceSize</key>
                <string>{92,21}</string>
            </dict>
            <key>ztyxz_daiding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{107,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>ztyxz_equipSuipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,54},{108,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,29}}</string>
                <key>sourceSize</key>
                <string>{108,29}</string>
            </dict>
            <key>ztyxz_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,94},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ztyxz_huanzhuti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,2},{184,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,49}}</string>
                <key>sourceSize</key>
                <string>{184,49}</string>
            </dict>
            <key>ztyxz_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,138},{139,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,32}}</string>
                <key>sourceSize</key>
                <string>{139,32}</string>
            </dict>
            <key>ztyxz_jifenpaihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,138},{130,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,32}}</string>
                <key>sourceSize</key>
                <string>{130,32}</string>
            </dict>
            <key>ztyxz_jinduitaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,54},{335,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,19}}</string>
                <key>sourceSize</key>
                <string>{335,19}</string>
            </dict>
            <key>ztyxz_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{335,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,19}}</string>
                <key>sourceSize</key>
                <string>{335,19}</string>
            </dict>
            <key>ztyxz_kapaisuipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,137},{101,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,29}}</string>
                <key>sourceSize</key>
                <string>{101,29}</string>
            </dict>
            <key>ztyxz_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,106},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>ztyxz_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,106},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>ztyxz_new_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{336,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,102}}</string>
                <key>sourceSize</key>
                <string>{336,102}</string>
            </dict>
            <key>ztyxz_qita.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,85},{120,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>ztyxz_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,70},{156,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,66}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>ztyxz_shengyucoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,106},{92,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,21}}</string>
                <key>sourceSize</key>
                <string>{92,21}</string>
            </dict>
            <key>ztyxz_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,84},{118,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,75}}</string>
                <key>sourceSize</key>
                <string>{118,75}</string>
            </dict>
            <key>ztyxz_xuandign.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,106},{108,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,68}}</string>
                <key>sourceSize</key>
                <string>{108,68}</string>
            </dict>
            <key>ztyxz_xuandingzhuti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,75},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>ztyxz_yaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ztyxz_yaogan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ztyxz_zhuti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{156,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,66}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>ztyxz_zhuti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,127},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>ztyxz_zhuti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,75},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>ztyxz_zhuti3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,127},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hero_legend_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1991,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eee1de6f104a5954728f19fad25bc86:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hero_legend_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
