<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,44},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>blink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>indianaPan_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{204,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,40}}</string>
                <key>sourceSize</key>
                <string>{204,40}</string>
            </dict>
            <key>toumingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_indianaPan_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{312,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ae45eedcbc3603202e846bc4df669cd:1/1$</string>
            <key>textureFileName</key>
            <string>ui_indianaPan_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
