<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>live_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{956,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{956,236}}</string>
                <key>sourceSize</key>
                <string>{960,236}</string>
            </dict>
            <key>live_big_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,112},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>live_boss_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{182,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,174}}</string>
                <key>sourceSize</key>
                <string>{182,174}</string>
            </dict>
            <key>live_boss_icon_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,178},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>live_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,105},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>live_break.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{128,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{128,101}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>live_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,112},{58,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>live_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,170},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>live_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,166},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>live_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,178},{58,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>live_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,166},{10,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,32}}</string>
                <key>sourceSize</key>
                <string>{10,32}</string>
            </dict>
            <key>live_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,198},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>live_progress_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,86},{66,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,24}}</string>
                <key>sourceSize</key>
                <string>{66,24}</string>
            </dict>
            <key>live_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{90,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>live_small_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,170},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>live_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,203},{168,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{168,30}}</string>
                <key>sourceSize</key>
                <string>{174,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_live-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1366,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be0df9f1d29d86ef68e1a96f36928b1f$</string>
            <key>textureFileName</key>
            <string>ui_live-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
