<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zjjn_addDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,90},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>zjjn_addNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,90},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>zjjn_listBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,144}}</string>
                <key>sourceSize</key>
                <string>{114,144}</string>
            </dict>
            <key>zjjn_listBgDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,114},{258,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,54}}</string>
                <key>sourceSize</key>
                <string>{258,54}</string>
            </dict>
            <key>zjjn_listBgNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,114},{258,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,54}}</string>
                <key>sourceSize</key>
                <string>{258,54}</string>
            </dict>
            <key>zjjn_resetDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,76},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>zjjn_resetNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>zjjn_skillAction.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>zjjn_skillActionDark.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>zjjn_skillBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>zjjn_skillNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>zjjn_skillNormalDark.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>zjjn_skillPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,102},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>zjjn_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{186,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,86}}</string>
                <key>sourceSize</key>
                <string>{186,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_leader_skill_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{922,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d03bd5b6f41433a093ff36f501ba20f$</string>
            <key>textureFileName</key>
            <string>ui_leader_skill_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
