<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_lottery_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,60},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>ui_lottery_ball_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,341},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>ui_lottery_ball_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,341},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>ui_lottery_balloon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{175,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,290}}</string>
                <key>sourceSize</key>
                <string>{175,290}</string>
            </dict>
            <key>ui_lottery_balloon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,157},{128,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,182}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>ui_lottery_btn_jilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,455},{123,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,49}}</string>
                <key>sourceSize</key>
                <string>{123,49}</string>
            </dict>
            <key>ui_lottery_btn_rew.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,404},{123,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,49}}</string>
                <key>sourceSize</key>
                <string>{123,49}</string>
            </dict>
            <key>ui_lottery_btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,109},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>ui_lottery_btn_touzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,404},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>ui_lottery_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,204},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>ui_lottery_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,204},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>ui_lottery_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,337},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,65}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>ui_lottery_progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{517,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,24}}</string>
                <key>sourceSize</key>
                <string>{517,24}</string>
            </dict>
            <key>ui_lottery_progress2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{514,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,20}}</string>
                <key>sourceSize</key>
                <string>{514,20}</string>
            </dict>
            <key>ui_lottery_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,292},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>ui_lottery_result0.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,204},{231,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,43}}</string>
                <key>sourceSize</key>
                <string>{231,43}</string>
            </dict>
            <key>ui_lottery_result1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,292},{197,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,43}}</string>
                <key>sourceSize</key>
                <string>{197,43}</string>
            </dict>
            <key>ui_lottery_result2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,157},{213,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,45}}</string>
                <key>sourceSize</key>
                <string>{213,45}</string>
            </dict>
            <key>ui_lottery_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{583,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,105}}</string>
                <key>sourceSize</key>
                <string>{583,105}</string>
            </dict>
            <key>ui_lottery_title_rew.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,249},{267,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,41}}</string>
                <key>sourceSize</key>
                <string>{267,41}</string>
            </dict>
            <key>ui_lottery_zi_jilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,449},{148,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,56}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>ui_lottery_zi_remaining.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,155},{116,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,47}}</string>
                <key>sourceSize</key>
                <string>{116,47}</string>
            </dict>
            <key>ui_lottery_zi_rew.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{248,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,56}}</string>
                <key>sourceSize</key>
                <string>{248,56}</string>
            </dict>
            <key>ui_lottery_zi_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,337},{109,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,56}}</string>
                <key>sourceSize</key>
                <string>{109,56}</string>
            </dict>
            <key>ui_lottery_zi_touzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{86,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,56}}</string>
                <key>sourceSize</key>
                <string>{86,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_lottery-hd.pvr.ccz</string>
            <key>size</key>
            <string>{675,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b15373c1e7cff604883a8b3d7f5f78ad:1/1$</string>
            <key>textureFileName</key>
            <string>ui_lottery-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
