<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tujian_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{124,172}</string>
            </dict>
            <key>tujian_kongwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>tujian_tujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{112,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,46}}</string>
                <key>sourceSize</key>
                <string>{112,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_lllustrations_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{128,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f985036de44e9a80cfceaf4073e2a67$</string>
            <key>textureFileName</key>
            <string>ui_lllustrations_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
