<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv_gift_bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{173,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,109}}</string>
                <key>sourceSize</key>
                <string>{173,109}</string>
            </dict>
            <key>lv_gift_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,109}}</string>
                <key>sourceSize</key>
                <string>{173,109}</string>
            </dict>
            <key>lv_gift_buy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{105,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,50}}</string>
                <key>sourceSize</key>
                <string>{105,50}</string>
            </dict>
            <key>lv_gift_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,113},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>lv_gift_jiaqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,109},{371,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,69}}</string>
                <key>sourceSize</key>
                <string>{371,69}</string>
            </dict>
            <key>lv_gift_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{214,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,4}}</string>
                <key>sourceSize</key>
                <string>{214,4}</string>
            </dict>
            <key>lv_gift_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{533,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,105}}</string>
                <key>sourceSize</key>
                <string>{533,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_lv_gift-hd.pvr.ccz</string>
            <key>size</key>
            <string>{887,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3330ac6f71768415a91411b7a9b325bc:1/1$</string>
            <key>textureFileName</key>
            <string>ui_lv_gift-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
