<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_leaderUtil_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,644},{73,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>ui_leaderUtil_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,564},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui_leaderUtil_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,484},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui_leader_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,287},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ui_leader_btnAdvanced1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,758},{44,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,107}}</string>
                <key>sourceSize</key>
                <string>{44,107}</string>
            </dict>
            <key>ui_leader_btnAdvanced2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,649},{37,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,107}}</string>
                <key>sourceSize</key>
                <string>{37,107}</string>
            </dict>
            <key>ui_leader_btnAdvanced3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,623},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_leader_btnAttr.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,942},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>ui_leader_btnCloth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,726},{44,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,107}}</string>
                <key>sourceSize</key>
                <string>{44,107}</string>
            </dict>
            <key>ui_leader_btnCloth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,898},{37,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,107}}</string>
                <key>sourceSize</key>
                <string>{37,107}</string>
            </dict>
            <key>ui_leader_btnDapei.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,392},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>ui_leader_btnExchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,567},{73,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>ui_leader_btnInfo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,649},{44,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,107}}</string>
                <key>sourceSize</key>
                <string>{44,107}</string>
            </dict>
            <key>ui_leader_btnInfo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,789},{37,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,107}}</string>
                <key>sourceSize</key>
                <string>{37,107}</string>
            </dict>
            <key>ui_leader_btnQuick.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,566},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_leader_btnSkill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,458},{44,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,107}}</string>
                <key>sourceSize</key>
                <string>{44,107}</string>
            </dict>
            <key>ui_leader_btnSkill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,680},{37,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,107}}</string>
                <key>sourceSize</key>
                <string>{37,107}</string>
            </dict>
            <key>ui_leader_btnStrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,509},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_leader_btnStrong10.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,452},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_leader_btnUplv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,395},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_leader_btnUplv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,287},{152,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,55}}</string>
                <key>sourceSize</key>
                <string>{152,55}</string>
            </dict>
            <key>ui_leader_cardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,392},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_leader_heroBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{317,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,540}}</string>
                <key>sourceSize</key>
                <string>{317,540}</string>
            </dict>
            <key>ui_leader_jindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,344},{363,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,24}}</string>
                <key>sourceSize</key>
                <string>{363,24}</string>
            </dict>
            <key>ui_leader_jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,370},{359,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,20}}</string>
                <key>sourceSize</key>
                <string>{359,20}</string>
            </dict>
            <key>ui_leader_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>ui_leader_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,811},{109,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,129}}</string>
                <key>sourceSize</key>
                <string>{109,129}</string>
            </dict>
            <key>ui_leader_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,680},{109,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,129}}</string>
                <key>sourceSize</key>
                <string>{109,129}</string>
            </dict>
            <key>ui_leader_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,264},{109,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,129}}</string>
                <key>sourceSize</key>
                <string>{109,129}</string>
            </dict>
            <key>ui_leader_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,133},{109,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,129}}</string>
                <key>sourceSize</key>
                <string>{109,129}</string>
            </dict>
            <key>ui_leader_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{109,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,129}}</string>
                <key>sourceSize</key>
                <string>{109,129}</string>
            </dict>
            <key>ui_leader_popBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{514,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,283}}</string>
                <key>sourceSize</key>
                <string>{514,283}</string>
            </dict>
            <key>ui_leader_skillTiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,937},{417,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,72}}</string>
                <key>sourceSize</key>
                <string>{417,72}</string>
            </dict>
            <key>ui_leader_ziEquipSkill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ui_leader_ziSystem.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,287},{189,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,52}}</string>
                <key>sourceSize</key>
                <string>{189,52}</string>
            </dict>
            <key>ui_leader_ziUplv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_leader-hd.pvr.ccz</string>
            <key>size</key>
            <string>{633,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1cda5d0653351c388b92e2e3efa9388:1/1$</string>
            <key>textureFileName</key>
            <string>ui_leader-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
