<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sjdt__b_Ssuipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,353},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sjdt__b_Tsuipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,378},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sjdt__b_tingzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,261},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sjdt_banzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{466,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,112}}</string>
                <key>sourceSize</key>
                <string>{466,112}</string>
            </dict>
            <key>sjdt_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,445},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>sjdt_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{394,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,154}}</string>
                <key>sourceSize</key>
                <string>{394,154}</string>
            </dict>
            <key>sjdt_cleanup.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,74},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sjdt_combat_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{257,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,44}}</string>
                <key>sourceSize</key>
                <string>{257,44}</string>
            </dict>
            <key>sjdt_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,261},{50,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,79}}</string>
                <key>sourceSize</key>
                <string>{50,79}</string>
            </dict>
            <key>sjdt_elite_levels_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,278},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sjdt_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,451},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sjdt_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,402},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>sjdt_guankadiaoluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,458},{134,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,34}}</string>
                <key>sourceSize</key>
                <string>{134,34}</string>
            </dict>
            <key>sjdt_infection.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,445},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sjdt_jiantou_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,306},{65,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,108}}</string>
                <key>sourceSize</key>
                <string>{65,108}</string>
            </dict>
            <key>sjdt_jiantou_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,302},{65,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,108}}</string>
                <key>sourceSize</key>
                <string>{65,108}</string>
            </dict>
            <key>sjdt_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>sjdt_lock_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{236,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,130}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>sjdt_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,455},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sjdt_neturalDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,206},{148,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,98}}</string>
                <key>sourceSize</key>
                <string>{148,98}</string>
            </dict>
            <key>sjdt_neturalNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,161},{148,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,98}}</string>
                <key>sourceSize</key>
                <string>{148,98}</string>
            </dict>
            <key>sjdt_neutralBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,306},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>sjdt_normal_levels_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,378},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sjdt_pictureBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,161},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,93}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>sjdt_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,48},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>sjdt_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,456},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>sjdt_recover.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,461},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sjdt_saodang.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,278},{113,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,98}}</string>
                <key>sourceSize</key>
                <string>{113,98}</string>
            </dict>
            <key>sjdt_sf_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{184,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,81}}</string>
                <key>sourceSize</key>
                <string>{184,81}</string>
            </dict>
            <key>sjdt_sf_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{600,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,24}}</string>
                <key>sourceSize</key>
                <string>{600,24}</string>
            </dict>
            <key>sjdt_sf_jindutiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,44}}</string>
                <key>sourceSize</key>
                <string>{622,44}</string>
            </dict>
            <key>sjdt_sf_tubiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,279},{113,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,98}}</string>
                <key>sourceSize</key>
                <string>{113,98}</string>
            </dict>
            <key>sjdt_sf_tubiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,379},{113,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,98}}</string>
                <key>sourceSize</key>
                <string>{113,98}</string>
            </dict>
            <key>sjdt_sf_tubiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,279},{113,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,98}}</string>
                <key>sourceSize</key>
                <string>{113,98}</string>
            </dict>
            <key>sjdt_sf_tubiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,406},{113,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,98}}</string>
                <key>sourceSize</key>
                <string>{113,98}</string>
            </dict>
            <key>sjdt_sf_tubiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,306},{113,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,98}}</string>
                <key>sourceSize</key>
                <string>{113,98}</string>
            </dict>
            <key>sjdt_sf_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,234},{188,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,34}}</string>
                <key>sourceSize</key>
                <string>{188,34}</string>
            </dict>
            <key>sjdt_shiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{296,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,230}}</string>
                <key>sourceSize</key>
                <string>{296,230}</string>
            </dict>
            <key>sjdt_shoufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,422},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>sjdt_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,85},{185,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,74}}</string>
                <key>sourceSize</key>
                <string>{185,74}</string>
            </dict>
            <key>sjdt_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,422},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>sjdt_wanquanshoufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,234},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>sjdt_war.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,461},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sjdt_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,270},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{128,34}</string>
            </dict>
            <key>sjdt_wenzi_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,479},{84,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>sjdt_wenzi_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,479},{84,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>sjdt_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,412},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>sjdt_zhangjieban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{474,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,112}}</string>
                <key>sourceSize</key>
                <string>{474,112}</string>
            </dict>
            <key>sjdt_zhuangbeitujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,379},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>zdsd_enniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,206},{230,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>zdsd_enniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,134},{230,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>zj_btnSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,416},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>zj_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,470},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>zj_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,342},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_map_world_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1385,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:320f87a5b5d692ac7f47d478faf3856f:1/1$</string>
            <key>textureFileName</key>
            <string>ui_map_world_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
