<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>melting_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,234},{22,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{22,42}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>melting_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,368}}</string>
                <key>sourceSize</key>
                <string>{390,368}</string>
            </dict>
            <key>melting_card_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{134,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,188}}</string>
                <key>sourceSize</key>
                <string>{140,190}</string>
            </dict>
            <key>melting_card_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{134,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{134,188}}</string>
                <key>sourceSize</key>
                <string>{140,190}</string>
            </dict>
            <key>melting_card_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,192},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{134,186}}</string>
                <key>sourceSize</key>
                <string>{140,190}</string>
            </dict>
            <key>melting_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,234},{24,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>melting_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,252},{22,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{22,16}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>melting_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,192},{126,40}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{126,40}}</string>
                <key>sourceSize</key>
                <string>{130,48}</string>
            </dict>
            <key>meting_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,278},{24,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_melting-hd.pvr.ccz</string>
            <key>size</key>
            <string>{666,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cb284131a403efc4a4fe5301c24aa63$</string>
            <key>textureFileName</key>
            <string>ui_melting-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
