<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_mysteryplace_1high.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,848},{137,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,75}}</string>
                <key>sourceSize</key>
                <string>{137,75}</string>
            </dict>
            <key>btn_mysteryplace_1low.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,551},{137,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,75}}</string>
                <key>sourceSize</key>
                <string>{137,75}</string>
            </dict>
            <key>btn_mysteryplace_2high.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,474},{137,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,75}}</string>
                <key>sourceSize</key>
                <string>{137,75}</string>
            </dict>
            <key>btn_mysteryplace_2low.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,474},{137,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,75}}</string>
                <key>sourceSize</key>
                <string>{137,75}</string>
            </dict>
            <key>btn_mysteryplace_purchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,266},{110,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,47}}</string>
                <key>sourceSize</key>
                <string>{110,49}</string>
            </dict>
            <key>btn_mysteryplace_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,154},{110,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,49}}</string>
                <key>sourceSize</key>
                <string>{110,49}</string>
            </dict>
            <key>btn_mysteryplace_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,88},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>title_mysteryplace.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{320,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,84}}</string>
                <key>sourceSize</key>
                <string>{320,84}</string>
            </dict>
            <key>ui_mysteryplace_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,689},{121,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,99}}</string>
                <key>sourceSize</key>
                <string>{121,99}</string>
            </dict>
            <key>ui_mysteryplace_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,566},{121,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,99}}</string>
                <key>sourceSize</key>
                <string>{121,99}</string>
            </dict>
            <key>ui_mysteryplace_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{688,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,470}}</string>
                <key>sourceSize</key>
                <string>{688,470}</string>
            </dict>
            <key>ui_mysteryplace_chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,327},{254,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,237}}</string>
                <key>sourceSize</key>
                <string>{254,237}</string>
            </dict>
            <key>ui_mysteryplace_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,848},{139,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,117}}</string>
                <key>sourceSize</key>
                <string>{139,117}</string>
            </dict>
            <key>ui_mysteryplace_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,88},{254,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,237}}</string>
                <key>sourceSize</key>
                <string>{254,237}</string>
            </dict>
            <key>ui_mysteryplace_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,690},{156,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,153}}</string>
                <key>sourceSize</key>
                <string>{156,153}</string>
            </dict>
            <key>ui_mysteryplace_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,566},{390,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,216}}</string>
                <key>sourceSize</key>
                <string>{390,216}</string>
            </dict>
            <key>ui_mysteryplace_persion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{371,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,534}}</string>
                <key>sourceSize</key>
                <string>{371,534}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_mysteryplace-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:692e9e1b72e825a418068584211d1ebd:1/1$</string>
            <key>textureFileName</key>
            <string>ui_mysteryplace-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
