<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_zqmy_baise.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,256},{164,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,34}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
            <key>a_zqmy_dibankehen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,424},{38,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,4}}</string>
                <key>sourceSize</key>
                <string>{38,4}</string>
            </dict>
            <key>a_zqmy_dibankehen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,418},{4,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,34}}</string>
                <key>sourceSize</key>
                <string>{4,34}</string>
            </dict>
            <key>a_zqmy_duihuananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,454},{80,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,46}</string>
            </dict>
            <key>a_zqmy_hongsetiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{334,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,42}}</string>
                <key>sourceSize</key>
                <string>{334,42}</string>
            </dict>
            <key>a_zqmy_jindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,338},{422,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,34}}</string>
                <key>sourceSize</key>
                <string>{422,34}</string>
            </dict>
            <key>a_zqmy_jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,294},{426,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,42}}</string>
                <key>sourceSize</key>
                <string>{426,42}</string>
            </dict>
            <key>a_zqmy_kedusanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,458},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>a_zqmy_renwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,292},{130,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>sourceSize</key>
                <string>{130,180}</string>
            </dict>
            <key>a_zqmy_tibiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{598,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,118}}</string>
                <key>sourceSize</key>
                <string>{598,118}</string>
            </dict>
            <key>a_zqmy_tibiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,122},{424,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,170}}</string>
                <key>sourceSize</key>
                <string>{424,170}</string>
            </dict>
            <key>a_zqmy_wenzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,374},{269,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,48}}</string>
                <key>sourceSize</key>
                <string>{269,48}</string>
            </dict>
            <key>a_zqmy_wenzi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,474},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>a_zqmy_wenzi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,430},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>a_zqmy_wenzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,418},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>a_zqmy_wenzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,474},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>a_zqmy_wenzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{138,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,26}}</string>
                <key>sourceSize</key>
                <string>{138,26}</string>
            </dict>
            <key>a_zqmy_wenzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,454},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>a_zqmy_wenzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,374},{194,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,42}}</string>
                <key>sourceSize</key>
                <string>{194,42}</string>
            </dict>
            <key>a_zqmy_wenzi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,474},{120,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,26}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
            <key>a_zqmy_wenzi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,468},{118,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,18}}</string>
                <key>sourceSize</key>
                <string>{118,18}</string>
            </dict>
            <key>a_zqmy_wenzi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,424},{194,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,42}}</string>
                <key>sourceSize</key>
                <string>{194,42}</string>
            </dict>
            <key>a_zqmy_xingkongbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,426}}</string>
                <key>sourceSize</key>
                <string>{404,426}</string>
            </dict>
            <key>a_zqmy_zhongqiutuangou.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,122},{142,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_mid_autumn_festival_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1008,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c50c4c57c2e55edad0be28a98fed4876:1/1$</string>
            <key>textureFileName</key>
            <string>ui_mid_autumn_festival_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
