<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_more_rank_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{914,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,81}}</string>
                <key>sourceSize</key>
                <string>{914,81}</string>
            </dict>
            <key>ui_more_rank_banner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ui_more_rank_banner_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1103},{158,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,31}}</string>
                <key>sourceSize</key>
                <string>{158,31}</string>
            </dict>
            <key>ui_more_rank_banner_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1517},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>ui_more_rank_banner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{160,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,31}}</string>
                <key>sourceSize</key>
                <string>{160,31}</string>
            </dict>
            <key>ui_more_rank_banner_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1103},{161,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,32}}</string>
                <key>sourceSize</key>
                <string>{161,32}</string>
            </dict>
            <key>ui_more_rank_banner_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1570},{129,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,33}}</string>
                <key>sourceSize</key>
                <string>{129,33}</string>
            </dict>
            <key>ui_more_rank_banner_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1257},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>ui_more_rank_banner_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1387},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>ui_more_rank_banner_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1263},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>ui_more_rank_banner_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1257},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>ui_more_rank_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,941},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>ui_more_rank_button_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,432},{99,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,103}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>ui_more_rank_button_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,219},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>ui_more_rank_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,111},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>ui_more_rank_button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,840},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>ui_more_rank_button_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,739},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>ui_more_rank_button_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,638},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>ui_more_rank_button_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1042},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_more_rank_button_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,326},{104,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,99}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>ui_more_rank_button_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,537},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>ui_more_rank_button_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{107,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,99}}</string>
                <key>sourceSize</key>
                <string>{107,99}</string>
            </dict>
            <key>ui_more_rank_guild_gername.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1138},{117,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,30}}</string>
                <key>sourceSize</key>
                <string>{117,30}</string>
            </dict>
            <key>ui_more_rank_guild_gname.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1138},{117,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,30}}</string>
                <key>sourceSize</key>
                <string>{117,30}</string>
            </dict>
            <key>ui_more_rank_guild_startnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1701},{89,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,30}}</string>
                <key>sourceSize</key>
                <string>{89,30}</string>
            </dict>
            <key>ui_more_rank_hitboss.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1263},{145,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,30}}</string>
                <key>sourceSize</key>
                <string>{145,30}</string>
            </dict>
            <key>ui_more_rank_mingyun_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,918},{147,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,29}}</string>
                <key>sourceSize</key>
                <string>{147,29}</string>
            </dict>
            <key>ui_more_rank_sti_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1387},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>ui_more_rank_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{183,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,50}}</string>
                <key>sourceSize</key>
                <string>{183,50}</string>
            </dict>
            <key>ui_more_rank_winnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1138},{117,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,30}}</string>
                <key>sourceSize</key>
                <string>{117,30}</string>
            </dict>
            <key>ui_more_rankenniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,1428},{140,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,83}}</string>
                <key>sourceSize</key>
                <string>{140,83}</string>
            </dict>
            <key>ui_more_rankenniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{140,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,83}}</string>
                <key>sourceSize</key>
                <string>{140,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_more_rank-hd.pvr.ccz</string>
            <key>size</key>
            <string>{186,1733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a43af38ef3bd3a5fbfd644596c73402$</string>
            <key>textureFileName</key>
            <string>ui_more_rank-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
