<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_chat_backshow.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,40},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>ui_chat_btn_backshow.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ui_chat_btn_shareshow.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ui_chat_change_avatar_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{144,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,36}}</string>
                <key>sourceSize</key>
                <string>{144,36}</string>
            </dict>
            <key>ui_chat_change_avatar_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,76},{88,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,24}}</string>
                <key>sourceSize</key>
                <string>{88,24}</string>
            </dict>
            <key>ui_chat_levelboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{198,26}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,26}}</string>
                <key>sourceSize</key>
                <string>{222,26}</string>
            </dict>
            <key>ui_chat_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,74},{64,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,18}}</string>
                <key>sourceSize</key>
                <string>{64,18}</string>
            </dict>
            <key>ui_chat_vip_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,40},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>ui_new_chat_chatsign1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{72,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{72,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_new_chat_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_new_chat_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{464,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f468c146a0902d21f4ca4e821f288df2:1/1$</string>
            <key>textureFileName</key>
            <string>ui_new_chat_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
