<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_newRichMan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>ui_newRichMan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,706},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>ui_newRichMan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,638},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>ui_newRichMan_btnSure.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>ui_newRichMan_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>ui_newRichMan_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>ui_newRichMan_selectDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>ui_newRichMan_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{91,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,51}}</string>
                <key>sourceSize</key>
                <string>{91,51}</string>
            </dict>
            <key>ui_newRichMan_tyrantTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{91,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,51}}</string>
                <key>sourceSize</key>
                <string>{91,51}</string>
            </dict>
            <key>ui_newRichMan_victoryDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{98,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,154}}</string>
                <key>sourceSize</key>
                <string>{98,154}</string>
            </dict>
            <key>ui_newRichMan_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{77,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_newRichMan_gamble-hd.pvr.ccz</string>
            <key>size</key>
            <string>{124,765}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:982942c0aaadd19459ca051b46c70f69:1/1$</string>
            <key>textureFileName</key>
            <string>ui_newRichMan_gamble-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
