<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_newyear_bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,388},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>ui_newyear_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,109},{216,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,263}}</string>
                <key>sourceSize</key>
                <string>{216,263}</string>
            </dict>
            <key>ui_newyear_bag3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{274,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,318}}</string>
                <key>sourceSize</key>
                <string>{274,318}</string>
            </dict>
            <key>ui_newyear_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,388},{110,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,49}}</string>
                <key>sourceSize</key>
                <string>{110,49}</string>
            </dict>
            <key>ui_newyear_btn_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,429},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>ui_newyear_btn_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,374},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>ui_newyear_btn_zhufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>ui_newyear_qiqiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,126},{175,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,290}}</string>
                <key>sourceSize</key>
                <string>{175,290}</string>
            </dict>
            <key>ui_newyear_qiqiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,126},{166,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,260}}</string>
                <key>sourceSize</key>
                <string>{166,260}</string>
            </dict>
            <key>ui_newyear_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{533,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,105}}</string>
                <key>sourceSize</key>
                <string>{533,105}</string>
            </dict>
            <key>ui_newyear_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{275,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,60}}</string>
                <key>sourceSize</key>
                <string>{275,60}</string>
            </dict>
            <key>ui_newyear_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,418},{242,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,60}}</string>
                <key>sourceSize</key>
                <string>{242,60}</string>
            </dict>
            <key>ui_newyear_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,64},{274,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,60}}</string>
                <key>sourceSize</key>
                <string>{274,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_newyear-hd.pvr.ccz</string>
            <key>size</key>
            <string>{841,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c806f0280b8c5dd5d07bb63d0915d1e9:1/1$</string>
            <key>textureFileName</key>
            <string>ui_newyear-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
