<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>puzzles1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,175},{152,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,170}}</string>
                <key>sourceSize</key>
                <string>{152,170}</string>
            </dict>
            <key>puzzles10.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{238,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,167}}</string>
                <key>sourceSize</key>
                <string>{238,167}</string>
            </dict>
            <key>puzzles11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,244}}</string>
                <key>sourceSize</key>
                <string>{167,244}</string>
            </dict>
            <key>puzzles12.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,183},{185,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,173}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>puzzles13.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{146,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,179}}</string>
                <key>sourceSize</key>
                <string>{146,179}</string>
            </dict>
            <key>puzzles14.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,171},{248,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,158}}</string>
                <key>sourceSize</key>
                <string>{248,158}</string>
            </dict>
            <key>puzzles15.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,199},{160,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,194}}</string>
                <key>sourceSize</key>
                <string>{160,194}</string>
            </dict>
            <key>puzzles16.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,347},{197,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,146}}</string>
                <key>sourceSize</key>
                <string>{197,146}</string>
            </dict>
            <key>puzzles2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,358},{247,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,143}}</string>
                <key>sourceSize</key>
                <string>{247,143}</string>
            </dict>
            <key>puzzles3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{168,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,195}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>puzzles4.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,331},{184,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,156}}</string>
                <key>sourceSize</key>
                <string>{184,156}</string>
            </dict>
            <key>puzzles5.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{146,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,232}}</string>
                <key>sourceSize</key>
                <string>{146,232}</string>
            </dict>
            <key>puzzles6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{250,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,156}}</string>
                <key>sourceSize</key>
                <string>{250,156}</string>
            </dict>
            <key>puzzles7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,248},{176,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,242}}</string>
                <key>sourceSize</key>
                <string>{176,242}</string>
            </dict>
            <key>puzzles8.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{190,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,171}}</string>
                <key>sourceSize</key>
                <string>{190,171}</string>
            </dict>
            <key>puzzles9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{156,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,243}}</string>
                <key>sourceSize</key>
                <string>{156,243}</string>
            </dict>
            <key>ui_puzzles_btnDes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,399},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>ui_puzzles_btnMessage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,325},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>ui_puzzles_friendSend.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,395},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_puzzles_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,395},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>ui_puzzles_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,270},{138,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,137}}</string>
                <key>sourceSize</key>
                <string>{138,137}</string>
            </dict>
            <key>ui_puzzles_rewadTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,215},{228,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,53}}</string>
                <key>sourceSize</key>
                <string>{228,53}</string>
            </dict>
            <key>ui_puzzles_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,409},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>ui_puzzles_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,160},{235,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,53}}</string>
                <key>sourceSize</key>
                <string>{235,53}</string>
            </dict>
            <key>ui_puzzles_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,270},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_newRichMan_pintu-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1351,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76a5e15bf57a47d77918cb78c41c069b:1/1$</string>
            <key>textureFileName</key>
            <string>ui_newRichMan_pintu-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
