<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_newRichMan_admiralTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{177,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,52}}</string>
                <key>sourceSize</key>
                <string>{177,52}</string>
            </dict>
            <key>ui_newRichMan_btnBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>ui_newRichMan_btnBurke.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>ui_newRichMan_btnChallenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>ui_newRichMan_btnChehui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>ui_newRichMan_btnTitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,39}</string>
            </dict>
            <key>ui_newRichMan_btnTitle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,39}</string>
            </dict>
            <key>ui_newRichMan_btnTitle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,39}</string>
            </dict>
            <key>ui_newRichMan_shopTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{176,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,51}}</string>
                <key>sourceSize</key>
                <string>{176,51}</string>
            </dict>
            <key>ui_newRichMan_titleBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{106,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,41}}</string>
                <key>sourceSize</key>
                <string>{106,41}</string>
            </dict>
            <key>ui_newRichMan_titlePrison.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{93,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,51}}</string>
                <key>sourceSize</key>
                <string>{93,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_newRichMan_formation-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1300,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ed6c22f4e49b6dc4034f96849281a11:1/1$</string>
            <key>textureFileName</key>
            <string>ui_newRichMan_formation-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
