<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_new_TeamBoss_boss_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,385}}</string>
                <key>sourceSize</key>
                <string>{329,385}</string>
            </dict>
            <key>ui_new_TeamBoss_invite_btn_accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,333},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_new_TeamBoss_invite_btn_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,275},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_new_TeamBoss_invite_btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,333},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_new_TeamBoss_invite_btn_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,208},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_new_TeamBoss_invite_btn_tuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,275},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_new_TeamBoss_invite_email.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_new_TeamBoss_invite_iconKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{136,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,147}}</string>
                <key>sourceSize</key>
                <string>{136,147}</string>
            </dict>
            <key>ui_new_TeamBoss_invite_lvKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,241},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>ui_new_TeamBoss_invite_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,389},{190,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{190,52}</string>
            </dict>
            <key>ui_new_TeamBoss_invite_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,371},{163,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,49}}</string>
                <key>sourceSize</key>
                <string>{163,49}</string>
            </dict>
            <key>ui_new_TeamBoss_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,332},{176,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,166}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>ui_new_TeamBoss_main_boss11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,2},{156,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,271}}</string>
                <key>sourceSize</key>
                <string>{156,271}</string>
            </dict>
            <key>ui_new_TeamBoss_main_boss12.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{156,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,271}}</string>
                <key>sourceSize</key>
                <string>{156,271}</string>
            </dict>
            <key>ui_new_TeamBoss_main_boss21.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{156,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,271}}</string>
                <key>sourceSize</key>
                <string>{156,271}</string>
            </dict>
            <key>ui_new_TeamBoss_main_boss22.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{156,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,271}}</string>
                <key>sourceSize</key>
                <string>{156,271}</string>
            </dict>
            <key>ui_new_TeamBoss_main_boss31.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{156,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,271}}</string>
                <key>sourceSize</key>
                <string>{156,271}</string>
            </dict>
            <key>ui_new_TeamBoss_main_boss32.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{156,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,271}}</string>
                <key>sourceSize</key>
                <string>{156,271}</string>
            </dict>
            <key>ui_new_TeamBoss_main_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,151},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_new_TeamBoss_main_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,228},{130,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>ui_new_TeamBoss_main_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,204},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_new_TeamBoss_main_team.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,149},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_new_TeamBoss_main_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{305,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,51}}</string>
                <key>sourceSize</key>
                <string>{305,51}</string>
            </dict>
            <key>ui_new_TeamBoss_main_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,315},{121,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,49}}</string>
                <key>sourceSize</key>
                <string>{121,49}</string>
            </dict>
            <key>ui_new_TeamBoss_main_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,84},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_btn_canzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,275},{168,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,75}}</string>
                <key>sourceSize</key>
                <string>{168,75}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_btn_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,366},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_btn_shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,268},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_btn_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,275},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_btn_yijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,332},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_btn_zhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,275},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,352},{151,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,17}}</string>
                <key>sourceSize</key>
                <string>{151,17}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_progress2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,352},{155,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,21}}</string>
                <key>sourceSize</key>
                <string>{155,21}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_shuxing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,366},{44,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,107}}</string>
                <key>sourceSize</key>
                <string>{44,107}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_shuxing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,349},{44,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,107}}</string>
                <key>sourceSize</key>
                <string>{44,107}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_zhuangbei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,349},{44,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,107}}</string>
                <key>sourceSize</key>
                <string>{44,107}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_zhuangbei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,349},{44,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,107}}</string>
                <key>sourceSize</key>
                <string>{44,107}</string>
            </dict>
            <key>ui_new_TeamBoss_ready_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,98},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,49}}</string>
                <key>sourceSize</key>
                <string>{127,49}</string>
            </dict>
            <key>ui_new_TeamBoss_team_btn_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,333},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_new_TeamBoss_team_btn_havedone.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,275},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_new_TeamBoss_team_btn_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>ui_new_TeamBoss_team_btn_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,333},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_new_TeamBoss_team_btn_jointeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,389},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_new_TeamBoss_team_btn_lookTask.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,275},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_new_TeamBoss_team_btn_lookTeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,275},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_new_TeamBoss_team_btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,422},{129,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,58}}</string>
                <key>sourceSize</key>
                <string>{129,58}</string>
            </dict>
            <key>ui_new_TeamBoss_team_btn_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,241},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>ui_new_TeamBoss_team_difficulty11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,115},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
            <key>ui_new_TeamBoss_team_difficulty12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,2},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
            <key>ui_new_TeamBoss_team_difficulty21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,391},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
            <key>ui_new_TeamBoss_team_difficulty22.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,391},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
            <key>ui_new_TeamBoss_team_difficulty31.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,391},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
            <key>ui_new_TeamBoss_team_difficulty32.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,391},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
            <key>ui_new_TeamBoss_team_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,151},{127,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,51}}</string>
                <key>sourceSize</key>
                <string>{127,51}</string>
            </dict>
            <key>ui_new_TeamBoss_team_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,296},{94,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,51}}</string>
                <key>sourceSize</key>
                <string>{94,51}</string>
            </dict>
            <key>ui_new_TeamBoss_team_title_havedone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{301,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,52}}</string>
                <key>sourceSize</key>
                <string>{301,52}</string>
            </dict>
            <key>ui_new_TeamBoss_team_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,443},{163,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,49}}</string>
                <key>sourceSize</key>
                <string>{163,49}</string>
            </dict>
            <key>ui_new_TeamBoss_team_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,443},{163,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,49}}</string>
                <key>sourceSize</key>
                <string>{163,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_new_teamTask-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1746,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f2dbdf38bb08ea51fc5cebf58f3d078:1/1$</string>
            <key>textureFileName</key>
            <string>ui_new_teamTask-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
