<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_package_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_newpackage_gift_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{84,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29a8b8eac930bf0cc59b833f8825f9ef:1/1$</string>
            <key>textureFileName</key>
            <string>ui_newpackage_gift_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
