<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zldt_combat_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,66},{92,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,35}}</string>
                <key>sourceSize</key>
                <string>{92,35}</string>
            </dict>
            <key>zldt_combat_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,76},{86,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>zldt_dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,92}}</string>
                <key>sourceSize</key>
                <string>{212,94}</string>
            </dict>
            <key>zldt_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,42},{181,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{181,32}}</string>
                <key>sourceSize</key>
                <string>{181,44}</string>
            </dict>
            <key>zldt_zhanqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{82,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{82,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>zldt_zhongliwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{206,38}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{206,38}}</string>
                <key>sourceSize</key>
                <string>{220,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_neutral_map_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{508,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dc5fe474242ee428b345e7acdec6b93$</string>
            <key>textureFileName</key>
            <string>ui_neutral_map_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
