<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>offer_back.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{814,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{814,490}}</string>
                <key>sourceSize</key>
                <string>{814,490}</string>
            </dict>
            <key>offer_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,552},{238,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{238,20}}</string>
                <key>sourceSize</key>
                <string>{242,24}</string>
            </dict>
            <key>offer_bar_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,654},{242,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,24}}</string>
                <key>sourceSize</key>
                <string>{242,24}</string>
            </dict>
            <key>offer_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,596},{120,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>offer_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,693},{216,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,80}}</string>
                <key>sourceSize</key>
                <string>{216,80}</string>
            </dict>
            <key>offer_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,494},{120,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,56}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>offer_btn_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{238,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{238,108}}</string>
                <key>sourceSize</key>
                <string>{266,130}</string>
            </dict>
            <key>offer_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>offer_daily_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{224,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{224,26}}</string>
                <key>sourceSize</key>
                <string>{248,26}</string>
            </dict>
            <key>offer_daily_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,494},{176,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,49}}</string>
                <key>sourceSize</key>
                <string>{176,49}</string>
            </dict>
            <key>offer_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,604},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>offer_get_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>offer_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,604},{86,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{86,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>offer_look_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,494},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>offer_perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,568},{95,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,26}}</string>
                <key>sourceSize</key>
                <string>{95,30}</string>
            </dict>
            <key>offer_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,775},{131,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{131,38}}</string>
                <key>sourceSize</key>
                <string>{131,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_offer-hd.pvr.ccz</string>
            <key>size</key>
            <string>{818,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca52757496aa08d6816a4e047cd0b7b3:1/1$</string>
            <key>textureFileName</key>
            <string>ui_offer-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
