<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jihuomaweizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{124,44}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{124,44}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
            <key>public_persion_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,423},{88,36}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{88,36}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>public_pop_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,423},{91,41}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{91,41}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>public_pop_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,466},{91,29}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{91,29}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>tck_zhongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{523,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,419}}</string>
                <key>sourceSize</key>
                <string>{523,419}</string>
            </dict>
            <key>xiaoxiwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,423},{92,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,44}</string>
            </dict>
            <key>zhuangbeiwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,423},{90,36}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>zhuangbeiwenzi_hecheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,461},{182,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{182,34}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_public_pop_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{527,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3673bf29c4193e7e579909fb95809402:1/1$</string>
            <key>textureFileName</key>
            <string>ui_public_pop_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
