<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_payplan_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,349},{195,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,83}}</string>
                <key>sourceSize</key>
                <string>{195,83}</string>
            </dict>
            <key>ui_payplan_anniu_0a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{1,1}}</string>
                <key>offset</key>
                <string>{-97,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{195,83}</string>
            </dict>
            <key>ui_payplan_annniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{126,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,50}}</string>
                <key>sourceSize</key>
                <string>{126,50}</string>
            </dict>
            <key>ui_payplan_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_payplan_chaonengshangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,211},{78,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,62}</string>
            </dict>
            <key>ui_payplan_gaizhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,277},{80,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{80,34}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>ui_payplan_goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,434},{154,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,63}}</string>
                <key>sourceSize</key>
                <string>{154,65}</string>
            </dict>
            <key>ui_payplan_goumaixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,127},{169,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{169,82}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>ui_payplan_huoban.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,211},{106,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,36}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>ui_payplan_jintiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{9,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,130}}</string>
                <key>sourceSize</key>
                <string>{9,130}</string>
            </dict>
            <key>ui_payplan_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{124,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,200}}</string>
                <key>sourceSize</key>
                <string>{124,200}</string>
            </dict>
            <key>ui_payplan_tiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,243},{202,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,104}}</string>
                <key>sourceSize</key>
                <string>{202,104}</string>
            </dict>
            <key>ui_payplan_tiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{123,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,140}}</string>
                <key>sourceSize</key>
                <string>{123,140}</string>
            </dict>
            <key>ui_payplan_xiangoushangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,434},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>ui_payplan_xiaofei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,118}}</string>
                <key>sourceSize</key>
                <string>{370,118}</string>
            </dict>
            <key>ui_payplan_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,122},{204,119}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{204,119}}</string>
                <key>sourceSize</key>
                <string>{210,121}</string>
            </dict>
            <key>ui_payplan_xuanzhonganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,349},{195,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,83}}</string>
                <key>sourceSize</key>
                <string>{195,83}</string>
            </dict>
            <key>ui_payplan_yingxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{114,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{114,32}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>ui_payplan_zhangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,313},{100,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{100,32}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>ui_payplan_zhangbeijinjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,54},{78,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>ui_payplan_zhengba.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,249},{108,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{108,26}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>ui_payplan_zhuangbeiqianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,434},{85,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,67}</string>
            </dict>
            <key>ui_payplan_zuanshishangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,277},{79,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_payplan-hd.pvr.ccz</string>
            <key>size</key>
            <string>{522,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fbc81a759bc17163fa57825501a7b9a$</string>
            <key>textureFileName</key>
            <string>ui_payplan-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
