<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rwxq_chen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{118,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,37}}</string>
                <key>sourceSize</key>
                <string>{120,37}</string>
            </dict>
            <key>rwxq_chen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{114,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{114,37}}</string>
                <key>sourceSize</key>
                <string>{120,37}</string>
            </dict>
            <key>rwxq_gongxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{108,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,37}}</string>
                <key>sourceSize</key>
                <string>{108,37}</string>
            </dict>
            <key>rwxq_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,82},{72,37}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>rwxq_jinshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{68,31}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{68,31}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>rwxq_nengjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,160},{93,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>rwxq_shiwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,30},{83,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,35}}</string>
                <key>sourceSize</key>
                <string>{85,37}</string>
            </dict>
            <key>rwxq_wanjiaID.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{89,26}}</string>
                <key>sourceSize</key>
                <string>{107,50}</string>
            </dict>
            <key>rwxq_wanjiamingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{111,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{111,26}}</string>
                <key>sourceSize</key>
                <string>{127,50}</string>
            </dict>
            <key>rwxq_xingling.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,121},{80,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>ui_player_exchange_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,30},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_player_detail_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{209,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2133bf724227cbe0a6a22f7bc3c9290:1/1$</string>
            <key>textureFileName</key>
            <string>ui_player_detail_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
