<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pirate_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{568,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,138}}</string>
                <key>sourceSize</key>
                <string>{568,138}</string>
            </dict>
            <key>pirate_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{194,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,146}}</string>
                <key>sourceSize</key>
                <string>{194,146}</string>
            </dict>
            <key>pirate_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,128},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>pirate_chose.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{144,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,140}}</string>
                <key>sourceSize</key>
                <string>{144,140}</string>
            </dict>
            <key>pirate_death.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,70},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>pirate_hero_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,182},{70,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,14}}</string>
                <key>sourceSize</key>
                <string>{70,14}</string>
            </dict>
            <key>pirate_hero_life_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,182},{70,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,14}}</string>
                <key>sourceSize</key>
                <string>{70,14}</string>
            </dict>
            <key>pirate_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,128},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>pirate_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,202},{422,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,22}}</string>
                <key>sourceSize</key>
                <string>{422,22}</string>
            </dict>
            <key>pirate_life_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,202},{422,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,22}}</string>
                <key>sourceSize</key>
                <string>{422,22}</string>
            </dict>
            <key>pirate_life_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,148},{574,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,52}}</string>
                <key>sourceSize</key>
                <string>{574,52}</string>
            </dict>
            <key>pirate_life_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,180}}</string>
                <key>sourceSize</key>
                <string>{222,180}</string>
            </dict>
            <key>pirate_round1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,36},{180,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,32}}</string>
                <key>sourceSize</key>
                <string>{180,32}</string>
            </dict>
            <key>pirate_round2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{180,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,32}}</string>
                <key>sourceSize</key>
                <string>{180,32}</string>
            </dict>
            <key>pirate_round3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,150},{180,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,32}}</string>
                <key>sourceSize</key>
                <string>{180,32}</string>
            </dict>
            <key>pirate_roundbtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{146,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,100}}</string>
                <key>sourceSize</key>
                <string>{146,100}</string>
            </dict>
            <key>pirate_roundbtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{176,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,124}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>pirate_roundbtn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{240,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,144}}</string>
                <key>sourceSize</key>
                <string>{240,144}</string>
            </dict>
            <key>pirate_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,150},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>pirate_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,182},{194,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,34}}</string>
                <key>sourceSize</key>
                <string>{194,34}</string>
            </dict>
            <key>pirate_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,104},{250,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,36}}</string>
                <key>sourceSize</key>
                <string>{250,36}</string>
            </dict>
            <key>pirate_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,70},{106,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,24}}</string>
                <key>sourceSize</key>
                <string>{106,24}</string>
            </dict>
            <key>pirate_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,142},{150,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,38}}</string>
                <key>sourceSize</key>
                <string>{150,38}</string>
            </dict>
            <key>pirate_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,142},{112,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,38}}</string>
                <key>sourceSize</key>
                <string>{112,38}</string>
            </dict>
            <key>pirate_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{190,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,38}}</string>
                <key>sourceSize</key>
                <string>{190,38}</string>
            </dict>
            <key>pirate_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,184},{150,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,38}}</string>
                <key>sourceSize</key>
                <string>{150,38}</string>
            </dict>
            <key>pirate_title5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,142},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>pirate_weak.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,184},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pirate_precious-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1888,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5c69b3fb2ed7566b1a1e659289d8b85$</string>
            <key>textureFileName</key>
            <string>ui_pirate_precious-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
