<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newpacket_gift_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,280},{191,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,49}}</string>
                <key>sourceSize</key>
                <string>{191,49}</string>
            </dict>
            <key>redpacket_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,400}}</string>
                <key>sourceSize</key>
                <string>{608,400}</string>
            </dict>
            <key>redpacket_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,298},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>redpacket_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,280},{222,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,88}}</string>
                <key>sourceSize</key>
                <string>{222,88}</string>
            </dict>
            <key>redpacket_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,266},{222,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,88}}</string>
                <key>sourceSize</key>
                <string>{222,88}</string>
            </dict>
            <key>redpacket_btn_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,190},{222,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,88}}</string>
                <key>sourceSize</key>
                <string>{222,88}</string>
            </dict>
            <key>redpacket_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,154},{72,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,22}}</string>
                <key>sourceSize</key>
                <string>{72,22}</string>
            </dict>
            <key>redpacket_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,298},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>redpacket_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,166},{82,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,98}}</string>
                <key>sourceSize</key>
                <string>{82,98}</string>
            </dict>
            <key>redpacket_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{266,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,262}}</string>
                <key>sourceSize</key>
                <string>{266,262}</string>
            </dict>
            <key>redpacket_packet.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,54},{180,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,242}}</string>
                <key>sourceSize</key>
                <string>{180,242}</string>
            </dict>
            <key>redpacket_packet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{196,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,94}}</string>
                <key>sourceSize</key>
                <string>{196,94}</string>
            </dict>
            <key>redpacket_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,98},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>redpacket_theme.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,98},{126,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,54}}</string>
                <key>sourceSize</key>
                <string>{126,54}</string>
            </dict>
            <key>redpacket_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,331},{184,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,48}}</string>
                <key>sourceSize</key>
                <string>{184,48}</string>
            </dict>
            <key>redpacket_titleback.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{318,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,50}}</string>
                <key>sourceSize</key>
                <string>{318,50}</string>
            </dict>
            <key>ui_league_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,54},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_redpacket-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1435,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:907b6d12d084e01e3b95fb51c7acf9e2:1/1$</string>
            <key>textureFileName</key>
            <string>ui_redpacket-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
