<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_serverpk_biao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,222},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>ui_serverpk_biao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,152},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>ui_serverpk_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{440,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,104}}</string>
                <key>sourceSize</key>
                <string>{440,104}</string>
            </dict>
            <key>ui_serverpk_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,152},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>ui_serverpk_wenzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,371},{178,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,46}}</string>
                <key>sourceSize</key>
                <string>{178,46}</string>
            </dict>
            <key>ui_serverpk_wenzi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,306},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>ui_serverpk_wenzi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,292},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>ui_serverpk_wenzi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,269},{135,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,46}}</string>
                <key>sourceSize</key>
                <string>{135,46}</string>
            </dict>
            <key>ui_serverpk_wenzi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,369},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>ui_serverpk_wenzi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,375},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>ui_serverpk_wenzi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,327},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,28}}</string>
                <key>sourceSize</key>
                <string>{90,28}</string>
            </dict>
            <key>ui_serverpk_wenzi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,258},{135,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,46}}</string>
                <key>sourceSize</key>
                <string>{135,46}</string>
            </dict>
            <key>ui_serverpk_wenzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{225,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,46}}</string>
                <key>sourceSize</key>
                <string>{225,46}</string>
            </dict>
            <key>ui_serverpk_wenzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,152},{141,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,115}}</string>
                <key>sourceSize</key>
                <string>{141,115}</string>
            </dict>
            <key>ui_serverpk_wenzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,369},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>ui_serverpk_wenzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,345},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>ui_serverpk_wenzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,341},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,28}}</string>
                <key>sourceSize</key>
                <string>{90,28}</string>
            </dict>
            <key>ui_serverpk_wenzi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{194,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,24}}</string>
                <key>sourceSize</key>
                <string>{194,24}</string>
            </dict>
            <key>ui_serverpk_wenzi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,343},{170,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,24}}</string>
                <key>sourceSize</key>
                <string>{170,24}</string>
            </dict>
            <key>ui_serverpk_wenzi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,317},{144,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,24}}</string>
                <key>sourceSize</key>
                <string>{144,24}</string>
            </dict>
            <key>ui_serverpk_wenzi_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{288,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,85}}</string>
                <key>sourceSize</key>
                <string>{288,85}</string>
            </dict>
            <key>ui_serverpk_yellowlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{705,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{705,148}}</string>
                <key>sourceSize</key>
                <string>{705,148}</string>
            </dict>
            <key>ui_serverpk_zhandou.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,357},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{94,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_serverpk_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{709,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0cb8db55addd108492c920c03b6839$</string>
            <key>textureFileName</key>
            <string>ui_serverpk_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
