<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spring_ lantern1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{431,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,344}}</string>
                <key>sourceSize</key>
                <string>{431,344}</string>
            </dict>
            <key>Spring_ lantern2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{333,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,409}}</string>
                <key>sourceSize</key>
                <string>{333,409}</string>
            </dict>
            <key>Spring_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,250},{110,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,49}}</string>
                <key>sourceSize</key>
                <string>{110,49}</string>
            </dict>
            <key>Spring_btn_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,200},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>Spring_btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,923},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>Spring_btn_zhufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,873},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>Spring_gift1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,348},{284,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,325}}</string>
                <key>sourceSize</key>
                <string>{284,325}</string>
            </dict>
            <key>Spring_gift2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,675},{252,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,276}}</string>
                <key>sourceSize</key>
                <string>{252,276}</string>
            </dict>
            <key>Spring_gift3.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,873},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>Spring_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{427,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,112}}</string>
                <key>sourceSize</key>
                <string>{427,112}</string>
            </dict>
            <key>Spring_title_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{236,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,97}}</string>
                <key>sourceSize</key>
                <string>{236,97}</string>
            </dict>
            <key>Spring_title_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{236,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,97}}</string>
                <key>sourceSize</key>
                <string>{236,97}</string>
            </dict>
            <key>Spring_zhufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,101},{196,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,97}}</string>
                <key>sourceSize</key>
                <string>{196,97}</string>
            </dict>
            <key>chrismas_diquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,301},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>chrismas_sunny.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,675},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_Spring-hd.pvr.ccz</string>
            <key>size</key>
            <string>{685,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca3762baba7d0993371a8ed4ba281a00:1/1$</string>
            <key>textureFileName</key>
            <string>ui_Spring-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
