<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>space_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,46},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>space_battle_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{94,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>space_battle_power1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,46},{73,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,31}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>space_battle_power2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,52},{114,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{114,48}}</string>
                <key>sourceSize</key>
                <string>{132,52}</string>
            </dict>
            <key>space_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{128,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>space_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{94,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>space_gamer_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{126,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{126,48}}</string>
                <key>sourceSize</key>
                <string>{132,52}</string>
            </dict>
            <key>space_goldtower.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{94,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>space_goldtower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,77},{107,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{107,27}}</string>
                <key>sourceSize</key>
                <string>{107,33}</string>
            </dict>
            <key>space_guard.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{94,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>space_guard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,46},{107,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{107,29}}</string>
                <key>sourceSize</key>
                <string>{107,33}</string>
            </dict>
            <key>space_huilang.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{94,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>space_huilang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,79},{107,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{107,27}}</string>
                <key>sourceSize</key>
                <string>{107,33}</string>
            </dict>
            <key>space_person_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,50},{52,44}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,5},{52,44}}</string>
                <key>sourceSize</key>
                <string>{132,52}</string>
            </dict>
            <key>space_personal_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{120,46}}</string>
                <key>sourceSize</key>
                <string>{132,52}</string>
            </dict>
            <key>space_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,52},{114,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{114,48}}</string>
                <key>sourceSize</key>
                <string>{132,52}</string>
            </dict>
            <key>space_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{216,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,42}}</string>
                <key>sourceSize</key>
                <string>{216,42}</string>
            </dict>
            <key>space_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{128,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>space_yellowlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{106,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{106,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_space_rank-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1380,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e32149a831a3ddf3e395c4a3ce37aa:1/1$</string>
            <key>textureFileName</key>
            <string>ui_space_rank-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
