<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survey_go_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{223,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,88}}</string>
                <key>sourceSize</key>
                <string>{223,88}</string>
            </dict>
            <key>survey_hero_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,620}}</string>
                <key>sourceSize</key>
                <string>{622,620}</string>
            </dict>
            <key>survey_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,624},{318,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,60}}</string>
                <key>sourceSize</key>
                <string>{318,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_survey-hd.pvr.ccz</string>
            <key>size</key>
            <string>{626,714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5cf02483884b2bb02ca2782c278a9b5:1/1$</string>
            <key>textureFileName</key>
            <string>ui_survey-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
