<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_shop_bg_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,242},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ui_shop_bg_diw2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,492}}</string>
                <key>sourceSize</key>
                <string>{684,492}</string>
            </dict>
            <key>ui_shop_bg_kadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{188,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,238}}</string>
                <key>sourceSize</key>
                <string>{188,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_shop_bg-hd.pvr.ccz</string>
            <key>size</key>
            <string>{878,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bffc300302ab0ad387dfeaafda9264e8:1/1$</string>
            <key>textureFileName</key>
            <string>ui_shop_bg-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
