<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_serverGuild3_btnJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,162},{149,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,71}}</string>
                <key>sourceSize</key>
                <string>{149,71}</string>
            </dict>
            <key>ui_serverGuild3_dailyBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{162,158}</string>
            </dict>
            <key>ui_serverGuild3_dailyBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{162,158}</string>
            </dict>
            <key>ui_serverGuild3_dailyTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,161},{260,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,50}}</string>
                <key>sourceSize</key>
                <string>{260,50}</string>
            </dict>
            <key>ui_serverGuild3_dailyTitle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,133},{212,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,43}}</string>
                <key>sourceSize</key>
                <string>{212,43}</string>
            </dict>
            <key>ui_serverGuild3_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,63},{920,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,37}}</string>
                <key>sourceSize</key>
                <string>{920,37}</string>
            </dict>
            <key>ui_serverGuild3_titleAllCombat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{156,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,25}}</string>
                <key>sourceSize</key>
                <string>{156,25}</string>
            </dict>
            <key>ui_serverGuild3_titleAllCombatRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,211},{298,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,39}}</string>
                <key>sourceSize</key>
                <string>{298,39}</string>
            </dict>
            <key>ui_serverGuild3_titleBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,185},{166,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,25}}</string>
                <key>sourceSize</key>
                <string>{166,25}</string>
            </dict>
            <key>ui_serverGuild3_titleCombat.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,213},{242,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,33}}</string>
                <key>sourceSize</key>
                <string>{242,33}</string>
            </dict>
            <key>ui_serverGuild3_titleName.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,102},{115,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,25}}</string>
                <key>sourceSize</key>
                <string>{115,25}</string>
            </dict>
            <key>ui_serverGuild3_titleNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,213},{242,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,33}}</string>
                <key>sourceSize</key>
                <string>{242,33}</string>
            </dict>
            <key>ui_serverGuild3_titleNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,178},{152,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,25}}</string>
                <key>sourceSize</key>
                <string>{152,25}</string>
            </dict>
            <key>ui_serverGuild3_titleRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,102},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>ui_serverGuild_btnShenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,211},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,39}</string>
            </dict>
            <key>ui_serverGuild_employArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,133},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>ui_serverGuild_employBtnEmploy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,170},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,39}</string>
            </dict>
            <key>ui_serverGuild_employBtnFormation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,129},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,39}</string>
            </dict>
            <key>ui_serverGuild_employBtnJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,162},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>ui_serverGuild_employBtnLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,162},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>ui_serverGuild_employBtnSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,65}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>ui_serverGuild_employItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,177}}</string>
                <key>sourceSize</key>
                <string>{187,177}</string>
            </dict>
            <key>ui_serverGuild_employJindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,136},{287,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,19}}</string>
                <key>sourceSize</key>
                <string>{287,19}</string>
            </dict>
            <key>ui_serverGuild_employJindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,136},{291,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,23}}</string>
                <key>sourceSize</key>
                <string>{291,23}</string>
            </dict>
            <key>ui_serverGuild_employLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>ui_serverGuild_employNoSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,181},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,65}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>ui_serverGuild_employResult.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,102},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>ui_serverGuild_employTitle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,102},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,29}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>ui_serverGuild_employTitleAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,178},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>ui_serverGuild_employTitleCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,102},{104,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,29}}</string>
                <key>sourceSize</key>
                <string>{104,29}</string>
            </dict>
            <key>ui_serverGuild_employTitleGuild.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,180},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>ui_serverGuild_employTitleGuyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{330,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,51}}</string>
                <key>sourceSize</key>
                <string>{330,51}</string>
            </dict>
            <key>ui_serverGuild_employTitleLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,157},{221,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,50}}</string>
                <key>sourceSize</key>
                <string>{221,50}</string>
            </dict>
            <key>ui_serverGuild_employTitleNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,102},{134,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,29}}</string>
                <key>sourceSize</key>
                <string>{134,29}</string>
            </dict>
            <key>ui_serverGuild_employTitlePeople.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{266,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,51}}</string>
                <key>sourceSize</key>
                <string>{266,51}</string>
            </dict>
            <key>ui_serverGuild_employTitlePrice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,102},{106,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,29}}</string>
                <key>sourceSize</key>
                <string>{106,29}</string>
            </dict>
            <key>ui_serverGuild_employTitleTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,29},{139,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,29}}</string>
                <key>sourceSize</key>
                <string>{139,29}</string>
            </dict>
            <key>ui_serverGuild_mylogTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,212},{244,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,38}}</string>
                <key>sourceSize</key>
                <string>{244,38}</string>
            </dict>
            <key>ui_serverGuild_mylogbtnAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,133},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ui_serverGuild_mylogbtnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,65}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>ui_serverGuild_mylogbtnReduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,133},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ui_serverGuild_mylogbtnX.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,133},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ui_serverGuild_priceKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{191,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,59}}</string>
                <key>sourceSize</key>
                <string>{191,59}</string>
            </dict>
            <key>ui_serverGuild_taskBtnGet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,132},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,39}</string>
            </dict>
            <key>ui_serverGuild_taskBtnGuild2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,69},{113,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,65}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
            <key>ui_serverGuild_taskBtnOne1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{113,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,65}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
            <key>ui_serverGuild_taskBtnOne2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,69},{113,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,65}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
            <key>ui_serverGuild_taskTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,102},{164,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,29}}</string>
                <key>sourceSize</key>
                <string>{164,29}</string>
            </dict>
            <key>ui_serverGuild_taskbtnGuild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,69},{113,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,65}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_serverGuild3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1793,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7726e4480503669102338be24f1139e2:1/1$</string>
            <key>textureFileName</key>
            <string>ui_serverGuild3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
