<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rich_zengsong_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,424},{282,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,53}}</string>
                <key>sourceSize</key>
                <string>{282,53}</string>
            </dict>
            <key>super_bless_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,388},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>super_bless_rank_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,109},{192,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,53}}</string>
                <key>sourceSize</key>
                <string>{192,53}</string>
            </dict>
            <key>super_box_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,438},{232,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,53}}</string>
                <key>sourceSize</key>
                <string>{232,53}</string>
            </dict>
            <key>super_box_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,259},{131,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,39}}</string>
                <key>sourceSize</key>
                <string>{131,39}</string>
            </dict>
            <key>super_buy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,405},{121,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,47}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>super_detail_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,338},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>super_detail_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,350},{232,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,53}}</string>
                <key>sourceSize</key>
                <string>{232,53}</string>
            </dict>
            <key>super_gift_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,424},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>super_gift_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,109},{210,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,227}}</string>
                <key>sourceSize</key>
                <string>{210,227}</string>
            </dict>
            <key>super_gift_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,420}}</string>
                <key>sourceSize</key>
                <string>{423,420}</string>
            </dict>
            <key>super_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{447,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,105}}</string>
                <key>sourceSize</key>
                <string>{447,105}</string>
            </dict>
            <key>super_no_cargo_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,164},{137,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,93}}</string>
                <key>sourceSize</key>
                <string>{137,93}</string>
            </dict>
            <key>super_progress_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,109},{20,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,374}}</string>
                <key>sourceSize</key>
                <string>{20,374}</string>
            </dict>
            <key>super_progress_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,109},{24,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,378}}</string>
                <key>sourceSize</key>
                <string>{24,378}</string>
            </dict>
            <key>super_refresh_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,479},{154,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,23}}</string>
                <key>sourceSize</key>
                <string>{154,23}</string>
            </dict>
            <key>super_rob_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>super_topup_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,300},{125,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,48}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_super_player-hd.pvr.ccz</string>
            <key>size</key>
            <string>{881,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:218725ca9ded69c0888a8e37f6e7d268:1/1$</string>
            <key>textureFileName</key>
            <string>ui_super_player-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
