<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,207},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,53}}</string>
                <key>sourceSize</key>
                <string>{122,53}</string>
            </dict>
            <key>btn_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,372},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>btn_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,66},{122,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{122,84}</string>
            </dict>
            <key>btn_showMore.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{126,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,62}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>btn_stone_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,152},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,53}}</string>
                <key>sourceSize</key>
                <string>{122,53}</string>
            </dict>
            <key>btn_upAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,317},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>btn_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,262},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>icon_saint_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,427},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sp_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,566}}</string>
                <key>sourceSize</key>
                <string>{598,566}</string>
            </dict>
            <key>sp_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,570},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>sp_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{528,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,330}}</string>
                <key>sourceSize</key>
                <string>{528,330}</string>
            </dict>
            <key>sp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,812},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>sp_up_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,759},{188,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,51}}</string>
                <key>sourceSize</key>
                <string>{188,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_saint_stone_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{730,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:363602a845f59041511ca1234df06321:1/1$</string>
            <key>textureFileName</key>
            <string>ui_saint_stone_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
