<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_table_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,526},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>card_table_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,526},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>dart_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,968},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dart_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,902},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>huilang_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{298,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,212}}</string>
                <key>sourceSize</key>
                <string>{298,212}</string>
            </dict>
            <key>huilang_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{314,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,236}}</string>
                <key>sourceSize</key>
                <string>{314,236}</string>
            </dict>
            <key>team_pk_broken.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,768},{84,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,104}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
            <key>team_pk_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,662},{84,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,104}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
            <key>teampk_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,766},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>teampk_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,522}}</string>
                <key>sourceSize</key>
                <string>{622,522}</string>
            </dict>
            <key>teampk_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,526},{118,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,134}}</string>
                <key>sourceSize</key>
                <string>{118,134}</string>
            </dict>
            <key>teampk_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,930},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>teampk_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,846},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>teampk_flag_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,846},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>teampk_flag_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,912},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>teampk_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,944},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>teampk_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,794},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>teampk_num_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,634},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>teampk_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,978},{146,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,28}}</string>
                <key>sourceSize</key>
                <string>{146,28}</string>
            </dict>
            <key>teampk_progressback.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,634},{146,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,28}}</string>
                <key>sourceSize</key>
                <string>{146,28}</string>
            </dict>
            <key>teampk_route.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,794},{102,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,50}}</string>
                <key>sourceSize</key>
                <string>{102,50}</string>
            </dict>
            <key>teampk_route2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,788},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>teampk_route2_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,874},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>teampk_route_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,852},{102,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,50}}</string>
                <key>sourceSize</key>
                <string>{102,50}</string>
            </dict>
            <key>teampk_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,938},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>teampk_select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,904},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>teampk_select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,970},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>teampk_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,664},{198,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,50}}</string>
                <key>sourceSize</key>
                <string>{198,50}</string>
            </dict>
            <key>teampk_title_chuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,958},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>teampk_title_member.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,716},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>teampk_title_people.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{156,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,26}}</string>
                <key>sourceSize</key>
                <string>{156,26}</string>
            </dict>
            <key>teampk_title_route.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,766},{104,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,20}}</string>
                <key>sourceSize</key>
                <string>{104,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_team_pk-hd.pvr.ccz</string>
            <key>size</key>
            <string>{626,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24e00eae43287db9788f45e6d35539e0:1/1$</string>
            <key>textureFileName</key>
            <string>ui_team_pk-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
