<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_trainning_achievement_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,394},{264,45}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{264,45}}</string>
                <key>sourceSize</key>
                <string>{264,51}</string>
            </dict>
            <key>ui_trainning_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{511,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,226}}</string>
                <key>sourceSize</key>
                <string>{511,226}</string>
            </dict>
            <key>ui_trainning_btn_achievement_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,394},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>ui_trainning_btn_chaojinhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,402},{122,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{122,84}</string>
            </dict>
            <key>ui_trainning_btn_chaojinhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,316},{122,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{122,84}</string>
            </dict>
            <key>ui_trainning_btn_gethero.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,422},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>ui_trainning_btn_gethero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,358},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>ui_trainning_btn_huodongxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,294},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>ui_trainning_btn_huodongxiangqing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,230},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>ui_trainning_btn_jinjie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,230},{122,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{122,84}</string>
            </dict>
            <key>ui_trainning_btn_jinjie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{122,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{122,84}</string>
            </dict>
            <key>ui_trainning_btn_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,230},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_trainning_btn_rank_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,288},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>ui_trainning_btn_zhuansheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{122,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{122,84}</string>
            </dict>
            <key>ui_trainning_btn_zhuansheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{122,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{122,84}</string>
            </dict>
            <key>ui_trainning_jingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{156,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{156,43}}</string>
                <key>sourceSize</key>
                <string>{160,49}</string>
            </dict>
            <key>ui_trainning_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,288},{88,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{88,53}}</string>
                <key>sourceSize</key>
                <string>{118,57}</string>
            </dict>
            <key>ui_trainning_rank_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,445},{254,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{254,47}}</string>
                <key>sourceSize</key>
                <string>{256,51}</string>
            </dict>
            <key>ui_trainning_reward_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{72,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{72,45}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>ui_trainning_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,343},{262,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{262,49}}</string>
                <key>sourceSize</key>
                <string>{262,55}</string>
            </dict>
            <key>ui_trainning_wangzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{160,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,45}}</string>
                <key>sourceSize</key>
                <string>{160,49}</string>
            </dict>
            <key>ui_trainning_xiaoxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,441},{160,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,45}}</string>
                <key>sourceSize</key>
                <string>{160,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_trainning-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b417620f86de40a98eed665269493895:1/1$</string>
            <key>textureFileName</key>
            <string>ui_trainning-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
