<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,197},{84,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,104}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
            <key>dart_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,419},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>dart_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,461},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>gvg_select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,408},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>huilang_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,257},{298,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,212}}</string>
                <key>sourceSize</key>
                <string>{298,212}</string>
            </dict>
            <key>huilang_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{314,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,236}}</string>
                <key>sourceSize</key>
                <string>{314,236}</string>
            </dict>
            <key>new_button_active_teamboss.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,306},{227,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,71}}</string>
                <key>sourceSize</key>
                <string>{227,71}</string>
            </dict>
            <key>team_boss_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,237},{138,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,80}}</string>
                <key>sourceSize</key>
                <string>{138,80}</string>
            </dict>
            <key>team_boss_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,319},{84,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>team_boss_back3_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,319},{136,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>team_boss_back3_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,240},{270,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,64}}</string>
                <key>sourceSize</key>
                <string>{270,64}</string>
            </dict>
            <key>team_boss_back4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,391},{98,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{98,110}</string>
            </dict>
            <key>team_boss_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,475},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>team_boss_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,303},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
            <key>team_boss_btn_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,306},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>team_boss_cao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,183},{288,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,52}}</string>
                <key>sourceSize</key>
                <string>{288,52}</string>
            </dict>
            <key>team_boss_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,2},{364,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,104}}</string>
                <key>sourceSize</key>
                <string>{364,104}</string>
            </dict>
            <key>team_boss_cell2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,131},{156,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,64}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>team_boss_hitRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,237},{184,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,64}}</string>
                <key>sourceSize</key>
                <string>{184,64}</string>
            </dict>
            <key>team_boss_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,197},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>team_boss_lefthp.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,471},{174,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,30}}</string>
                <key>sourceSize</key>
                <string>{174,30}</string>
            </dict>
            <key>team_boss_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,480},{66,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,22}}</string>
                <key>sourceSize</key>
                <string>{66,22}</string>
            </dict>
            <key>team_boss_pk.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,483},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>team_boss_rank_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,257},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>team_boss_rank_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,481}}</string>
                <key>sourceSize</key>
                <string>{384,481}</string>
            </dict>
            <key>team_boss_rank_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,240},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>team_boss_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,418},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>team_boss_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,2},{84,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,104}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
            <key>team_boss_ship2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,303},{138,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,103}}</string>
                <key>sourceSize</key>
                <string>{138,103}</string>
            </dict>
            <key>team_boss_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,183},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>team_boss_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,391},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>team_boss_tanchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{433,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,253}}</string>
                <key>sourceSize</key>
                <string>{433,253}</string>
            </dict>
            <key>team_boss_team_combat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,451},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>team_boss_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,429},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>team_boss_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,379},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,48}}</string>
                <key>sourceSize</key>
                <string>{230,48}</string>
            </dict>
            <key>team_boss_xiaodongxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,483},{120,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,18}}</string>
                <key>sourceSize</key>
                <string>{120,18}</string>
            </dict>
            <key>team_boss_xue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,108},{406,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,21}}</string>
                <key>sourceSize</key>
                <string>{406,21}</string>
            </dict>
            <key>team_boss_xue_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{406,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,21}}</string>
                <key>sourceSize</key>
                <string>{406,21}</string>
            </dict>
            <key>team_boss_zhaomu.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,429},{184,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,52}}</string>
                <key>sourceSize</key>
                <string>{184,52}</string>
            </dict>
            <key>ui_team_boss_caption.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,385},{85,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,32}}</string>
                <key>sourceSize</key>
                <string>{85,32}</string>
            </dict>
            <key>ui_team_boss_dismiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,450},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>ui_team_boss_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,451},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>ui_team_boss_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,461},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>ui_team_boss_kickout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,461},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>ui_team_boss_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,378},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>ui_team_boss_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,131},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>ui_team_boss_upback.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,471},{82,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,36}}</string>
                <key>sourceSize</key>
                <string>{82,36}</string>
            </dict>
            <key>ui_team_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,419},{114,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,40}}</string>
                <key>sourceSize</key>
                <string>{114,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_team_boss-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1599,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aa3ee9c69d00877fed97c6e3faf884d:1/1$</string>
            <key>textureFileName</key>
            <string>ui_team_boss-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
