<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_conpan_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,129},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>btn_talisman_forging_abandon.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,118},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>btn_talisman_forging_five.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,60},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>btn_talisman_forging_once.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>btn_talisman_forging_retain.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>mainbtn_talisman_forging.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,268},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mainbtn_talisman_forging_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,176},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mainbtn_talisman_forging_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,360},{86,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>talisman_forging_img_furnace.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{517,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,322}}</string>
                <key>sourceSize</key>
                <string>{517,322}</string>
            </dict>
            <key>title_talisman_forging.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,368},{190,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{190,30}}</string>
                <key>sourceSize</key>
                <string>{190,52}</string>
            </dict>
            <key>title_talisman_forging_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,256},{190,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{190,30}}</string>
                <key>sourceSize</key>
                <string>{190,52}</string>
            </dict>
            <key>title_talisman_forging_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,176},{190,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{190,32}}</string>
                <key>sourceSize</key>
                <string>{190,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_talisman_forging-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76787948e4c0b406c5ae81fc1ff0659e:1/1$</string>
            <key>textureFileName</key>
            <string>ui_talisman_forging-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
