<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_topfromat_icon_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_topfromat_icon_xuexing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,88}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_topfromat_rewardtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,54},{132,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{132,28}}</string>
                <key>sourceSize</key>
                <string>{132,38}</string>
            </dict>
            <key>ui_topfromat_upfromation.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{142,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{142,22}}</string>
                <key>sourceSize</key>
                <string>{142,36}</string>
            </dict>
            <key>ui_topfromat_wenzi_bloodpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,26},{138,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{138,26}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_top_formation_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{318,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d16ccfd1c2917adbaa637e4cc1b0841e$</string>
            <key>textureFileName</key>
            <string>ui_top_formation_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
