<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>train_bit_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{229,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,172}}</string>
                <key>sourceSize</key>
                <string>{229,172}</string>
            </dict>
            <key>train_bit_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,172}}</string>
                <key>sourceSize</key>
                <string>{229,172}</string>
            </dict>
            <key>train_open_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,48},{154,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{154,38}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>train_open_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,81},{123,31}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{123,31}}</string>
                <key>sourceSize</key>
                <string>{163,57}</string>
            </dict>
            <key>train_open_vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,48},{123,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{123,31}}</string>
                <key>sourceSize</key>
                <string>{163,57}</string>
            </dict>
            <key>train_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,88},{143,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{143,49}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>train_text_efficiency.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{100,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{100,29}}</string>
                <key>sourceSize</key>
                <string>{110,37}</string>
            </dict>
            <key>train_text_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,139},{102,29}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{102,29}}</string>
                <key>sourceSize</key>
                <string>{110,37}</string>
            </dict>
            <key>train_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{178,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{178,44}}</string>
                <key>sourceSize</key>
                <string>{180,46}</string>
            </dict>
            <key>ui_train_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,114},{128,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{128,46}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_train-hd.pvr.ccz</string>
            <key>size</key>
            <string>{746,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f656752fbc2361c9677261b285baff9c$</string>
            <key>textureFileName</key>
            <string>ui_train-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
