<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ch_xz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,89}}</string>
                <key>sourceSize</key>
                <string>{232,89}</string>
            </dict>
            <key>chenghao_cskzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{241,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,73}}</string>
                <key>sourceSize</key>
                <string>{241,73}</string>
            </dict>
            <key>chenghao_ggwz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,61},{213,51}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{213,51}}</string>
                <key>sourceSize</key>
                <string>{241,73}</string>
            </dict>
            <key>chenghao_lzbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,2},{213,57}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{213,57}}</string>
                <key>sourceSize</key>
                <string>{241,73}</string>
            </dict>
            <key>chenghao_spr_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>herotitle_cyszn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{241,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,71}}</string>
                <key>sourceSize</key>
                <string>{241,73}</string>
            </dict>
            <key>herotitle_hlnzr.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{241,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,73}}</string>
                <key>sourceSize</key>
                <string>{241,73}</string>
            </dict>
            <key>herotitle_xxzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,2},{231,69}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{231,69}}</string>
                <key>sourceSize</key>
                <string>{241,73}</string>
            </dict>
            <key>herotitle_ytsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{233,73}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{233,73}}</string>
                <key>sourceSize</key>
                <string>{241,73}</string>
            </dict>
            <key>herotitle_zzcp.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{239,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{239,73}}</string>
                <key>sourceSize</key>
                <string>{241,73}</string>
            </dict>
            <key>public_blank_10x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_title-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1957,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1f28917b387a36fdcc1adcf7d40744a:1/1$</string>
            <key>textureFileName</key>
            <string>ui_title-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
