<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_waiyu_battle_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,270},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>ui_waiyu_battle_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,322},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>ui_waiyu_battle_dart_VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,270},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,50}</string>
            </dict>
            <key>ui_waiyu_battle_end1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,308},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>ui_waiyu_battle_end2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,270},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>ui_waiyu_battle_end3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,284},{74,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{74,12}</string>
            </dict>
            <key>ui_waiyu_battle_end4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,270},{74,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{74,12}</string>
            </dict>
            <key>ui_waiyu_battle_end_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,342}}</string>
                <key>sourceSize</key>
                <string>{86,342}</string>
            </dict>
            <key>ui_waiyu_battle_jifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,322},{50,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,18}}</string>
                <key>sourceSize</key>
                <string>{50,18}</string>
            </dict>
            <key>ui_waiyu_battle_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,108},{22,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,80}}</string>
                <key>sourceSize</key>
                <string>{22,80}</string>
            </dict>
            <key>ui_waiyu_battle_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{263,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,104}}</string>
                <key>sourceSize</key>
                <string>{263,104}</string>
            </dict>
            <key>ui_waiyu_battle_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,298},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>ui_waiyu_battle_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,108},{254,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,160}}</string>
                <key>sourceSize</key>
                <string>{254,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_waiyu_battle_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{370,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1007c2ef322b0f894a2f5009fbc7184:1/1$</string>
            <key>textureFileName</key>
            <string>ui_waiyu_battle_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
