<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldTree_new_teng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{1050,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,277}}</string>
                <key>sourceSize</key>
                <string>{1050,277}</string>
            </dict>
            <key>worldTree_new_tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,586},{447,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,419}}</string>
                <key>sourceSize</key>
                <string>{447,419}</string>
            </dict>
            <key>worldTree_new_tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{635,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,582}}</string>
                <key>sourceSize</key>
                <string>{635,582}</string>
            </dict>
            <key>worldTree_new_tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{849,672}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{849,672}}</string>
                <key>sourceSize</key>
                <string>{849,672}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_worldTree_new-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1503,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34b67a7bafa9ba280729afe94a7d0c2c:1/1$</string>
            <key>textureFileName</key>
            <string>ui_worldTree_new-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
