<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldTree_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{849,672}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{849,672}}</string>
                <key>sourceSize</key>
                <string>{849,672}</string>
            </dict>
            <key>worldTree_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,893},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>worldTree_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,842},{114,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,49}}</string>
                <key>sourceSize</key>
                <string>{114,49}</string>
            </dict>
            <key>worldTree_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,893},{152,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,24}}</string>
                <key>sourceSize</key>
                <string>{152,24}</string>
            </dict>
            <key>worldTree_donate.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,676},{97,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,91}}</string>
                <key>sourceSize</key>
                <string>{97,91}</string>
            </dict>
            <key>worldTree_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,750},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>worldTree_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,676},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>worldTree_hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1001},{187,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,5}}</string>
                <key>sourceSize</key>
                <string>{187,5}</string>
            </dict>
            <key>worldTree_illusion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,948},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>worldTree_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,656},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>worldTree_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1001},{380,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,15}}</string>
                <key>sourceSize</key>
                <string>{380,15}</string>
            </dict>
            <key>worldTree_jindutiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,980},{385,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,19}}</string>
                <key>sourceSize</key>
                <string>{385,19}</string>
            </dict>
            <key>worldTree_lookreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,919},{126,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,53}}</string>
                <key>sourceSize</key>
                <string>{126,53}</string>
            </dict>
            <key>worldTree_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,586},{447,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,419}}</string>
                <key>sourceSize</key>
                <string>{447,419}</string>
            </dict>
            <key>worldTree_middleTree.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{635,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,582}}</string>
                <key>sourceSize</key>
                <string>{635,582}</string>
            </dict>
            <key>worldTree_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,586},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>worldTree_prayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,676},{97,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,91}}</string>
                <key>sourceSize</key>
                <string>{97,91}</string>
            </dict>
            <key>worldTree_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,842},{138,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,49}}</string>
                <key>sourceSize</key>
                <string>{138,49}</string>
            </dict>
            <key>worldTree_rewardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{567,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,342}}</string>
                <key>sourceSize</key>
                <string>{567,342}</string>
            </dict>
            <key>worldTree_rewardTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,929},{201,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,49}}</string>
                <key>sourceSize</key>
                <string>{201,49}</string>
            </dict>
            <key>worldTree_selectKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,842},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>worldTree_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,586},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>worldTree_tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,948},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>worldTree_touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,658},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>worldTree_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,769},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>worldTree_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,791},{184,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,49}}</string>
                <key>sourceSize</key>
                <string>{184,49}</string>
            </dict>
            <key>worldTree_zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,791},{90,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,136}}</string>
                <key>sourceSize</key>
                <string>{90,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_worldTree-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1591,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fee4d92b3da743039407f5e5e9a5b62c:1/1$</string>
            <key>textureFileName</key>
            <string>ui_worldTree-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
