<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_wormhole_map_bg_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{746,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{746,549}}</string>
                <key>sourceSize</key>
                <string>{746,549}</string>
            </dict>
            <key>ui_wormhole_map_bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{255,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,399}}</string>
                <key>sourceSize</key>
                <string>{255,399}</string>
            </dict>
            <key>ui_wormhole_map_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,542},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>ui_wormhole_map_btn_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{137,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,62}}</string>
                <key>sourceSize</key>
                <string>{137,62}</string>
            </dict>
            <key>ui_wormhole_map_btn_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,771},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_wormhole_map_btn_zhenxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,726},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_wormhole_map_icon_bigboss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>ui_wormhole_map_icon_bigboss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,403},{165,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,137}}</string>
                <key>sourceSize</key>
                <string>{165,137}</string>
            </dict>
            <key>ui_wormhole_map_icon_bigboss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,769},{82,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,85}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>ui_wormhole_map_icon_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,753},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_high_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,753},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_high_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,753},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_high_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,753},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_high_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,753},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_high_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,679},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_high_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,587},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_high_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,634},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_low_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,634},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_low_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,661},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_low_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,661},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_low_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,661},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_low_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,661},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_low_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,661},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_low_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,495},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,403},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_wormhole_map_icon_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,643},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>ui_wormhole_map_icon_smallboss.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,769},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_wormhole_map_toptitle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{322,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,88}}</string>
                <key>sourceSize</key>
                <string>{322,88}</string>
            </dict>
            <key>ui_wormhole_map_toptitle_ciyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,553},{238,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,52}}</string>
                <key>sourceSize</key>
                <string>{238,52}</string>
            </dict>
            <key>ui_wormhole_map_toptitle_liefeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,607},{196,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,52}}</string>
                <key>sourceSize</key>
                <string>{196,52}</string>
            </dict>
            <key>ui_wormhole_map_toptitle_pingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,607},{193,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,52}}</string>
                <key>sourceSize</key>
                <string>{193,52}</string>
            </dict>
            <key>ui_wormhole_map_toptitle_xiajian.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,553},{196,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,52}}</string>
                <key>sourceSize</key>
                <string>{196,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_wormhole_map-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1016,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73f20f9bd68a51236575e825fa521c06:1/1$</string>
            <key>textureFileName</key>
            <string>ui_wormhole_map-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
