<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_wormhole_main_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,94},{393,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,88}}</string>
                <key>sourceSize</key>
                <string>{393,88}</string>
            </dict>
            <key>ui_wormhole_main_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>ui_wormhole_main_btn_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,87},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_wormhole_main_btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,87},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_wormhole_main_btn_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{503,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,83}}</string>
                <key>sourceSize</key>
                <string>{503,83}</string>
            </dict>
            <key>ui_wormhole_main_btn_rewards.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,87},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ui_wormhole_main_enroll_btn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,157},{137,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,48}}</string>
                <key>sourceSize</key>
                <string>{137,48}</string>
            </dict>
            <key>ui_wormhole_main_enroll_btn_normal_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,107},{137,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,48}}</string>
                <key>sourceSize</key>
                <string>{137,48}</string>
            </dict>
            <key>ui_wormhole_main_enroll_btn_normal_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,57},{137,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,48}}</string>
                <key>sourceSize</key>
                <string>{137,48}</string>
            </dict>
            <key>ui_wormhole_main_item_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,169},{161,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,45}}</string>
                <key>sourceSize</key>
                <string>{161,45}</string>
            </dict>
            <key>ui_wormhole_main_item_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,165},{155,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,48}}</string>
                <key>sourceSize</key>
                <string>{155,48}</string>
            </dict>
            <key>ui_wormhole_main_item_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,169},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ui_wormhole_main_item_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,111},{159,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,52}}</string>
                <key>sourceSize</key>
                <string>{159,52}</string>
            </dict>
            <key>ui_wormhole_main_place_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{478,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,211}}</string>
                <key>sourceSize</key>
                <string>{478,211}</string>
            </dict>
            <key>ui_wormhole_main_place_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,211}}</string>
                <key>sourceSize</key>
                <string>{478,211}</string>
            </dict>
            <key>ui_wormhole_main_toptitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,2},{248,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,53}}</string>
                <key>sourceSize</key>
                <string>{248,53}</string>
            </dict>
            <key>ui_wormhole_main_toptitle_zhenxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,57},{188,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,52}}</string>
                <key>sourceSize</key>
                <string>{188,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_wormhole_main-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1976,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e05dff42afad2968ea3c24c7b875f060:1/1$</string>
            <key>textureFileName</key>
            <string>ui_wormhole_main-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
