<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_xunlu_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{1136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,100}}</string>
                <key>sourceSize</key>
                <string>{1136,100}</string>
            </dict>
            <key>ui_xunlu_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{430,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,239}}</string>
                <key>sourceSize</key>
                <string>{430,239}</string>
            </dict>
            <key>ui_xunlu_main_bg1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{1136,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,540}}</string>
                <key>sourceSize</key>
                <string>{1136,540}</string>
            </dict>
            <key>ui_xunlu_main_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>ui_xunlu_select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,93},{132,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{132,145}}</string>
                <key>sourceSize</key>
                <string>{134,145}</string>
            </dict>
            <key>ui_xunlu_select2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{132,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{132,145}}</string>
                <key>sourceSize</key>
                <string>{134,145}</string>
            </dict>
            <key>ui_xunlu_sweet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,93},{36,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{36,35}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>ui_xunlu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2},{318,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,89}}</string>
                <key>sourceSize</key>
                <string>{318,89}</string>
            </dict>
            <key>ui_xunlu_xunlu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,93},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_xunlu_xunlu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,149},{70,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_xunlu_xunlu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,93},{70,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_xunlu_running-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4aa298a91faf4c3487ebbc49adfc5ac:1/1$</string>
            <key>textureFileName</key>
            <string>ui_xunlu_running-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
