<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_horse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,482},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_horse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,423},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_horse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,423},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_bobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,515},{82,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,63}}</string>
                <key>sourceSize</key>
                <string>{82,63}</string>
            </dict>
            <key>ui_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,350},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,515},{82,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,47}}</string>
                <key>sourceSize</key>
                <string>{82,47}</string>
            </dict>
            <key>ui_btn_encourage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,607},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>ui_btn_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,423},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>ui_btn_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,292},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_btn_join2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,234},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_btn_know.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,176},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,118},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_btn_trouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,605},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>ui_buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,60},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_gantanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,408},{14,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,51}}</string>
                <key>sourceSize</key>
                <string>{14,51}</string>
            </dict>
            <key>ui_has_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,2},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>ui_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,400},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>ui_jingcaijuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,651},{71,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,88}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>ui_lucky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,449},{200,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,47}}</string>
                <key>sourceSize</key>
                <string>{200,51}</string>
            </dict>
            <key>ui_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,340},{156,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,59}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>ui_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,517},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>ui_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,564},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>ui_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,515},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>ui_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,400},{212,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{212,47}}</string>
                <key>sourceSize</key>
                <string>{214,47}</string>
            </dict>
            <key>ui_regulate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,607},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>ui_saichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,401},{152,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,78}}</string>
                <key>sourceSize</key>
                <string>{152,78}</string>
            </dict>
            <key>ui_saichang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>ui_seclect_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,243},{105,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,95}}</string>
                <key>sourceSize</key>
                <string>{105,95}</string>
            </dict>
            <key>ui_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,446},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>ui_star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,408},{117,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,107}}</string>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>ui_today_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,334},{271,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,64}}</string>
                <key>sourceSize</key>
                <string>{279,64}</string>
            </dict>
            <key>ui_warnning_tankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{430,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,239}}</string>
                <key>sourceSize</key>
                <string>{430,239}</string>
            </dict>
            <key>ui_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,481},{149,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{149,22}}</string>
                <key>sourceSize</key>
                <string>{163,50}</string>
            </dict>
            <key>ui_yato_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>ui_yato_running.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,243},{318,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,89}}</string>
                <key>sourceSize</key>
                <string>{318,89}</string>
            </dict>
            <key>ui_yato_running_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2},{337,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,419}}</string>
                <key>sourceSize</key>
                <string>{337,419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_yato_running-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1934bc492b52140a9e08aa15399f59d7:1/1$</string>
            <key>textureFileName</key>
            <string>ui_yato_running-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
