<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yaoqingma_msz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,72},{380,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,43}}</string>
                <key>sourceSize</key>
                <string>{380,43}</string>
            </dict>
            <key>yaoqingma_msz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,117},{253,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,45}}</string>
                <key>sourceSize</key>
                <string>{253,45}</string>
            </dict>
            <key>yaoqingma_msz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,199},{152,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,28}}</string>
                <key>sourceSize</key>
                <string>{152,28}</string>
            </dict>
            <key>yaoqingma_msz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,72},{151,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,28}}</string>
                <key>sourceSize</key>
                <string>{151,28}</string>
            </dict>
            <key>yaoqingma_msz05.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,199},{108,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,35}}</string>
                <key>sourceSize</key>
                <string>{108,35}</string>
            </dict>
            <key>yaoqingma_tk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{514,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,77}}</string>
                <key>sourceSize</key>
                <string>{514,77}</string>
            </dict>
            <key>yaoqingma_tk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{539,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,164}}</string>
                <key>sourceSize</key>
                <string>{539,164}</string>
            </dict>
            <key>yaoqingma_tk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{476,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,68}}</string>
                <key>sourceSize</key>
                <string>{476,68}</string>
            </dict>
            <key>yaoqingma_yq01.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,117},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>yaoqingma_yq02.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,164},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_yqingma_res-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1078,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b5d6984edf4151049b77e1c2a8a1cf4:1/1$</string>
            <key>textureFileName</key>
            <string>ui_yqingma_res-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
