<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VipReward_VIP1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,475},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>VipReward_VIP10.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,363},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>VipReward_VIP11.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,335},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>VipReward_VIP12.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,307},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>VipReward_VIP13.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,279},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>VipReward_VIP14.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,167},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>VipReward_VIP15.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,139},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>VipReward_VIP2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,447},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>VipReward_VIP3.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,419},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>VipReward_VIP4.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,391},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>VipReward_VIP5.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,363},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>VipReward_VIP6.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,335},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>VipReward_VIP7.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,447},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>VipReward_VIP8.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,419},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>VipReward_VIP9.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,391},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>VipReward_alredy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{193,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,113}}</string>
                <key>sourceSize</key>
                <string>{193,113}</string>
            </dict>
            <key>VipReward_bigdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{390,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,197}}</string>
                <key>sourceSize</key>
                <string>{390,197}</string>
            </dict>
            <key>VipReward_day1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,251},{119,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,26}}</string>
                <key>sourceSize</key>
                <string>{119,26}</string>
            </dict>
            <key>VipReward_day2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,223},{119,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,26}}</string>
                <key>sourceSize</key>
                <string>{119,26}</string>
            </dict>
            <key>VipReward_day3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,195},{119,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,26}}</string>
                <key>sourceSize</key>
                <string>{119,26}</string>
            </dict>
            <key>VipReward_day4.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,483},{119,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,26}}</string>
                <key>sourceSize</key>
                <string>{119,26}</string>
            </dict>
            <key>VipReward_day5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,483},{119,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,26}}</string>
                <key>sourceSize</key>
                <string>{119,26}</string>
            </dict>
            <key>VipReward_day6.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,483},{119,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,26}}</string>
                <key>sourceSize</key>
                <string>{119,26}</string>
            </dict>
            <key>VipReward_day7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,457},{119,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,26}}</string>
                <key>sourceSize</key>
                <string>{119,26}</string>
            </dict>
            <key>VipReward_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,238},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,82}}</string>
                <key>sourceSize</key>
                <string>{32,82}</string>
            </dict>
            <key>VipReward_liwudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,429},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>VipReward_meirifuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{175,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,33}}</string>
                <key>sourceSize</key>
                <string>{175,33}</string>
            </dict>
            <key>VipReward_middlediban.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,39},{155,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,138}}</string>
                <key>sourceSize</key>
                <string>{155,138}</string>
            </dict>
            <key>VipReward_noselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,88},{110,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,49}}</string>
                <key>sourceSize</key>
                <string>{110,49}</string>
            </dict>
            <key>VipReward_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,37},{110,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,49}}</string>
                <key>sourceSize</key>
                <string>{110,49}</string>
            </dict>
            <key>VipReward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,429},{134,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{134,74}</string>
            </dict>
            <key>nvpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,386},{216,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,41}}</string>
                <key>sourceSize</key>
                <string>{216,41}</string>
            </dict>
            <key>nvpay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,335},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>nvpay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,335},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>nvpay_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,187},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>nvpay_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,187},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>nvpay_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,179},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>nvpay_zalo.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,39},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>vnpay_banking.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,238},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>vnpay_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,327},{138,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,57}}</string>
                <key>sourceSize</key>
                <string>{138,57}</string>
            </dict>
            <key>vnpay_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,35}}</string>
                <key>sourceSize</key>
                <string>{776,35}</string>
            </dict>
            <key>vnpay_viettel.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,39},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>vnpaytip.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,386},{129,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,69}}</string>
                <key>sourceSize</key>
                <string>{129,69}</string>
            </dict>
            <key>vnpya_momo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VipReward-hd.pvr.ccz</string>
            <key>size</key>
            <string>{959,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e34403d595907b854c83772d1196194c:1/1$</string>
            <key>textureFileName</key>
            <string>VipReward-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
