{"10":{"shop_icon":"icon_crystal3","shop_reward":[[4,0,100]],"refresh":1,"times":4,"need_point":500,"show_level":[0,200]},"11":{"shop_icon":"icon_ling1","shop_reward":[[5,51,1]],"refresh":1,"times":3,"need_point":6000,"show_level":[0,200]},"12":{"shop_icon":"icon_ling3","shop_reward":[[5,52,1]],"refresh":1,"times":3,"need_point":18000,"show_level":[0,200]},"13":{"shop_icon":"e_c_armour3","shop_reward":[[7,21401,1]],"refresh":0,"times":2,"need_point":30000,"show_level":[0,200]},"14":{"shop_icon":"e_r_eyeglass1","shop_reward":[[7,31301,1]],"refresh":0,"times":2,"need_point":30000,"show_level":[0,200]},"15":{"shop_icon":"icon_dracula","shop_reward":[[6,1025,1]],"refresh":1,"times":5,"need_point":1000,"show_level":[0,200]},"16":{"shop_icon":"icon_jean","shop_reward":[[6,1035,1]],"refresh":1,"times":2,"need_point":1500,"show_level":[0,200]},"20":{"shop_icon":"icon_zhurong","shop_reward":[[6,1335,1]],"refresh":1,"times":2,"need_point":25000,"show_level":[0,300]}}