{"1":{"sell_food_rate":1,"eaten_skill_exp_rate":1.0,"exp_rate":1.0,"skill_strengthen_food_rate":1.0},"2":{"sell_food_rate":2,"eaten_skill_exp_rate":1.5,"exp_rate":1.0,"skill_strengthen_food_rate":1.0},"3":{"sell_food_rate":1,"eaten_skill_exp_rate":10.0,"exp_rate":1.0,"skill_strengthen_food_rate":1.0},"4":{"sell_food_rate":5,"eaten_skill_exp_rate":50.0,"exp_rate":1.0,"skill_strengthen_food_rate":1.0},"5":{"sell_food_rate":10000,"eaten_skill_exp_rate":25.0,"exp_rate":5.0,"skill_strengthen_food_rate":1.0},"6":{"sell_food_rate":1,"eaten_skill_exp_rate":25.0,"exp_rate":6.0,"skill_strengthen_food_rate":1.5},"7":{"sell_food_rate":1,"eaten_skill_exp_rate":25.0,"exp_rate":6.0,"skill_strengthen_food_rate":2.0}}