{"1":{"task":[1,3,5],"score_sss":3,"start_time":"2020/05/23 00:00:00","attention":"规则\n1、出征时间固定为2小时\n2、点击选择任务会随机出现一个任务\n3、任务难度不同获取的积分与需求卡牌培养度不同\n4、积分最后相同者，先到达该积分的玩家排名靠前\n5、任务选择后不可更改，任务选择后才可使用出征券","score_s":1,"end_time":"2020/05/29 23:59:59","score_ss":2,"need":30,"pass":92854},"10":{"task":[1,4,5],"score_sss":3,"start_time":"2020/06/01 00:00:00","attention":"规则\n1、出征时间固定为2小时\n2、点击选择任务会随机出现一个任务\n3、任务难度不同获取的积分与需求卡牌培养度不同\n4、积分最后相同者，先到达该积分的玩家排名靠前\n5、任务选择后不可更改，任务选择后才可使用出征券","score_s":1,"end_time":"2020/06/07 23:59:59","score_ss":2,"need":30,"pass":92854},"20":{"task":[1,4,5],"score_sss":3,"start_time":"2024/03/25 00:00:00","attention":"规则\n1、出征时间固定为2小时\n2、点击选择任务会随机出现一个任务\n3、任务难度不同获取的积分与需求卡牌培养度不同\n4、积分最后相同者，先到达该积分的玩家排名靠前\n5、任务选择后不可更改，任务选择后才可使用出征券","score_s":1,"end_time":"2024/03/31 23:59:59","score_ss":2,"need":30,"pass":92854}}