{"1":{"reward_send":1,"fire_id":1,"version":60,"server_player":[10,50,100,150],"coin":1000,"max_score":4000,"id":1},"2":{"reward_send":1,"fire_id":2,"version":60,"server_player":[10,50,200,300,400,500],"coin":1000,"max_score":6000,"id":2},"3":{"reward_send":1,"fire_id":3,"version":60,"server_player":[10,200],"coin":2000,"max_score":4000,"id":1},"4":{"reward_send":1,"fire_id":4,"version":60,"server_player":[10,60,200,300,500,800],"coin":1000,"max_score":6000,"id":2},"5":{"reward_send":1,"fire_id":5,"version":60,"server_player":[10,50,100,800],"coin":500,"max_score":2000,"id":1},"6":{"reward_send":1,"fire_id":6,"version":60,"server_player":[10,50,100,200,300,400,500,600,700,800],"coin":800,"max_score":8000,"id":2},"7":{"reward_send":1,"fire_id":7,"version":60,"server_player":[10,50,100,150],"coin":1000,"max_score":4000,"id":1},"8":{"reward_send":1,"fire_id":8,"version":60,"server_player":[10,50,200,300,400,500],"coin":1000,"max_score":6000,"id":2}}