{"1":{"open_sort":1,"name":"Cấp 80 Mở","value":80},"2":{"open_sort":1,"name":"110 cấp mở","value":110},"3":{"open_sort":1,"name":"120 cấp mở","value":120},"4":{"open_sort":1,"name":"130 cấp mở","value":130},"5":{"open_sort":1,"name":"150 cấp mở","value":150},"6":{"open_sort":1,"name":"170 cấp mở","value":170},"7":{"open_sort":1,"name":"180 cấp mở","value":180},"8":{"open_sort":1,"name":"190 cấp mở","value":190},"9":{"open_sort":1,"name":"200 cấp mở","value":200},"10":{"open_sort":2,"name":"Vip2 mở","value":2},"11":{"open_sort":2,"name":"Vip4 mở","value":4},"12":{"open_sort":2,"name":"Vip6 mở","value":6}}