{"1":{"sort":1,"material_1":[[5,51,1]],"material_2":0,"cost":100},"2":{"sort":1,"material_1":[[5,52,1]],"material_2":0,"cost":300},"3":{"sort":1,"material_1":[[5,53,1]],"material_2":0,"cost":900},"4":{"sort":1,"material_1":[[5,54,1]],"material_2":0,"cost":2700},"5":{"sort":1,"material_1":[[21,0,1]],"material_2":0,"cost":1},"6":{"sort":2,"material_1":[],"material_2":1000,"cost":1},"7":{"sort":1,"material_1":[[23,0,1]],"material_2":0,"cost":1},"8":{"sort":3,"material_1":[[2,0,600]],"material_2":0,"cost":5},"9":{"sort":1,"material_1":[[5,55,1]],"material_2":0,"cost":8100}}