{"0":{"free_times":3,"charge_coin":1000},"1":{"free_times":3,"charge_coin":1000},"2":{"free_times":3,"charge_coin":1000},"3":{"free_times":4,"charge_coin":1000},"4":{"free_times":5,"charge_coin":1000},"5":{"free_times":6,"charge_coin":1000},"6":{"free_times":7,"charge_coin":1000},"7":{"free_times":7,"charge_coin":1000},"8":{"free_times":7,"charge_coin":1000},"9":{"free_times":7,"charge_coin":1000},"10":{"free_times":7,"charge_coin":1000},"11":{"free_times":7,"charge_coin":1000},"12":{"free_times":7,"charge_coin":1000},"13":{"free_times":7,"charge_coin":1000},"14":{"free_times":7,"charge_coin":1000},"15":{"free_times":7,"charge_coin":1000}}