{"1":{"des":"Cấp liên minh","open_level":1,"icon":"e_c_armour1.png","excel_name":"guild_level"},"2":{"des":"Cửa hàng liên minh","open_level":1,"icon":"e_c_armour1.png","excel_name":"guild_shop"},"3":{"des":"Nhiệm vụ liên minh","open_level":-1,"icon":"e_c_armour1.png","excel_name":"guild_GVGplayer"},"4":{"des":"Năng lực người chơi Thế Lực Chiến","open_level":10,"icon":"e_c_armour1.png","excel_name":"guild_GVGmonster"},"5":{"des":"Năng lực quái vật Thế Lực Chiến","open_level":10,"icon":"e_c_armour1.png","excel_name":"guild_GVGhome"},"6":{"des":"Lượng HP nhà chính Thế Lực Chiến","open_level":10,"icon":"e_c_armour1.png","excel_name":"guild_bossplayer"},"7":{"des":"Năng lực người chơi bản đồ trung lập","open_level":5,"icon":"e_c_armour1.png","excel_name":"guild_middleplayer"},"8":{"des":"Năng lực người chơi BOSS thế giới","open_level":5,"icon":"e_c_armour1.png","excel_name":"guild_middleplayer"}}