{"1":{"formula":"%(old_hatred)s+%(new_hatrd)s","condition":"0<%(old_hatred)s+%(new_hatrd)s<1000"},"2":{"formula":"1000+(%(old_hatred)s+%(new_hatrd)s-1000)*0.7","condition":"1000<=%(old_hatred)s+%(new_hatrd)s<2000"},"3":{"formula":"2000+(%(old_hatred)s+%(new_hatrd)s-2000)*0.50","condition":"2000<=%(old_hatred)s+%(new_hatrd)s<4000"},"4":{"formula":"4000+(%(old_hatred)s+%(new_hatrd)s-4000)*0.30","condition":"4000<=%(old_hatred)s+%(new_hatrd)s<6000"},"5":{"formula":"6000+(%(old_hatred)s+%(new_hatrd)s-6000)*0.20","condition":"6000<=%(old_hatred)s+%(new_hatrd)s<8000"},"6":{"formula":"8000+(%(old_hatred)s+%(new_hatrd)s-8000)*0.10","condition":"%(old_hatred)s<8000<%(old_hatred)s+%(new_hatrd)s"},"7":{"formula":"%(old_hatred)s+%(new_hatrd)s*0.10","condition":"8000<=%(old_hatred)s"}}