{"1":{"sort":1,"des":"1. Thưởng Mời Người Chơi Mới max 10 lần."},"2":{"sort":1,"des":"2. VIP không giới hạn số lần nhận thưởng."},"3":{"sort":1,"des":"3. Sau khi đạt điều kiện nhận thưởng, phần thưởng sẽ được gửi qua thư."},"4":{"sort":2,"des":"1. Một thiết bị chỉ có thể nhận một lần HĐ Mã Mời."},"5":{"sort":2,"des":"2. Tạo NV 1 tuần hoặc đạt đến 100 cấp không thể nhận Phúc Lợi này."},"6":{"sort":2,"des":"3. Sau khi đạt điều kiện Thưởng Mã Mời, phần thưởng sẽ được gửi qua thư."}}