{"1":{"reward1":[[9,0,1000],[5,36300,1],[6,9100927,4],[6,99845,2]],"reward2":[[9,0,500],[6,9100927,2],[6,99844,1]],"level":100,"des1":"Bạn bè %s đã gửi đến bạn Quà Khởi Hành, hãy nhận nhé.","des2":"\nBạn đã mời thành công bạn bè %s tham gia cuộc phiêu lưu của bạn.Để cảm ơn bạn đã ủng hộ Siêu Anh Hùng Hội Tụ,xin gửi đến bạn 1 món quà nhỏ.","maxtimes1":1,"maxtimes2":10,"lifetime":148}}