{"1":{"block_rate":100,"reward":[],"drop_rate":5},"2":{"block_rate":100,"reward":[],"drop_rate":20},"3":{"block_rate":100,"reward":[],"drop_rate":30},"4":{"block_rate":100,"reward":[],"drop_rate":100},"5":{"block_rate":100,"reward":[[49,420100,1],[23,0,100],[34,0,100],[20,0,100]],"drop_rate":0},"6":{"block_rate":100,"reward":[[1,0,10000]],"drop_rate":0},"7":{"block_rate":100,"reward":[[1,0,10000]],"drop_rate":0},"8":{"block_rate":100,"reward":[[6,511229,1]],"drop_rate":0}}