{"1":{"sort":1,"price":1000,"vip":0,"value":10},"2":{"sort":1,"price":5000,"vip":0,"value":10},"3":{"sort":1,"price":15000,"vip":0,"value":10},"4":{"sort":1,"price":50000,"vip":0,"value":10},"5":{"sort":1,"price":150000,"vip":1,"value":10},"6":{"sort":1,"price":300000,"vip":1,"value":10},"7":{"sort":2,"price":5000,"vip":2,"value":10},"8":{"sort":2,"price":15000,"vip":3,"value":10}}