{"1":{"value_add":[[10,20]],"refresh_dirt":[[-2,5,50],[-3,5,5],[-4,8,5]],"refresh_range":[[-4,8]],"refresh_cost":5},"2":{"value_add":[[20,30]],"refresh_dirt":[[-3,6,50],[-5,7,5],[-5,10,5]],"refresh_range":[[-5,10]],"refresh_cost":10},"3":{"value_add":[[30,40]],"refresh_dirt":[[-5,7,40],[-5,8,5],[-6,12,5]],"refresh_range":[[-6,12]],"refresh_cost":15},"4":{"value_add":[[40,50]],"refresh_dirt":[[-5,5,50],[-8,8,5],[-8,14,5]],"refresh_range":[[-8,14]],"refresh_cost":20}}