{"1":{"mail":"","reward":[[10,0,500]],"condition":2},"2":{"mail":"","reward":[[16,0,100]],"condition":4},"3":{"mail":"","reward":[[11,0,100]],"condition":0},"4":{"mail":"Bạn trong Khiêu Chiến Siêu Cấp hôm qua đã tạo %s sát thương lên %s, nhận được một phần thưởng tham gia, xin nhận lấy.","reward":[[1,0,1000]],"condition":0},"5":{"mail":"Bạn trong Khiêu Chiến Siêu Cấp hôm qua đã trở thành BOSS Siêu Cấp, kết quả chiến đấu như sau: Giết %s người, Đánh tan %s người, Thắng %s lần, Thua %s lần. Đính kèm là phần thưởng BOSS lần này, xin nhận lấy.","reward":[[9,0,500]],"condition":0}}