{"1":{"point":2500,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[6,1383,5]]},"2":{"point":2500,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[6,1377,5]]},"3":{"point":2500,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[6,1378,5]]},"4":{"point":2500,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[6,1373,5]]},"5":{"point":3000,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[6,522127,1]]},"6":{"point":3000,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[6,522111,1]]},"7":{"point":3000,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[6,1368,10]]},"8":{"point":2500,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[6,1380,5]]},"9":{"point":2500,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[6,1379,5]]},"10":{"point":3000,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[49,420800,1]]},"11":{"point":3000,"des":"sdfajkfghajsd","cost_coin":10,"reward":[[49,410900,1]]},"12":{"point":1000,"des":"sdfajkfghajsd","cost_coin":1,"reward":[[9,0,1000]]}}