{"1":{"story":"Xếp hạng 2","name":"Xếp hạng 1","rank":[1,1],"team":1,"reward":[[5,4100,1],[1,0,2000],[1,0,2000]],"icon":""},"2":{"story":"Xếp hạng2-6","name":"Xếp hạng2-5","rank":[2,5],"team":1,"reward":[[1,0,2000],[1,0,2000]],"icon":""},"3":{"story":"Xếp hạng6-10","name":"Xếp hạng6-10","rank":[6,10],"team":1,"reward":[[1,0,2000]],"icon":""},"4":{"story":"Xếp hạng11-20","name":"Xếp hạng11-20","rank":[11,20],"team":1,"reward":[[1,0,2000]],"icon":""},"5":{"story":"Xếp hạng21-50","name":"Xếp hạng21-50","rank":[21,50],"team":1,"reward":[[1,0,2000]],"icon":""},"6":{"story":"Xếp hạng51-100","name":"Xếp hạng51-100","rank":[51,100],"team":1,"reward":[[1,0,2000]],"icon":""},"7":{"story":"Thưởng tham gia","name":"Thưởng tham gia","rank":[101,9999],"team":1,"reward":[[1,0,2000]],"icon":""}}