{"1":{"sort":1,"reward_member_score":200,"reward_member":[[1,0,50000],[5,53,5],[33,0,2000]],"mail_member":"恭喜您的服务器获得了纷争峡谷活动的胜利，下面是由于您参加了本次活动所获得的奖励："},"2":{"sort":2,"reward_member_score":100,"reward_member":[[1,0,5000],[5,53,1],[33,0,500]],"mail_member":"由于您的服务器很遗憾的在了本次纷争峡谷活动中未取得胜利，希望您的服务器下次可以战胜对手，下面是由于您参加本次活动所发放的奖励：\n"}}