{"q1":{"world_id":1},"q44":{"world_id":1},"q67":{"world_id":1},"q54":{"world_id":1},"q75":{"world_id":1},"q10":{"world_id":1},"q70":{"world_id":1},"q68":{"world_id":1},"q69":{"world_id":1},"q71":{"world_id":1},"q64":{"world_id":1},"q65":{"world_id":1},"q66":{"world_id":1},"q74":{"world_id":1},"q73":{"world_id":1},"q72":{"world_id":1},"q62":{"world_id":1},"q25":{"world_id":1}}