{"1":{"need_item":[1,5],"out_item":[[9,0,100]],"icon":"chrismas_gift_bag1"},"2":{"need_item":[2,5],"out_item":[[9,0,120]],"icon":"chrismas_gift_bag1"},"3":{"need_item":[3,5],"out_item":[[9,0,150]],"icon":"chrismas_gift_bag2"},"4":{"need_item":[4,5],"out_item":[[9,0,200]],"icon":"chrismas_gift_bag2"},"5":{"need_item":[1,2,3,4,5],"out_item":[[9,0,999]],"icon":"chrismas_gift_bag3"}}