{"1":{"star":12,"reward":[[9,0,50],[4,0,100]],"quality":4,"icon":"icon_box4"},"2":{"star":24,"reward":[[9,0,50],[15,0,200]],"quality":4,"icon":"icon_box4"},"3":{"star":36,"reward":[[9,0,50],[6,1902,10]],"quality":4,"icon":"icon_box4"},"4":{"star":48,"reward":[[9,0,50],[5,51,1]],"quality":4,"icon":"icon_box4"},"5":{"star":60,"reward":[[9,0,50],[10,0,500]],"quality":5,"icon":"icon_box4"},"6":{"star":72,"reward":[[9,0,50],[6,1903,10]],"quality":5,"icon":"icon_box4"},"7":{"star":84,"reward":[[9,0,50],[5,52,1]],"quality":5,"icon":"icon_box4"},"8":{"star":96,"reward":[[9,0,50],[6,910004,10],[6,910001,10]],"quality":5,"icon":"icon_box4"}}