{"1":{"reward":[[1,0,10000]],"cost":2000,"limits":1},"2":{"reward":[[2,0,10000]],"cost":2000,"limits":1},"3":{"reward":[[5,2200,1]],"cost":3500,"limits":1},"4":{"reward":[[5,2300,1]],"cost":3000,"limits":1},"5":{"reward":[[7,11301,1]],"cost":3000,"limits":2},"6":{"reward":[[7,31301,1]],"cost":3000,"limits":2},"7":{"reward":[[6,2021,10]],"cost":2400,"limits":3},"8":{"reward":[[6,2044,10]],"cost":2400,"limits":3},"9":{"reward":[[6,1903,1]],"cost":300,"limits":-1}}