{"1":{"score":[0,999],"grade_score":10,"reward":[]},"2":{"score":[1000,1199],"grade_score":10,"reward":[]},"3":{"score":[1200,1299],"grade_score":10,"reward":[]},"4":{"score":[1300,1399],"grade_score":10,"reward":[]},"5":{"score":[1400,1499],"grade_score":10,"reward":[]},"6":{"score":[1500,1599],"grade_score":10,"reward":[[6,1348,1]]},"7":{"score":[1600,1699],"grade_score":10,"reward":[[6,1348,1]]},"8":{"score":[1700,1799],"grade_score":12,"reward":[[6,1348,1]]},"9":{"score":[1800,1899],"grade_score":14,"reward":[[6,1348,1]]},"10":{"score":[1900,1999],"grade_score":16,"reward":[[6,1348,1]]},"11":{"score":[2000,2099],"grade_score":18,"reward":[[6,1348,2]]},"12":{"score":[2100,2199],"grade_score":20,"reward":[[6,1348,2]]},"13":{"score":[2200,2299],"grade_score":22,"reward":[[6,1348,3]]},"14":{"score":[2300,2399],"grade_score":24,"reward":[[6,1348,3]]},"15":{"score":[2400,99999],"grade_score":25,"reward":[[6,1348,5]]}}