{"1":{"reduce":20000000,"image":"e_c_armour1","hp_add_5":500000000,"background":"back_world_boss","close":"13:15","open":"13:00","reward_id":1,"limit_lv":0,"hp_add_15":0,"hp_add_10":200000000,"hp_add_13":50000000,"enemy_id":79001,"time_sort":1},"2":{"reduce":20000000,"image":"e_c_armour1","hp_add_5":500000000,"background":"back_world_boss","close":"20:15","open":"20:00","reward_id":2,"limit_lv":0,"hp_add_15":0,"hp_add_10":200000000,"hp_add_13":50000000,"enemy_id":79001,"time_sort":1}}