<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>75touming.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt1_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt1_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,2},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt1_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,2},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt1_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,2},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt2_left_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,2},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt2_left_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,2},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt2_right_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,2},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt2_right_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,2},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt3_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,44},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt3_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,44},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt3_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,44},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>bt3_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,44},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>huise.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,44},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,44},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi1_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,44},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi1_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,44},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi1_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,44},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi1_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,86},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi2_left_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,86},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi2_left_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,86},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi2_right_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,86},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi2_right_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,86},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi3_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,86},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi3_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,86},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi3_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,86},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>shi3_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,86},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fog.png</string>
		<key>size</key>
		<string>{743,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6fd5ca1cba09fdd89a4966b8bcf9dccc:1/1$</string>
		<key>textureFileName</key>
		<string>fog.png</string>
	</dict>
</dict>
</plist>
