<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,113}}</string>
                <key>sourceSize</key>
                <string>{161,113}</string>
            </dict>
            <key>left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,110},{159,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,106}}</string>
                <key>sourceSize</key>
                <string>{159,106}</string>
            </dict>
            <key>left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,218},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,218},{132,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,105}}</string>
                <key>sourceSize</key>
                <string>{132,105}</string>
            </dict>
            <key>left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{145,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,77}}</string>
                <key>sourceSize</key>
                <string>{145,77}</string>
            </dict>
            <key>left6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,224},{131,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,79}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,113}}</string>
                <key>sourceSize</key>
                <string>{161,113}</string>
            </dict>
            <key>right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{159,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,106}}</string>
                <key>sourceSize</key>
                <string>{159,106}</string>
            </dict>
            <key>right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,117},{132,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,105}}</string>
                <key>sourceSize</key>
                <string>{132,105}</string>
            </dict>
            <key>right5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{145,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,77}}</string>
                <key>sourceSize</key>
                <string>{145,77}</string>
            </dict>
            <key>right6.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,352},{131,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,79}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roadblock-hd.pvr.ccz</string>
            <key>size</key>
            <string>{504,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79aef1720b3530891b0d00bf795c6374$</string>
            <key>textureFileName</key>
            <string>roadblock-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
